<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
    <tr>
        <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">
            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi {{arrUserData.firstName}},</p>

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Good-day.</p>

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">We’re sorry to hear that {{arrMentorData.firstName}} {{arrMentorData.lastName}} has declined your meeting request.  It’s possible that {{arrMentorData.firstName}} has prior engagement scheduled at that time. </p>

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">We encourage you to communicate with {{arrMentorData.firstName}} on the SourceAdvisor messaging platform, prior to sending in a meeting request.   </p>

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Alternatively you may wish to look up alternate mentors offering <a href="{{frontConstant.ACCESSURL}}" target="_blank">similar expertise</a> in your area of interest. </p>

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
                <span style="background-color: red;border-radius: 50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                Following meeting now stands declined:
            </p>
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: {{frontConstant.MESSAGECONTEXTBG}};margin: 20px 0;" width="100%">
                <tr>
                    <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                        <b>Name</b>
                    </td>
                    <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                        <b>:</b>
                    </td>
                    <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                        {{arrMentorData.firstName}} {{arrMentorData.lastName}}
                    </td>                                                
                </tr>
                {{#each slots}}
                <tr>
                    <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                        <b>Slot</b>
                    </td>
                    <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                        <b>:</b>
                    </td>
                    <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                        {{this.dateDisplay}} {{this.timeDisplay}}
                    </td>                                                
                </tr>
                {{/each}} 
            </table>
<!--            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><b>Name:</b><a href="{{frontConstant.ACCESSURL}}mentorprofile/{{arrMentorData.slug}}" target="_blank"> {{arrMentorData.firstName}} {{arrMentorData.lastName}}</a></p>

            <table border="0" cellpadding="0" cellspacing="0" class="" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box;" width="100%">
                <tbody>
                    {{#each slots}}
                    <tr>
                        <td colspan="2" align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 0px;" valign="top">
                            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"> <b>Slot:</b></p>
                        </td>
                        <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 0px;" valign="top">
                            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">  {{this.dateDisplay}} {{this.timeDisplay}}</p>
                        </td>
                    </tr>
                    {{/each}}                                                                                                                
                </tbody>
            </table>                                                -->

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><b>Mentor's Cancellation policy</b> : <a href="{{mentorCancellationPolicyLink}}">{{mentorCancellationPolicy}}</a></p>

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Kindly go to <a href="{{frontConstant.ACCESSURL}}users/meetings">My Meetings</a>, if you wish to review  your meetings or take any further action.</p>                                                

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">If you have any questions, please write to <a href="mailto:{{frontConstant.HELP_EMAIL}}">{{frontConstant.HELP_EMAIL}}</a></p>                                               

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Best Regards,</p>

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">SourceAdvisor – The Knowledge Exchange</p>

            <p style="font-family: sans-serif; font-size: 12px; font-weight: normal; margin: 0; Margin-bottom: 15px;font-style: italic;">Please do not reply to this email</p>
        </td>
    </tr>
</table>                             