<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>User Meeting Request</title>
    </head>
    <body class="" style="font-family: sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #f6f6f6; margin: 0; padding: 0;">
        <table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;" width="100%" bgcolor="#f6f6f6">
            <tr>
                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
                <td class="container" style="font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto !important; max-width: 580px; padding: 10px; width: 580px;" width="580" valign="top">

                    <div class="content" style="box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;">

                        <table style="width: 100%;">
                            <tr>
                                <td style="background: #177892; text-align: center; padding-top: 10px; padding-bottom: 5px;">
                                    <a href=""><img src="https://www.wissenx.com/images/sourceadvisor-logo.png"></a>
                                </td>
                            </tr>
                        </table>

                        <!-- START CENTERED WHITE CONTAINER -->
                        <span class="preheader" style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;">SourceAdvisor, The Knowledge Exchange.</span>
                        <table class="main" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #fff; border-radius: 3px;" width="100%">

                            <!-- START MAIN CONTENT AREA -->
                            <tr>
                                <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;" valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
                                        <tr>
                                            <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">
                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi {{arrMentorData.firstName}},</p>

                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Good-day.<p>

                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Thank you for conducting a meeting with {{arrUserData.firstName}} {{arrUserData.lastName}} on SourceAdvisor.</p>

                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
                                                    <span style="background-color: green;border-radius: 50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    Your meeting details were as follows:
                                                </p>                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: {{frontConstant.MAILCONTEXTBG}};margin: 20px 0;" width="100%">
                                                    <tr>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>Name</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>:</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <a href="{{frontConstant.ACCESSURL}}users/userprofile/{{arrUserData.slug}}" target="_blank">{{arrUserData.firstName}} {{arrUserData.lastName}}</a>                                                            
                                                        </td>                                                
                                                    </tr>
                                                    {{#each slots}}
                                                    <tr>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>Slot{{this.index}}</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>:</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            {{this.displayFormat}}
                                                        </td>                                                
                                                    </tr>
                                                    {{/each}} 
                                                </table>                                                
                                            </td>
                                        </tr>
                                        <tr>                                          
                                            <td>                                                
                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><b>Mentor's Cancellation policy:</b> <a href="{{mentorCancellationPolicyLink}}">{{mentorCancellationPolicy}}</a></p>                                                                                               

                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">SourceAdvisor is a knowledge sharing marketplace based on mutual trust and respect.  SourceAdvisor endeavors to bring mentors and knowledge seekers to a healthy, insightful communication and dialogue. </p>
                                                
                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">We deeply believe in the sharing community and hence request you to take a brief moment to rate your meeting experience with {{arrUserData.firstName}} {{arrUserData.lastName}} and provide a short review of the experience. </p>
                                                
                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Please complete the ratings and review form.  Your inputs are maintained private, not displayed to the public in any manner. </p>
                                                
                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><a href="{{frontConstant.ACCESSURL}}feedback/{{key}}" target="_blank">Leave feedback</a></p>

                                                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
                                                    <tr>
                                                        <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">                                                            
                                                            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0;"><b>About <a href="{{frontConstant.ACCESSURL}}users/userprofile/{{arrUserData.slug}}" target="_blank">{{arrUserData.firstName}} {{arrUserData.lastName}}</a></b></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: {{frontConstant.MAILCONTEXTBG}};" valign="top">
                                                            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{arrUserData.userBreif}}</p>
                                                        </td>
                                                    </tr>
                                                </table>

                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Best Regards,</p>
                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">SourceAdvisor – The Knowledge Exchange</p>

                                                <p style="font-family: sans-serif; font-size: 12px; font-weight: normal; margin: 0;"> <i>Please do not reply to this email</i></p>

                                            </td>                                           
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <!-- END MAIN CONTENT AREA -->
                        </table>

                    </div>
                </td>
                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
            </tr>
        </table>
    </body>
</html>