<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>User Meeting Request</title>
    </head>
    <body class="" style="font-family: sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #f6f6f6; margin: 0; padding: 0;">
        <table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;" width="100%" bgcolor="#f6f6f6">
            <tr>
                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
                <td class="container" style="font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto !important; max-width: 580px; padding: 10px; width: 580px;" width="580" valign="top">

                    <div class="content" style="box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;">

                        <table style="width: 100%;">
                            <tr>
                                <td style="background: #177892; text-align: center; padding-top: 10px; padding-bottom: 5px;">
                                    <a href=""><img src="https://www.wissenx.com/images/sourceadvisor-logo.png"></a>
                                </td>
                            </tr>
                        </table>

                        <!-- START CENTERED WHITE CONTAINER -->
                        <span class="preheader" style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;">SourceAdvisor, The Knowledge Exchange.</span>
                        <table class="main" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #fff; border-radius: 3px;" width="100%">

                            <!-- START MAIN CONTENT AREA -->
                            <tr>
                                <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;" valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
                                        <tr>
                                            <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">
                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi {{arrUserData.firstName}},</p>

                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Good-day.<p>

                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">You have a scheduled meeting coming up in the next 30 minutes with {{arrMentorData.firstName}} {{arrMentorData.lastName}}. </p>

                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><b>We request you to be signed into the meeting room 5 minutes prior to the scheduled time.</b></p>                                                

                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
                                                    <span style="background-color: green;border-radius: 50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    Following are the details of the upcoming meeting:
                                                </p>                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">                                                
                                                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: {{frontConstant.MAILCONTEXTBG}};margin: 20px 0;" width="100%">
                                                    <tr>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>Name</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>:</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <a href="{{frontConstant.ACCESSURL}}mentorprofile/{{arrMentorData.slug}}" target="_blank">{{arrMentorData.firstName}} {{arrMentorData.lastName}}</a>
                                                        </td>                                                
                                                    </tr>
                                                   {{#each slots}}
                                                    <!--<tr>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>Slot{{this.index}}</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>:</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            {{this.displayFormat}}
                                                        </td>                                                
                                                    </tr>-->
                                                    
                                                    <tr>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>Date</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>:</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            {{this.dateDisplay}}
                                                        </td>                                                
                                                    </tr>
                                                    <tr>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>Time</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>:</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            {{this.timeDisplay}}
                                                        </td>                                                
                                                    </tr>
                                                    
                                                    
                                                    {{/each}}
                                                     <tr>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>Meeting ID</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>:</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">                                                            
                                                            <a href="{{frontConstant.ACCESSURL}}mentor/startMeeting/{{meeting_url_key}}" target="_blank">{{meeting_url_key}}</a>
                                                        </td>                                                
                                                    </tr>
                                                </table>                                               
                                            </td>
                                        </tr>
                                        <tr>                                            
                                            <td>                                                
                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><b>Mentor's Cancellation policy:</b> <a href="{{mentorCancellationPolicyLink}}">{{mentorCancellationPolicy}}</a></p>

                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Kindly go to <a href="{{frontConstant.ACCESSURL}}users/meetings">My Meetings</a> ,  if you wish to review  your invites or take any further action. </p>                                                                                                                                                

                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">If you have any questions, please write to <a href="mailto:{{frontConstant.HELP_EMAIL}}">{{frontConstant.HELP_EMAIL}}</a></p>

                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Best Regards,</p>
                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">SourceAdvisor – The Knowledge Exchange</p>

                                                <p style="font-family: sans-serif; font-size: 12px; font-weight: normal; margin: 0;"> <i>Please do not reply to this email</i></p>

                                            </td>                                                                                      
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- END MAIN CONTENT AREA -->
                        </table>
                    </div>
                </td>
                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
            </tr>
        </table>
    </body>
</html>