<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>User Meeting Request</title>
    </head>
    <body class="" style="font-family: sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #f6f6f6; margin: 0; padding: 0;">
        <table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;" width="100%" bgcolor="#f6f6f6">
            <tr>
                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
                <td class="container" style="font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto !important; max-width: 580px; padding: 10px; width: 580px;" width="580" valign="top">
                    <div class="content" style="box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;">
                        <table style="width: 100%;">
                            <tr>
                                <td style="background: #177892; text-align: center; padding-top: 10px; padding-bottom: 5px;">
                                    <a href=""><img src="https://www.wissenx.com/images/sourceadvisor-logo.png"></a>
                                </td>
                            </tr>
                        </table>
                        <!-- START CENTERED WHITE CONTAINER -->
                        <span class="preheader" style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;">SourceAdvisor, The Knowledge Exchange.</span>
                        <table class="main" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #fff; border-radius: 3px;" width="100%">
                            <!-- START MAIN CONTENT AREA -->
                            <tr>
                                <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;" valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
                                        <tr>
                                            <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">
                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi {{userName}},</p>
                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Good-day.<p>
                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">You have a scheduled meeting coming up in the next 30 minutes with: {{mentorFullName}}</p>

                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">We request you to be signed into the <a href="https://www.SourceAdvisor.com/startMeeting/{{meetingkey}}">meeting room </a>  5 minutes prior to the scheduled time. 
                                                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: {{frontConstant.MAILCONTEXTBG}};margin: 20px 0;" width="100%">
                                                    <tr>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>Name</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>:</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            {{mentorFullName}}
                                                        </td>                                                
                                                    </tr>
                                                    <tr>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>Date</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>:</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            {{slot.date}} This is shown in User time.
                                                        </td>                                                
                                                    </tr>
                                                    <tr>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>Time</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            <b>:</b>
                                                        </td>
                                                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                                            {{slot.startTime}} To {{slot.endTime}}  UTC  +  , Eg 8:00 pm to 8:30 pm , UTC + 5:30 . (8:00 pm  to 8:30 pm is shown in User time in user’s email)
                                                        </td>     
                                                    </tr>
                                                </table>
<!--                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><b>Name:</b> <a href="https://www.SourceAdvisor.com/mentorprofile/{{mentorSlug}}" title="Mentor Profile">{{mentorFullName}}</a></p>
                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"> <b>Date</b> : {{slot.date}}  Month, date, year  Eg : May 07, 2016.  This is shown in User time.</p>
                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><b>Time :</b> {{slot.startTime}} to {{slot.endTime}}  UTC  +  , Eg 8:00 pm to 8:30 pm , UTC + 5:30 . (8:00 pm  to 8:30 pm is shown in User time in user’s email)</p>-->
                                                <!--Meeting ID : {{meetingId}}-->
                                                <!--Mentors’ Cancellation policy :<a href="https://www.wissenx.com/users/meetings"> Cancellation Policy </a><!--cancellation policy of this mentor> hyper link-->
                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Kindly go to <a href="{{frontConstant.ACCESSURL}}users/meetings">My Meetings</a>  ,  if you wish to review  your meetings or take any further action.</p>
                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">If you have any questions, please write to help@wissenx.com</p>
                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Best Regards,</p>
                                                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">SourceAdvisor – The Knowledge Exchange</p>
                                                <p style="font-family: sans-serif; font-size: 12px; font-weight: normal; margin: 0;"> <i>Please do not reply to this email</i></p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- END MAIN CONTENT AREA -->
                        </table>
                    </div>
                </td>
                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
            </tr>
        </table>
    </body>
</html>