<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi {{arrMentorData.firstName}},</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Good-day.<p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Thank you for sending a private invite slot to {{arrUserData.firstName}} {{arrUserData.lastName}}.</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">We have written to {{arrUserData.firstName}} to accept it at the earliest and you should hear shortly.</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
    <span style="background-color: yellow;border-radius: 50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    Following are the details of the private invite slot sent by you
</p>
{{!--<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><b>Name:</b> {{arrUserData.firstName}} {{arrUserData.lastName}}</p>--}}

<table border="0" cellpadding="0" cellspacing="0" class="" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box;" width="100%">
    <tbody>
        {{#each slotsInMail}}
        <tr>
            <td colspan="2" align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 0px;" valign="top">
                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"> <b>Slot</b></p>
            </td>
            <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 0px;" valign="top">
                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">: {{this}}</p>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><b>Mentor's Cancellation policy</b> : <a href="{{mentorCancellationPolicyLink}}">{{mentorCancellationPolicy}}</a></p> 

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Kindly go to <a href="{{frontConstant.ACCESSURL}}mentor/meeting_invites">My Invites</a>, if you wish to review  your meetings or take any further action.</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">If you have any questions, please write to <a href="mailto:{{frontConstant.HELP_EMAIL}}">{{frontConstant.HELP_EMAIL}}</a></p>

<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
    <tr>
        <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">
            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0;"><b><p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0;"><b>About <a href="{{frontConstant.ACCESSURL}}users/userprofile/{{arrUserData.slug}}" target="_blank">{{arrUserData.firstName}} {{arrUserData.lastName}}</a></b></p></b></p>
        </td>
    </tr>
    <tr>
        <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top;"valign="top">
            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{arrUserData.userBreif}}</p>
        </td>
    </tr>
</table>
<br/>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Best Regards,</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">SourceAdvisor – The Knowledge Exchange</p>