<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
    <tr>
        <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">
            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi {{arrUserData.firstName}},</p>

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Good-day.<p>

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{arrMentorData.firstName}} {{arrMentorData.lastName}} has sent you a unique promo code that you can use once, while requesting a meeting with {{arrMentorData.firstName}}. </p>

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">This promo code <b>{{promocode}}</b> offers you a discount of {{discount}} % on {{arrMentorData.firstName}}'s listed mentoring price for the duration of the meeting that you propose to book with {{arrMentorData.firstName}}.  You can enter the promo code on the mentor’s booking page  <a href="{{frontConstant.ACCESSURL}}users/slot_booking/{{arrMentorData.slug}}">mentor’s booking page</a> and continue with the booking process.</p>

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{promoCodeMsg}}. </p>

        </td>
    </tr>    
    <tr>
        <td>                                                                                                                                               

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">If you have any questions, please write to <a href="mailto:{{frontConstant.HELP_EMAIL}}">{{frontConstant.HELP_EMAIL}}</a></p>

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Best Regards,</p>
            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">SourceAdvisor – The Knowledge Exchange</p>

            <p style="font-family: sans-serif; font-size: 12px; font-weight: normal; margin: 0;"> <i>Please do not reply to this email</i></p>

        </td>
    </tr>
</table>                                