<table class="main" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #fff; border-radius: 3px;" width="100%">

    <!-- START MAIN CONTENT AREA -->
    <tr>
        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px;" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
                <tr>
                    <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi {{arrMentorData.firstName}},</p>

                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Good-day.<p>

                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">We’re sorry to hear that you could not attend to a meeting request from {{arrUserData.firstName}} {{arrUserData.lastName}}  in time. Maybe you had prior engagements and hence unavailable to respond in time.</p>

                        {{!--<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">We’re sorry to hear that {{arrUserData.firstName}} {{arrUserData.lastName}} could not attend in time. Maybe {{arrUserData.firstName}} {{arrUserData.lastName}} had prior engagements and hence unavailable to respond in time.</p>--}}

                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">We encourage you to communicate with {{arrUserData.firstName}} on the Wissenx messaging platform to offer another time slot. You may wish to send {{arrUserData.firstName}} an alternate time slot from the <a href="{{frontConstant.ACCESSURL}}mentor/calendar">Private Invites</a> button </p>                                                                                                

                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
                            <span style="background-color: red;border-radius: 50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            Following meeting now stands expired:
                        </p>
                        <!--<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><b>Name:</b> <a href="{{frontConstant.ACCESSURL}}users/userprofile/{{arrUserData.slug}}" target="_blank">{{arrUserData.firstName}} {{arrUserData.lastName}}</a></p>-->
                    </td>
                </tr>
                <tr>
                    <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: {{frontConstant.MESSAGECONTEXTBG}};margin: 20px 0;" width="100%">
                            <tr>
                                <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                    <b>Name</b>
                                </td>
                                <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                    <b>:</b>
                                </td>
                                <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                    {{arrUserData.firstName}} {{arrUserData.lastName}}
                                </td>                                                
                            </tr>
                            {{#each slots}}
                            <tr>
                                <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                    <b>Slot{{this.index}}</b>
                                </td>
                                <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                    <b>:</b>
                                </td>
                                <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                                    {{this.displayFormat}}
                                </td>                                                
                            </tr>
                            {{/each}} 
                        </table>
<!--                        <table border="0" cellpadding="0" cellspacing="0" class="" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box;" width="100%">
                            <tbody>
                                {{#each slots}}
                                <tr>
                                    <td colspan="2" align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 0px;" valign="top">
                                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"> <b>Slot </b></p>
                                    </td>
                                    <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 0px;" valign="top">
                                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">: {{this.displayFormat}}</p>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>-->
                    </td>
                </tr>
                <tr>                    
                    <td>
                        <!-- <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><b>Mentor's Cancellation policy</b> :<a href="{{frontConstant.ACCESSURL}}cancellationPolicy">{{mentorCancellationPolicy}}</a></p> --> 
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><b>Mentor's Cancellation policy:</b> <a href="{{mentorCancellationPolicyLink}}">{{mentorCancellationPolicy}}</a></p>                                                                                               

                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">If you have any questions, please write to <a href="mailto:{{frontConstant.HELP_EMAIL}}">{{frontConstant.HELP_EMAIL}}</a></p>

                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
                            <tr>
                                <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">                                                            
                                    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0;"><b>About <a href="{{frontConstant.ACCESSURL}}users/userprofile/{{arrUserData.slug}}" target="_blank">{{arrUserData.firstName}} {{arrUserData.lastName}}</a></b></p>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: {{frontConstant.MESSAGECONTEXTBG}};" valign="top">
                                    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{arrUserData.userBreif}}</p>
                                </td>
                            </tr>
                        </table>

                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Best Regards,</p>
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">SourceAdvisor – The Knowledge Exchange</p>

                        <p style="font-family: sans-serif; font-size: 12px; font-weight: normal; margin: 0;"> <i>Please do not reply to this email</i></p>

                    </td>                   
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MAIN CONTENT AREA -->
</table>