<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
    <tr>
        <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">
            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi {{arrMentorData.firstName}},</p>

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Good-day.</p>

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">We’re sorry to hear that  {{arrUserData.firstName}} {{arrUserData.lastName}} has cancelled a scheduled meeting with you. </p>                                                

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
                <span style="background-color: red;border-radius: 50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                Following are the details of the cancelled  meeting:
            </p>
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: {{frontConstant.MESSAGECONTEXTBG}};margin: 20px 0;" width="100%">
                <tr>
                    <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                        <b>Name</b>
                    </td>
                    <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                        <b>:</b>
                    </td>
                    <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                        {{arrUserData.firstName}} {{arrUserData.lastName}}
                    </td>                                                
                </tr>
                {{#each slots}}
                <tr>
                    <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                        <b>Slot{{this.index}}</b>
                    </td>
                    <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                        <b>:</b>
                    </td>
                    <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 10px;" valign="top">
                        {{this.displayFormat}}
                    </td>                                                
                </tr>
                {{/each}} 
            </table>
            <!--            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><b>Name:</b> {{arrUserData.firstName}} {{arrUserData.lastName}}</p>
            
                        <table border="0" cellpadding="0" cellspacing="0" class="" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box;" width="100%">
                            <tbody>
                                {{#each slots}}
                                <tr>
                                    <td colspan="2" align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 0px;" valign="top">
                                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"> <b>Slot:</b></p>
                                    </td>
                                    <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 0px;" valign="top">
                                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">  {{this.dateDisplay}} {{this.timeDisplay}}</p>
                                    </td>
                                </tr>
                                {{/each}}                                                                                                                
                            </tbody>
                        </table>                                                -->

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><b>Mentor's Cancellation policy</b> : <a href="{{mentorCancellationPolicyLink}}">{{mentorCancellationPolicy}}</a></p>

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Please note that your cancellation policy will kick in and we will be crediting your account as per the policy you have selected. </p>

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">You may wish to communicate with {{arrUserData.firstName}} on the Wissenx communication platform and see if you wish to slot another meeting with {{arrUserData.firstName}}. </p>                                                                                                

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Kindly go to <a href="{{frontConstant.ACCESSURL}}users/meetings">My Meetings</a>, if you wish to review  your meetings or take any further action.</p>                                                

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">If you have any questions, please write to <a href="mailto:{{frontConstant.HELP_EMAIL}}">{{frontConstant.HELP_EMAIL}}</a></p>

            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
                <tr>
                    <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0;"><b>About <a href="{{frontConstant.ACCESSURL}}users/userprofile/{{arrUserData.slug}}" target="_blank">{{arrUserData.firstName}} {{arrUserData.lastName}}</a></b></p>
                    </td>
                </tr>
                <tr>
                    <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: {{frontConstant.MESSAGECONTEXTBG}};" valign="top">
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{arrUserData.userBreif}}</p>
                    </td>
                </tr>
            </table>

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Best Regards,</p>

            <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">SourceAdvisor – The Knowledge Exchange</p>

            <p style="font-family: sans-serif; font-size: 12px; font-weight: normal; margin: 0; Margin-bottom: 15px;font-style: italic;">Please do not reply to this email</p>
        </td>
    </tr>
</table>