
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>

            <img class="marg-bot40" src="img/adminLogo.png" alt="WissneX" />

        </div>
        <h3></h3>

        {{> helper/error_helper }}

        {{> helper/message_helper }}

        <form class="m-t" role="form" name="frmAdminLogin" id="frmAdminLogin" method="POST" action="{{frontConstant.ACCESSURL_ADMIN}}validateadminuser">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" name="txtUserName" id="txtUserName">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="txtPassword" id="txtPassword">
            </div>
            <div class="form-group pull-left">
                <div class="i-checks"><label> <input type="checkbox"><i></i> Remember me </label></div>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

            <a href="#"><small>Forgot password?</small></a>
        </form>
    </div>
</div>
<script src="{{frontConstant.ACCESSURL}}js/webjs/admin/adminlogin.js?v={{frontConstant.VERSION}}"></script>
