<style>
    #mentorPayoutTable tbody td:nth-last-child(2) {
        float:right;
    }
</style>
<div id="wrapper">
    {{> helper/admin/adminsidebar}}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {{> helper/admin/adminheader}}
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>BroadCast Messages</h2>
                <ol class="breadcrumb">
                    <li class="active">
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}siteusers">Home</a>
                    </li>
                    <li class="active">
                        <strong>BroadCast Messages</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <div class="wrapper wrapper-content">

            <div class="ibox float-e-margins user-manage">
{{!--<div class="ibox-title">
                    <h5>Users Management</h5>
                </div>--}}
                <div class="ibox-content marg-bot15">
                    {{> helper/ajaxnotification_helper}}
                    <div class="listingTopBtns">
                                        <a href="#" class="btn btn-md btn-primary" data-toggle="modal" id="addMsgModalId" data-target="#addMsgModal">Add</a>
                    </div>
<!--                                <div class="row">
                                                            <form name="frmFilterSiteUser" id="frmFilterSiteUser" >                            
                                                                <div class="col-sm-12 text-right">
                                                                    <div class="form-group">
                                                                        <label>User Status</label>
                                                                        <select class="form-control" name="filterUserStatus" id="filterUserStatus">
                                                                            <option value="">All</option>
                                                                            <option value="A">Active</option>
                                                                            <option value="S">Suspended</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>-->
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="broadCastDataTables">
                            <thead>
                                <tr>
                                    <th>Messages</th>                                    
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addMsgModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add</h4>
            </div>
            <form method="POST" id="addMsg">                
                <div class="modal-body formPopup clearfix">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Message</label>                            
                        </div>                        
                        <div class="col-sm-8">                            
                            <textarea id="msg" name="msg" class="form-control" rows="2"></textarea>
                            <span style="color:red;">* Maximum 150 character allowed.</span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Start date</label>
                        </div>                        
                        <div class="col-sm-8">                            
                            <input name="startDate" id="startDate" class="form-control datepicker" type="text" placeholder="Start Date" readonly>
                        </div>
                    </div>
                    <br>
                     <div class="row">
                        <div class="col-sm-4">
                            <label>End date</label>
                        </div>                        
                        <div class="col-sm-8">                            
                            <input name="endDate" id="endDate" class="form-control datepicker" type="text" placeholder="End Date" readonly>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" name="save" value="Save" id="savebtn" class="btn btn-md btn-primary">
                </div>
            </form>    
        </div>
    </div>
</div>

<div id="editMsgModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update</h4>
            </div>
            <form method="POST" id="editMsg">
                <input type="hidden" name="editid" id="editid">
                <div class="modal-body formPopup clearfix">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Message</label>                            
                        </div>                        
                        <div class="col-sm-8">                            
                            <textarea id="editmsg" name="editmsg" class="form-control" rows="2"></textarea>
                            <span style="color:red;">* Maximum 150 character allowed.</span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Start date</label>
                        </div>                        
                        <div class="col-sm-8">                            
                            <input name="editstartDate" id="editstartDate" class="form-control datepicker" type="text" placeholder="Start Date" readonly>
                        </div>
                    </div>
                    <br>
                     <div class="row">
                        <div class="col-sm-4">
                            <label>End date</label>
                        </div>                        
                        <div class="col-sm-8">                            
                            <input name="editendDate" id="editendDate" class="form-control datepicker" type="text" placeholder="End Date" readonly>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" name="update" value="Update" id="updbtn" class="btn btn-md btn-primary">
                </div>
            </form>    
        </div>
    </div>
</div>

<script src="{{frontConstant.ACCESSURL}}js/bootstrap-datepicker.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/admin/broadcast_msg.js?v={{frontConstant.VERSION}}"></script>