<div id="wrapper">
    {{> helper/admin/adminsidebar}}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {{> helper/admin/adminheader}}
        </div>
        
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>States - ({{objCountry.countryName}} / {{objState.state_name}}) </h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}siteusers">Home</a>
                    </li>
                    <li>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}countries/{{objCountry.regionId}}">Country</a>
                    </li>
                    <li>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}states/{{countryId}}">States</a>
                    </li>
                    <li class="active">
                        <strong>Cities</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins user-manage">
                {{!--<div class="ibox-title">
                    <h5>Users Management</h5>
                </div>--}}
                <div class="ibox-content marg-bot15">

                    {{> helper/ajaxnotification_helper}}

                    <div class="listingTopBtns">                        
                        <a href="javaScript:;" title="Add States" class="btn btn-md btn-primary" id="btnAddCountry">Add</a>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}states/{{countryId}}" title="Add States" class="btn btn-md btn-primary" id="btnAddCountry">Back</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="tblCities">
                            <thead>
                                <tr>
                                    <th>Name</th>                                   
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<input type="hidden" name="countryId" id="countryId" value="{{countryId}}" />
<input type="hidden" name="stateId" id="stateId" value="{{stateId}}" />


<!-- Modal -->
<div id="modalCityAddEditPopUp" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                {{!--<button type="button" class="close" data-dismiss="modal">&times;</button>--}}
                <h4 class="modal-title">State</h4>
            </div>
            <div class="modal-body">
                <form name="frmCityAddEdit" id="frmCityAddEdit">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="txtCityName" id="txtCityName" value="" />
                    </div>                  

                    <div class="form-group text-center marg-top15">
                        <input type="text" name="hidActionType" id="hidActionType" value="" />
                        <input type="text" name="hidCityId" id="hidCityId" value="0" />
                        <button type="button" class="btn btn-md btn-primary" id="btnProcessStatePopup">Update</button>
                        <button type="button" class="btn btn-md btn-primary" id="btnCloseStatePopup">Cancel</button>
                        <input type="hidden" name="countryId" id="countryId" value="{{countryId}}" />
                        <input type="hidden" name="stateId" id="stateId" value="{{stateId}}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/admin/cities.js?v={{frontConstant.VERSION}}"></script>