<div id="wrapper">
    {{> helper/admin/adminsidebar}}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {{> helper/admin/adminheader}}
        </div>
        
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Countries</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}siteusers">Home</a>
                    </li>
                    <li class="active">
                        <strong>Countries</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins user-manage">
                {{!--<div class="ibox-title">
                    <h5>Users Management</h5>
                </div>--}}
                <div class="ibox-content marg-bot15">

                    {{> helper/ajaxnotification_helper}}

                    <div class="listingTopBtns">
                        <button type="button" class="btn btn-md btn-primary" id="btnGlobalWissenxCharge">Global Wissenx Charges</button>
                        <a href="javaScript:;" title="Add Country" class="btn btn-md btn-primary" id="btnAddCountry">Add</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="tblCountries">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Code</th>
                                    <th>Region</th>
                                    <th>Phone Code</th>
                                    <th>Wissenx User Charge</th>
                                    <th>Wissenx Advisor Charge</th>
                                    <th>Minimum Payout Amount</th>                                    
                                    <th>Maximum Payout Amount</th>                                    
                                    <th>Maximum Payout Amount Per Week</th>                                    
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<input type="hidden" name="regionId" id="regionId" value="{{regionId}}" />


<!-- Modal -->
<div id="modalGlobalWissenxCharge" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please set Global nvestlink Charges for User and Mentor.</h4>
            </div>
            <div class="modal-body">
                <form name="frmGlobalWissenxCharge" id="frmGlobalWissenxCharge">
                    <div class="form-group">
                        <label>Wissenx User Charge</label>
                        <input type="text" class="form-control wissenxGlobalClass" name="txtWissenxUserCharge" id="txtWissenxUserCharge" value="" />
                    </div>
                <div class="form-group">
                    <label>Wissenx Advisor Charge</label>
                    <input type="text"  class="form-control wissenxGlobalClass" name="txtWissenxeMentorCharge" id="txtWissenxeMentorCharge" value="" />
                </div>
                <div class="form-group text-center marg-top15">
                    <button type="button" class="btn btn-md btn-primary" id="btnUpdateWissenxCharge">Update</button>
                    <button type="button" class="btn btn-md btn-primary" id="btnCancelUpdateWissenxCharge">Cancel</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div id="modalCountryAddEditPopup" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-md">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                {{!--<button type="button" class="close" data-dismiss="modal">&times;</button>--}}
                <h4 class="modal-title">Country</h4>
            </div>
            <div class="modal-body">
                <form name="frmCountryAddEdit" id="frmCountryAddEdit">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="txtCountryName" id="txtCountryName" value="" />
                    </div>
                    <div class="form-group">
                        <label>Country Code</label>
                        <input type="text" class="form-control" name="txtCountryCode" id="txtCountryCode" value="" />
                    </div>
                    <div class="form-group">
                        <label>Phone Code</label>
                        <input type="text" class="form-control" name="txtPhoneCode" id="txtPhoneCode" value="" />
                    </div>
                    <div class="form-group">
                        <label>Region</label>
                        <select class="form-control" name="lstRegion" id="lstRegion">
                            <option value="">--Select Region--</option>
                            {{#if objMasterRegionList}}
                                {{#each objMasterRegionList}}
                                    <option value="{{region_id}}">{{region_name}}</option>
                                {{/each}}
                            {{/if}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Wissenx User Charge</label>
                        <input type="text" class="form-control" name="txtWissenxUserChargeAddEdit" id="txtWissenxUserChargeAddEdit" value="" />
                    </div>
                    <div class="form-group">
                        <label>Wissenx Advisor Charge</label>
                        <input type="text" class="form-control" name="txtWissenxMentorChargeAddEdit" id="txtWissenxMentorChargeAddEdit" value="" />
                    </div>
                    
                     <div class="form-group">
                        <label>Minimum Payout Amount</label>
                        <input type="text" class="form-control" name="minpayout" id="minpayout" value="" />
                    </div>
                    <div class="form-group">
                        <label>Maximum Payout Amount</label>
                        <input type="text" class="form-control" name="maxpayout" id="maxpayout" value="" />
                    </div>
                     <div class="form-group">
                        <label>Maximum Payout Amount Per Week</label>
                        <input type="text" class="form-control" name="maxpayoutperweek" id="maxpayoutperweek" value="" />
                    </div>

                    <div class="form-group text-center marg-top15">
                        <input type="hidden" name="hidActionType" id="hidActionType" value="" />
                        <input type="hidden" name="hidCountryId" id="hidCountryId" value="0" />
                        <button type="button" class="btn btn-md btn-primary" id="btnProcessCountryPopup">Update</button>
                        <button type="button" class="btn btn-md btn-primary" id="btnCloseCountryPopup">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/admin/countries.js?v={{frontConstant.VERSION}}"></script>