<div id="wrapper">
    {{> helper/admin/adminsidebar}}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {{> helper/admin/adminheader}}
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Welcome to nvestlink Admin</h2>
                <ol class="breadcrumb">
                    <li class="active">
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}siteusers">Home</a>
                    </li>                   
                </ol>
            </div>          
        </div>
        <div class="wrapper wrapper-content">           
            <div class="row">
                <div class="col-sm-12">
                    <h4>Only Completed Meetings</h4>
                    <div class="ibox float-e-margins">
                        <div class="ibox-content overall">
                            <ul>
                                <li>
                                    <span>{{getCurrentMonthMeetings.currentDate}}</span>
                                    <span class="big">{{getCurrentMonthMeetings.meetingCount}} Meetings</span>
                                </li>
                                <li>
                                    <span>{{getCurrentYearMeetings.currentDate}}</span>
                                    <span class="big">{{getCurrentYearMeetings.meetingCount}} Meetings</span>
                                </li>
                                <li>
                                    <span>Overall</span>
                                    <span class="big">{{getAllMeetings.meetingCount}} Meetings</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>Wissenx Admin Earnings</h4>
                    <div class="ibox float-e-margins">
                        <div class="ibox-content overall">
                            <ul>
                                <li>
                                    <span>{{getCurrentMonthEarning.currentDate}}</span>
                                    {{#ifCond getCurrentMonthEarning.amount '==' null}}
                                    <span class="big">$ 0</span>
                                    {{/ifCond}}
                                    {{#ifCond getCurrentMonthEarning.amount '!=' null}}
                                    <span class="big">$ {{getCurrentMonthEarning.amount}}</span>
                                    {{/ifCond}}
                                </li>
                                <li>
                                    <span>{{getCurrentYearEarning.currentDate}}</span>
                                    {{#ifCond getCurrentYearEarning.amount '==' null}}
                                    <span class="big">$ 0</span>
                                    {{/ifCond}}
                                    {{#ifCond getCurrentYearEarning.amount '!=' null}}
                                    <span class="big">$ {{getCurrentYearEarning.amount}}</span>
                                    {{/ifCond}}
                                </li>
                                <li>
                                    <span>Overall</span>
                                    {{#ifCond getAllEarning.amount '==' null}}
                                    <span class="big">$ 0</span>
                                    {{/ifCond}}
                                    {{#ifCond getAllEarning.amount '!=' null}}
                                    <span class="big">$ {{getAllEarning.amount}}</span>
                                    {{/ifCond}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Recently Registered advisors</h5>
                                    <!--<a class="btn pull-right btn-primary btn-sm" href="#">View All</a>-->
                                </div>
                                <div class="ibox-content">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="mentorTable">
                                            <thead>
                                                <tr>

                                                    <th>Company Name</th>
                                                    <th>Email Address</th>
                                                    <th>advisor Name</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each getRecentMentor}}
                                                <tr>
                                                    <td>{{this.company_name}}</td>
                                                    <td>{{this.email}}</td>
                                                    <td>{{this.name}}</td>
                                                    <td>{{this.STATUS}}</td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Recently Registered Knowledge Seekers</h5>
                                    <!--<a class="btn pull-right btn-primary btn-sm" href="#">View All</a>-->
                                </div>
                                <div class="ibox-content">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="userTable">
                                            <thead>
                                                <tr>
                                                    <th>Full Name</th>
                                                    <th>Email Address</th>
                                                    <th>Mobile Number</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each getRecentUser}}
                                                <tr>
                                                    <td>{{this.name}}</td>
                                                    <td>{{this.email}}</td>
                                                    <td>{{this.phone_number}}</td>
                                                    <td>{{this.STATUS}}</td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--End col-sm-7-->                
            </div>
            <div class="footer">
                <div class="pull-right">                    
                </div>             
            </div>
        </div> <!--End wrapper-->
    </div>  
</div>

<script>
    $(document).ready(function () {
        $('#mentorTable').DataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": false,
            "bAutoWidth": false
        });
        $('#userTable').DataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": false,
            "bAutoWidth": false
        });
    });
</script>