<div id="wrapper">
    {{> helper/admin/adminsidebar}}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {{> helper/admin/adminheader}}
        </div>
        
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Domains</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}siteusers">Home</a>
                    </li>
                    <li class="active">
                        <strong>Domains</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <div class="wrapper wrapper-content">

            <div class="ibox float-e-margins user-manage">
                {{!--<div class="ibox-title">
                    <h5>Users Management</h5>
                </div>--}}
                <div class="ibox-content marg-bot15">

                    {{> helper/ajaxnotification_helper}}

                    <div class="listingTopBtns">
                        <a href="javaScript:;" title="Add Industry" class="btn btn-md btn-primary" id="btnAddRegion">Add</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="tblRegion">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            {{#if objDomainList}}
                                <tbody>
                                {{#each objDomainList}}
                                    <tr>
                                        <td>
                                            {{!--<a href="{{frontConstant.ACCESSURL_ADMIN}}subdomain/{{domainId}}" title="View Sub Industries">{{domainName}}</a>--}}
                                            {{domainName}}
                                        </td>
                                        <td>
                                            {{#ifCond status '==' '1'}}
                                                <a href="javaScript:;" class="btnToInactive" data-domainId="{{domainId}}" title="Click to inactivate">
                                                    <label class="label listingBtn label-primary">Active</label>
                                                </a>
                                            {{/ifCond}}
                                            {{#ifCond status '==' '2'}}
                                                <a href="javaScript:;" class="btnToactive" data-domainId="{{domainId}}" title="Click to activate">
                                                    <label class="label listingBtn label-warning">In-Active</label>
                                                </a>
                                            {{/ifCond}}
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-md btn-primary btnEditDomain" data-domainId="{{domainId}}">Edit</button>&nbsp;&nbsp;
                                            <button type="button" class="btn btn-md btn-primary btnDeleteDomain" data-domainId="{{domainId}}">Delete</button>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            {{/if}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="modalAddUpdatePopUp" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-md">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                {{!--<button type="button" class="close" data-dismiss="modal">&times;</button>--}}
                <h4 class="modal-title">Please provide a reason why you want to suspend this user.</h4>
            </div>
            <div class="modal-body">
                <form name="frmAddEdit" id="frmAddEdit">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="txtDomainName" id="txtDomainName" value="" />
                    </div>

                    <div class="form-group text-center marg-top15">
                        <input type="hidden" name="hidActionType" id="hidActionType" value="" />
                        <input type="hidden" name="hidDomainId" id="hidDomainId" value="0" />
                        <button type="button" class="btn btn-md btn-primary" id="btnProcessDomainPopup">Update</button>
                        <button type="button" class="btn btn-md btn-primary" id="btnCloseDomainPopup">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/admin/domain.js?v={{frontConstant.VERSION}}"></script>