<div id="wrapper">
    {{> helper/admin/adminsidebar}}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {{> helper/admin/adminheader}}
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>User Details</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}dashboard">Home</a>
                    </li>
                    <li>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}siteusers">User Management</a>
                    </li>
                    <li class="active">
                        <strong>User Detail</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <div class="wrapper wrapper-content">

            {{> helper/ajaxnotification_helper}}


            <div class="row">
                <div class="col-lg-12">                    
                    {{#if arrMentorData}}                                        
                    <div class="tabs-container m-b-md">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">Basic Profile</a></li>
{{!--<li class=""><a data-toggle="tab" href="#tab-2">Work Profile</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-3">Portfolio</a></li>--}}
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="col-lg-12">

                           <div class="m-b-lg m-t-lg">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <div class="profile-image">
                                                        <img src="{{arrMentorData.userData.fullProfileImageURL}}" class="img-circle circle-border m-b-md" alt="profile">
                                                    </div>
                                                    <div class="profile-info">
                                                        <input type="hidden" name="userId" id="userId" value="{{arrMentorData.userData.user_id}}">
                                                        <h2 class="no-margins">
                                                            {{arrMentorData.userData.firstName}} {{arrMentorData.userData.lastName}}
                                                        </h2>
                                                        <h4>{{arrMentorData.mentor_details.profession}}</h4>
                                                        <h4>{{arrMentorData.mentor_details.job_description}},{{arrMentorData.mentor_details.company_name}}</h4>
                                                        <small class="marg-right10">{{arrMentorData.mentor_details.mentorMail}}</small>
                                                        <small>{{arrMentorData.userData.phoneCountry}} {{arrMentorData.userData.phoneNumber}}</small>
                                                        <br>
                                                        <small class="marg-right10">{{arrMentorData.userData.city_name}}, {{arrMentorData.userData.countryName}}</small>
                                                        <small><i class="marg-right5 fa fa-calendar"></i>{{arrMentorData.userData.DOB}}</small>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="ibox-title">
                                                        <h5>Manage Access</h5>
                                                    </div>
                                                    <div class="ibox-content">
                                                        <div class="access">
                                                            <div class="m-b-sm">
                                                                <span>Mentor Suspended</span>
                                                                {{#ifCond arrMentorData.userData.status '==' '3'}}
                                                                <input type="checkbox" class="js-switch_3" id="chkUserSuspend" data-toggle="modal" data-target="#suspend" checked />
                                                                {{/ifCond}}
                                                                {{#ifCond arrMentorData.userData.status '!=' '3'}}
                                                                <input type="checkbox" class="js-switch_3" id="chkUserSuspend" data-toggle="modal" data-target="#suspend" />
                                                                {{/ifCond}}
                                                            </div>
                                                            <div class="m-b-sm">
                                                                <span>Celebrity Mentor</span>                                                                
                                                                {{#ifCond arrMentorData.mentor_details.is_featured '==' '1'}}
                                                                <input type="checkbox" class="js-switch_3" id="chkUserCelebrity" data-toggle="modal" data-target="#suspend" checked />
                                                                {{/ifCond}}
                                                                {{#ifCond arrMentorData.mentor_details.is_featured '!=' '1'}}
                                                                <input type="checkbox" class="js-switch_3" id="chkUserCelebrity" data-toggle="modal" data-target="#suspend" />
                                                                {{/ifCond}}                                                                                                                                                                                         
                                                            </div>
                                                            <div class="m-b-sm">
                                                                <span>Hide Ratings & Reviews</span>                                                                
                                                                {{#ifCond arrMentorData.mentor_details.hide_review_rating '==' '1'}}
                                                                <input type="checkbox" class="js-switch_3" id="chkUserRating" data-toggle="modal" data-target="#suspend" checked />
                                                                {{/ifCond}}
                                                                {{#ifCond arrMentorData.mentor_details.hide_review_rating '!=' '1'}}
                                                                <input type="checkbox" class="js-switch_3" id="chkUserRating" data-toggle="modal" data-target="#suspend" />
                                                                {{/ifCond}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                           <div class="ibox">
                                            <div class="ibox-title">
                                                <h5>About {{arrMentorData.userData.firstName}} {{arrMentorData.userData.lastName}}</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <p>{{{arrMentorData.mentor_details.overview}}}</p>
                                            </div>
                                        </div>

                           <div class="ibox">
                                            <div class="ibox-title">
                                                <h5>Mentor Earnings</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="earn white-bg">
                                                            <big><strong>{{arrCurrentEarning.year}}</strong></big>
                                                            <p class="money-earn">{{arrCurrentEarning.total_earning}} USD</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="earn white-bg">
                                                            <big><strong>Total Earnings</strong></big>
                                                            <p class="money-earn">{{arrMentorEarning.total_earning}} USD</p>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                           <div class="ibox">
                                            <div class="ibox-title">
                                                <h5>Recent Transactions</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover dataTables" id="tblUserTransaction">
                                                        <thead>
                                                            <tr>
                                                                <th>Amount</th>
                                                                <th>Details</th>
                                                                <th>Type</th>
                                                                <th>Date - Time</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{#if arrMentorTrans}}
                                                            {{#each arrMentorTrans}}
                                                            <!--<tr>
                                                                <td>{{pay_to_mentor}} USD</td>
                                                                <td>{{meeting_purpose}}</td>
                                                                <td>Credited</td>
                                                                <td>{{created_date}}</td>
                                                            </tr>-->
                                                            <tr>
                                                                <td>{{this.amount}} USD</td>
                                                                <td>{{this.reasonDisplay}}</td>
                                                                <td>{{this.payment_type}}</td>
                                                                <td>{{this.dateDisplay}}</td>
                                                            </tr>                                                                                                                        
                                                            {{/each}}
                                                            {{/if}}
                                                        </tbody>                                                        
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

{{!--<div class="ibox">
   <div class="ibox-title">
                                                <h5>Monthly Spends</h5>
                                            </div>
                                            <div class="ibox-content text-center">
                                                <div id="slineChart"></div>
                                            </div>
                                        </div>

                                        <div class="ibox">
                                            <div class="ibox-title">
                                                <h5>Quartly Spends</h5>
                                            </div>
                                            <div class="ibox-content text-center">
                                                <div id="pie"></div>
                                            </div>
                                        </div>--}}

                                    </div>
                        <!--End col-lg-12-->
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Manage Commercial Policies</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    <div class="form-group">
                                                        <label>Set your hourly rate</label>
                                                        <div class="row">
                                                            <div class="col-sm-9">
                                                                <input type="number" class="form-control text-right" />
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <select class="form-control">
                                                                    <option>USD</option>
                                                                    <option>EUR</option>
                                                                    <option>GBP</option>
                                                                    <option>INR</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <span class="m-b-lg display-block">Effective Rate for the users : 0 USD/Hour</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <h4 class="m-b-md">Cancellation Policy Type</h4>
                                                        <div>
                                                            <label>
                                                                <input type="radio" class="i-checks" name="policy" /> Easy </label>
                                                        </div>
                                                        <div>
                                                            <label>
                                                                <input type="radio" class="i-checks" name="policy" /> Moderate </label>
                                                        </div>
                                                        <div>
                                                            <label>
                                                                <input type="radio" class="i-checks" name="policy" /> Strict </label>
                                                        </div>
                                                        <span class="m-t-md display-block"><a href="#">Read More</a> for our cancellation policies</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group m-t-sm m-b-sm">
                                                <button type="submit" class="btn btn-primary btn-sm">Save Commercial Details</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Manage Professional Profile Details</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="form-group">
                                                <label>Profession</label>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" placeholder="Designation" />
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" placeholder="Job Description" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Company Details</label>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <select class="form-control">
                                                            <option>Employe</option>
                                                            <option>Self Employed</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" placeholder="Company Name" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Punchline</label>
                                                <input type="text" class="form-control" placeholder="Write a Headline which describes your expertise Briefly" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Overview</h5>
                                        </div>
                                        <div class="ibox-content no-padding">
                                            <div class="summernote white-bg">
                                                <h3>Lorem Ipsum is simply</h3> dummy text of the printing and typesetting industry. <strong>Lorem Ipsum has been the industry's</strong> standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                                                <br/>
                                                <br/>
                                                <ul>
                                                    <li>Remaining essentially unchanged</li>
                                                    <li>Make a type specimen book</li>
                                                    <li>Unknown printer</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Keynote Video</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <iframe width="100%" height="360" src="https://www.youtube.com/embed/Q6dsRpVyyWs" frameborder="0" allowfullscreen></iframe>
                                            <div class="form-group m-t-sm m-b-sm">
                                                <button type="submit" class="btn btn-primary btn-sm">Add New</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Companies <small>(Maximum 10)</small></h5>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="form-group">
                                                <input class="form-control" type="text" value="IBM, Dell" data-role="tagsinput" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Location Information</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <select class="form-control">
                                                            <option>Country</option>
                                                            <option value="USA">USA</option>
                                                            <option value="USA">USA</option>
                                                            <option value="USA">USA</option>
                                                            <option value="USA">USA</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <select class="form-control">
                                                            <option>City</option>
                                                            <option value="USA">USA</option>
                                                            <option value="USA">USA</option>
                                                            <option value="USA">USA</option>
                                                            <option value="USA">USA</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Expertise</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Industry</th>
                                                            <th>Sub-Industry</th>
                                                            <th>Domain</th>
                                                            <th>Region</th>
                                                            <th>Sub-Region</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Energy</td>
                                                            <td>Electrical Energy</td>
                                                            <td>Technician</td>
                                                            <td>Asia</td>
                                                            <td>India</td>
                                                            <td><a href="#" class="text-decor">Remove</a> <a href="#" class="text-decor">Edit</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="form-group m-t-sm m-b-sm">
                                                <button type="submit" class="btn btn-primary btn-sm">Add Expertise</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Employment History</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="form-group m-t-sm m-b-sm">
                                                <button type="submit" class="btn btn-primary btn-sm">Add Employment History</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group text-center m-t-sm m-b-sm">
                                        <button type="submit" class="btn btn-primary btn-sm">Save Professional Profile Details</button>
                                    </div>

                                </div>
                            </div>
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body">
                                    <div class="ibox float-e-margins">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="ibox-title">
                                                    <h5>Injuries</h5>
                                                </div>
                                                <div class="ibox-content marg-bot15 party-in">
                                                    <form>
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-bordered table-hover table-striped">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Date of Injury</th>
                                                                                    <th>Claim no</th>
                                                                                    <th>Case no</th>
                                                                                    <th>Actions</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>10/29/2012</td>
                                                                                    <td>123-6542</td>
                                                                                    <td>LAO 33213215</td>
                                                                                    <td><a href="#" class="text-decor">View</a> <a href="#" class="text-decor">Delete</a></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>10/29/2012</td>
                                                                                    <td>123-6542</td>
                                                                                    <td>LAO 33213215</td>
                                                                                    <td><a href="#" class="text-decor">View</a> <a href="#" class="text-decor">Delete</a></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>10/29/2012</td>
                                                                                    <td>123-6542</td>
                                                                                    <td>LAO 33213215</td>
                                                                                    <td><a href="#" class="text-decor">View</a> <a href="#" class="text-decor">Delete</a></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>10/29/2012</td>
                                                                                    <td>123-6542</td>
                                                                                    <td>LAO 33213215</td>
                                                                                    <td><a href="#" class="text-decor">View</a> <a href="#" class="text-decor">Delete</a></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>10/29/2012</td>
                                                                                    <td>123-6542</td>
                                                                                    <td>LAO 33213215</td>
                                                                                    <td><a href="#" class="text-decor">View</a> <a href="#" class="text-decor">Delete</a></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>10/29/2012</td>
                                                                                    <td>123-6542</td>
                                                                                    <td>LAO 33213215</td>
                                                                                    <td><a class="text-decor" href="#">View</a> <a class="text-decor" href="#">Delete</a></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>10/29/2012</td>
                                                                                    <td>123-6542</td>
                                                                                    <td>LAO 33213215</td>
                                                                                    <td><a href="#" class="text-decor">View</a> <a href="#" class="text-decor">Delete</a></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>10/29/2012</td>
                                                                                    <td>123-6542</td>
                                                                                    <td>LAO 33213215</td>
                                                                                    <td><a href="#" class="text-decor">View</a> <a class="text-decor" href="#">Delete</a></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="ibox-title">
                                                    <h5>Status: <span class="red inline-block">Closed</span></h5>
                                                    <a class="pull-right marg-left5 text-decor" href="#">Delete</a>
                                                    <a class="pull-right text-decor" href="#">Edit</a>
                                                </div>
                                                <div class="ibox-content marg-bot15 party">
                                                    <form>
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="table-responsive">
                                                                        <table class="table">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="text-right" width="150"><strong>Date of Injury :</strong></td>
                                                                                    <td>12/22/2012</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="text-right" width="150"><strong>POB :</strong></td>
                                                                                    <td>Lorem Ipsum Dolor Sit Amet</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="text-right" width="150"><strong>Occupation :</strong></td>
                                                                                    <td>Lorem Ipsum Dolor Sit Amet</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <table class="table">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="text-right" width="150"><strong>Employer :</strong></td>
                                                                                    <td>ABC Employer</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="text-right" width="150"><strong>Carrier :</strong></td>
                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="text-right" width="150"><strong>Adjuster :</strong></td>
                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="text-right" width="150"><strong>Phone :</strong></td>
                                                                                    <td>+1 3216 3216 321</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="text-right" width="150"><strong>Cliam No :</strong></td>
                                                                                    <td>adsd</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <table class="table">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="text-right" width="150"><strong>Attorny :</strong></td>
                                                                                    <td>LDA</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="text-right" width="150"><strong>Firm Name :</strong></td>
                                                                                    <td>GBLaw</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="text-right" width="150"><strong>Phone :</strong></td>
                                                                                    <td>+1 321 211 6545</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <table class="table">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="text-right" width="150"><strong>Employer 2 :</strong></td>
                                                                                    <td>121</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="text-right" width="150"><strong>Carrier 2 :</strong></td>
                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="text-right" width="150"><strong>Adjuster 2 :</strong></td>
                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="text-right" width="150"><strong>Phone :</strong></td>
                                                                                    <td></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    {{/if}} 
                </div>
                <!--End col-lg-12-->
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div id="suspend" class="modal fade" role="dialog">
<div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
 <div class="modal-header">                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please provide a reason why you want to suspend this user.</h4>
            </div>
            <div class="modal-body">
                <form method="POST" id="suspendFrm" name="suspendFrm">
                    <input type="hidden" name="suspendUser" id="suspendUser" value="{{arrMentorData.userData.user_id}}">
                    <div class="form-group">
                        <select class="form-control" id="suspendReason" name="suspendReason">
                            <option value="">Select Reason</option>
                            <option value="user authenticity of credentials need re-verification">User authenticity of credentials need re-verification</option>
                            <option value="Possible SourceAdvisor compliance framework violation">Possible SourceAdvisor compliance framework violation</option>
                            <option value="Complaint from another user">Complaint from another user</option>
                            <option value="Any other reason">Any other reason</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="suspendReasonDesc" name="suspendReasonDesc" style="width: 100%;height: 150px;" placeholder="More Details"></textarea>
                    </div>
                    <div class="form-group text-center marg-top15">
                        <input type="submit" class="btn btn-md btn-primary" name="Save" value="Save" style="margin-top: 10px;">
                        <a href="#" class="btn btn-md btn-primary" data-dismiss="modal">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="modalAddUpdatePopUp" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                {{!--<button type="button" class="close" data-dismiss="modal">&times;</button>--}}
                <h4 class="modal-title">Please provide a reason why you want to suspend this user.</h4>
            </div>
            <div class="modal-body">
                <form name="frmAddEdit" id="frmAddEdit">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="txtDomainName" id="txtDomainName" value="" />
                    </div>

                    <div class="form-group text-center marg-top15">
                        <input type="hidden" name="hidActionType" id="hidActionType" value="" />
                        <input type="hidden" name="hidDomainId" id="hidDomainId" value="0" />
                        <button type="button" class="btn btn-md btn-primary" id="btnProcessDomainPopup">Update</button>
                        <button type="button" class="btn btn-md btn-primary" id="btnCloseDomainPopup">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/admin/mentordetails.js?v={{frontConstant.VERSION}}"></script>