<style>
    #mentorPayoutTable tbody td:nth-last-child(2) {
        float:right;
    }
</style>
<div id="wrapper">
    {{> helper/admin/adminsidebar}}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {{> helper/admin/adminheader}}
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Payout Management</h2>
                <ol class="breadcrumb">
                    <li class="active">
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}siteusers">Home</a>
                    </li>
                    <li class="active">
                        <strong>Payouts</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <div class="wrapper wrapper-content">

            <div class="ibox float-e-margins user-manage">
                {{!--<div class="ibox-title">
                    <h5>Users Management</h5>
                </div>--}}
                <div class="ibox-content marg-bot15">
                    {{> helper/ajaxnotification_helper}}
                    <div class="row">
                        <form name="frmFilterSiteUser" id="frmFilterSiteUser" >                            
                            <div class="col-sm-12 text-right">
                                <div class="form-group">
                                    <label>User Status</label>
                                    <select class="form-control" name="filterUserStatus" id="filterUserStatus">
                                        <option value="">All</option>
                                        <option value="A">Active</option>
                                        <option value="S">Suspended</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="mentorPayoutTable">
                            <thead>
                                <tr>
                                    <th>User Name</th>                                    
                                    <th>Email Address</th>
                                    <th>Phone Number</th>
                                    <!--<th>Status</th>-->
                                    <th>Current Wallet Balance</th>
                                    <th>Wallet Balance</th>
                                    <th>Requested Amount</th>
                                    <th>Payout Amount</th>
                                    <th>Payout Done On</th>
                                    <th>Requested Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mentorPayoutModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Payout</h4>
            </div>
            <form method="POST" id="updatePayoutAmount">
                <input id="id" name="id" type="hidden" />                
                <input id="user_id" name="user_id" type="hidden" />                
                <input id="mentorEmail" name="mentorEmail" type="hidden" />
                <input id="mentorName" name="mentorName" type="hidden" />
                <input id="mentorpaypalEmail" name="mentorpaypalEmail" type="hidden" />
                <input id="mentorPhn" name="mentorPhn" type="hidden" />                
                <input id="walBal" name="walBal" type="hidden" />
                <div class="modal-body formPopup clearfix">
                    <div class="row">
                        <div class="col-sm-2">
                            <label style="margin-top: 7px;">Amount</label>                            
                        </div>                        
                        <div class="col-sm-10">
                            <input id="payoutAmount" name="payoutAmount" class="form-control" type="number" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" />
                            <span id="maxMsg"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" name="update" value="Update" id="updatebtn" class="btn btn-md btn-primary">
                </div>
            </form>    
        </div>
    </div>
</div>

<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/admin/payout.js?v={{frontConstant.VERSION}}"></script>