<div id="wrapper">
    {{> helper/admin/adminsidebar}}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {{> helper/admin/adminheader}}
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Payout Details</h2>
                <ol class="breadcrumb">
                    <li class="active">
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}siteusers">Home</a>
                    </li>
                    <li class="active">
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}payouts">Payouts</a>
                    </li>
                    <li class="active">
                        <strong>Payouts Details</strong>
                    </li>
                </ol>
            </div>           
        </div>
        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins user-manage">              
                <div class="ibox-content marg-bot15">
                    {{> helper/ajaxnotification_helper}}                  
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="mentorPayoutDetailsTable">
                            <thead>
                                <tr>
                                    <th>User Name</th>                                    
                                    <th>Email Address</th>
                                    <th>Amount</th>
                                    <th>Date</th>                                    
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="mentorId" id="mentorId" value="{{mentorId}}" />
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/admin/payout_details.js?v={{frontConstant.VERSION}}"></script>