<link href="{{frontConstant.ACCESSURL}}admin/css/plugins/bootstrap-markdown/bootstrap-markdown.min.css?v={{frontConstant.VERSION}}" rel="stylesheet">

<div id="wrapper">
    {{> helper/admin/adminsidebar}}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {{> helper/admin/adminheader}}
        </div>
        
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Cancellation Policy</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}systemsettings">System Settings</a>
                    </li>
                    <li class="active">
                        <strong>Cancellation Policy</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins setting-global">
                        
                        {{> helper/ajaxnotification_helper}}

                        <div class="ibox-title">
                            <h5>Manage User Cancellation Policies</h5>
                            <a href="{{frontConstant.ACCESSURL_ADMIN}}systemsettings" title="Back to System Settings" class="btn btn-md btn-primary pull-right" id="btnPrivacyPolicy">Back</a>
                        </div>
                        <div class="ibox-content marg-bot15">
                            <form name="frmSaveMentorPolicyForUser" id="frmSaveMentorPolicyForUser">
                                <div class="table table-responsive">
                                    <table style="width: 100%;">
                                    <thead>
                                            <tr>
                                                <th>Type</th>
                                                <th>Cancellation Charge before slot 1</th>
                                                <th width="10%">Slot 1 (Hours)</th>
                                                <th>Cancellation Charge between slot 1 and slot 2</th>
                                                <th width="10%">slot 2 (Hours)</th>
                                                <th>Cancellation Charge after slot 2</th>
                                            </tr>
                                    </thead>
                                    <tbody>
                                            <tr>
                                                <td>Easy</td>
                                                <td>
                                                    <input type="text" name="txt_easy_first" id="txt_easy_first" value="{{objFinalPolicy.easy.first.cancellationPercentage}}" class="form-control" style="width: 85%;float: left;" /><div style="float: left;padding: 7px;">%</div>
                                                    <input type="hidden" name="hidCancellationPolicyId_easy_first" id="hidCancellationPolicyId_easy_first" value="{{objFinalPolicy.easy.first.cancellationPolicyId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyChargesId_easy_first" id="hidCancellationPolicyChargesId_easy_first" value="{{objFinalPolicy.easy.first.cancellationPolicyChargesId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyTypeId_easy_first" id="hidCancellationPolicyTypeId_easy_first" value="{{objFinalPolicy.easy.first.cancellationPolicyTypeId}}" />
                                                </td>
                                                <td>
                                                    <input type="text" name="txt_easy_slot1" id="txt_easy_slot1" value="{{objFinalPolicy.easy.arrHours.firstSlotTime}}" class="form-control classSlot1Match" />
                                                </td>
                                                <td>
                                                    <input type="text" name="txt_easy_second" id="txt_easy_second" value="{{objFinalPolicy.easy.second.cancellationPercentage}}" class="form-control" style="width: 85%;float: left;" /><div style="float: left;padding: 7px;">%</div>
                                                    <input type="hidden" name="hidCancellationPolicyId_easy_second" id="hidCancellationPolicyId_easy_second" value="{{objFinalPolicy.easy.second.cancellationPolicyId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyChargesId_easy_second" id="hidCancellationPolicyChargesId_easy_second" value="{{objFinalPolicy.easy.second.cancellationPolicyChargesId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyTypeId_easy_second" id="hidCancellationPolicyTypeId_easy_second" value="{{objFinalPolicy.easy.second.cancellationPolicyTypeId}}" />
                                                </td>
                                                <td>
                                                    <input type="text" name="txt_easy_slot2" id="txt_easy_slot2" value="{{objFinalPolicy.easy.arrHours.secondSlotTime}}" class="form-control classSlot2Match" />
                                                </td>
                                                <td>
                                                    <input type="text" name="txt_easy_third" id="txt_easy_third" value="{{objFinalPolicy.easy.third.cancellationPercentage}}" class="form-control" style="width: 85%;float: left;" /><div style="float: left;padding: 7px;">%</div>
                                                    <input type="hidden" name="hidCancellationPolicyId_easy_third" id="hidCancellationPolicyId_easy_third" value="{{objFinalPolicy.easy.third.cancellationPolicyId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyChargesId_easy_third" id="hidCancellationPolicyChargesId_easy_third" value="{{objFinalPolicy.easy.third.cancellationPolicyChargesId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyTypeId_easy_third" id="hidCancellationPolicyTypeId_easy_third" value="{{objFinalPolicy.easy.third.cancellationPolicyTypeId}}" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Moderate</td>
                                                <td>
                                                    <input type="text" name="txt_moderate_first" id="txt_moderate_first" value="{{objFinalPolicy.moderate.first.cancellationPercentage}}" class="form-control" style="width: 85%;float: left;" /><div style="float: left;padding: 7px;">%</div>
                                                    <input type="hidden" name="hidCancellationPolicyId_moderate_first" id="hidCancellationPolicyId_moderate_first" value="{{objFinalPolicy.moderate.first.cancellationPolicyId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyChargesId_moderate_first" id="hidCancellationPolicyChargesId_moderate_first" value="{{objFinalPolicy.moderate.first.cancellationPolicyChargesId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyTypeId_moderate_first" id="hidCancellationPolicyTypeId_moderate_first" value="{{objFinalPolicy.moderate.first.cancellationPolicyTypeId}}" />
                                                </td>
                                                <td>
                                                    <input type="text" name="txt_moderate_slot1" id="txt_moderate_slot1"value="{{objFinalPolicy.moderate.arrHours.firstSlotTime}}" class="form-control classSlot1Match" />
                                                </td>
                                                <td>
                                                    <input type="text" name="txt_moderate_second" id="txt_moderate_second" value="{{objFinalPolicy.moderate.second.cancellationPercentage}}" class="form-control" style="width: 85%;float: left;" /><div style="float: left;padding: 7px;">%</div>
                                                    <input type="hidden" name="hidCancellationPolicyId_moderate_second" id="hidCancellationPolicyId_moderate_second" value="{{objFinalPolicy.moderate.second.cancellationPolicyId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyChargesId_moderate_second" id="hidCancellationPolicyChargesId_moderate_second" value="{{objFinalPolicy.moderate.second.cancellationPolicyChargesId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyTypeId_moderate_second" id="hidCancellationPolicyTypeId_moderate_second" value="{{objFinalPolicy.moderate.second.cancellationPolicyTypeId}}" />
                                                </td>
                                                <td>
                                                    <input type="text" name="txt_moderate_slot2" id="txt_moderate_slot2" value="{{objFinalPolicy.moderate.arrHours.secondSlotTime}}"class="form-control classSlot2Match" />
                                                </td>
                                                <td>
                                                    <input type="text" name="txt_moderate_third" id="txt_moderate_third" value="{{objFinalPolicy.moderate.third.cancellationPercentage}}" class="form-control" style="width: 85%;float: left;" /><div style="float: left;padding: 7px;">%</div>
                                                    <input type="hidden" name="hidCancellationPolicyId_moderate_third" id="hidCancellationPolicyId_moderate_third" value="{{objFinalPolicy.moderate.third.cancellationPolicyId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyChargesId_moderate_third" id="hidCancellationPolicyChargesId_moderate_third" value="{{objFinalPolicy.moderate.third.cancellationPolicyChargesId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyTypeId_moderate_third" id="hidCancellationPolicyTypeId_moderate_third" value="{{objFinalPolicy.moderate.third.cancellationPolicyTypeId}}" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Strict</td>
                                                <td>
                                                    <input type="text" name="txt_strict_first" id="txt_strict_first" value="{{objFinalPolicy.strict.first.cancellationPercentage}}" class="form-control" style="width: 85%;float: left;" /><div style="float: left;padding: 7px;">%</div>
                                                    <input type="hidden" name="hidCancellationPolicyId_strict_first" id="hidCancellationPolicyId_strict_first" value="{{objFinalPolicy.strict.first.cancellationPolicyId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyChargesId_strict_first" id="hidCancellationPolicyChargesId_strict_first" value="{{objFinalPolicy.strict.first.cancellationPolicyChargesId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyTypeId_strict_first" id="hidCancellationPolicyTypeId_strict_first" value="{{objFinalPolicy.strict.first.cancellationPolicyTypeId}}" />
                                                </td>
                                                <td>
                                                    <input type="text" name="txt_strict_slot1" id="txt_strict_slot1" value="{{objFinalPolicy.strict.arrHours.firstSlotTime}}" class="form-control classSlot1Match" />
                                                </td>
                                                <td>
                                                    <input type="text" name="txt_strict_second" id="txt_strict_second" value="{{objFinalPolicy.strict.second.cancellationPercentage}}" class="form-control" style="width: 85%;float: left;" /><div style="float: left;padding: 7px;">%</div>
                                                    <input type="hidden" name="hidCancellationPolicyId_strict_second" id="hidCancellationPolicyId_strict_second" value="{{objFinalPolicy.strict.second.cancellationPolicyId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyChargesId_strict_second" id="hidCancellationPolicyChargesId_strict_second" value="{{objFinalPolicy.strict.second.cancellationPolicyChargesId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyTypeId_strict_second" id="hidCancellationPolicyTypeId_strict_second" value="{{objFinalPolicy.strict.second.cancellationPolicyTypeId}}" />
                                                </td>
                                                <td>
                                                    <input type="text" name="txt_strict_slot2" id="txt_strict_slot2" value="{{objFinalPolicy.strict.arrHours.secondSlotTime}}" class="form-control classSlot2Match" />
                                                </td>
                                                <td>
                                                    <input type="text" name="txt_strict_third" id="txt_strict_third" value="{{objFinalPolicy.strict.third.cancellationPercentage}}" class="form-control" style="width: 85%;float: left;" /><div style="float: left;padding: 7px;">%</div>
                                                    <input type="hidden" name="hidCancellationPolicyId_strict_third" id="hidCancellationPolicyId_strict_third" value="{{objFinalPolicy.strict.third.cancellationPolicyId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyChargesId_strict_third" id="hidCancellationPolicyChargesId_strict_third" value="{{objFinalPolicy.strict.third.cancellationPolicyChargesId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyTypeId_strict_third" id="hidCancellationPolicyTypeId_strict_third" value="{{objFinalPolicy.strict.third.cancellationPolicyTypeId}}" />
                                                </td>
                                            </tr>
                                    </tbody>
                                    </table>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-sm btn-primary" id="btnSaveMentorPolicyForUser">Save</button>
                                </div>
                            </form>
                        </div>
                        <div class="ibox-title">
                            <h5>Manage Advisor Cancellation Policies</h5>
                        </div>
                        <div class="ibox-content marg-bot15">
                            <form name="frmUpdateMentorCancellationCharges" id="frmUpdateMentorCancellationCharges">
                                <div class="table table-responsive">
                                    <table>
                                    <thead>
                                            <tr>
                                                <th>Type</th>
                                                <th>Cancellation Charge before slot 1</th>
                                                <th>Slot 1 (Hours)</th>
                                                <th>Cancellation Charge after slot 1</th>
                                                <th></th>
                                            </tr>
                                    </thead>
                                    <tbody>
                                            <tr>
                                                <td>
                                                    Advisor
                                                </td>
                                                <td>
                                                    <input name="txt_mentor_first" id="txt_mentor_first" type="text" class="form-control" value="{{objFinalMentorPolicy.easy.mentor.cancellationPercentage}}" style="width: 80%;float: left;" /><div style="float: left;padding: 7px;">USD</div>
                                                    <input type="hidden" name="hidCancellationPolicyId_mentor_first" id="hidCancellationPolicyId_mentor_first" value="{{objFinalMentorPolicy.easy.mentor.cancellationPolicyId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyChargesId_mentor_first" id="hidCancellationPolicyChargesId_mentor_first" value="{{objFinalMentorPolicy.easy.mentor.cancellationPolicyChargesId}}" />
                                                    <input type="hidden" name="hidCancellationPolicyTypeId_mentor_first" id="hidCancellationPolicyTypeId_mentor_first" value="{{objFinalMentorPolicy.easy.mentor.cancellationPolicyTypeId}}" />
                                                </td>
                                                <td>
                                                    <input name="txt_mentor_first_hour" id="txt_mentor_first_hour" type="text" class="form-control" value="{{objFinalMentorPolicy.easy.mentor.hoursDistribution}}"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" value="0" disabled="disabled"/>
                                                </td>
                                                <td>
                                                    <button type="submit" class="btn btn-sm btn-primary pull-right" id="btnUpdateMentorCancellationCharges">Save</button>
                                                </td>
                                            </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="modalAddUpdatePopUp" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-md">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                {{!--<button type="button" class="close" data-dismiss="modal">&times;</button>--}}
                <h4 class="modal-title">Please provide a reason why you want to suspend this user.</h4>
            </div>
            <div class="modal-body">
                <form name="frmAddEdit" id="frmAddEdit">
                    <div class="form-group">
                        <label>Code</label>
                        <input type="text" class="form-control" name="txtCode" id="txtCode" value="" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="taDescription" id="taDescription" class="form-control" style="height: 75px;"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Value Type</label>
                        <select name="lstValueType" id="lstValueType" class="form-control">
                            <option value="" selected="selected" >--Select Value Type--</option>
                            <option value="1">Integer</option>
                            <option value="2">Decimal</option>
                            <option value="3">Character</option>
                            <option value="4">Text</option>
                            <option value="5">Editor</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Value</label>
                        <div class="valueTypeElements hidden" data-ValueType="1">
                            <input type="text" name="txtIntValue" id="txtIntValue" value="" class="form-control" placeholder="Integer Value"/>
                        </div>
                        <div class="valueTypeElements hidden" data-ValueType="2">
                            <input type="text" name="txtFloatValue" id="txtFloatValue" value="" class="form-control" placeholder="Decimal Value"/>
                        </div>
                        <div class="valueTypeElements hidden" data-ValueType="3">
                            <input type="text" name="txtCharValue" id="txtCharValue" maxlength="1" value="" class="form-control" placeholder="Character Value"/>
                        </div>
                        <div class="valueTypeElements hidden" data-ValueType="4">
                            <input type="text" name="txtTextValue" id="txtTextValue" value="" class="form-control" placeholder="Text Value"/>
                        </div>
                        <div class="valueTypeElements hidden" data-ValueType="5">
                            <textarea name="taEditorValue" id="taEditorValue" data-provide="markdown" class="form-control summernote"></textarea>
                        </div>
                    </div>

                    <div class="form-group text-center marg-top15">
                        <input type="hidden" name="hidActionType" id="hidActionType" value="" />
                        <input type="hidden" name="hidSystemSettingVariableId" id="hidSystemSettingVariableId" value="0" />
                        <button type="button" class="btn btn-md btn-primary" id="btnProcessSystemSettingPopup">Update</button>
                        <button type="button" class="btn btn-md btn-primary" id="btnCloseSystemVariablePopup">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<input type="text" name="asfasdf" id="assdfasdf" value="{{objFinalPolicy.easy.first.policyType}}" />

<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<!-- Bootstrap markdown -->
<script src="{{frontConstant.ACCESSURL}}admin/js/plugins/bootstrap-markdown/bootstrap-markdown.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}admin/js/plugins/bootstrap-markdown/markdown.js?v={{frontConstant.VERSION}}"></script>

<script src="{{frontConstant.ACCESSURL}}js/webjs/admin/privacypolicy.js?v={{frontConstant.VERSION}}"></script>