<div id="wrapper">
    {{> helper/admin/adminsidebar}}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {{> helper/admin/adminheader}}
        </div>
        
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Refund Request</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}dashboard">Dashboard</a>
                    </li>
                    <li class="active">
                        <strong>Refund Request</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <div class="wrapper wrapper-content">

            <div class="ibox float-e-margins user-manage">
                {{!--<div class="ibox-title">
                    <h5>Users Management</h5>
                </div>--}}
                <div class="ibox-content marg-bot15">

                    {{> helper/ajaxnotification_helper}}

                    <div class="listingTopBtns">
                        {{!--<a href="javaScript:;" title="Add Industry" class="btn btn-md btn-primary" id="btnAddRegion">Add</a>--}}
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="tblRefundRequest">
                            <thead>
                                <tr>
                                    <th>Request Id</th>
                                    <th>User</th>
                                    <th>Meeting Details</th>
                                    <th>Reason</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            {{#if objRefundRequestListInfo}}
                                <tbody>
                                    {{#each objRefundRequestListInfo}}
                                        <tr>
                                            <td>
                                                {{refundRequestUnqId}}
                                            </td>
                                            <td>
                                                {{userFullName}}
                                            </td>
                                            <td>
                                                {{#ifCond meetingType '==' 'virtual'}}
                                                    <strong>Meeting Type:</strong> Virtual call for {{meetingDuration}} minutes<br />
                                                {{/ifCond}}

                                                <strong> Purpose:</strong> {{meetingPurpose}}<br />
                                                <strong> Requested on:</strong> {{refundRequestedDateDisplay}}
                                            </td>
                                            <td>
                                                {{reason}}
                                            </td>
                                            <td>
                                                {{#ifCond refundRequestStatus '==' '1'}}
                                                    <label class="label listingBtn label-primary">New</label>
                                                {{/ifCond}}
                                                {{#ifCond refundRequestStatus '==' '2'}}
                                                    <label class="label listingBtn label-primary">Processing</label>
                                                {{/ifCond}}
                                                {{#ifCond refundRequestStatus '==' '3'}}
                                                    <label class="label listingBtn label-primary">Closed</label>
                                                {{/ifCond}}
                                            </td>
                                            <td>
                                                <a href="{{frontConstant.ACCESSURL_ADMIN}}refundrequestdetail/{{refundRequestId}}" title="Proceed to request refund">View Reund Request</a>
                                            </td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            {{/if}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="modalAddUpdatePopUp" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-md">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                {{!--<button type="button" class="close" data-dismiss="modal">&times;</button>--}}
                <h4 class="modal-title">Please provide a reason why you want to suspend this user.</h4>
            </div>
            <div class="modal-body">
                <form name="frmAddEdit" id="frmAddEdit">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="txtDomainName" id="txtDomainName" value="" />
                    </div>

                    <div class="form-group text-center marg-top15">
                        <input type="hidden" name="hidActionType" id="hidActionType" value="" />
                        <input type="hidden" name="hidDomainId" id="hidDomainId" value="0" />
                        <button type="button" class="btn btn-md btn-primary" id="btnProcessDomainPopup">Update</button>
                        <button type="button" class="btn btn-md btn-primary" id="btnCloseDomainPopup">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/admin/refundrequestlist.js?v={{frontConstant.VERSION}}"></script>