<div id="wrapper">
    {{> helper/admin/adminsidebar}}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {{> helper/admin/adminheader}}
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Refund Request</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}refundrequestlist" >
                            Refund Request List
                        </a>
                    </li>
                    <li class="active">
                        <strong>Refund Request Detail</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <div class="wrapper wrapper-content">

            <div class="row">

                <div class="col-lg-12">

                    <div class="m-b-lg m-t-lg">
                        <div class="row">
                            <div class="col-sm-5 m-t-md">
                                <div class="profile-image">
                                    <img src="{{userProfileImage.finalProfileImageUrl}}" class="img-circle circle-border m-b-md" alt="profile">
                                </div>
                                <div class="profile-info">
                                    <h2 class="m-t-sm">{{objRefundRequest.userFullName}}</h2>
                                    <a class="btn btn-primary btn-sm" href="{{frontConstant.ACCESSURL}}users/userprofile/{{objRefundRequest.userSlug}}">View Full Profile</a>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="ibox-content">
                                    <div class="request-status">
                                        <h3>Refund Request Status</h3>
                                        <h2>
                                            {{#ifCond objRefundRequest.refundRequestStatus '==' '1'}}
                                            New Request
                                            {{/ifCond}}
                                            {{#ifCond objRefundRequest.refundRequestStatus '==' '2'}}
                                            Processing
                                            {{/ifCond}}
                                            {{#ifCond objRefundRequest.refundRequestStatus '==' '3'}}
                                            Closed - 
                                            {{#ifCond objRefundRequest.refundRequestFinalActionTaken '==' 'CANREF'}}
                                            Cancelled Request
                                            {{/ifCond}}
                                            {{#ifCond objRefundRequest.refundRequestFinalActionTaken '==' 'PARTIALREF'}}
                                            Partial Refund
                                            {{/ifCond}}
                                            {{#ifCond objRefundRequest.refundRequestFinalActionTaken '==' 'FULLREF'}}
                                            Full Refund
                                            {{/ifCond}}
                                            {{/ifCond}}
                                        </h2>

                                        {{#ifCond objRefundRequest.refundRequestStatus '!=' '3'}}
                                        <a class="btn btn-primary btn-sm" href="#process" data-toggle="modal">Process Refund</a>
                                        <a class="btn btn-primary btn-sm" href="#disapprove" data-toggle="modal">Disapprove Refund</a>
                                        {{/ifCond}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ibox">
                        <div class="ibox-content">
                            <h3>Meeting Details</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="refund-meeting gray-bg">
                                        <div class="withMeeting">
                                            <span>Meeting With</span>
                                            <div class="profile-image">
                                                <img src="{{mentorProfileImage.finalProfileImageUrl}}" class="img-circle circle-border" alt="profile">
                                            </div>
                                            <div class="profile-info">
                                                <h2 class="no-margins">{{objRefundRequest.mentorFullName}}</h2>
                                                <a class="btn btn-primary btn-sm m-t-sm" href="{{frontConstant.ACCESSURL}}mentorprofile/{{objRefundRequest.mentorSlug}}" target="_blank">View Full Profile</a>
                                                <span>Booked {{objRefundRequest.pastTimeMeetingBooked}}</span>
                                            </div>
                                        </div>
                                        <div class="withMeetingDetails">
                                            <p>
                                                <label>Meeting Type:</label>
                                                {{#ifCond objRefundRequest.meetingType '==' 'virtual'}}
                                                Virtual call for {{objRefundRequest.meetingDuration}} minutes<br />
                                                {{/ifCond}}
                                            </p>
                                            <p>
                                                <label>Meet Purpose:</label> {{objRefundRequest.meetingPurpose}}
                                            </p>
                                            <span>
                                                <label>Meeting Time</label>
                                            </span>
                                            <p>{{objRefundRequest.displayMeetingTime}}</p>
                                            <span>
                                                <label>Meeting Cost</label>
                                            </span>
                                            <p>$ {{objRefundRequest.totalPayAmountDisplay}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="refund-requested gray-bg">
                                        <h3 class="m-b-md">Requested on {{objRefundRequest.refundRequestedDateDisplay}}</h3>
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <label> Reason </label>
                                            </div>
                                            <div class="col-sm-10">
                                                <p>{{objRefundRequest.reason}}</p>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-sm-2">
                                                <label> Details </label>
                                            </div>
                                            <div class="col-sm-10">
                                                <p>{{objRefundRequest.reasonDescription}}</p>
                                            </div>
                                             <div class="clearfix"></div>
                                            <div class="col-sm-4">
                                                <label> Refund Request </label>
                                            </div>
                                            <div class="col-sm-8">
                                                <p>{{objRefundRequest.refundRequestUnqId}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ibox chat-box">
                        <div class="ibox-content">
                            <h3>Dispute Conversation</h3>
                            <div class="tabs-container">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="#tab-1" class="chatTabsDiv">
                                            <img class="img-circle" src="{{userProfileImage.finalProfileImageUrl}}" />
                                            <div class="details">
                                                <h3>{{objRefundRequest.userFullName}}</h3>
                                                <span>User</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#tab-2" class="chatTabsDiv">
                                            <img class="img-circle" src="{{mentorProfileImage.finalProfileImageUrl}}" />
                                            <div class="details">
                                                <h3>{{objRefundRequest.mentorFullName}}</h3>
                                                <span>Mentor</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab-1">
                                        <div class="panel-body">
                                            <div class="chats" id="divUserMessage">
                                                {{#if objAdminUserMessages}}
                                                {{#each objAdminUserMessages}}
                                                {{#ifCond messageFrom '==' 'A'}}
                                                <div class="right-chat">
                                                    {{/ifCond}}

                                                    {{#ifCond messageFrom '!=' 'A'}}
                                                    <div class="left-chat">
                                                        {{/ifCond}}

                                                        <p>{{{message}}}<span>{{displayDateTime}}</span></p>
                                                    </div>

                                                    {{/each}}
                                                    {{/if}}
                                                </div>
                                                <div class="chat-type">
                                                    <textarea placeholder="Write your message" style="width: 100%;height: 80px;" name="taAdminMessageToUser" id="taAdminMessageToUser"></textarea>
                                                    <button type="button" class="btn btn-primary btn-sm" id="btnSendMessageToUser">Send</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab-2">
                                            <div class="panel-body">
                                                <div class="chats" id="divMentorMessage">
                                                    {{#if objAdminMentorMessages}}
                                                    {{#each objAdminMentorMessages}}
                                                    {{#ifCond messageFrom '==' 'A'}}
                                                    <div class="right-chat">
                                                        {{/ifCond}}

                                                        {{#ifCond messageFrom '!=' 'A'}}
                                                        <div class="left-chat">
                                                            {{/ifCond}}

                                                            <p>{{{message}}}<span>{{displayDateTime}}</span></p>
                                                        </div>

                                                        {{/each}}
                                                        {{/if}}
                                                    </div>
                                                    <div class="chat-type">
                                                        <textarea placeholder="Write your message" style="width: 100%;height: 80px;" name="taAdminMessageToMentor" id="taAdminMessageToMentor" ></textarea>
                                                        <button type="button" class="btn btn-primary btn-sm" id="btnSendMessageToMentor">Send</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--End col-lg-12-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div id="process" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Process Refund</h4>
            </div>
            <div class="modal-body">
                <h5>Provide details for the refund now</h5>
                <form name="frmRefundRequest" id="frmRefundRequest">
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Refund Type</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="switch marg-bot15">
                                <div class="onoffswitch">
                                    <input type="checkbox" class="onoffswitch-checkbox" id="chkRefundType" name="chkRefundType">
                                    <label class="onoffswitch-label" for="chkRefundType">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-3">
                            <label>Amount</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <input type="number" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" name="txtAmountToRefund" id="txtAmountToRefund" class="form-control" />
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-3">
                            <label>Message</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <textarea class="form-control" style="width: 100%;height: 150px;" placeholder="More Details" name="taRefundMessage" id="taRefundMessage"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group text-center marg-top15">
                        <button type="submit" class="btn btn-md btn-primary">Process Refund</button>
                    </div>

                    <input type="hidden" name="refundRequestId" id="refundRequestId_ProcessRefund" value="{{objRefundRequest.refundRequestId}}" />
                    <input type="hidden" name="refundRequestUnqId" id="refundRequestUnqId_ProcessRefund" value="{{objRefundRequest.refundRequestUnqId}}" />
                    <input type="hidden" name="meetingDetailId" id="meetingDetailId_ProcessRefund" value="{{objRefundRequest.meetingDetailId}}" />
                    <input type="hidden" name="invitationId" id="invitationId_ProcessRefund" value="{{objRefundRequest.invitationId}}" />
                    <input type="hidden" name="meetingUserId" id="meetingUserId_ProcessRefund" value="{{objRefundRequest.meetingUserId}}" />
                    <input type="hidden" name="meetingMentorId" id="meetingMentorId_ProcessRefund" value="{{objRefundRequest.meetingMentorId}}" />
                    <input type="hidden" name="meetingCost" id="meetingCost_ProcessRefund" value="{{objRefundRequest.totalPayAmountDisplay}}" />
                    <input type="hidden" name="meetingDuration" id="meetingDuration_ProcessRefund" value="{{objRefundRequest.meetingDuration}}" />
                    <input type="hidden" name="meeting_url_key" id="meeting_url_key" value="{{objRefundRequest.meeting_url_key}}" />


                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div id="disapprove" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Decline Refund Request</h4>
            </div>
            <div class="modal-body">
                <h5>Message to User</h5>
                <form name="frmRefundRequestDecline" id="frmRefundRequestDecline" >
                    {{!--<div class="summernote">
                        <h3>Lorem Ipsum is simply</h3> dummy text of the printing and typesetting industry. <strong>Lorem Ipsum has been the industry's</strong> standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                        <br/>
                        <br/>
                        <ul>
                            <li>Remaining essentially unchanged</li>
                            <li>Make a type specimen book</li>
                            <li>Unknown printer</li>
                        </ul>
                    </div>--}}

                    <textarea name="taRefundDeclineRequest" id="taRefundDeclineRequest" class="ckeditor"></textarea>

                    <div class="form-group text-center marg-top15">
                        <button type="submit" class="btn btn-md btn-primary">Confirm Request Decline</button>
                    </div>

                    <input type="hidden" name="refundRequestId" id="refundRequestId_DeclineRefund" value="{{objRefundRequest.refundRequestId}}" />
                    <input type="hidden" name="refundRequestUnqId" id="refundRequestUnqId_DeclineRefund" value="{{objRefundRequest.refundRequestUnqId}}" />
                    <input type="hidden" name="meetingDetailId" id="meetingDetailId_DeclineRefund" value="{{objRefundRequest.meetingDetailId}}" />
                    <input type="hidden" name="invitationId" id="invitationId_DeclineRefund" value="{{objRefundRequest.invitationId}}" />
                    <input type="hidden" name="meetingUserId" id="meetingUserId_DeclineRefund" value="{{objRefundRequest.meetingUserId}}" />
                    <input type="hidden" name="meetingMentorId" id="meetingMentorId_DeclineRefund" value="{{objRefundRequest.meetingMentorId}}" />
                    <input type="hidden" name="meetingCost" id="meetingCost_DeclineRefund" value="{{objRefundRequest.totalPayAmountDisplay}}" />
                    <input type="hidden" name="meetingDuration" id="meetingDuration_DeclineRefund" value="{{objRefundRequest.meetingDuration}}" />
                    <input type="hidden" name="meeting_url_key" id="meeting_url_key" value="{{objRefundRequest.meeting_url_key}}" />
                </form>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="refundRequestId" id="refundRequestId" value="{{objRefundRequest.refundRequestId}}" />
<input type="hidden" name="refundRequestUnqId" id="refundRequestUnqId" value="{{objRefundRequest.refundRequestUnqId}}" />
<input type="hidden" name="meetingDetailId" id="meetingDetailId" value="{{objRefundRequest.meetingDetailId}}" />
<input type="hidden" name="invitationId" id="invitationId" value="{{objRefundRequest.invitationId}}" />
<input type="hidden" name="meetingUserId" id="meetingUserId" value="{{objRefundRequest.meetingUserId}}" />
<input type="hidden" name="meetingMentorId" id="meetingMentorId" value="{{objRefundRequest.meetingMentorId}}" />
<input type="hidden" name="totalPayAmountDisplay" id="totalPayAmountDisplay" value="{{objRefundRequest.totalPayAmountDisplay}}" />
<input type="hidden" name="meetingDuration" id="meetingDuration" value="{{objRefundRequest.meetingDuration}}" />
<input type="text" name="adminRefundMessageMasterId" id="adminRefundMessageMasterId" value="{{objAdminMessageRefundRequestInfo.adminRefundMessageMasterId}}" />
<input type="text" name="adminTimeZone" id="adminTimeZone" value="{{objAdminSession.adminTimeZoneLabel}}" />
<input type="hidden" name="meeting_url_key" id="meeting_url_key" value="{{objRefundRequest.meeting_url_key}}" />


<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/ckeditor/ckeditor.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/moment.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/moment-timezone-with-data.min.js?v={{frontConstant.VERSION}}"></script>

<script src="{{frontConstant.ACCESSURL}}js/webjs/admin/refundrequestdetail.js?v={{frontConstant.VERSION}}"></script>