<style>
    #repotTable tbody td:last-child {
        float:right;
    }
</style>
<div id="wrapper">
    {{> helper/admin/adminsidebar}}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {{> helper/admin/adminheader}}
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Financial Transactions Reports</h2>
                <ol class="breadcrumb">
                    <li class="active">
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}siteusers">Home</a>
                    </li>
                    <li>
                        <a href="javascript:;">Financial Transactions Reports</a>
                    </li>
                </ol>
            </div>          
        </div>

        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">               
                    <div class="ibox float-e-margins user-manage">
                        <div class="ibox-title">
                            <h5></h5>
                        </div>
                        <div class="ibox-content marg-bot15">
                            <div class="row m-b-xl">
                                <div class="col-sm-4">
                                    <!--<input type="text" class="form-control" name="datefilter" value="" />-->
                                    <label>Filter by Date Range</label>
                                    <div id="reportrange" class="" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                        <span></span> <b class="caret"></b>
                                    </div>
                                    <input type="hidden" id="filterSD" name="filterSD" />
                                    <input type="hidden" id="filterED" name="filterED" />
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Filter by Transaction of</label>
                                        <select class="form-control block" id="user_type" style="width: 100%;">
                                            <option value="0">ALL</option>
                                            <option value="mentor">Mentors</option>
                                            <option value="user">Users</option>
                                            <option value="admin">Admin</option>
                                        </select>
                                    </div>
                                </div>
                                <!--<div class="col-sm-7">
                                    <div class="form-group">
                                        <label>Filter by User or Mentor Name</label>
                                        <input type="text" class="form-control" placeholder="Name" />
                                    </div>
                                </div>-->                               
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Filter by Transaction Type</label>
                                        <select id="transTypefilter" class="form-control block" style="width: 100%;">
                                            <option value="0">ALL</option>
                                            <option value="credited">Credit</option>
                                            <option value="debited">Debit</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button id="filterBtn" class="btn btn-primary btn-xs">Go</button>
                                </div>                                
                            </div>
                            <div class="table-responsive">
                                <!--<h3 class="m-b-md">Total Number of Transactions :</h3>-->
                                <table class="table table-striped table-bordered table-hover" id="repotTable" >
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Transaction ID</th>                                            
                                            <th>User</th>                                            
                                            <th>Transaction Details</th>
                                            <th>Meeting ID</th>
                                            <th>Transaction Type</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                                                        
                                    </tbody>
                                    <tfoot>                                        
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{frontConstant.ACCESSURL}}js/daterangepicker.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/moment.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/admin/reports.js?v={{frontConstant.VERSION}}"></script>