<div id="wrapper">
    {{> helper/admin/adminsidebar}}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {{> helper/admin/adminheader}}
        </div>
        
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>User Management</h2>
                <ol class="breadcrumb">
                    <li class="active">
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}siteusers">Home</a>
                    </li>
                    <li class="active">
                        <strong>Advisor Details</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        
        <div class="wrapper wrapper-content">

            <div class="ibox float-e-margins user-manage">
                {{!--<div class="ibox-title">
                    <h5>Users Management</h5>
                </div>--}}
                <div class="ibox-content marg-bot15">
                    <div class="row">
                        <form name="frmFilterSiteUser" id="frmFilterSiteUser" >
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>User Type</label>
                                    <select class="form-control" name="filterUserType" id="filterUserType">
                                        <option value="">All</option>
                                        <option value="M">Mentors</option>
                                        <option value="U">Users</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3 col-sm-offset-6 text-right">
                                <div class="form-group">
                                    <label>User Status</label>
                                    <select class="form-control" name="filterUserStatus" id="filterUserStatus">
                                        <option value="">All</option>
                                        <option value="A">Active</option>
                                        <option value="S">Suspended</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="userMentorTable">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>User Type</th>
                                    <th>Email Address</th>
                                    <th>Phone Number</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{frontConstant.ACCESSURL}}js/webjs/admin/siteuserlisting.js?v={{frontConstant.VERSION}}"></script>