<div id="wrapper">
    {{> helper/admin/adminsidebar}}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {{> helper/admin/adminheader}}
        </div>
        
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>States</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}siteusers">Home</a>
                    </li>
                    <li class="active">
                        <strong>States</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins user-manage">
                {{!--<div class="ibox-title">
                    <h5>Users Management</h5>
                </div>--}}
                <div class="ibox-content marg-bot15">

                    {{> helper/ajaxnotification_helper}}

                    <div class="listingTopBtns">                        
                        <a href="javaScript:;" title="Add States" class="btn btn-md btn-primary" id="btnAddCountry">Add</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="tblStates">
                            <thead>
                                <tr>
                                    <th>Name</th>                                   
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<input type="hidden" name="countryId" id="countryId" value="{{countryId}}" />


<!-- Modal -->
<div id="modalStateAddEditPopup" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                {{!--<button type="button" class="close" data-dismiss="modal">&times;</button>--}}
                <h4 class="modal-title">State</h4>
            </div>
            <div class="modal-body">
                <form name="frmStateAddEdit" id="frmStateAddEdit">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="txtStateName" id="txtStateName" value="" />
                    </div>                  
                    <div class="form-group">
                        <label>Country</label>
                        <select class="form-control" name="lstCountry" id="lstCountry">
                            <option value="">--Select Country--</option>
                            {{#if objCountryList}}
                                {{#each objCountryList}}
                                <option value="{{countryId}}"
                                    {{#ifCond ../countryId '==' countryId}}
                                     selected = "selected"
                                    {{/ifCond}}
                                        >{{countryName}}</option>
                                {{/each}}
                            {{/if}}
                        </select>
                    </div>                   
                    <div class="form-group text-center marg-top15">
                        <input type="hidden" name="hidActionType" id="hidActionType" value="" />
                        <input type="hidden" name="hidStateId" id="hidStateId" value="0" />
                        <button type="button" class="btn btn-md btn-primary" id="btnProcessStatePopup">Update</button>
                        <button type="button" class="btn btn-md btn-primary" id="btnCloseStatePopup">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/admin/states.js?v={{frontConstant.VERSION}}"></script>