<div id="wrapper">
    {{> helper/admin/adminsidebar}}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {{> helper/admin/adminheader}}
        </div>
        
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Sub - Industries ({{objSelectedIndustryInfo.industryName}})</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}siteusers">Home</a>
                    </li>
                    <li>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}industries">Industries</a>
                    </li>
                    <li class="active">
                        <strong>Sub - Industries</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins user-manage">
                {{!--<div class="ibox-title">
                    <h5>Users Management</h5>
                </div>--}}
                <div class="ibox-content marg-bot15">

                    {{> helper/ajaxnotification_helper}}

                    <div class="listingTopBtns">
                        <a href="javaScript:;" title="Add Industry" class="btn btn-md btn-primary" id="btnAddSubIndustries">Add</a>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}industries" title="Back to industries" class="btn btn-md btn-primary" id="btnBack">Back</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="tblSubIndustry">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Keywords</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            {{#if objSubIndustriesList}}
                                <tbody>
                                {{#each objSubIndustriesList}}
                                    <tr>
                                        <td>
                                            {{subIndustryName}}
                                        </td>
                                        <td>
                                            {{subIndustryDescription}}
                                        </td>
                                        <td>
                                            {{!--{{subIndustryKeyWork}}--}}
                                            <a href="{{../frontConstant.ACCESSURL_ADMIN}}subindustrieskeywords/{{industryId}}/{{subIndustryId}}" class="" title="Go To Keywords">
                                                <label class="label listingBtn label-primary">Go To Keywords</label>
                                            </a>
                                        </td>
                                        <td>
                                            {{#ifCond status '==' '1'}}
                                                <a href="javaScript:;" class="btnToInactive" data-industryId="{{industryId}}" data-subIndustryId="{{subIndustryId}}" title="Click to inactivate">
                                                    <label class="label listingBtn label-primary">Active</label>
                                                </a>
                                            {{/ifCond}}
                                            {{#ifCond status '==' '0'}}
                                                <a href="javaScript:;" class="btnToactive" data-industryId="{{industryId}}" data-subIndustryId="{{subIndustryId}}" title="Click to activate">
                                                    <label class="label listingBtn label-warning">In-Active</label>
                                                </a>
                                            {{/ifCond}}
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-md btn-primary btnEditSubIndustry" data-subIndustryId="{{subIndustryId}}">Edit</button>&nbsp;&nbsp;
                                            <button type="button" class="btn btn-md btn-primary btnDeleteSubIndustry" data-subIndustryId="{{subIndustryId}}">Delete</button>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            {{/if}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="modalSubIndustryAddEditPopUp" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-md">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                {{!--<button type="button" class="close" data-dismiss="modal">&times;</button>--}}
                <h4 class="modal-title">Please provide a reason why you want to suspend this user.</h4>
            </div>
            <div class="modal-body">
                <form name="frmSubIndustryAddEdit" id="frmSubIndustryAddEdit">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="txtIndustrynName" id="txtIndustrynName" value="" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="taDescription" id="taDescription" style="height: 150px;"></textarea>
                    </div>
                    {{!--<div class="form-group">
                        <label>Keywords</label>
                        <textarea class="form-control" name="taKeywords" id="taKeywords" style="height: 150px;"></textarea>
                    </div>--}}

                    <div class="form-group text-center marg-top15">
                        <input type="hidden" name="hidActionType" id="hidActionType" value="" />
                        <input type="hidden" name="hidSubIndustryId" id="hidSubIndustryId" value="0" />
                        <input type="hidden" name="hidIndustryId" id="hidIndustryId" value="{{industryId}}" />
                        <button type="button" class="btn btn-md btn-primary" id="btnProcessSubIndustryPopup">Update</button>
                        <button type="button" class="btn btn-md btn-primary" id="btnCloseSubIndustryPopup">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/admin/subindustry.js?v={{frontConstant.VERSION}}"></script>