<link href="{{frontConstant.ACCESSURL}}admin/css/plugins/bootstrap-markdown/bootstrap-markdown.min.css?v={{frontConstant.VERSION}}" rel="stylesheet">

<div id="wrapper">
    {{> helper/admin/adminsidebar}}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {{> helper/admin/adminheader}}
        </div>
        
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>System Settings</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}dashboard">Dashboard</a>
                    </li>
                    <li class="active">
                        <strong>System Settings</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <div class="wrapper wrapper-content">

            <div class="ibox float-e-margins user-manage">
                {{!--<div class="ibox-title">
                    <h5>Users Management</h5>
                </div>--}}
                <div class="ibox-content marg-bot15">

                    {{> helper/ajaxnotification_helper}}

                    <div class="listingTopBtns">
                        <a href="javaScript:;" title="Add Industry" class="btn btn-md btn-primary" id="btnAddRegion">Add</a>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}privacypolicy" title="Privacy Policy" class="btn btn-md btn-primary" id="btnPrivacyPolicy">Cancellation Policy</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="tblSystemSetting">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Value</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            {{#if objSystemSettingList}}
                                <tbody>
                                {{#each objSystemSettingList}}
                                    <tr>
                                        <td>
                                            {{code}}
                                        </td>
                                        <td>
                                            {{settingValue}}
                                        </td>
                                        <td>
                                            {{description}}
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-md btn-primary btnEditSystemVariable" data-systemSettingVariableId="{{systemSettingVariableId}}">Edit</button>&nbsp;&nbsp;
                                            <button type="button" class="btn btn-md btn-primary btnDeleteSystemVariable" data-systemSettingVariableId="{{systemSettingVariableId}}">Delete</button>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            {{/if}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="modalAddUpdatePopUp" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-md">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                {{!--<button type="button" class="close" data-dismiss="modal">&times;</button>--}}
                <h4 class="modal-title">Please provide a reason why you want to suspend this user.</h4>
            </div>
            <div class="modal-body">
                <form name="frmAddEdit" id="frmAddEdit">
                    <div class="form-group">
                        <label>Code</label>
                        <input type="text" class="form-control" name="txtCode" id="txtCode" value="" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="taDescription" id="taDescription" class="form-control" style="height: 75px;"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Value Type</label>
                        <select name="lstValueType" id="lstValueType" class="form-control">
                            <option value="" selected="selected" >--Select Value Type--</option>
                            <option value="1">Integer</option>
                            <option value="2">Decimal</option>
                            <option value="3">Character</option>
                            <option value="4">Text</option>
                            <option value="5">Editor</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Value</label>
                        <div class="valueTypeElements hidden" data-ValueType="1">
                            <input type="text" name="txtIntValue" id="txtIntValue" value="" class="form-control" placeholder="Integer Value"/>
                        </div>
                        <div class="valueTypeElements hidden" data-ValueType="2">
                            <input type="text" name="txtFloatValue" id="txtFloatValue" value="" class="form-control" placeholder="Decimal Value"/>
                        </div>
                        <div class="valueTypeElements hidden" data-ValueType="3">
                            <input type="text" name="txtCharValue" id="txtCharValue" maxlength="1" value="" class="form-control" placeholder="Character Value"/>
                        </div>
                        <div class="valueTypeElements hidden" data-ValueType="4">
                            <input type="text" name="txtTextValue" id="txtTextValue" value="" class="form-control" placeholder="Text Value"/>
                        </div>
                        <div class="valueTypeElements hidden" data-ValueType="5">
                            <textarea name="taEditorValue" id="taEditorValue" data-provide="markdown" class="form-control summernote"></textarea>
                        </div>
                    </div>

                    <div class="form-group text-center marg-top15">
                        <input type="hidden" name="hidActionType" id="hidActionType" value="" />
                        <input type="hidden" name="hidSystemSettingVariableId" id="hidSystemSettingVariableId" value="0" />
                        <button type="button" class="btn btn-md btn-primary" id="btnProcessSystemSettingPopup">Update</button>
                        <button type="button" class="btn btn-md btn-primary" id="btnCloseSystemVariablePopup">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<!-- Bootstrap markdown -->
<script src="{{frontConstant.ACCESSURL}}admin/js/plugins/bootstrap-markdown/bootstrap-markdown.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}admin/js/plugins/bootstrap-markdown/markdown.js?v={{frontConstant.VERSION}}"></script>

<script src="{{frontConstant.ACCESSURL}}js/webjs/admin/systemsettings.js?v={{frontConstant.VERSION}}"></script>