<div id="wrapper">
    {{> helper/admin/adminsidebar}}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {{> helper/admin/adminheader}}
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>User Details</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}dashboard">Home</a>
                    </li>
                    <li>
                        <a href="{{frontConstant.ACCESSURL_ADMIN}}siteusers">User Management</a>
                    </li>
                    <li class="active">
                        <strong>User Detail</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <div class="wrapper wrapper-content">

            {{> helper/ajaxnotification_helper}}


            <div class="row">

                <div class="col-lg-12">

                    <div class="m-b-lg m-t-lg">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="profile-image">
                                    <img src="{{arrMentorData.userData.fullProfileImageURL}}" class="img-circle circle-border m-b-md" alt="profile">
                                </div>
                                <div class="profile-info">
                                    <h2 class="no-margins">
                                        {{arrMentorData.userData.firstName}} {{arrMentorData.userData.lastName}}
                                    </h2>
                                    <h4>{{arrMentorData.mentor_details.profession}}</h4>
                                    <h4>{{arrMentorData.mentor_details.job_description}},{{arrMentorData.mentor_details.company_name}}</h4>
                                    <small class="marg-right10">{{arrMentorData.mentor_details.mentorMail}}</small>
                                    <small>{{arrMentorData.userData.phoneCountry}} {{arrMentorData.userData.phoneNumber}}</small>
                                    <br>
                                    <small class="marg-right10">{{arrMentorData.userData.city_name}}, {{arrMentorData.userData.countryName}}</small>
                                    <small><i class="marg-right5 fa fa-calendar"></i>{{arrMentorData.userData.DOB}}</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="ibox-content">
                                    <div class="access">
                                        <h3>Manage Access</h3>
                                        <span>User Suspended</span>                                        
                                        {{#ifCond arrMentorData.userData.status '==' '3'}}
                                        <input type="checkbox" class="js-switch_3" id="chkUserSuspend" data-toggle="modal" data-target="#suspend" checked />
                                        {{/ifCond}}
                                        {{#ifCond arrMentorData.userData.status '!=' '3'}}
                                        <input type="checkbox" class="js-switch_3" id="chkUserSuspend" data-toggle="modal" data-target="#suspend" />
                                        {{/ifCond}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>About {{arrMentorData.userData.firstName}} {{arrMentorData.userData.lastName}}</h5>
                        </div>
                        <div class="ibox-content">
                            <p>{{{arrMentorData.userData.userBreif}}}</p>
                        </div>
                    </div>

                    <div class="ibox">
                        <div class="ibox-content">
                            <h3>User Spending</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="earn gray-bg">
                                        <big><strong>{{arrCurrentEarning.year}}</strong></big>
                                        <p class="money-earn">{{arrCurrentEarning.total_earning}} USD</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="earn gray-bg">
                                        <big><strong>Total Spending</strong></big>
                                        <p class="money-earn">{{arrMentorEarning.total_earning}} USD</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ibox">
                        <div class="ibox-content">
                            <h3>Recent Transactions</h3>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables" id="tblUserTransaction">
                                    <thead>
                                        <tr>
                                            <th>Amount</th>
                                            <th>Details</th>
                                            <th>Type</th>
                                            <th>Date - Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#if arrMentorTrans}}
                                        {{#each arrMentorTrans}}
<!--                                        <tr>
                                            <td>{{total_payable_amount}} USD</td>
                                            <td>{{meeting_purpose}}</td>
                                            <td>Debited</td>
                                            <td>{{created_date}}</td>
                                        </tr>      -->
                                        <tr>
                                            <td>{{this.amount}} USD</td>
                                            <td>{{this.reasonDisplay}}</td>
                                            <td>{{this.payment_type}}</td>
                                            <td>{{this.dateDisplay}}</td>
                                        </tr>        
                                        {{/each}}
                                        {{/if}}
                                    </tbody>                                      
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End col-lg-12-->
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div id="suspend" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please provide a reason why you want to suspend this user.</h4>
            </div>
            <div class="modal-body">
                <form method="POST" id="suspendFrm" name="suspendFrm">
                    <input type="hidden" name="suspendUser" id="suspendUser" value="{{arrMentorData.userData.user_id}}">
                    <div class="form-group">
                        <select class="form-control" id="suspendReason" name="suspendReason">
                            <option value="">Select Reason</option>
                            <option value="user authenticity of credentials need re-verification">User authenticity of credentials need re-verification</option>
                            <option value="Possible SourceAdvisor compliance framework violation">Possible SourceAdvisor compliance framework violation</option>
                            <option value="Complaint from another user">Complaint from another user</option>
                            <option value="Any other reason">Any other reason</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="suspendReasonDesc" name="suspendReasonDesc" style="width: 100%;height: 150px;" placeholder="More Details"></textarea>
                    </div>
                    <div class="form-group text-center marg-top15">
                        <input type="submit" class="btn btn-md btn-primary" name="Save" value="Save" style="margin-top: 10px;">
                        <a href="#" class="btn btn-md btn-primary" data-dismiss="modal">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="modalAddUpdatePopUp" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
{{!--<button type="button" class="close" data-dismiss="modal">&times;</button>--}}
                <h4 class="modal-title">Please provide a reason why you want to suspend this user.</h4>
            </div>
            <div class="modal-body">
                <form name="frmAddEdit" id="frmAddEdit">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="txtDomainName" id="txtDomainName" value="" />
                    </div>

               <div class="form-group text-center marg-top15">
                        <input type="hidden" name="hidActionType" id="hidActionType" value="" />
                        <input type="hidden" name="hidDomainId" id="hidDomainId" value="0" />
                        <button type="button" class="btn btn-md btn-primary" id="btnProcessDomainPopup">Update</button>
                        <button type="button" class="btn btn-md btn-primary" id="btnCloseDomainPopup">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/admin/userdetails.js?v={{frontConstant.VERSION}}"></script>