<!--<div class="col-sm-4 sc_team_item high-profile-mentors">
    <div class="sc_team_item_avatar column-2_5">
        <img alt="player-5.jpg" src="{{this.finalProfileImageUrl}}">
        <ul class="QuickLinks">
            <li
                {{#ifCond flagMentorBookmarked '==' '1'}}
                class="activebanner"
                {{/ifCond}}
                >
                <a href="javascript:;" data-id="{{mentorId}}" 

               {{#if loggedInUserId}}
               class="bookMarkThisMentor"
               {{else}}
               class="openLoginPopUp" data-doAction="bookMarkThisMentor"
               {{/if}}

               ><i class="fa fa-bookmark"></i></a>
            </li>
            <li
                {{#ifCond flagMentorLiked '==' '1'}}
                class="activebanner"
                {{/ifCond}}
                >
                <a href="javascript:;" data-id="{{mentorId}}" 

               {{#if loggedInUserId}}
               class="likeThisMentor"
               {{else}}
               class="openLoginPopUp" data-doAction="likeThisMentor"
               {{/if}}

               ><i class="fa fa-thumbs-up"></i></a>
            </li>
            <li>
                <a href="javascript:;" data-id="{{mentorId}}" 
                   {{#if loggedInUserId}}
                   class="sendMessageToThisMentor"
                   {{else}}
                   class="openLoginPopUp" data-doAction="sendMessageToThisMentor"
                   {{/if}}
                   ><i class="fa fa-envelope"></i></a>
            </li>                                                        
        </ul>
    </div>
    <div class="sc_team_item_info column-3_5">
        <h5 class="sc_team_item_title">
            <a href="{{../frontConstant.ACCESSURL}}mentorprofile/{{this.slug}}">{{this.name}}</a>
        </h5>
        <div class="profileemphistory">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
            {{#if profession}}
            <a href="javaScript:;" title="{{profession}}" class="js-tagProfessionSearchDirect js-trimData" data-trim-length="18" data-id="{{profession}}" data-facevalue="{{profession}}" data-typex="MENTORPROFILEPROFESSION">{{profession}}</a>,
            {{/if}}

            {{#if job_description}}
            <a href="javaScript:;" title="{{job_description}}" class="jobdescription js-tagJobDescriptionDirect js-trimData" data-trim-length="18" data-id="{{job_description}}" data-facevalue="{{job_description}}" data-typex="MENTORPROFILEJOBDESCRIPTION">{{job_description}}</a><br>
            {{/if}}
            <a href="javaScript:;" title="{{company_name}}" class="company js-tagCompanySearchDirect js-trimData" data-trim-length="18" data-id="{{company_name}}" data-facevalue="{{company_name}}" data-typex="MENTORPROFILECOMPANY">{{company_name}}</a>
            {{#if linkedInLink}}
            <div class="fa-linkedin-highprofile-mentor">
                <a href="{{linkedInLink}}" title="Linked Link" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
            {{/if}}
        </div>
    </div>
</div>-->



<div class="col-sm-4 high-profile-mentors text-center">
    <div class="metors-pic">


        <img alt="" src="{{this.finalProfileImageUrl}}">
        <div class="high-profile-mentorsImgDiv" style="display: none;"></div>
    </div>
    <div class="metors-details">
        <h4 style="display: inline-block;position: relative;">
            <a>John Doe</a>
            {{!-- <a href="{{../frontConstant.ACCESSURL}}mentorprofile/{{this.slug}}">{{this.name}}</a> --}}
            {{#if linkedInLink}}
            <div class="fa-linkedin-highprofile-mentor" style="position: absolute;right: -30px;top: -3px;">
                <a href="{{linkedInLink}}" title="Linked Link" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
            {{/if}}
        </h4>
        <p class="designation">
            Designation
            {{!-- {{#if profession}}
            <a href="javaScript:;" title="{{profession}}" class="js-tagProfessionSearchDirect js-trimData" data-trim-length="100" data-id="{{profession}}" data-facevalue="{{profession}}" data-typex="MENTORPROFILEPROFESSION">{{profession}}</a>,
            {{/if}}
            
            {{#if job_description}}
            <a href="javaScript:;" title="{{job_description}}" class="jobdescription js-tagJobDescriptionDirect js-trimData" data-trim-length="100" data-id="{{job_description}}" data-facevalue="{{job_description}}" data-typex="MENTORPROFILEJOBDESCRIPTION">{{job_description}}</a><br>
            {{/if}}             --}}
        </p>

        <p class="country">
            Company Name
            {{!-- <a href="javaScript:;" title="{{company_name}}" class="company js-tagCompanySearchDirect js-trimData" data-trim-length="100" data-id="{{company_name}}" data-facevalue="{{company_name}}" data-typex="MENTORPROFILECOMPANY">{{company_name}}</a> --}}
        </p>
        <p class="country">
            {{#if country_name}} <i class="fa fa-map-marker"></i>   {{/if}}
            Location
            {{!-- <span title="{{country_name}}" class="company js-tagCompanySearchDirect js-trimData" data-trim-length="100" data-id="{{country_name}}" data-facevalue="{{country_name}}" data-typex="MENTORPROFILECOMPANY">{{#if city_name}}{{city_name}},{{/if}}{{country_name}}</span> --}}
        </p>
    </div>
    <div class="metors-quickLinks">
        <!--        <a href="#" class="outer-border active"><i class="fa fa-bookmark-o"></i></a>-->
        <div class="actionButtonWrappers {{#ifCond flagMentorBookmarked '==' '1'}}activebanner{{/ifCond}}">
            <a href="javascript:;" data-id="{{mentorId}}" class="outer-border"

               {{!-- {{#if loggedInUserId}}           
               class="bookMarkThisMentor outer-border"
               {{else}}
               class="openLoginPopUp outer-border" data-doAction="bookMarkThisMentor"
               {{/if}} --}}
               ><i class="fa fa-bookmark-o"></i></a>
        </div>

        <div class="actionButtonWrappers {{#ifCond flagMentorLiked '==' '1'}}activebanner{{/ifCond}}">
            <a href="javascript:;" data-id="{{mentorId}}" class="outer-border"
               {{!-- {{#if loggedInUserId}}
               class="likeThisMentor outer-border"
               {{else}}
               class="openLoginPopUp outer-border" data-doAction="likeThisMentor"
               {{/if}} --}}
               ><i class="fa fa-thumbs-o-up"></i></a>
        </div>

        <div class="actionButtonWrappers">
            <a href="javascript:;" data-id="{{mentorId}}" class="outer-border"
               {{!-- {{#if loggedInUserId}}
               class="sendMessageToThisMentor outer-border"
               {{else}}
               class="openLoginPopUp outer-border" data-doAction="sendMessageToThisMentor"
               {{/if}} --}}
               ><i class="fa fa-envelope-o"></i></a>
        </div>
    </div>
</div>

{{#ifCond nextRow '==' '1'}}
<div class="clearfix"></div>
{{/ifCond}}