<div id="loginPopUp" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sign In</h4>
            </div>            
            <div class="modal-body formPopup clearfix">
                <div class="col-sm-8 col-sm-offset-2">

                    {{> helper/ajaxnotification_helper_popup}}

                    <form name="frmPopUpLogin" id="frmPopUpLogin" class="form-signin" method="post" action="">
                        <div class="form-group">
                            <input type="text" name="txtEmailPopUp" id="txtEmailPopUp" class="form-control" placeholder="Email Address" autofocus value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="txtPasswordPopUp" id="txtPasswordPopUp" class="form-control" placeholder="Password" value=""/>
                        </div>                    
                        <button class="btn btn-lg btn-block red-bg" type="submit">Login</button>
                    </form>

                    <div class="or-box">
                        <span class="or">OR</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 row-block">
                            <a href="javaScript:;" class="btn btn-linkedinPopUp btn-block">
                                <i class="fa fa-linkedin-square"></i>&nbsp;&nbsp;&nbsp;Login with LinkedIn<script type="in/Login"></script>
                            </a>
                        </div>
                    </div>                                                
                </div>                          
            </div>
            
            <input type="hidden" name="userIPAdd" id="userIPAdd" value="{{arrSessionData.userIpAddress}}" />

            <input type="hidden" name="hidTimeZoneLabel" id="hidTimeZoneLabel" value="" />
            <input type="hidden" name="hidTimeZoneOffset" id="hidTimeZoneOffset" value="" />

            <input type="hidden" name="hibDoActionAfterLogin" id="hibDoActionAfterLogin" value="" />
            <input type="hidden" name="hibDoActionAfterLoginForMentor" id="hibDoActionAfterLoginForMentor" value="" />
            <div class="modal-footer">
            </div> 
        </div>
    </div>
</div>


<div id="sendMessageToMentorPopUp" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="frmLoginSendMessagePopUp" id="frmLoginSendMessagePopUp" method="POST">
                <div class="modal-header red">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Send Message</h4>
                </div>
                <div class="modal-body" >
                    <textarea name="taMessageToMentorPopUp" id="taMessageToMentorPopUp" class="form-control" rows="6"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-lg red-bg" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>