<script id="mentorFavouriteBoxes" type="text/x-handlebars-template">
    \{{#if arrMentorData.arrMentorListingData}}
        \{{#each arrMentorData.arrMentorListingData}}
            <div class="recom-item border" data-mentorListingBox="\{{user_id}}">
              <div class="recom-item-inner">
                <div class="recom-media">
                    <div class="pic qlbookmark">
                        <img src="\{{finalProfileImageUrl}}" alt="">
                        <ul class="QuickLinks">
                            <li
                                \{{#ifCond flagMentorBookmarked '==' '1'}}
                                    class="activebanner"
                                \{{/ifCond}}

                                ><a href="javascript:;" data-id="\{{user_id}}" 
                                    
                                    \{{#if ../arrMentorData.inBookmarkMentor}}
                                        class="js-removeThisBookmarkMentor"
                                    \{{else}}
                                        \{{#if ../../arrMentorData.loggedInUserId}}
                                            class="bookMarkThisMentor"
                                        \{{else}}
                                            class="openLoginPopUp" data-doAction="bookMarkThisMentor"
                                        \{{/if}}
                                    \{{/if}}
                                ><i class="fa fa-bookmark"></i></a>
                            </li>
                            
                            <li
                                \{{#ifCond flagMentorLiked '==' '1'}}
                                    class="activebanner"
                                \{{/ifCond}}
                                ><a href="javascript:;" data-id="\{{user_id}}" 
                                    \{{#if ../arrMentorData.loggedInUserId}}
                                        class="likeThisMentor"
                                    \{{else}}
                                        class="openLoginPopUp" data-doAction="likeThisMentor"
                                    \{{/if}}
                                ><i class="fa fa-thumbs-up"></i></a>
                            </li>
                            
                            <li><a href="javascript:;" data-val="" data-id="\{{user_id}}" 
                                \{{#if ../arrMentorData.loggedInUserId}}
                                    class="sendMessageToThisMentor"
                                \{{else}}
                                    class="openLoginPopUp" data-doAction="sendMessageToThisMentor"
                                \{{/if}}
                            ><i class="fa fa-envelope"></i></a></li>                            
                            <!--<li><a href="#"><i class="fa fa-share-alt"></i></a></li>-->                            
                        </ul>
                    </div>
                    <div class="location">
                        <i class="fa fa-map-marker"></i>
                        \{{#if cityName}}
                            <a href="javaScript:;" class="js-tagCitySearch" data-id="\{{cityId}}" data-faceValue="\{{cityName}}" data-typeX="MENTORPROFILECITY">\{{cityName}},</a>
                        \{{/if}}
                        \{{#if countryName}}
                            <a style="text-transform: capitalize" href="javaScript:;" class="js-tagCountrySearch" data-id="\{{countryId}}" data-faceValue="\{{countryName}}" data-typeX="MENTORPROFILECOUNTRY">\{{countryName}}</a>
                        \{{/if}}
                    </div>
                </div>
                <div class="recom-item-body">
                    <div class="js-listingBox">
                        <div class="recom-price">
                            <span class="font-4">$\{{hourly_rate}}</span> per hour<br />
                            <div class="customTooltipLink">
                                <label>Cancellation Policy: \{{policyLabel}}</label>
                                <div class="customTooltip">
                                    <span class="customToolTipListing">\{{policyDescription}}</span>
                                </div>
                            </div>
                        </div>
                        <a href="{{frontConstant.ACCESSURL}}mentorprofile/\{{slug}}"><h6 class="blog-title">\{{name}}</h6></a>
                    </div>
                    <div class="clearfix"></div>                    
                    <div class="role">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        <a href="javaScript:;" class="js-tagProfessionSearch" data-id="\{{profession}}" data-faceValue="\{{profession}}"  title="\{{profession}}"  data-typeX="MENTORPROFILEPROFESSION">\{{professionDisplay}}</a>, 
                        <a href="javaScript:;" class="jobdescription js-tagJobDescription" data-id="\{{jobDescription}}" data-faceValue="\{{jobDescription}}" title="\{{jobDescription}}" data-typeX="MENTORPROFILEJOBDESCRIPTION">\{{jobDescriptionDisplay}}</a><br />
                        <a href="javaScript:;" class="company js-tagCompanySearch" data-id="\{{company_name}}" data-faceValue="\{{company_name}}" title="\{{company_name}}" data-typeX="MENTORPROFILECOMPANY">\{{company_nameDisplay}}</a>
                                                
                    </div>
                    <div>
                        <div class="stars stars-\{{rating}}"></div>
                        <span class=""><i class="fa fa-thumbs-up"></i> : \{{like_count}}</span>
                    </div>
                    <p class="info"><b>\{{{punchLineListingDisplay}}}</b></p>
                    <div class="info">\{{overViewListingDisplay}}</div>                    
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <!--<div class="col-md-1">
                        Expert on:         
                    </div>-->

                    \{{#if ../arrMentorData.inListing}}
                        <div class="col-md-11">
                    \{{else}}
                        <div class="col-md-8">
                    \{{/if}}
                        <div class="skills listing">
                            \{{#if arrMentorTags}}
                                \{{#arrMentorTags}}
                                    <a href="javaScript:;" class="js-tagProfileSearch" data-id="\{{tagName}}": data-faceValue="\{{tagName}}" data-typeX="MENTOREXPERTISE">\{{tagName}}</a>
                                \{{/arrMentorTags}}
                            \{{/if}}
                        </div>
                    </div>

                    \{{#if ../arrMentorData.inListing}}
                    \{{else}}
                        <div class="col-md-3">
                            <a class="btn-2 red" href="users/slot_booking/\{{slug}}" data-slug="" data-val="" id="book_now" style="float: right;margin: -5px 10px 10px 0;">Book Now</a>
                        </div>
                    \{{/if}}
                </div>
            </div>


           </div>
        \{{/each}}
    \{{/if}}
</script>




<script id="bookmarkMentorListingNoResult" type="text/x-handlebars-template">
    <div class="well clearfix">
        <div class="row">
            <div class="col-sm-12">
                <label class="mentorlisting-noresult">
                    Seems like you haven't bookmarked any mentors.
                </label>
            </div>
        </div>
    </div>
</script>


<script id="mentorListingNoResult" type="text/x-handlebars-template">
    <div class="well clearfix">
        <div class="row">
            <div class="col-sm-12">
                <label class="mentorlisting-noresult">
                    Sorry, no results were found.
                </label>
            </div>
        </div>

        <div class="row mentorlisting-searchsuggestion">
            <div class="col-sm-12">
                <label class="mentorlisting-noresultheader2">
                    Search Suggestions
                </label>
            </div>
            
            <div class="col-sm-12">
                <ul class="mentorlist-searchsuggestionlist">
                    <li class="mentorlist-searchsuggestionsinlist">Check your spelling</li>
                    <li class="mentorlist-searchsuggestionsinlist">Try more general words</li>
                    <li class="mentorlist-searchsuggestionsinlist">Try different words that mean the same thing</li>
                </ul>
            </div>
        </div>
    </div>
</script>


<script id="mentorListingTags" type="text/x-handlebars-template">
    \{{#if arrTokenData}}
        \{{#each arrTokenData}}
            <span>\{{this.faceValue}}<a href="javaScript:;" class="js-upperTagsClose" data-id="\{{this.id}}" data-faceValue="\{{this.faceValue}}" data-typeX="\{{this.tagType}}"></a></span>
        \{{/each}}
    \{{/if}}
</script>


<script id="mentorListingFilter" type="text/x-handlebars-template">

    <div class="row">
        <div class="col-sm-3">
            <label class="mb0">
            <span id="mentorListingCount">\{{totalMentor}}</span> Advisor(s) found
            </label>
        </div>
        <div class="sorting col-sm-9">
            <ul class="list-inline listSep text-right">
                <label class="mb0">Sort By:</label>

                <li 
                    \{{#ifCond activeSort '==' 'SORTBY_PHL'}}
                        class="active"
                    \{{/ifCond}} >
                    
                    <a href="javaScript:;" class="js-SortBy" data-tokenId="SORTBY_PHL" data-tokenKeyword="Price High to Low" data-tokenType="SORTBY">Price High to Low</a>

                </li>
                <li 
                    \{{#ifCond activeSort '==' 'SORTBY_PLH'}}
                        class="active"
                    \{{/ifCond}} >
                    <a href="javaScript:;" class="js-SortBy" data-tokenId="SORTBY_PLH" data-tokenKeyword="Price Low to High" data-tokenType="SORTBY">Price Low to High</a>
                </li>

                <li 
                    \{{#ifCond activeSort '==' 'SORTBY_RATING'}}
                        class="active"
                    \{{/ifCond}} >
                    <a href="javaScript:;" class="js-SortBy" data-tokenId="SORTBY_RATING" data-tokenKeyword="Rating" data-tokenType="SORTBY">Rating</a>
                </li>
            </ul>
        </div>
    </div>

</script>


<script id="sideBarFilter" type="text/x-handlebars-template">

    <div class="well search-filters">              
        
        \{{#if arrIndustrySideBarFilter}}
            <div class="left-list-category">
                <h4 class="rs title-nav">Industry</h4>
                <ul class="rs nav-category">
                    \{{#each arrIndustrySideBarFilter}}
                        <li>
                            <input class="js-filterIndustry js-SideBarFilterSearch" type="checkbox" id="industryHeader\{{industryId}}" data-toggle="collapse" data-target="#subIndustrySection\{{industryId}}" value="\{{industryId}}" data-id="\{{industryId}}" data-typeX="INDUSTRY" data-Value="\{{industryName}}">
                            <label class="js-filtermaincat" for="industryHeader\{{industryId}}" >
                                \{{industryName}}<!-- <span class="count-val">(12)</span> -->
                            </label>

                            \{{#if arrSubIndustry}}
                                <div id="subIndustrySection\{{industryId}}" class="collapse in">
                                    <ul class="sub-category">
                                        \{{#each arrSubIndustry}}
                                            <li>
                                                <label>
                                                    <input type="checkbox" id="js-filterSubIndustry\{{subIndustryId}}" class="js-filterSubIndustry js-SideBarFilterSearch" value="\{{subIndustryId}}" data-id="\{{subIndustryId}}" data-typeX="SUBINDUSTRY" data-Value="\{{subIndustryName}}">
                                                    \{{subIndustryName}}
                                                    <!-- <span class="count-val">(2)</span> -->
                                                </label>
                                            </li>
                                        \{{/each}}
                                    </ul>
                                </div>
                            \{{/if}}
                        </li>
                    \{{/each}}
                </ul>
            </div>
        \{{/if}}


        \{{#if arrDomainSidebarFilter}}
            <div class="left-list-category">
                <h4 class="rs title-nav">Domain</h4>
                <ul class="rs nav-category">
                    \{{#each arrDomainSidebarFilter}}
                        <li>
                            <input type="checkbox" id="js-filterDomain\{{this.domainId}}" name="js-filterDomain\{{this.domainId}}" value="\{{this.domainId}}" class="js-SideBarFilterSearch js-filterDomain" data-id="\{{this.domainId}}" data-typeX="DOMAIN" data-Value="\{{this.domainName}}">
                            <label for="js-filterDomain\{{this.domainId}}">
                                \{{this.domainName}}
                                <!-- <span class="count-val">(2)</span> -->
                            </label>
                        </li>
                    \{{/each}}
                </ul>
            </div>
        \{{/if}}


        \{{#if arrRegionSidebarFilter}}
            <div class="left-list-category">
                <h4 class="rs title-nav">Region</h4>
                <ul class="rs nav-category">
                    \{{#each arrRegionSidebarFilter}}
                        <li class="js-sideBarFilterHeader">
                            <input class="js-filterRegion js-SideBarFilterSearch" type="checkbox" id="regionHeader\{{regionId}}" data-toggle="collapse" data-target="#subRegionHeader\{{regionId}}" value="\{{regionId}}" data-id="\{{regionId}}" data-typeX="REGION" data-Value="\{{regionName}}">
                            <label class="js-filtermaincat" for="regionHeader\{{regionId}}" >
                                \{{regionName}}<!-- <span class="count-val">(12)</span> -->
                            </label>

                            \{{#if arrSubRegion}}
                                <div id="subRegionHeader\{{regionId}}" class="collapse in">
                                    <ul class="sub-category">
                                        \{{#each arrSubRegion}}
                                            <li class="js-sideBarFilterContentValue">
                                                <label>
                                                    <input type="checkbox" id="js-filterSubRegion\{{countryId}}" class="js-filterSubRegion js-SideBarFilterSearch" value="\{{countryId}}"  data-id="\{{countryId}}" data-typeX="SUBREGION" data-Value="\{{countryName}}">
                                                    \{{countryName}}
                                                    <!-- <span class="count-val">(2)</span> -->
                                                </label>
                                            </li>
                                        \{{/each}}
                                    </ul>
                                </div>
                            \{{/if}}
                        </li>
                    \{{/each}}
                </ul>
            </div>
        \{{/if}}
        
        \{{#if priceFilterData}}
            <div class="left-list-category">
                <h4 class="rs title-nav">Price</h4>
                <div>
                    <span id="spanMinPriceFilter">\{{priceFilterData.minPrice}}</span>
                    <span id="spanMaxPriceFilter" class="pull-right">\{{priceFilterData.maxPrice}}</span>
                </div>
                <input id="ex1" type="text" class="span2" value="" data-slider-min="\{{priceFilterData.minPrice}}" data-slider-max="\{{priceFilterData.maxPrice}}" data-slider-step="5" data-slider-value="[\{{priceFilterData.minPrice}},\{{priceFilterData.maxPrice}}]"/>
                
            </div>
        \{{/if}}

    </div>

</script>