<script id="mentorListingBoxes" type="text/x-handlebars-template">
    \{{#if arrMentorData.arrMentorListingData}}
        \{{#each arrMentorData.arrMentorListingData}}
            <div class="col-xs-12">
                <div class="new-mentorlist-item-wrapper row" data-mentorlistingbox="\{{user_id}}">               
                    <div class="mentor-img">
                        <img src="\{{finalProfileImageUrl}}" alt="" class="listingImg">
                        <div class="listingImgDiv" style="display:none;"></div>     
                         \{{#if linkedInLink}}
                         <div class="fa-linkedin-highprofile-mentor lnref">
                            <a href="\{{linkedInLink}}" title="Linked Link" target="_blank">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                        </div>
                         \{{/if}}                 
                    </div>
                    <div class="mentor-details">
                        <h4 class="mentor-name-designation">
                            <a class="mentor-name" href="{{frontConstant.ACCESSURL}}mentorprofile/\{{slug}}">\{{name}}</a>,
                            <a href="javaScript:;" class="js-tagProfessionSearch designation" data-id="\{{profession}}" data-facevalue="\{{profession}}" title="\{{profession}}" data-typex="MENTORPROFILEPROFESSION">\{{profession}}</a>
                        </h4>
                        <p class="second-designation-location">
                            <a href="javaScript:;" class="second-designation js-tagJobDescriptionDirect" data-id="\{{jobDescription}}" data-faceValue="\{{jobDescription}}" data-typeX="MENTORPROFILEJOBDESCRIPTION" title="\{{jobDescription}}">\{{jobDescription}}</a>,
                             <a href="javaScript:;"  class="js-tagCitySearchDirect location" data-id="\{{cityId}}" data-faceValue="\{{cityName}}" data-typeX="MENTORPROFILECITY"><i class="fa fa-map-marker"></i>  \{{cityName}} </a>,
                            <a href="javaScript:;"  class="js-tagCountrySearchDirect location" data-id="\{{countryId}}" data-faceValue="\{{countryName}}" data-typeX="MENTORPROFILECOUNTRY">\{{countryName}}</a>
                            
                        </p>
                        <p class="company">
                            <a href="javaScript:;" class="js-tagCompanySearch" data-id="\{{company_name}}" data-facevalue="\{{company_name}}" title="\{{company_name}}" data-typex="MENTORPROFILECOMPANY">\{{company_name}}</a>
                        </p>
                        <p class="punchline">\{{punchline}}</p>
                        <p class="info">
                            \{{overViewListingDisplay}}
                        </p>
                        \{{#if arrMentorTags}}
                            <div class="skills-tags">
                                <div class="skills listing">
                                    \{{#if arrMentorTags}}
                                        \{{#arrMentorTags}}
                                            <a href="javaScript:;" class="js-tagProfileSearch" data-id="\{{tagName}}": data-faceValue="\{{tagName}}" data-typeX="MENTOREXPERTISE">\{{tagName}}</a>
                                        \{{/arrMentorTags}}
                                    \{{/if}}
                                </div>
                            </div>
                        \{{/if}}
                    </div>
                    <div class="mentor-price-rating">
                        <div class="rating">
                            <div class="stars stars-\{{rating}}"></div><br>                            
                        </div>
                        <span class="js-mentorLikeCount" data-id="\{{user_id}}">\{{like_count}}</span> people liked this advisor.
                        <div class="recom-price">
                            \{{#ifCond hourly_rate '!=' '0'}}
                            <span class="font-4">$\{{hourly_rate}}</span>
                            <p>per hour</p>
                            \{{/ifCond}}
                            \{{#ifCond hourly_rate '==' '0'}}
                              <a class="btn btn-red" href="javascript:;" style="padding-top: 0px !important; padding-bottom: 0px !important;  pointer-events: none; cursor: default;">FREE</a>
                            \{{/ifCond}}
                        </div>
                        \{{#ifCond ../arrMentorData.loggedInUserId '!=' user_id}}
                            <div class="metors-quickLinks clearfix" style="padding: 0px 5px;">
                                <div class="actionButtonWrappers \{{#ifCond flagMentorBookmarked '==' '1'}}activebanner\{{/ifCond}}">
                                    <a href="javascript:;" data-id="\{{user_id}}"
                                        \{{#if ../arrMentorData.inBookmarkMentor}}
                                            class="js-removeThisBookmarkMentor outer-border"
                                        \{{else}}
                                            \{{#if ../../../arrMentorData.loggedInUserId}}
                                                class="bookMarkThisMentor outer-border"
                                            \{{else}}
                                                class="openLoginPopUp outer-border" data-doAction="bookMarkThisMentor"
                                            \{{/if}}
                                        \{{/if}}
                                    >
                                        <i class="fa fa-bookmark-o"></i>
                                    </a>
                                </div>
                                <div class="actionButtonWrappers \{{#ifCond flagMentorLiked '==' '1'}}activebanner\{{/ifCond}}">
                                    <a href="javascript:;" data-id="\{{user_id}}" 
                                        \{{#if ../../arrMentorData.loggedInUserId}}
                                            class="likeThisMentor outer-border"
                                        \{{else}}
                                            class="openLoginPopUp outer-border" data-doAction="likeThisMentor"
                                        \{{/if}}
                                    >
                                        <i class="fa fa-thumbs-o-up"></i>
                                    </a>
                                </div>
                                <div class="actionButtonWrappers">
                                    <a href="javascript:;" data-val="" data-id="\{{user_id}}" 
                                        \{{#if ../../arrMentorData.loggedInUserId}}
                                            class="sendMessageToThisMentor outer-border"
                                        \{{else}}
                                            class="openLoginPopUp outer-border" data-doAction="sendMessageToThisMentor"
                                        \{{/if}}
                                    >
                                        <i class="fa fa-envelope-o"></i>
                                    </a>
                                </div>
                            </div>
                        \{{/ifCond}}
                    </div>
                </div>
            </div>
        \{{/each}}
    \{{/if}}
</script>




<script id="bookmarkMentorListingNoResult" type="text/x-handlebars-template">
    <div class="well clearfix">
        <div class="row">
            <div class="col-sm-12 text-center">
                {{!-- <label class="mentorlisting-noresult"> --}}
                <p class="">You do not have any bookmarked advisor click below to find out a suitable advisor</p>
                <a class="btn btn-primary" href="{{frontConstant.ACCESSURL}}mentor/listing">Request a call</a>
            </div>
        </div>
    </div>
</script>


<script id="mentorListingNoResult" type="text/x-handlebars-template">
    <div class="well clearfix">
        <div class="row">
            <div class="col-sm-12">
                <label class="mentorlisting-noresult">
                    Sorry, no results were found.
                </label>
            </div>
        </div>

        <div class="row mentorlisting-searchsuggestion">
            <div class="col-sm-12">
                <label class="mentorlisting-noresultheader2">
                    Search Suggestions
                </label>
            </div>
            
            <div class="col-sm-12">
                <ul class="mentorlist-searchsuggestionlist">
                    <li class="mentorlist-searchsuggestionsinlist">Check your spelling</li>
                    <li class="mentorlist-searchsuggestionsinlist">Try more general words</li>
                    <li class="mentorlist-searchsuggestionsinlist">Try different words that mean the same thing</li>
                </ul>
            </div>
        </div>
    </div>
</script>


<script id="mentorListingTags" type="text/x-handlebars-template">
    \{{#if arrTokenData}}
        \{{#each arrTokenData}}
            <span>\{{this.faceValue}}<a href="javaScript:;" class="js-upperTagsClose" data-id="\{{this.id}}" data-faceValue="\{{this.faceValue}}" data-typeX="\{{this.tagType}}"></a></span>
        \{{/each}}
    \{{/if}}
</script>


<script id="mentorListingFilter" type="text/x-handlebars-template">

    <div class="row">
        <div class="col-sm-3">
            <label class="mb0">
            <span id="mentorListingCount">\{{totalMentor}}</span> Advisor(s) found
            </label>
        </div>
        <div class="sorting col-sm-9">
            <ul class="list-inline listSep text-right">
                <label class="mb0">Sort By:</label>

                <li 
                    \{{#ifCond activeSort '==' 'SORTBY_PHL'}}
                        class="active"
                    \{{/ifCond}} >
                    
                    <a href="javaScript:;" class="js-SortBy" data-tokenId="SORTBY_PHL" data-tokenKeyword="Price High to Low" data-tokenType="SORTBY">Price High to Low</a>

                </li>
                <li 
                    \{{#ifCond activeSort '==' 'SORTBY_PLH'}}
                        class="active"
                    \{{/ifCond}} >
                    <a href="javaScript:;" class="js-SortBy" data-tokenId="SORTBY_PLH" data-tokenKeyword="Price Low to High" data-tokenType="SORTBY">Price Low to High</a>
                </li>

                <li 
                    \{{#ifCond activeSort '==' 'SORTBY_RATING'}}
                        class="active"
                    \{{/ifCond}} >
                    <a href="javaScript:;" class="js-SortBy" data-tokenId="SORTBY_RATING" data-tokenKeyword="Rating" data-tokenType="SORTBY">Rating</a>
                </li>
            </ul>
        </div>
    </div>

</script>


<script id="sideBarFilter" type="text/x-handlebars-template">

    <div class="well search-filters">              
        
        \{{#if arrIndustrySideBarFilter}}
            <div class="left-list-category">
                <h4 class="rs title-nav">Industry</h4>
                <ul class="rs nav-category">
                    \{{#each arrIndustrySideBarFilter}}
                        <li>
                            <input class="js-filterIndustry js-SideBarFilterSearch" type="checkbox" id="industryHeader\{{industryId}}" data-toggle="collapse" data-target="#subIndustrySection\{{industryId}}" value="\{{industryId}}" data-id="\{{industryId}}" data-typeX="INDUSTRY" data-Value="\{{industryName}}">
                            <label class="js-filtermaincat" for="industryHeader\{{industryId}}" >
                                \{{industryName}}<!-- <span class="count-val">(12)</span> -->
                            </label>

                            \{{#if arrSubIndustry}}
                                <div id="subIndustrySection\{{industryId}}" class="collapse in">
                                    <ul class="sub-category">
                                        \{{#each arrSubIndustry}}
                                            <li>
                                                <label>
                                                    <input type="checkbox" id="js-filterSubIndustry\{{subIndustryId}}" class="js-filterSubIndustry js-SideBarFilterSearch" value="\{{subIndustryId}}" data-id="\{{subIndustryId}}" data-typeX="SUBINDUSTRY" data-Value="\{{subIndustryName}}">
                                                    \{{subIndustryName}}
                                                    <!-- <span class="count-val">(2)</span> -->
                                                </label>
                                            </li>
                                        \{{/each}}
                                    </ul>
                                </div>
                            \{{/if}}
                        </li>
                    \{{/each}}
                </ul>
            </div>
        \{{/if}}


        \{{#if arrDomainSidebarFilter}}
            <div class="left-list-category">
                <h4 class="rs title-nav">Domain</h4>
                <ul class="rs nav-category">
                    \{{#each arrDomainSidebarFilter}}
                        <li>
                            <input type="checkbox" id="js-filterDomain\{{this.domainId}}" name="js-filterDomain\{{this.domainId}}" value="\{{this.domainId}}" class="js-SideBarFilterSearch js-filterDomain" data-id="\{{this.domainId}}" data-typeX="DOMAIN" data-Value="\{{this.domainName}}">
                            <label for="js-filterDomain\{{this.domainId}}">
                                \{{this.domainName}}
                                <!-- <span class="count-val">(2)</span> -->
                            </label>
                        </li>
                    \{{/each}}
                </ul>
            </div>
        \{{/if}}


        \{{#if arrRegionSidebarFilter}}
            <div class="left-list-category">
                <h4 class="rs title-nav">Region</h4>
                <ul class="rs nav-category">
                    \{{#each arrRegionSidebarFilter}}
                        <li class="js-sideBarFilterHeader">
                            <input class="js-filterRegion js-SideBarFilterSearch" type="checkbox" id="regionHeader\{{regionId}}" data-toggle="collapse" data-target="#subRegionHeader\{{regionId}}" value="\{{regionId}}" data-id="\{{regionId}}" data-typeX="REGION" data-Value="\{{regionName}}">
                            <label class="js-filtermaincat" for="regionHeader\{{regionId}}" >
                                \{{regionName}}<!-- <span class="count-val">(12)</span> -->
                            </label>

                            \{{#if arrSubRegion}}
                                <div id="subRegionHeader\{{regionId}}" class="collapse in">
                                    <ul class="sub-category">
                                        \{{#each arrSubRegion}}
                                            <li class="js-sideBarFilterContentValue">
                                                <label>
                                                    <input type="checkbox" id="js-filterSubRegion\{{countryId}}" class="js-filterSubRegion js-SideBarFilterSearch" value="\{{countryId}}"  data-id="\{{countryId}}" data-typeX="SUBREGION" data-Value="\{{countryName}}">
                                                     \{{countryName}}
                                                    <!-- <span class="count-val">(2)</span> -->
                                                </label>
                                            </li>
                                        \{{/each}}
                                    </ul>
                                </div>
                            \{{/if}}
                        </li>
                    \{{/each}}
                </ul>
            </div>
        \{{/if}}
        
        \{{#if priceFilterData}}
            <div class="left-list-category">
                <h4 class="rs title-nav">Price</h4>
                <div>
                    <span id="spanMinPriceFilter">\{{priceFilterData.minPrice}}</span>
                    <span id="spanMaxPriceFilter" class="pull-right">\{{priceFilterData.maxPrice}}</span>
                </div>
                <input id="ex1" type="text" class="span2" value="" data-slider-min="\{{priceFilterData.minPrice}}" data-slider-max="\{{priceFilterData.maxPrice}}" data-slider-step="5" data-slider-value="[\{{priceFilterData.minPrice}},\{{priceFilterData.maxPrice}}]"/>
                
            </div>
        \{{/if}}

    </div>

</script>