<script id="mentorReviewListingBoxes" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-sm-3">
            <img src="\{{this.finalProfileImageUrl}}" height="60" width="60" class="img-rounded">
            <div class="review-block-name"><a href="#">\{{this.name}}</a>
            </div>
            <div class="review-block-date">\{{this.reviewdate}}
                \{{#ifCond this.DAYS '==' '' }}
                <br/>Today
                \{{/ifCond}}
                \{{#ifCond this.DAYS '>' '1' }}
                <br/>\{{this.DAYS}} days ago
                \{{/ifCond}}
                \{{#ifCond this.DAYS '==' '1' }}
                <br/>\{{this.DAYS}} day ago
                \{{/ifCond}}                                                        
            </div>
        </div>
        <div class="col-sm-9">
            <div class="review-block-rate">

                \{{#ifCond this.review_rating '==' 0 }}
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                \{{/ifCond}}

                \{{#ifCond this.review_rating '==' 1 }}
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                \{{/ifCond}}

                \{{#ifCond this.review_rating '==' 2 }}
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                \{{/ifCond}}
                \{{#ifCond this.review_rating '==' 3 }}
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                \{{/ifCond}}

                \{{#ifCond this.review_rating '==' 4 }}
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                \{{/ifCond}}

                \{{#ifCond this.review_rating '==' 5 }}
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </button>
                \{{/ifCond}}

            </div>                                                    
            <div class="review-block-description">\{{this.review_desc}}</div>
        </div>
    </div>
    <hr/>
</script>