<!-- Mainly scripts -->


    <script src="{{frontConstant.ACCESSURL}}js/jquery.validate.js?v={{frontConstant.VERSION}}"></script>
    <script src="{{frontConstant.ACCESSURL}}js/additional-methods.js?v={{frontConstant.VERSION}}"></script>

    <script src="{{frontConstant.ACCESSURL}}js/moment.js?v={{frontConstant.VERSION}}"></script>
    <script src="{{frontConstant.ACCESSURL}}js/moment-timezone-with-data.min.js?v={{frontConstant.VERSION}}"></script>

    <!-- Flot -->
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/flot/jquery.flot.js?v={{frontConstant.VERSION}}"></script>
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/flot/jquery.flot.tooltip.min.js?v={{frontConstant.VERSION}}"></script>
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/flot/jquery.flot.spline.js?v={{frontConstant.VERSION}}"></script>
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/flot/jquery.flot.resize.js?v={{frontConstant.VERSION}}"></script>

    <!-- Peity -->
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/peity/jquery.peity.min.js?v={{frontConstant.VERSION}}"></script>
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/demo/peity-demo.js?v={{frontConstant.VERSION}}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/inspinia.js?v={{frontConstant.VERSION}}"></script>
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/pace/pace.min.js?v={{frontConstant.VERSION}}"></script>

    <!-- jQuery UI -->
    <!--<script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/jquery-ui/jquery-ui.min.js?v={{frontConstant.VERSION}}"></script>-->

    <!-- GITTER -->
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/gritter/jquery.gritter.min.js?v={{frontConstant.VERSION}}"></script>

    <!-- ChartJS-->
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/chartJs/Chart.min.js?v={{frontConstant.VERSION}}"></script>

    <!-- Toastr -->
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/toastr/toastr.min.js?v={{frontConstant.VERSION}}"></script>

    <!-- Jvectormap -->
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js?v={{frontConstant.VERSION}}"></script>
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js?v={{frontConstant.VERSION}}"></script>
    
    <!-- iCheck -->
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/iCheck/icheck.min.js?v={{frontConstant.VERSION}}"></script>

    <!-- EayPIE -->
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/easypiechart/jquery.easypiechart.js?v={{frontConstant.VERSION}}"></script>

    <!-- Sparkline -->
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/sparkline/jquery.sparkline.min.js?v={{frontConstant.VERSION}}"></script>

    <!-- Sparkline demo data  -->
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/demo/sparkline-demo.js?v={{frontConstant.VERSION}}"></script>
    
    <!-- jqGrid -->
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/jqGrid/i18n/grid.locale-en.js?v={{frontConstant.VERSION}}"></script>
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/jqGrid/jquery.jqGrid.min.js?v={{frontConstant.VERSION}}"></script>
    
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/jeditable/jquery.jeditable.js?v={{frontConstant.VERSION}}"></script>
    
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/dropzone/dropzone.js?v={{frontConstant.VERSION}}"></script>

    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/dataTables/datatables.min.js?v={{frontConstant.VERSION}}"></script>
    
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/switchery/switchery.js?v={{frontConstant.VERSION}}"></script>
    
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/blueimp/jquery.blueimp-gallery.min.js?v={{frontConstant.VERSION}}"></script>
    
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/colorpicker/bootstrap-colorpicker.min.js?v={{frontConstant.VERSION}}"></script>
    
    <!-- Data picker -->
    
    
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/daterangepicker/daterangepicker.js?v={{frontConstant.VERSION}}"></script>
    
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/datapicker/bootstrap-datepicker.js?v={{frontConstant.VERSION}}"></script>
    
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/cropper/cropper.min.js?v={{frontConstant.VERSION}}"></script>
    
    {{!--<script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/fullcalendar/moment.min.js?v={{frontConstant.VERSION}}"></script>--}}
    
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/summernote/summernote.min.js?v={{frontConstant.VERSION}}"></script>
    
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/clockpicker/clockpicker.js?v={{frontConstant.VERSION}}"></script>
    
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/datetimepicker/bootstrap-datetimepicker.js?v={{frontConstant.VERSION}}"></script>
    
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/codemirror/codemirror.js?v={{frontConstant.VERSION}}"></script>
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/codemirror/mode/xml/xml.js?v={{frontConstant.VERSION}}"></script>
    
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/d3/d3.min.js?v={{frontConstant.VERSION}}"></script>
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/c3/c3.min.js?v={{frontConstant.VERSION}}"></script>
    
    <script src="{{frontConstant.ACCESSURL_ADMIN}}js/bootstrap-tagsinput.js?v={{frontConstant.VERSION}}"></script>
    
</body>
</html>