<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--        <meta name="viewport" content="width=device-width, initial-scale=1">-->
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">


        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{frontConstant.ACCESSURL}}images/favicon.png" type="image/png" sizes="16x16">

        <title>Source.nvestlink.com</title>

        <!-- Bootstrap core CSS -->
        <!-- <link href="css/bootstrap.min.css?v={{frontConstant.VERSION}}" rel="stylesheet"> -->

        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
        <link href="{{frontConstant.ACCESSURL}}css/bootstrap.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <link href="{{frontConstant.ACCESSURL}}css/icon-font.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <link href="{{frontConstant.ACCESSURL}}css/font-awesome.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <link href="{{frontConstant.ACCESSURL}}css/jquery-ui.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <link rel="stylesheet" href="{{frontConstant.ACCESSURL}}js/tokeninput/token-input-facebook.css?v={{frontConstant.VERSION}}"></link>

        <link rel="stylesheet" href="{{frontConstant.ACCESSURL}}js/easyautocomplete/easy-autocomplete.min.css?v={{frontConstant.VERSION}}">


        <link href="{{frontConstant.ACCESSURL}}css/custom.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <link href="{{frontConstant.ACCESSURL}}css/menu.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <link href="{{frontConstant.ACCESSURL}}css/styles.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <link href="{{frontConstant.ACCESSURL}}css/responsive.css?v={{frontConstant.VERSION}}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js?v={{frontConstant.VERSION}} for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js?v={{frontConstant.VERSION}} doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js?v={{frontConstant.VERSION}}"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js?v={{frontConstant.VERSION}}"></script>
    <![endif]-->
        <!-- GOOGLE AUTHENTICATION -->


        <script type="text/javascript">
            (function () {
                var po = document.createElement('script');
                po.type = 'text/javascript';
                po.async = true;
                po.src = 'https://apis.google.com/js/client.js?v={{frontConstant.VERSION}}';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(po, s);
            })();
        </script>

        <script type="text/javascript">
            function googleSocialLogin() {
                var myParams = {
                    'clientid': "1010642876159-t0vl5hm681mmns0l1r6fedjsfoj4fq01.apps.googleusercontent.com", //You need to set client id
                    'cookiepolicy': 'single_host_origin',
                    'callback': 'onGoogleSignInGPApi', //callback function
                    'approvalprompt': 'force',
                    'scope': 'https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.profile.emails.read'
                };
                gapi.auth.signIn(myParams);
            }
        </script>

        <script type="text/javascript" src="//platform.linkedin.com/in.js?v={{frontConstant.VERSION}}">
            api_key:   {
                {
                    frontConstant.LINKEDIN_API_KEY}}
            authorize: false
            /*onLoad: onLinkedInLoadForPopUP*/
            scope: r_emailaddress
            r_basicprofile
        </script>
        <script src="{{frontConstant.ACCESSURL}}js/jquery.min.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL}}js/jquery.cookie.min.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL}}js/commonwebjs.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL}}js/easyautocomplete/jquery.easy-autocomplete.min.js?v={{frontConstant.VERSION}}"></script>

        <script src="{{frontConstant.ACCESSURL}}js/tokeninput/jquery.tokeninput.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL}}js/jquery.redirect.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL}}js/jquery-ui.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL}}js/tokeninput/jquery.tokeninput.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL}}js/commonfilter.js?v={{frontConstant.VERSION}}"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111257963-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-111257963-1');
        </script>

    </head>

    {{#if bodyClass}}
    <body id="page-top" class="{{bodyClass}}">
        {{else}}
    <body id="page-top" class="index">
        {{/if}}

        <input type="hidden" name="absPath" id="absPath" value="{{frontConstant.ACCESSURL}}" />

        {{#if flagUserLoggedIn}}
        {{> navbar/newloggedin}}
        {{else}}
        {{> navbar/newnotloggedin}}
        {{/if}}

        {{{body}}}
        {{> helper/modal_site_lock_helper}}
        {{> footer/homepage}}

