<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link rel="icon" href="{{frontConstant.ACCESSURL}}images/favicon.png" type="image/png" sizes="16x16">
    <title>Source.nvestlink.com</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
    <link href="{{frontConstant.ACCESSURL}}css/bootstrap.css?v={{frontConstant.VERSION}}" rel="stylesheet">
    <link href="{{frontConstant.ACCESSURL}}css/icon-font.css?v={{frontConstant.VERSION}}" rel="stylesheet">
    <link href="{{frontConstant.ACCESSURL}}css/font-awesome.css?v={{frontConstant.VERSION}}" rel="stylesheet">

    <link href="{{frontConstant.ACCESSURL}}css/jquerysctipttop.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{frontConstant.ACCESSURL}}js/tokeninput/token-input-facebook.css?v={{frontConstant.VERSION}}"></link>
    <link href="{{frontConstant.ACCESSURL}}css/jquery-ui.css?v={{frontConstant.VERSION}}" rel="stylesheet">

    <link rel="stylesheet" href="{{frontConstant.ACCESSURL}}js/easyautocomplete/easy-autocomplete.min.css?v={{frontConstant.VERSION}}">
    


    


    <!-- HTML5 shim and Respond.js?v={{frontConstant.VERSION}} for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js?v={{frontConstant.VERSION}} doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js?v={{frontConstant.VERSION}}"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js?v={{frontConstant.VERSION}}"></script>
    <![endif]-->

    
    <script src="{{frontConstant.ACCESSURL}}js/jquery.min.js?v={{frontConstant.VERSION}}"></script>
    <script src="{{frontConstant.ACCESSURL}}js/jquery.cookie.min.js?v={{frontConstant.VERSION}}"></script>
    <!-- <script src="{{frontConstant.ACCESSURL}}js/commonwebjs.js?v={{frontConstant.VERSION}}"></script> -->

    <link href="{{frontConstant.ACCESSURL}}css/custom.css?v={{frontConstant.VERSION}}" rel="stylesheet">
    <link href="{{frontConstant.ACCESSURL}}css/menu.css?v={{frontConstant.VERSION}}" rel="stylesheet">
    <link href="{{frontConstant.ACCESSURL}}css/styles.css?v={{frontConstant.VERSION}}" rel="stylesheet">
    <link href="{{frontConstant.ACCESSURL}}css/responsive.css?v={{frontConstant.VERSION}}" rel="stylesheet">

    <script src="{{frontConstant.ACCESSURL}}js/jquery.redirect.js?v={{frontConstant.VERSION}}"></script>
    <script src="{{frontConstant.ACCESSURL}}js/jquery-ui.js?v={{frontConstant.VERSION}}"></script>
    <script src="{{frontConstant.ACCESSURL}}js/commonwebjs.js?v={{frontConstant.VERSION}}"></script>    



  </head>
  <body class="wisform">
    <input type="hidden" name="absPath" id="absPath" value="{{frontConstant.ACCESSURL}}" />
    {{> navbar/independent_header}}

    {{{body}}}
    
    {{> footer/loginmodule}}


    
        
 