<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--        <meta name="viewport" content="width=device-width, initial-scale=1">-->
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{frontConstant.ACCESSURL}}images/favicon.png" type="image/png" sizes="16x16">
        <title>SourceAdvisor: Become a Mentor</title>
<script src="{{frontConstant.ACCESSURL}}js/ckeditor/ckeditor.js?v={{frontConstant.VERSION}}"></script>
        <!-- Bootstrap core CSS -->
        <link href="{{frontConstant.ACCESSURL}}css/bootstrap.min.css?v={{frontConstant.VERSION}}" rel="stylesheet">

        <script src="{{frontConstant.ACCESSURL}}js/contants.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL}}js/jsmessages.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL}}js/jquery-2.2.0.min.js?v={{frontConstant.VERSION}}"></script>
        <script type="text/javascript" src="{{frontConstant.ACCESSURL}}js/jquery.cookie.min.js?v={{frontConstant.VERSION}}"></script>
        <!--<script src="{{frontConstant.ACCESSURL}}js/jquery.form.js?v={{frontConstant.VERSION}}"></script>-->

        <link rel="stylesheet" href="{{frontConstant.ACCESSURL}}js/easyautocomplete/easy-autocomplete.min.css?v={{frontConstant.VERSION}}">
        <script src="{{frontConstant.ACCESSURL}}js/easyautocomplete/jquery.easy-autocomplete.min.js?v={{frontConstant.VERSION}}"></script>


        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
        <link href="{{frontConstant.ACCESSURL}}css/bootstrap.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <link href="{{frontConstant.ACCESSURL}}css/icon-font.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <link href="{{frontConstant.ACCESSURL}}css/font-awesome.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <link rel="stylesheet" href="{{frontConstant.ACCESSURL}}js/tokeninput/token-input-facebook.css?v={{frontConstant.VERSION}}"></link>
        <link href="{{frontConstant.ACCESSURL}}css/jquery-ui.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <link href="{{frontConstant.ACCESSURL}}css/custom.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <link href="{{frontConstant.ACCESSURL}}css/menu.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <link href="{{frontConstant.ACCESSURL}}css/styles.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <link href="{{frontConstant.ACCESSURL}}css/responsive.css?v={{frontConstant.VERSION}}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js?v={{frontConstant.VERSION}} for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js?v={{frontConstant.VERSION}}"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js?v={{frontConstant.VERSION}}"></script>
        <![endif]-->

        <script src="{{frontConstant.ACCESSURL}}js/tokeninput/jquery.tokeninput.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL}}js/jquery.redirect.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL}}js/jquery-ui.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL}}js/easyautocomplete/jquery.easy-autocomplete.min.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL}}js/tokeninput/jquery.tokeninput.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL}}js/commonwebjs.js?v={{frontConstant.VERSION}}"></script>
        {{#if hidCommonFilter}}
            
        {{else}}
            <script src="{{frontConstant.ACCESSURL}}js/commonfilter.js?v={{frontConstant.VERSION}}"></script>
        {{/if}}
    </head>
    
    {{#if bodyClass}}
        <body class="{{bodyClass}}">
    {{else}}
        <body class="index">
    {{/if}}

        <input type="hidden" name="absPath" id="absPath" value="{{frontConstant.ACCESSURL}}" />

        {{#ifCond bodyClass '!=' 'chat'}}
            {{> navbar/newloggedin}}
        {{/ifCond}}

        {{{body}}}
        {{> helper/modal_site_lock_helper}}
        
        {{#ifCond bodyClass '!=' 'chat'}}
            {{> footer/loginmodule}}
        {{/ifCond}}

    </body>
</html>
