/* Helper Classes */
.no-top-margin{
    margin-top: 0px !important;
}
.no-bottom-margin{
    margin-bottom: 0px !important;
}
.no-top-bottom-margin{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.mar10{
  margin: 10px;
}
.marg-top5{
    margin-top: 5px !important;
}
.marg-top10{
    margin-top: 10px;
}
.marg-top15{
    margin-top: 15px;
}
.marg-top40{
    margin-top: 40px;
}
.marg-bot5{
    margin-bottom: 5px;
}
.marg-bot10{
    margin-bottom: 10px !important;
}
.marg-bot15{
    margin-bottom: 15px;
}
.marg-bot40{
    margin-bottom: 40px;
}

.marg-left5{
    margin-left: 5px;
}
.marg-left10{
    margin-left: 10px;
}
.marg-left15{
    margin-left: 15px;
}
.marg-right5{
    margin-right: 5px;
}
.marg-right10{
    margin-right: 10px;
}
.marg-right15{
    margin-right: 15px;
}
.marg-right40{
    margin-right: 40px;
}
.padd-top0{
    padding-top: 0px !important;
}
.position-none{
    position: inherit;
}
.font-normal{
    font-weight: normal;
}
.font-medium{
    font-weight: 600;
}
.f-size15{
  font-size: 15px;
}
.f-size16{
  font-size: 16px;
}
.f-size17{
  font-size: 17px;
}
.f-size18{
  font-size: 18px;
}
/*.tab-pane span{
  display: block;
}*/
.v-grid-container{
    display: table;
    width: 100%;
}
.v-grid{
    display: table-cell;
    vertical-align: middle;
}
.v-middle{
    vertical-align: middle;
}
.inline-block{
  display: inline-block !important;
}
.inline-block-100{
  display: inline-block !important;
  width: 100%;
}
.display-block{
  display: block !important;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.red{
  color: red;
}
.green{
  color: green;
}
.text-decor{
  text-decoration: underline;
}
.f-normal{
  font-weight: normal;
}



.form-group{
  /*margin-bottom: 0px;*/
}
.form-group input,
.form-group select{
  margin-bottom: 10px;
}
img{
  max-width: 100%;
}

.box{
  border: 1px solid #177892;
  background: #FFF;
  padding: 18px 10px;
  /*width: 100px;
  height: 100px;
  line-height: 30px;*/
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 12px;
  
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}


.box:hover{
  border: 1px solid transparent;
  background: #177892;
}
.box span{
  display: block;
  color: #928d8d;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.box i{
  font-size: 25px;
  color: #928d8d;
}
.box:hover span,
.box:hover i{
  color: #fff;
}
.popover{
  max-width: 500px;
}
.popover-content{
  width: 500px;
}
.popover #data span,
.popover #data textarea{
  margin: 3px 0px;
  display: block;
}
table td{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*max-width: 0px;*/
}

.nav-tabs > li > a{
  padding: 5px 10px 5px 10px;
}
.nav.navbar-right > li > a.btn{
  min-height: inherit;
  padding: 7px 15px;
  margin-right: 5px;
  color: #FFF;
}
.nav.navbar-right > li > a.btn:hover{
  background-color: #18a689;
  border-color: #18a689;
  color: #ffffff;
}
.icheckbox_square-green,
.iradio_square-green{
  margin-right: 5px;
}
.modal-body .ibox-content,
.modal-body .ibox-title,
.tab-pane .ibox-content,
.tab-pane .ibox-title{
  background-color: #f5f5f5;
  padding: 10px;
}
.tab-pane .ibox-title{
  min-height: 38px;
  border-width: 2px 0 0;
}
.tab-pane .ibox-title h5{
  margin-bottom: 0px;
  margin-top: 0;
}
.staff-info label{
  margin-right: 10px;
  font-weight: normal;
}
.staff-info img{
  width: 35px;
}
.staff-info p{
  display: inline-block;
  margin-left: 10px;
}
.tab-pane .ibox-content.notes{
  padding: 0px;
  padding: 0 2px;
}
.tab-pane .ibox-content.notes textarea{
  border: none;
  background: #f5f5f5;
}
.claendar-event{
  width: 100%;
  text-align: center;
  height: 200px;
  background: #a2a2fd;
  color: #FFF;
  padding-top: 85px;
}
.sticky{
  width: 100%;
  text-align: center;
  min-height: 42px;
  max-height: 42px;
  overflow: auto;
  background: #ffff72;
  padding: 2px 10px;
}
.party select{
  max-width: 250px;
  float: left;
}
.party td{
  border-top: none !important;
  padding: 2px !important;
}
#accordion .panel-body{
  max-height: 175px;
  overflow-y: scroll;
}
#accordion .panel-heading{
  padding: 0;
}
#accordion .panel-title{
  margin: 0px;
}
#accordion .panel-title a{
  padding: 10px 15px;
  display: block;
  background: #FFF;
  border-radius: 5px;
}
.lightBoxGallery img{
  margin: 3px;
}
.fileContainer{
    overflow: hidden;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
}
.fileContainer [type=file] {
    cursor: pointer;
    float: left;
    font-size: 999px;
    filter: alpha(opacity=0);
    width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    z-index: 1;
}
input[type=checkbox], input[type=radio]{
  margin: 0px;
  vertical-align: middle;
  margin-right: 5px;
}
.navbar-form-custom input{
    border: 1px solid #e8e8e8 !important;
    height: 35px !important;
    margin-top: 12px !important;
    margin-left: 11px !important;
}
.switchery{
  width: 40px;
  height: 20px;
  display: inline-block !important;
}
.switchery > small{
  height: 20px;
  width: 20px;
}
#printcase select.form-control,
#printcase input.form-control{
  width: 150px;
  display: inline-block;
  margin-left: 10px;
}
.input-group-addon,
.input-daterange .input-group-addon{
  white-space: normal;
  background: none;
  border: none;
  text-shadow: none;
}
.input-group{
  margin: 0 auto;
}
/*.page-heading{
  padding: 0px;
}*/
.page-heading h1{
  margin-bottom: 20px;
}
.utilities{
  background: #ffffff;
  height: 100%;
  text-align: center;
}
.utilities ul{
  margin: 0px;
  padding: 0px;
}
.utilities ul li{
  display: inline-block;
}
.utilities ul li a {
    font-size: 30px;
    margin: 0 10px;
}
.breadcrumbs{
  margin-bottom: 10px;
}
.ibox-title h5{
  margin-top: 8px;
}
.ibox-title{
  padding: 8px 15px;
}
#addcontact .modal-body {
  padding: 10px 10px 5px;
}
#addcontact .tabs-container .panel-body{
  padding: 10px;
}
.modal .ibox-title h5{
  margin-top: 0px;
}
#addcontact .form-group{
  margin-bottom: 7px;
}
#addcontact .form-group label{
  margin-bottom: 1px;
}
#addcontact .form-group input,
#addcontact .form-group select{
  margin-bottom: 0px;
}
#addcontact .ibox{
  margin-bottom: 0px;
}
.filters .form-group{
  display: inline-block;
  min-width: 200px;
}
.filters label{
  display: inline-block;
  margin-right: 10px;
}
.filters select{
  display: inline-block;
  max-width: 110px;
}
.filters span{
  float: right;
}
.dropdown-menu{
  z-index: 10000;
}
.mail-tools{
  position: relative;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{
  background: transparent;
  outline: none;
}
.chat-message-form{
  border: 1px solid #e5e6e7;
  display: inline-block;
  width: 100%;
  padding: 10px;
  position: relative;
}
.chat-discussion,
.chat-users{
  margin-bottom: 15px;
}
.chat-message-form .message-input{
  height: 70px !important;
  border: none;
  padding: 0;
  margin-bottom: 10px;
  resize: none;
}
.recent{
    min-height: 467px;
    max-height: 467px;
    overflow: auto;
}

.recent span{
    color: #a5a5a5;
}
.recent p{
    margin-bottom: 5px;
}
.recent li{
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 0px;
}
.recent li:last-child{
    border-bottom: none;
}

::-webkit-scrollbar{
    width: 3px;
}
 
/* Track */
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
 
/* Handle */
::-webkit-scrollbar-thumb{
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive{
	background: rgba(255,0,0,0.4); 
}

.user-manage select{
    width: auto;
    display: inline-block;
}
.user-manage label{
    margin-right: 5px;
}
.user-manage .form-group{
    margin-bottom: 0px;
}
.earn {
    padding: 20px;
}
.money-earn{
    font-size: 30px;
    color: #ff0000;
    margin: 0px;
}
.access{
    min-height: 75px;
}
.access h3{
    margin-bottom: 25px;
}
.access .switchery{
    float: right;
}



/* Request Refund Page*/
.refund-meeting,
.refund-requested{
    padding: 10px;
    min-height: 350px;
    max-height: 350px;
    overflow: auto;
    overflow-x: hidden;
}
.withMeeting{
    border-bottom: 1px solid #e7eaec;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.withMeeting .profile-image{
    float: none;
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.withMeeting .profile-info{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.withMeeting .profile-info span{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.chat-box .nav.nav-tabs li{
    width: 50%;
    position: relative;
}
.chat-box .nav.nav-tabs li.active a:before{
    content: "";
    position: absolute;
    bottom: -15px;
    z-index: 100;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #177892 transparent transparent transparent;
}
.chat-box .nav.nav-tabs li a{
    background: #aeaeae;
    border-color: #aeaeae;
    border-radius: 0px;
    margin-right: 1px;
    color: #FFF;
}
.chat-box .nav.nav-tabs li a:hover,
.chat-box .nav.nav-tabs li.active a{
    border-color: #177892;
    background: #177892;
}
.chat-box .nav.nav-tabs li a img{
    max-width: 50px;
    margin-right: 10px;
    float: left;
}
.chat-box .nav.nav-tabs li a h3,
.chat-box .nav.nav-tabs li a span{
    display: block;
    margin-bottom: 5px;
}
.chat-box .panel-body .chats{
    padding: 15px 10px 5px;
    border: 1px solid #e7eaec;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    max-height: 350px;
    min-height: 350px;
    overflow: auto;
}
.chat-box .panel-body .chats .left-chat,
.chat-box .panel-body .chats .right-chat{
    width: 100%;
    display: inline-block;
    
}
.chat-box .panel-body .chats .left-chat p,
.chat-box .panel-body .chats .right-chat p{
    background: #e8e8e8;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
    margin-left: 10px;
    position: relative;
}
.chat-box .panel-body .chats .right-chat p{
    float: right;
    margin-right: 10px;
}
.chat-box .panel-body .chats p:before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0px 10px;
    border-color: #e8e8e8 transparent transparent transparent;
    position: absolute;
    left: -10px;
    top: 0px;
}
.chat-box .panel-body .chats .right-chat p:before{
    left: auto;
    right: -10px;
}
.chat-box .panel-body .chats p span{
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 10px;
}
.chat-box .panel-body .chat-type{
    border: 1px solid #e7eaec;
    padding: 10px 10px;
    display: inline-block;
    width: 100%;
}
.chat-box .panel-body .chat-type button{
    float: right;
}
.chat-box .panel-body .chat-type textarea{
    border: none;
    resize: none;
    padding: 0px;
}
.chat-box .panel-body .chat-type textarea:focus{
    outline: none;
}
#process .onoffswitch{
    width: 80px;
}
#process .onoffswitch-label{
    border: 2px solid #177892;
}
#process .onoffswitch-inner:before,
#process .onoffswitch-inner:after{
    height: 25px;
    line-height: 25px;
    font-size: 13px;
}
#process .onoffswitch-inner:before{
    content: "Full";
    background-color: #177892;
}
#process .onoffswitch-switch{
    right: 62px;
    border: 2px solid #177892;
}
#process  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch{
    right: 0px;
}
#process .onoffswitch-inner:after{
    content: "Partial";
    background-color: #177892;
    color: #FFF;
}
#disapprove .note-editor .note-editable{
    max-height: 250px;
    min-height: 250px;
}
#disapprove .note-editor{
    max-height: 350px;
    border: 1px solid #eaeaea;
}
.setting-global table td,
.setting-global table th{
    padding: 5px 15px;
}