<div class="container page" style="margin-top: 100px;">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="success-book successicon text-center">
                <i class="fa fa-check-circle"></i>
            </div>
            <h2 class="title-md text-center">Meeting request submitted successfully.</h2>
            <p class="text-center">Your request for the meeting has been submitted successfully and awaiting for mentor's approval. Once mentor accepts the invitation we will get back to you with meeting confirmation through e-mail.</p>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="mentor profile image" src="{{arrMentorData.userData.fullProfileImageURL}}">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="{{frontConstant.ACCESSURL}}mentorprofile/{{arrMentorData.userData.slug}}">{{arrMentorData.userData.firstName}} {{arrMentorData.userData.lastName}}</a>
                    </div>
                    <div class="desc">{{arrMentorData.mentor_details.profession}}, {{arrMentorData.mentor_details.company_name}}, {{arrMentorData.userData.city_name}}, {{arrMentorData.userData.countryName}}</div>
                    <div class="desc">Hourly Charge : {{arrMentorData.mentor_details.hourly_rate}} USD</div>
                </div>
                <div class="bottom inviteDetails">
                    <div class="well">
                        {{#if arrSlotsRequested}}
                        <h3>Selected Time Slots</h3>
                        {{#each arrSlotsRequested}}
                        <p>{{this.slotStart}} to {{this.slotEnd}}</p>
                        {{/each}}
                        {{/if}}
                        <h3 data-toggle="tooltip" data-placement="bottom" title="Your card will be charged for the said amount only when the mentor confirms the meeting">
                            Amount Pre-authorized : <span class="red">${{paidAmount}}</span>
                        </h3>
                    </div>
                    
                    <a href="{{frontConstant.ACCESSURL}}mentor/meeting_invites" class="btn red-btn btn-social">My Invites</a>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container page">
        <div class="row">
        </div>
    </div>
</div>