<div class="fullscreen inner-banners aboutus">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    {{!--<h2>About Us</h2>--}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper lg-pad">
    <div class="container page">
        <div class="row static_pages">
            <div class="col-sm-10 col-sm-offset-1 text-justify">          
               
                <p>Nvestlink is a social networking space for those interested in beginning or expanding their investment journey. Our belief is that peer to peer research and shared experience are the most effective tools for discovery and education. Whether you are picking single stocks, building a diversified portfolio, looking for the best college savings plan, or seeking professional advice, your Nvestlink community will help lead the way. </p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>                
            </div>
        </div>
    </div>
</div>
<br/>