<div class="accessasive">
      <div class="halfscreen ips-image-banner">

      </div>
      <div class="halfscreen WisForm">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="account-box">
            
                {{> helper/error_helper }}

                {{> helper/message_helper }}

                <form name="frmActivateAcc" id="frmActivateAcc" class="form-signin" method="post" action="/activateAcc">
                    <div class="form-group">
                        <label>Enter your email address to get account activation link</label>
                        <input type="text" name="email" id="email" class="form-control" placeholder="Email Address" autofocus />
                    </div>
                    <button class="btn btn-lg btn-block red-bg" type="submit">Send</button>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="js/webjs/forgotpassword.js?v={{frontConstant.VERSION}}"></script>