<div class="fullscreen inner-banners">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>Compliance</h2>
                    <!--<ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{frontConstant.ACCESSURL}}">Home</a></li>
                        <li class="breadcrumb-item active">Bookmarked advisors</li>
                    </ol>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper lg-pad">
    <div class="container page">
        <div class="row static_pages">
            <div class="col-sm-10 col-sm-offset-1 text-justify">
                <div class="constrain">
                    <p><b>Welcome to Nvestlink Compliance Framework:</b></p>
                    <p>Nvestlink is a trusted knowledge sharing community where professionals can share their specific industry knowledge, experience and expertise across a variety of domains and geographical regions, with people across the world.  Our platform offers flexibility and enables a advisor to impart their knowhow with those seeking it via pre-booked live audio and video virtual meeting facilities.</p>

                    <p>Whether you are a young graduate looking for advice about a start-up in a given industry, an investor curious to glean insights about investing opportunities in various parts of the world, or an academic who has done research on a specific industry related topic and is interested in sharing their knowledge with those who want to learn more about it; Nvestlink is a virtual marketplace that connects experts in a specific domain with people who seek their expertise.</p>

                    <p>Nvestlink provides a platform for knowledge sharing of professionals, by professionals, for professionals on a global scale. As in all sharing networks, there is a large element of trust, safety, respect and compliance as per the guidelines laid down by the community.</p>

                    <p>Maintaining the highest standards of compliance is vital to the growth and sustainability of a knowledge sharing community. Nvestlink has devised a robust structure of guidelines and parameters and we encourage all advisors and users to understand and adhere to our approach and ethics as enshrined in the Nvestlink compliance framework.</p>

                    <p>We firmly believe in the importance of responsible advisorship. We mandate that every knowledge provider must go through our compliance guidelines and complete a compliance test to ensure that they have understood the fundamentals of advisoring. Our test encompasses ten questions that cover important topics such as material non-public information, intellectual property, copyrights and insider trading, among others.</p>

                    <p>We want our advisors and users to engage with one another in a meaningful manner without unknowingly breaching compliance rules and regulations. We strongly encourage all our advisors and users to review our terms and conditions.</p>

                    <p>Listed below are a few of the most important global compliance laws, to ensure that all our advisors and users are up to speed on the practices and regulations that govern such sharing of expertise and information.</p>

                    <p><b>Global Laws & Regulatory Practices that are binding on all Nvestlink advisors include:</b></p>

                    <ul class="default">
                        <li>
                            <p><strong>Material Non-Public Information</strong></p>
                            <div class="li_content">
                                <p>As a Nvestlink advisor, please be aware that divulging material non-public information is a gross violation of our terms and conditions and industry regulations.</p>

                                <p>What Is <strong>Material</strong> Information?</p>

                                <p>Any information or communication that may influence an investor to buy, hold or sell a security, and thereby affect its price, is considered <strong>material</strong> information, also known as “<strong>insider trading</strong>”.</p>

                                <p>Examples of material information or insider trading could include (but is not limited to):</p>

                                <ol class="default square">
                                    <li>Earnings & sales projections or data</li>
                                    <li>Fluctuations in financial performance</li>
                                    <li>A pending or ongoing joint venture, merger, acquisition, tender, initial public offer or financing restructure</li>
                                    <li>A possible Joint Venture</li>
                                    <li>A Sale of a significant asset / division of an organization</li>
                                    <li>Sale or disposal of an asset or subsidiary</li>
                                    <li>Gain or loss of a major contract, client or vendor changes, or changes in the profitability of a certain contract.</li>
                                    <li>Changes in management, key personnel, or labor union disputes and negotiations</li>
                                    <li>Changes in dividend policy.</li>
                                    <li>Stock splits or potential offer of securities.</li>
                                    <li>Pending threat or ongoing litigation and its resolution.</li>
                                    <li>Intellectual property developments in an organization</li>
                                    <li>Confidential communications with government bodies such as the SEC, Tax Authorities, or a Court of Law</li>
                                </ol>

                                <p>What Is <strong>Non-Public</strong> Information?</p>

                                <p>Non-public information is that information that has not yet been made “public” through officially recognized communication channels, such as an official press release or a statement by one of the company’s senior management. As a general guideline, information is only deemed “public” after the first day of disclosure.</p>

                                <p>A Case Study:</p>

                                <p>John is a consultant. One of his client’s is  Morgan & Co – a giant Financials Services  firm based out of New York.  Over lunch with the Chief Technology Officer of  Morgan, he learns that Morgan is planning to outsource 50% of it’s technology work such as enterprise network management, customer services call centers to a large Information Technology enabled Services (ITeS) service provider  - Winfosystems  in India.  This will save Morgan approximately USD 2 bn annually.</p>

                                <p>The following week, John was having a conference call with another client on the dynamics of technology outsourcing work across the world.</p>

                                <p>On the conference call or in following interactions, can John divulge Morgan’s plans of outsourcing work to India?</p>

                                <ul class="default">
                                    <li>Yes</li>
                                    <li>No</li>
                                </ul>

                                <p>Choose the correct answer</p>

                                <p>Answer : No</p>

                                <p>John cannot divulge his conversation with the CTO of Morgan & Co as that is material information in that it is going to shave off USD 2 bn from Morgan’s cost annually and therefore can materially affect Morgan’s earnings and hence the stock price.  Further, this is inside information in that it is not disclosed publicly by Morgan & Co , thus John is confidentially privy to such information.</p>

                                <p>Therefore, John should refrain from making any reference of this conversation in any other conversations that me may be having privately or professionally.</p>

                                <p>We encourage you to click on the link and read more about material non-public information: <a href="http://www.sec.gov/answers/insider.htm">Click Here</a></p>
                            </div>
                        </li>
                        <li>
                            <p><strong>Intellectual Property</strong></p>
                            <div class="li_content">
                                <p>As a Nvestlink advisor, please be aware that divulging intellectual property is a gross violation of our terms and conditions and industry regulations.</p>

                                <p>What Is <strong>Intellectual Property</strong>?</p>

                                <p>Intellectual Property is a creation of the mind. It could be a physical 	product or concept. It includes (but is not limited to):</p>

                                <ul class="default">
                                    <li>Inventions</li>
                                    <li>Creative work e.g. literature, art, music, etc.</li>
                                    <li>Designs & symbols</li>
                                    <li>Names & images used for commercial purposes</li>
                                </ul>

                                <p>Intellectual Property needs to be registered by the owner and is protected by the law under three broad categories:</p>

                                <ul class="default">
                                    <li>
                                        <strong>Patents:</strong>
                                        <p>In legal terms, a patent grants the owner an exclusive right over his or her invention. The owner of the patent must disclose technical details of the invention in the registered patent document. As a result, this gives 	the patent owner the authority to decide who may use the invention, and how other parties may utilize it. Patented products may include technology, machinery, hardware, formulae, software, etc.</p>
                                    </li>
                                    <li>
                                        <strong>Copyright:</strong>
                                        <p>In legal terms, a copyright defines the rights that original creators have over their work. May cover a range of subject matter such as literature, art, music, paintings, graphic design, photography, sculpture, films and video, IT software programs, database design, advertising, technical drawings, textile design, etc.</p>
                                    </li>

                                    <li>
                                        <strong>Trademark:</strong>
                                        <p>In legal terms, a trademark is a symbol that differentiates the goods, services, design, logo, name or product of a specific corporation or individual as unique from any other business entity.</p>

                                        <p>We encourage you to click on the links below to learn more:</p>

                                        <p><a href="http://www.state.gov/e/eb/tpp/ipe/what/index.htm">Link1</a></p>
                                        <p><a href="http://www.aipla.org/about/iplaw/Pages/default.aspx">Link2</a></p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <strong>Confidential or Proprietary Material</strong>
                            <div class="li_content">
                                <p>In addition to the above, Nvestlink advisors should also be aware that it is against Nvestlink policy to share any confidential or proprietary material or data.</p>

                                <p>What Is <strong>Confidential or Proprietary Material</strong>?</p>

                                <p>Confidential or proprietary material includes information, data or technology that is bound by any confidentiality clause, non-disclosure agreement, or contract that you have agreed to in writing.</p>

                                <p>We encourage you to click on the links below to learn more: <a href="http://www.wrc.noaa.gov/wrso/security_guide/propriet.htm">Click Here</a></p>
                            </div>
                        </li>
                    </ul>

                    <p>Sample tutorial questions relating to Intellectual property, Patents, Trademarks, and Copyrights.</p>

                    <ol class="default decimal">
                        <li>
                            <p>A street vendor in Bangkok is selling fake “ Omegaa” watches. Under which area of intellectual property would Omega SA – the original Swiss company that manufacturers Omega watches, seek a remedy under?</p>
                            <ul class="default circle">
                                <li>A) Copyrights</li>
                                <li>B) Trademarks</li>
                                <li>C) Patent</li>
                                <li>D) Industrial Design</li>
                            </ul>

                            <p>Answer : B) Trademarks</p>

                            <p>A trademark is the right to the exclusive use of the mark that distinguishes the wares or services of one person from the wares or services of another. The unauthorized marking of goods by a person, for the purpose of passing them off as being those of the authorized owner of the trademark, constitutes infringement, a tort, and the criminal offence of "passing off."</p>
                        </li>

                        <li>
                            <p>Susan has designed a rubber pod, on which a iphone can be mounted.   The iphone speakers are half an inch into the pod, and end of the pod opens up into a cone. This devise allows the sound emitted from the iphone to be amplified, functioning as a speaker, without any external source of energy. She sells the the pod under the name QuadPod “. Which types of intellectual property would most likely apply to Susan’s creation?</p>
                            <ul class="default circle">
                                <li>A) Patent, Copyright, Trademark</li>
                                <li>B) Copyright, Trademark, Industrial Design</li>
                                <li>C) Trademarks, Industrial Design, Trade Secret</li>
                                <li>D) Patent, Trademark, Industrial Design</li>
                            </ul>

                            <p>Answer : D) Patent, Trademark, Industrial Design</p>
                        </li>

                        <li>
                            <p>The closely guarded formula for making Coca-Cola is an example of what type of IP?</p>
                            <ul class="default circle">
                                <li>A) Patent </li>
                                <li>B) Trade Secret</li>
                                <li>C) Trademark</li>
                                <li>D) Copyright</li>
                            </ul>

                            <p>Answer : B) Trade Secret</p>

                            <p>The Coca Cola Company holds the record for the longest held trade secret in the world for its secret formula for Coke.</p>
                        </li>
                    </ol>

                    <p><b>Some Dos & Don’ts while engaging in a meeting on Nvestlink:</b></p>

                    <ol class="default decimal">
                        <li><p>If a advisor is unsure whether a particular question should or should not be answered during any verbal or written interaction with a knowledge seeker, he or she should err on the side of caution.</p></li>

                        <li><p>A advisor is completely justified in declining to answer a tricky question that may be a conflict of interest with governing laws such as material non-public information, intellectual property rights, or confidential information.</p></li>

                        <li><p>If any party engaged in an engagement persists in asking uncomfortable questions or divulging information that violates material non-public information or could constitute insider trading, a advisor has the right to immediately discontinue the interaction.</p></li>

                        <li><p>A advisor may not engage in any meeting or interaction that involves a current employer, or an organization where he or she might holds a position of a director, officer, or trustee, unless expressly permitted by the organization he or she is associated with.</p></li>

                        <li><p>A advisor should not participate in any meeting or communication when the advisor’s organization or employer is involved in the process of an initial public offer, merger or tender activity.</p></li>

                        <li><p>A advisor should not participate in any communication that divulges any organizational activity that involves significant data or important corporate action.</p></li>

                        <li><p>A advisor should avoid participating in any meeting or communication with any knowledge seeker who is a competitor of your employer, or that organization of which he or she is a director, trustee or may have any such significant relationship thereof.</p></li>

                        <li><p>If a advisor is in possession of material non-public information, he or she should abstain from sharing this information with any second party. He or she will further abstain to trade in securities, commonly called as “insider trading” on any such information.  Regulatory action on insider trading and disclosure of material non-public information are globally stringent and even the slightest violation of these laws may attract criminal prosecution by the concerned regulators.</p></li>

                        <li><p>If a advisor is an employee of the government of any jurisdiction, he or she must refrain from divulging policies, regulations, contracts, or changes in legislations that are not openly available in the public domain. Moreover, he or she may not discuss those contracts, regulations, policies and legislations that he or she is in a position to vote for or has any decision making influence.</p></li>

                        <li><p>If a advisor is a doctor, he or she may not offer medical advice.</p></li>

                        <li><p>If a advisor is engaged in conducting clinical trials for healthcare organizations, he or she may not divulge any details relating to those trials whose results have not yet been made public.</p></li>

                        <li><p>If you are concerned that you may have divulged any information that may have been a violation of the compliance regulations, immediately discontinue any such interaction and email your statement of discontinuation from the said engagement along with a brief summary of the reasons for doing so to <a href="mailto:info@nvestlink.com">info@nvestlink.com</a></p></li>
                    </ol>

                </div>
            </div>
        </div>
    </div>
</div>