<div class="fullscreen inner-banners contactus">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    {{!-- <h2>Contact US</h2> --}}
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container page">
    <div class="contact-section-new">

        <!--        <div class="cnt-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3734.4341090119497!2d-100.4100067!3d20.611155!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1521010316487"  style="border:0" allowfullscreen></iframe>
        </div>-->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="left-cnt">
                    <h2>Reach us</h2>
                    <!--  <div class="cnt-info clearfix">
                              <div class="icon">
                                       <i class="fa fa-map-marker" aria-hidden="true"></i>
                              </div>
                              <div class="text">
                                       <h3>Address</h3>
                                       <p>Lorem Ipsum is simply dummy text of the printing</p>
                              </div>-->
                </div>
                <div class="cnt-info clearfix">
                    <div class="icon">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h3>Email</h3>
                        {{!-- <p><a href="Mailto:support@wissenx.com">support@wissenx.com</a></p> --}}
                        <p><a href="Mailto:info@nvestlink.com">info@nvestlink.com</a></p>

                    </div>
                </div>
                <!--                 	  	   	    	 <div class="cnt-info clearfix">
                                                                          <div class="icon">
                                                                                   <i class="fa fa-phone" aria-hidden="true"></i>
                                                                          </div>
                                                                          <div class="text">
                                                                                   <h3>Call</h3>
                                                                                   <p><a href="tel:1234567890">1234567890</a></p>
                                                                          </div>
                                                                 </div>
                                                                 <div class="cnt-info clearfix">
                                                                          <div class="icon">
                                                                                   <i class="fa fa-skype" aria-hidden="true"></i>
                                                                          </div>
                                                                          <div class="text">
                                                                                   <h3>Skype</h3>
                                                                                   <p><a href="Mailto:lorem@lorem.com">lorem@lorem.com</a></p>
                                                                          </div>
                                                                 </div>
            </div>-->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="right-cnt">
                    <h2>Send Us a Message</h2>
                    <div class="contact-form">
                        <form name="frm_sndmsg" id="frm_sndmsg" class="form-signin">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>Mobile No.</label>
                                <input type="number" name="number" id="number" class="form-control"
                                    placeholder="Mobile no.">
                            </div>
                            <div class="form-group">
                                <label>Comment</label>
                                <textarea class="form-control" name="comment" id="comment"
                                    placeholder="Comment"></textarea>
                            </div>
                            <div class="send-btn2">
                                <input class="btn btn-primary" type="submit" value="Send">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{frontConstant.ACCESSURL}}js/webjs/contactus.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>