<link href="{{frontConstant.ACCESSURL}}css/li-scroller.css" rel="stylesheet">
<style type="text/css">
    .pac-container {
        width: 250px !important;
    }

    #tick li, #tick2 li { list-style-type:none; float:left; padding-right:20px; position:absolute; left:0px; color: #129846; font: bold 10px Verdana; margin-top: 8px; }
    #tick, #tick2 { position:relative; display:block; width:5000px; margin:0; display:table; height:0px; }
    #outer{width:100%;height:25px; overflow:hidden; background:rgba(255,255,255,0.8);}    
    #outer a:hover {border-bottom:2px solid #777;}

    #ticker02 li, #tick21 li { list-style-type:none; float:left; padding-right:20px; position:absolute; left:0px; color: #129846; font: bold 10px Verdana; margin-top: 8px; }
    #ticker02, #tick21 { position:relative; display:block; width:500000px; margin:0; display:table; height:0px; }
    #outer1{width:100%;height:25px; overflow:hidden; background:rgba(3,17,35,0.8);}    
    #outer1 a:hover {border-bottom:2px solid #777;}
    
/*    #ticker03 li, #tick22 li { list-style-type:none; float:left; padding-right:20px; position:absolute; left:0px; color: #129846; font: bold 10px Verdana; margin-top: 8px; }
    #ticker03, #tick22 { position:relative; display:block; width:5000px; margin:0; display:table; height:0px; }
    #outer2{width:100%;height:25px; overflow:hidden; background:rgba(255,255,255,0.8);}    
    #outer2 a:hover {border-bottom:2px solid #777;}*/

</style>
<div class="fullscreen ips-image-banner">
    {{!-- <div class="modal modal-fullscreen fade videoFullscreen" id="modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <div class="row row-table row-full-height">
            <div class="col-sm-12 col-middle text-center">
                <video class="video-background">
                    <source src="{{frontConstant.ACCESSURL}}videos/final_video.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div> --}}
    <div class="center-cloud">
        <div class="searchSection">
        <div class="">
            <div class="">
                <div class="searchbase">
                    <h2>Invest Better</h2>
                    <br/>
                    <h3>Collaborate with peers and professionals.</h3>
                    {{!-- <div class="playVideo">
                        <a href="#" data-toggle="modal" data-target="#modal-fullscreen">
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                        </a>
                    </div> --}}
                    {{!-- <p>Insights, experience, domain knowledge, research & analysis</p> --}}
                   
                        <div class="search-form">
                        <form name="frmHomePageSearch" id="frmHomePageSearch" action="{{frontConstant.ACCESSURL}}mentor/listing" method="get">
                            <div class="fxac">
                                <div class="search-location fx">
                                    <input type="text" class="search-field form-control" id="txtLocation" name="txtLocation" placeholder="Search Experts by Region…">
                                    <img src="{{frontConstant.ACCESSURL}}images/loading.gif" id="imgLocationLoader" title="loader" class="hidden" />
                                </div>
                                <input type="hidden" name="hidLocationType" id="hidLocationType" class="js-searchValidation" value="" />
                                <input type="hidden" name="hidLocationId" id="hidLocationId" value="" />
                                <div class="search-inp-container fx">
                                    <input type="text" class="search-field form-control js-searchValidation" name="txtQueryString" id="txtQueryString" placeholder="">
                                    <img src="{{frontConstant.ACCESSURL}}images/loading.gif" id="imgKeywordLoader" title="loader" class="hidden" />
                                </div>
                                <input type="submit" class="home-search-btn" value="Search">
                                <input type="hidden" name="hidSearchFrom" id="hidSearchFrom" value="homepage" />
                                <input type="hidden" name="hidLocationSelected" id="hidLocationSelected" value="N" />
                            </div>
                            <div id="searchErrorDiv">
                            </div>
                            {{!-- <div class="quickCat">
                                {{#if arrRandMentorExpertise}} {{#each arrRandMentorExpertise}}
                                <a href="javaScript:;" class="js-homePageTagSearch" data-tagId="{{value}}" data-tagKeyword="{{value}}">{{value}}</a>
                                {{/each}} {{/if}}
                            </div> --}}
                        </form>
                    </div>
                   
                    
                </div>
            </div>
        </div>
    </div>
    </div>
    

    {{!-- <div class="news-ticker hidden">

        <!-- <div class="ticker-main">
      <div class="tm01">
        Industries
      </div>
      <div class="tm02">
        Sub-Industries
      </div>
  </div> -->
        <div id="outer">
            <ul id="tick">
                <li>
                    <span class="">Indicative Expert engagements in USD </span>
                </li>
                <li>
                    <span class="red">ENERGY
                        <sub>30min@</sub>
                        <span>200</span>
                        <sup>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span class="red">MATERIALS
                        <sub>45min@</sub>
                        <span>209.45</span>
                        <sup>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span>INDUSTRIALS
                        <sub>30min@</sub>
                        <span>99.76</span>
                        <sup>
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span>CONSUMER DISCR
                        <sub>30min@</sub>
                        <span> 190.11</span>
                        <sup>
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span class="red">CONSUMER STAPL
                        <sub>30min@</sub>
                        <span> 277.77</span>
                        <sup>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span>HEALTH CR
                        <sub>30min@</sub>
                        <span> 440.34</span>
                        <sup>
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span>FINANCIALS
                        <sub>30min@</sub>
                        <span> 233.88</span>
                        <sup>
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span>INFO TECH
                        <sub>30min@</sub>
                        <span> 87.65</span>
                        <sup>
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span>TELECOM
                        <sub>30min@</sub>
                        <span> 408</span>
                        <sup>
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span class="red">UTIL
                        <sub>30min@</sub>
                        <span> 50</span>
                        <sup>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
            </ul>
            <div id="tick2"></div>
        </div>
        <div id="outer1">
            <ul id="ticker02">
                <li>
                    <span class="">Indicative Expert engagements in USD </span>
                </li>
                <li>
                    <span class="red">CONS FUEL
                        <sub>30min@</sub>
                        <span> 200.25</span>
                        <sup>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span class="red">ENERGY EQUIP
                        <sub>45min@</sub>
                        <span> 230.55</span>
                        <sup>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span>INTRGTD OIL & GAS
                        <sub>60min@</sub>
                        <span> 303.35</span>
                        <sup>
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span class="red">OIL & GAS DRL
                        <sub>90min@</sub>
                        <span> 523.90</span>
                        <sup>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span>OIL & GAS R&amp;M
                        <sub>120min@</sub>
                        <span> 610.32</span>
                        <sup>
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span>OIL & GAS STRG
                        <sub>30min@</sub>
                        <span> 210.44</span>
                        <sup>
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span class="red">CHEM
                        <sub>45min@</sub>
                        <span> 209.45</span>
                        <sup>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span class="red">CNSTRUC MATERIALS
                        <sub>60min@</sub>
                        <span> 435</span>
                        <sup>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span>AGRI
                        <sub>45min@</sub>
                        <span> 273.45</span>
                        <sup>
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span class="red">FOREST PROD
                        <sub>60min@</sub>
                        <span> 345.23</span>
                        <sup>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span class="red">INDSTR GAS
                        <sub>30min@</sub>
                        <span> 20</span>
                        <sup>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span>METALS
                        <sub>45min@</sub>
                        <span> 334.22</span>
                        <sup>
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span>PRECIOUS
                        <sub>30min@</sub>
                        <span> 200</span>
                        <sup>
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span>AROSP & DFNSE
                        <sub>30min@</sub>
                        <span> 99.76</span>
                        <sup>
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span>LOGISTICS
                        <sub>30min@</sub>
                        <span> 100</span>
                        <sup>
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span class="red">CNSTRUC & ENG
                        <sub>30min@</sub>
                        <span> 60</span>
                        <sup>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span class="red">CNSTRUC MCHNE
                        <sub>30min@</sub>
                        <span> 40</span>
                        <sup>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span class="red">FARM MCHNE
                        <sub>30min@</sub>
                        <span> 345.05</span>
                        <sup>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span>CONGLO
                        <sub>45min@</sub>
                        <span> 335.77</span>
                        <sup>
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span>INDSTR MCHNE
                        <sub>30min@</sub>
                        <span> 410</span>
                        <sup>
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </sup>
                    </span>
                </li>
                <li>
                    <span>
                        <li>
                            <span>PRJCT CONSULT
                                <sub>30min@</sub>
                                <span> 189.22</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">ASST OPERATORS
                                <sub>30min@</sub>
                                <span> 280</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">SUSTAIN SRVCS
                                <sub>30min@</sub>
                                <span> 256</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>TALENT
                                <sub>30min@</sub>
                                <span> 180</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>TRNSPRT SRVCS
                                <sub>30min@</sub>
                                <span> 435.87</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>ADVT
                                <sub>30min@</sub>
                                <span> 190.11</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">APPRL
                                <sub>30min@</sub>
                                <span> 120.45</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">AUTO & ANC
                                <sub>30min@</sub>
                                <span> 130.78</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>BRDCST
                                <sub>30min@</sub>
                                <span> 320</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>CONS ELCTRNCS STORES
                                <sub>30min@</sub>
                                <span> 289.55</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>CONS ELCTRNCS MFR
                                <sub>30min@</sub>
                                <span> 120.55</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">DPRT STORES
                                <sub>30min@</sub>
                                <span> 220.55</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">EDUCATION
                                <sub>30min@</sub>
                                <span> 329.44</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>ENTERTAIN
                                <sub>30min@</sub>
                                <span> 217.44</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>FTWEAR
                                <sub>30min@</sub>
                                <span> 600.66</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>GAMING
                                <sub>60min@</sub>
                                <span> 659.44</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">HOME FRNSH
                                <sub>30min@</sub>
                                <span> 321.34</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">HOTELS
                                <sub>30min@</sub>
                                <span> 112</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>HSEHOLD APPLINC
                                <sub>30min@</sub>
                                <span> 233.68</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>INTERNET RETAIL
                                <sub>30min@</sub>
                                <span> 279.05</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>QSRs
                                <sub>30min@</sub>
                                <span> 340</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">SOFT DRNKS MFRs
                                <sub>30min@</sub>
                                <span> 277.77</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">AGRI
                                <sub>30min@</sub>
                                <span> 450</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>BREWERS
                                <sub>45min@</sub>
                                <span> 550</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>DRUG STORES
                                <sub>30min@</sub>
                                <span> 200</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>HSEHOLD PRDCTS
                                <sub>30min@</sub>
                                <span> 200.78</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">SUPER MKTS
                                <sub>30min@</sub>
                                <span> 300</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">TOBACCO
                                <sub>30min@</sub>
                                <span> 250.25</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>BIO TECH
                                <sub>30min@</sub>
                                <span> 440.34</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>HLTH CARE EQP MFRS
                                <sub>30min@</sub>
                                <span> 307</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>.66</span>
                        </li>
                        <li>
                            <span>HLTH CARE FACIL
                                <sub>30min@</sub>
                                <span> 259.75</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">HLTH CARE EQP SRVCS
                                <sub>30min@</sub>
                                <span> 432.44</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">HLTH CARE SPPLY
                                <sub>30min@</sub>
                                <span> 200</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>LIFE SCIEN
                                <sub>30min@</sub>
                                <span> 234.98</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>PHARMA
                                <sub>30min@</sub>
                                <span> 123.65</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>ASSET MGT
                                <sub>30min@</sub>
                                <span> 233.88</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">BANKS
                                <sub>30min@</sub>
                                <span> 255.86</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">INSURANCE
                                <sub>30min@</sub>
                                <span> 159.76</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>INVEST BANKING
                                <sub>30min@</sub>
                                <span> 55.66</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>MACRO ECO
                                <sub>30min@</sub>
                                <span> 189.65</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>MORTGAGE FIN
                                <sub>30min@</sub>
                                <span> 288.55</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">OTHER FIN SRVCS
                                <sub>30min@</sub>
                                <span> 213.55</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">REAL ESTATE DVLP
                                <sub>30min@</sub>
                                <span> 209.05</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>REAL ESTATE SRVCS
                                <sub>30min@</sub>
                                <span> 250</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>REITS
                                <sub>30min@</sub>
                                <span> 321.12</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>APPLI SFTWRE
                                <sub>30min@</sub>
                                <span> 87.65</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">BPO
                                <sub>30min@</sub>
                                <span> 267.98</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">COMM EQP MFRS
                                <sub>30min@</sub>
                                <span> 450</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>ELECTR COMP MFRS
                                <sub>30min@</sub>
                                <span> 730.60</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>ELECTR EQP MFRS
                                <sub>45min@</sub>
                                <span> 690</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>INTERNET SFTWRE &amp; SRVCS
                                <sub>30min@</sub>
                                <span> 256</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">IT CONSULT
                                <sub>30min@</sub>
                                <span> 240</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red"> SYSTM SFTWRE
                                <sub>30min@</sub>
                                <span> 200.10</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>TECH DISTR
                                <sub>30min@</sub>
                                <span> 260.44</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>TECH MFRS
                                <sub>30min@</sub>
                                <span> 300</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>TELECOM EP MFRS
                                <sub>30min@</sub>
                                <span> 408</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">TELECOM SRVCS
                                <sub>30min@</sub>
                                <span> 40</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">ELEC UTIL
                                <sub>30min@</sub>
                                <span> 50</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>GAS UTIL
                                <sub>30min@</sub>
                                <span> 28</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>MULTI UTIL
                                <sub>30min@</sub>
                                <span> 262</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span>WATER UTIL
                                <sub>30min@</sub>
                                <span> 289</span>
                                <sup>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">IPPs
                                <sub>30min@</sub>
                                <span> 362</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
                        <li>
                            <span class="red">RENEW ENRGY
                                <sub>30min@</sub>
                                <span> 320.35</span>
                                <sup>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </sup>
                            </span>
                        </li>
            </ul>
            <div id="tick21"></div>                
        </div>  
<!--        <div id="outer2">
            <ul id="ticker03">            
            </ul>
            <div id="tick22"></div> 
        </div>-->
        <ul id="ticker03">            
            </ul>
    </div> --}}
</div>

{{!-- <div id="skip">
    <a href="#belowSection">
        <i class="fa fa-3x fa-angle-down pulsing"></i>
    </a>
</div> --}}




<div class="wrapper" id="belowSection">
    <div class="container">
        <div class="row">

            <section>
                <div class="sec-title centered">
                    <div class="centered-icon">
                        <span class="icon icon-linegraph"></span>
                    </div>
                    <h2>How It Works</h2>
                </div>

                <div class="col-sm-3 work-process">
                    <span class="icon-magnifying-glass"></span>
                    <h4>Find an industry expert</h4>
                    <p>Browse our community of experts to find the right one for you</p>
                </div>

                <div class="col-sm-3 work-process">
                    <span class="icon-chat"></span>
                    <h4>Request & book a video call</h4>
                    <!--<p>You will be pre-charged for the estimated length of the call</p>-->
                    <p>You will be pre-charged for the length of the call you select</p>
                </div>

                <div class="col-sm-3 work-process">
                    <span class="icon-attachment"></span>
                    <h4>Connect Directly</h4>
                    <p>Use our seamless built-in video interface</p>
                </div>
                 <div class="col-sm-3 work-process">
                    <span class="icon-puzzle"></span>
                    <h4>Research with your community</h4>
                    <p>Make your own community with friends and experts.</p>
                </div>
            </section>

            <section>
                <div class="sec-title centered">
                    <div class="centered-icon">
                        <span class="icon icon-briefcase"></span>
                    </div>
                    <h2>Search investment industries and categories</h2>
                </div>

                {{!-- <div class="missionary"> --}}
                    <div class="industry-sec-cst">
                        <div class="row">
                            <div class="col-sm-12 col-md-2 col-md-offset-1">
                            <div class="icon-list">
                                <a class="js-IndustrySearch" data-tokenId="1" data-tokenKeyword="Energy" data-tokenType="INDUSTRY">
                                    <img src="images/Energy.svg">
                                  <h2 class="">Energy</h2>
                                </a>
                            </div>                             
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="icon-list">
                                <a class="js-IndustrySearch" data-tokenId="2" data-tokenKeyword="Materials" data-tokenType="INDUSTRY">
                                    <img src="images/Materials.svg">
                                  <h2 class="">Materials</h2>
                                </a>
                            </div> 
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="icon-list">
                                <a class="js-IndustrySearch" data-tokenId="3" data-tokenKeyword="Industrials" data-tokenType="INDUSTRY">
                                    <img src="images/Industrial.svg">
                                  <h2 class="">Industrials</h2>
                                </a>
                            </div> 
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="icon-list">
                                <a class="js-IndustrySearch" data-tokenId="4" data-tokenKeyword="Consumer Discretionary" data-tokenType="INDUSTRY">
                                    <img src="images/consumer Discrionary.svg">
                                  <h2 class="">Consumer Discretionary</h2>
                                </a>
                            </div> 
                        </div>
                   
                        <div class="col-sm-12 col-md-2">
                            <div class="icon-list">
                                <a class="js-IndustrySearch" data-tokenId="5" data-tokenKeyword="Consumer Staples" data-tokenType="INDUSTRY">
                                    <img src="images/Consumer Staples.svg">
                                  <h2 class="">Consumer Staples</h2>
                                </a>
                            </div> 
                        </div>
                       
                        </div>
                        

                        <div class="row">
                            <div class="col-sm-12 col-md-2 col-md-offset-1">
                                <div class="icon-list">
                                    <a class="js-IndustrySearch"  data-tokenId="6" data-tokenKeyword="Health Care" data-tokenType="INDUSTRY">
                                        <img src="images/Healthcare.svg">
                                    <h2 class="">Health Care</h2>
                                    </a>
                                </div> 
                            </div>
                            <div class="col-sm-12 col-md-2">
                            <div class="icon-list">
                                <a class="js-IndustrySearch"  data-tokenId="7" data-tokenKeyword="Financials" data-tokenType="INDUSTRY">
                                    <img src="images/Financials.svg">
                                  <h2 class="">Financials</h2>
                                </a>
                            </div> 
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="icon-list">
                                <a class="js-IndustrySearch"   data-tokenId="8" data-tokenKeyword="Information Technology" data-tokenType="INDUSTRY">
                                    <img src="images/Information Technology.svg">
                                  <h2 class="">Information Technology</h2>
                                </a>
                            </div> 
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="icon-list">
                                <a class="js-IndustrySearch"  data-tokenId="9" data-tokenKeyword="Telecommunication Services" data-tokenType="INDUSTRY">
                                    <img src="images/Communication.svg">
                                  <h2 class="">Telecommunication Services</h2>
                                </a>
                            </div> 
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="icon-list">
                                <a class="js-IndustrySearch" data-tokenId="10" data-tokenKeyword="Utilities" data-tokenType="INDUSTRY">
                                    <img src="images/Utilities.svg">
                                  <h2 class="">Utilities</h2>
                                </a>
                            </div> 
                        </div>
                        </div>
                        {{!-- row end --}}

                        <div class="row">
                            <div class="col-sm-12 col-md-2 col-md-offset-1">
                                <div class="icon-list">
                                    <a class="js-IndustrySearch"  data-tokenId="6" data-tokenKeyword="Health Care" data-tokenType="INDUSTRY">
                                        <img src="images/Bonds.svg">
                                    <h2 class="">Bonds</h2>
                                    </a>
                                </div> 
                            </div>
                            <div class="col-sm-12 col-md-2">
                            <div class="icon-list">
                                <a class="js-IndustrySearch"  data-tokenId="7" data-tokenKeyword="Financials" data-tokenType="INDUSTRY">
                                    <img src="images/College.svg">
                                  <h2 class="">College</h2>
                                </a>
                            </div> 
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="icon-list">
                                <a class="js-IndustrySearch"   data-tokenId="8" data-tokenKeyword="Information Technology" data-tokenType="INDUSTRY">
                                    <img src="images/Currency.svg">
                                  <h2 class="">Currency</h2>
                                </a>
                            </div> 
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="icon-list">
                                <a class="js-IndustrySearch"  data-tokenId="9" data-tokenKeyword="Telecommunication Services" data-tokenType="INDUSTRY">
                                    <img src="images/Entviroment.svg">
                                  <h2 class="">Entviroment</h2>
                                </a>
                            </div> 
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="icon-list">
                                <a class="js-IndustrySearch" data-tokenId="10" data-tokenKeyword="Utilities" data-tokenType="INDUSTRY">
                                    <img src="images/Fintech.svg">
                                  <h2 class="">Fintech</h2>
                                </a>
                            </div> 
                        </div>
                        </div>
                        {{!-- row end --}}

                         <div class="row">
                            <div class="col-sm-12 col-md-2 col-md-offset-1">
                                <div class="icon-list">
                                    <a class="js-IndustrySearch"  data-tokenId="6" data-tokenKeyword="Health Care" data-tokenType="INDUSTRY">
                                        <img src="images/Foreign Market.svg">
                                    <h2 class="">Foreign Market</h2>
                                    </a>
                                </div> 
                            </div>
                            <div class="col-sm-12 col-md-2">
                            <div class="icon-list">
                                <a class="js-IndustrySearch"  data-tokenId="7" data-tokenKeyword="Financials" data-tokenType="INDUSTRY">
                                    <img src="images/Investment strategy.svg">
                                  <h2 class="">Investment strategy</h2>
                                </a>
                            </div> 
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="icon-list">
                                <a class="js-IndustrySearch"   data-tokenId="8" data-tokenKeyword="Information Technology" data-tokenType="INDUSTRY">
                                    <img src="images/Mutual fund.svg">
                                  <h2 class="">Mutual fund</h2>
                                </a>
                            </div> 
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="icon-list">
                                <a class="js-IndustrySearch"  data-tokenId="9" data-tokenKeyword="Telecommunication Services" data-tokenType="INDUSTRY">
                                    <img src="images/Politics.svg">
                                  <h2 class="">Politics</h2>
                                </a>
                            </div> 
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="icon-list">
                                <a class="js-IndustrySearch" data-tokenId="10" data-tokenKeyword="Utilities" data-tokenType="INDUSTRY">
                                    <img src="images/Real Estate.svg">
                                  <h2 class="">Real Estate</h2>
                                </a>
                            </div> 
                        </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12 col-md-2 col-md-offset-1">
                            <div class="icon-list">
                                <a class="js-IndustrySearch"   data-tokenId="8" data-tokenKeyword="Information Technology" data-tokenType="INDUSTRY">
                                    <img src="images/Retirement.svg">
                                  <h2 class="">Retirement</h2>
                                </a>
                            </div> 
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="icon-list">
                                <a class="js-IndustrySearch"  data-tokenId="9" data-tokenKeyword="Telecommunication Services" data-tokenType="INDUSTRY">
                                    <img src="images/Stocks.svg">
                                  <h2 class="">Stocks</h2>
                                </a>
                            </div> 
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="icon-list">
                                <a class="js-IndustrySearch" data-tokenId="10" data-tokenKeyword="Utilities" data-tokenType="INDUSTRY">
                                    <img src="images/Taxes.svg">
                                  <h2 class="">Taxes</h2>
                                </a>
                            </div> 
                        </div>
                        </div>
                     </div>

                    {{!-- <div class="col-sm-12 col-md-12 col-lg-8">
                        <a class="js-IndustrySearch" data-tokenId="1" data-tokenKeyword="Energy" data-tokenType="INDUSTRY">
                            <div class="industry energy">
                                <div class="va-middle">
                                    <h2 class="js-industryName">Energy</h2>
                                </div>
                            </div>
                        </a>
                    </div> --}}

                    {{!-- <div class="col-sm-6 col-sm-6 col-md-6 col-lg-4">
                        <a class="js-IndustrySearch" data-tokenId="2" data-tokenKeyword="Materials" data-tokenType="INDUSTRY">
                            <div class="industry materials">
                                <div class="va-middle">
                                    <h2 class="js-industryName">Materials</h2>
                                </div>
                            </div>
                        </a>
                    </div> --}}

                    {{!-- <div class="col-sm-6 col-md-6 col-lg-4">
                        <a class="js-IndustrySearch" data-tokenId="3" data-tokenKeyword="Industrials" data-tokenType="INDUSTRY">
                            <div class="industry industrials">
                                <div class="va-middle">
                                    <h2 class="js-industryName">Industrials</h2>
                                </div>
                            </div>
                        </a>
                    </div> --}}

                    {{!-- <div class="col-sm-6 col-md-6 col-lg-4">
                        <a class="js-IndustrySearch" data-tokenId="4" data-tokenKeyword="Consumer Discretionary" data-tokenType="INDUSTRY">
                            <div class="industry discretionary">
                                <div class="va-middle">
                                    <h2 class="js-industryName">Consumer Discretionary</h2>
                                </div>
                            </div>
                        </a>
                    </div> --}}

                    {{!-- <div class="col-sm-6 col-md-6 col-lg-4">
                        <a class="js-IndustrySearch" data-tokenId="5" data-tokenKeyword="Consumer Staples" data-tokenType="INDUSTRY">
                            <div class="industry staples">
                                <div class="va-middle">
                                    <h2 class="js-industryName">Consumer Staples</h2>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <a class="js-IndustrySearch" data-tokenId="6" data-tokenKeyword="Health Care" data-tokenType="INDUSTRY">
                            <div class="industry health">
                                <div class="va-middle">
                                    <h2 class="js-industryName">Health Care</h2>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-8">
                        <a class="js-IndustrySearch" data-tokenId="7" data-tokenKeyword="Financials" data-tokenType="INDUSTRY">
                            <div class="industry financials">
                                <div class="va-middle">
                                    <h2 class="js-industryName">Financials</h2>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4 col-switch">
                        <a class="js-IndustrySearch" data-tokenId="8" data-tokenKeyword="Information Technology" data-tokenType="INDUSTRY">
                            <div class="industry technology">
                                <div class="va-middle">
                                    <h2 class="js-industryName">Information Technology</h2>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <a class="js-IndustrySearch" data-tokenId="9" data-tokenKeyword="Telecommunication Services" data-tokenType="INDUSTRY">
                            <div class="industry tele">
                                <div class="va-middle">
                                    <h2 class="js-industryName">Telecommunication Services</h2>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <a class="js-IndustrySearch" data-tokenId="10" data-tokenKeyword="Utilities" data-tokenType="INDUSTRY">
                            <div class="industry utilities">
                                <div class="va-middle">
                                    <h2 class="js-industryName">Utilities</h2>
                                </div>
                            </div>
                        </a>
                    </div> --}}

                {{!-- </div> --}}
            </section>
            {{#ifCond arrSessionData.userType '==' 'user'}}
            <section>
                <div class="be-a-mentor hide">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="banner-img">
                                    <img src="{{frontConstant.ACCESSURL}}images/team.png" alt="">
                                </div>
                                <div class="sec-title centered">
                                    <h2>Advantages of become a mentor</h2>
                                </div>
                                <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae magni molestias, pariatur
                                    esse ex necessitatibus natus corrupti, repudiandae ipsam debitis eum incidunt tempore
                                    nihil dolore iste earum,</p>
                            </div>
                        </div>
                        <div class="row mb-40">
                            <div class="col-sm-6 col-xs-12 adv-list-item">
                                <div class="adv-icon">
                                    <span aria-hidden="true" class="icon-puzzle"></span>
                                </div>
                                <div class="adv-content">
                                    <h4>Lorem ipsum dolor sit</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam excepturi recusandae
                                        ipsa.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 adv-list-item">
                                <div class="adv-icon">
                                    <span aria-hidden="true" class="icon-streetsign"></span>
                                </div>
                                <div class="adv-content">
                                    <h4>Consectetur adipisicing</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam excepturi recusandae
                                        ipsa.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 adv-list-item">
                                <div class="adv-icon">
                                    <span aria-hidden="true" class="icon-telescope"></span>
                                </div>
                                <div class="adv-content">
                                    <h4>Recusandae magni molestias</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam excepturi recusandae
                                        ipsa.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 adv-list-item">
                                <div class="adv-icon">
                                    <span aria-hidden="true" class="icon-bargraph"></span>
                                </div>
                                <div class="adv-content">
                                    <h4>Esse ex necessitatibus</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam excepturi recusandae
                                        ipsa.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 adv-list-item">
                                <div class="adv-icon">
                                    <span aria-hidden="true" class="icon-trophy"></span>
                                </div>
                                <div class="adv-content">
                                    <h4>Magni molestias</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam excepturi recusandae
                                        ipsa.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 adv-list-item">
                                <div class="adv-icon">
                                    <span aria-hidden="true" class="icon-happy"></span>
                                </div>
                                <div class="adv-content">
                                    <h4>Dolor sit amet</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam excepturi recusandae
                                        ipsa.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <a href="javascript:void(0)" class="beamentor btn btn-default">Be a Mentor</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {{/ifCond}}
            <section>
                <div class="sec-title centered">
                    <div class="centered-icon">
                        <span class="icon icon-documents"></span>
                    </div>
                    <h2>Recent Posts</h2>
                </div>

                <div class="RecentPost">
                </div>
            </section>

        </div>
    </div>

    <section class="bg_1 profiles">
        <div class="container">
            <div class="sec-title centered">
                <div class="centered-icon">
                    <span class="icon icon-profile-male"></span>
                </div>
                <h2>Distinguished Advisors</h2>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    {{#each arrMentorData}} {{> helper/mentors/high_profile_mentor loggedInUserId=../loggedInUserId}} {{/each}}
                </div>
            </div>
        </div>
    </section>

    <div class="wrapper">
        <div class="container">

            <section>
                <div class="sec-title centered">
                    <div class="centered-icon">
                        <span class="icon icon-megaphone"></span>
                    </div>
                    <h2>Testimonials</h2>
                </div>

                <div id="carousel-reviews" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="testimonials-content">
                                <div class="author-info">
                                    <figure class="author-thumb img-circle">
                                        <img class="img-circle" src="images/Jonathan-Ulrich.jpg" alt="">
                                    </figure>
                                    <div class="author-title">Jonathan Ulrich</div>
                                    <div class="author-title">New York</div>
                                </div>
                                <div class="text">
                                    <blockquote>
                                        “I used to travel to Asia at least 9 times a year to meet experts, corporates, and analysts. It sure took a toll on my health,
                                        productivity, and work-life balance. With nvestlink, I've cut down my long haul travel
                                        by 60%, and my life is so much better.”
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-content">
                                <div class="author-info">
                                    <figure class="author-thumb img-circle">
                                        <img class="img-circle" src="images/Joy-Adams.jpg" alt="">
                                    </figure>
                                    <div class="author-title">Joy Adams</div>
                                    <div class="author-title">London</div>
                                </div>
                                <div class="text">
                                    <blockquote>
                                        90% of world's knowledge, experience and insights are still primarily in people's minds. nvestlink has permitted that explosion
                                        of sharing of knowledge onto the cloud.
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-content">
                                <div class="author-info">
                                    <figure class="author-thumb img-circle">
                                        <img class="img-circle" src="images/Amanda-Theo.jpg" alt="">
                                    </figure>
                                    <div class="author-title">Amanda Theo</div>
                                    <div class="author-title">London</div>
                                </div>
                                <div class="text">
                                    <blockquote>
                                        It's the best place to find a needle in a haystack. That diamond , which you didn't know about earlier.
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-content">
                                <div class="author-info">
                                    <figure class="author-thumb img-circle">
                                        <img class="img-circle" src="images/Yi-Ling-Lim.jpg" alt="">
                                    </figure>
                                    <div class="author-title">Yi Ling Lim</div>
                                    <div class="author-title">Singapore</div>
                                </div>
                                <div class="text">
                                    <blockquote>
                                        As a corporation, we're aiming to cut our travel costs by 70%. We are increasingly guiding our employees to reach out to
                                        localised experts via nvestlink. Every meeting does not need travel, only critical
                                        ones do. And if you need to meet in person, it's still easy to set-up your meetings
                                        via nvestlink.
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-content">
                                <div class="author-info">
                                    <figure class="author-thumb img-circle">
                                        <img class="img-circle" src="images/Matt-Upton.jpg" alt="">
                                    </figure>
                                    <div class="author-title">Matt Upton</div>
                                    <div class="author-title">HongKong</div>
                                </div>
                                <div class="text">
                                    <blockquote>
                                        Last week, I took my meeting with a particular management in India while I was on a vacation in the Caribbean. What a brilliant
                                        way to be productive from anywhere in the world. My wife and kids were so happy that
                                        I could join them, and yet take time off to engage on urgent business meeting, rather
                                        than travelling all the way to India.
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-content">
                                <div class="author-info">
                                    <figure class="author-thumb img-circle">
                                        <img class="img-circle" src="images/Liz-Couborn.jpg" alt="">
                                    </figure>
                                    <div class="author-title">Liz Cobourn</div>
                                    <div class="author-title">San Francisco</div>
                                </div>
                                <div class="text">
                                    <blockquote>
                                        The best part - all you need is your hand-held device or a laptop. No hassles of booking conference rooms, video conferencing
                                        equipment and paying thru your nose for it.
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                        <span class="fa fa-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                        <span class="fa fa-chevron-right"></span>
                    </a>
                </div>
            </section>
        </div>
    </div>



    <!--<section class="clients">
        <div class="container">
            <div class="col-sm-3">
                <img src="images/clients/client01.png" class="img-responsive">
            </div>
            <div class="col-sm-3">
                <img src="images/clients/client02.png" class="img-responsive">
            </div>
            <div class="col-sm-3">
                <img src="images/clients/client03.png" class="img-responsive">
            </div>
            <div class="col-sm-3">
                <img src="images/clients/client04.png" class="img-responsive">
            </div>
            <div class="col-sm-3">
                <img src="images/clients/client05.png" class="img-responsive">
            </div>
            <div class="col-sm-3">
                <img src="images/clients/client06.png" class="img-responsive">
            </div>
            <div class="col-sm-3">
                <img src="images/clients/client07.png" class="img-responsive">
            </div>
            <div class="col-sm-3">
                <img src="images/clients/client08.png" class="img-responsive">
            </div>
        </div>
    </section>-->


</div>

<div class="modal fade" id="resposiveModal">
    <div class="modal-body text-center">
        <p class="mb-20">This site is best viewed in landscape mode on a hand held device</p>
        <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
    </div>
</div>

<input type="hidden" name="absPath" id="absPath" value="{{frontConstant.ACCESSURL}}" />

{{> helper/mentors/loginpopup}}

<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/homepage.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/jquery.li-scroller.1.0.js?v={{frontConstant.VERSION}}"></script>
<script type="text/javascript">
$(window).on('load', function () {
    if ($(window).width() <= 768) {
        $('#resposiveModal').modal('show');
    }
});
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#modal-fullscreen").on('hidden.bs.modal', function () {
            $('.video-background')[0].pause();
        });
        $("#modal-fullscreen").on('show.bs.modal', function () {
            $('.video-background')[0].play();
        });
        $('.video-background').on('ended', function () {
            $("#modal-fullscreen").modal('toggle');
        });

    });
</script>
<script>
    $(function () {
        //$("ul#ticker01").liScroll({ travelocity: 0.04 });
        //$("ul#ticker02").liScroll({ travelocity: 0.06 });        
    });
</script>
<script type="text/javascript">

    (function ($) {
        $.fn.randomize = function (childElem) {
            return this.each(function () {
                var $this = $(this);
                var elems = $this.children(childElem);
                elems.sort(function () {
                    return (Math.round(Math.random()) - 0.8);
                });
                $this.remove(childElem);
                for (var i = 0; i < elems.length; i++) {
                    $this.append(elems[i]);
                }
            });
        }
    })(jQuery);

    $(function () {

        $(".beamentor").on("click", function () {
            chkbeamentor();
        });

        $('.news-ticker').removeClass('hidden');
        //$("ul#ticker01").liScroll({travelocity: 0.04});               
        // $("ul#ticker02").liScroll({travelocity: 0.06});
        ticker01Running();
        ticker02Running();

    });

    function ticker01Running() {
        // New Code

        $('#tick2').html($('#tick').html());
//alert($('#tick2').offset.left);

        var temp = 0, intervalId = 0;
        $('#tick li').each(function () {
            var offset = $(this).offset();
            var offsetLeft = offset.left;
            $(this).css({'left': offsetLeft + temp});
            temp = $(this).width() + temp + 10;
        });
        $('#tick').css({'width': temp + 40, 'margin-left': '20px'});
        temp = 0;
        $('#tick2 li').each(function () {
            var offset = $(this).offset();
            var offsetLeft = offset.left;
            $(this).css({'left': offsetLeft + temp});
            temp = $(this).width() + temp + 10;
        });
        $('#tick2').css({'width': temp + 40, 'margin-left': temp + 40});

        function abc(a, b) {

            var marginLefta = (parseInt($("#" + a).css('marginLeft')));
            var marginLeftb = (parseInt($("#" + b).css('marginLeft')));
            if ((-marginLefta <= $("#" + a).width()) && (-marginLefta <= $("#" + a).width())) {
                $("#" + a).css({'margin-left': (marginLefta - 1) + 'px'});
            } else {
                $("#" + a).css({'margin-left': temp});
            }
            if ((-marginLeftb <= $("#" + b).width())) {
                $("#" + b).css({'margin-left': (marginLeftb - 1) + 'px'});
            } else {
                $("#" + b).css({'margin-left': temp});
            }
        }

        function start() {
            intervalId = window.setInterval(function () {
                abc('tick', 'tick2');
            }, 30);
        }

        $(function () {
            $('#outer').mouseenter(function () {
                window.clearInterval(intervalId);
            });
            $('#outer').mouseleave(function () {
                start();
            })
            start();
        });
    }

    function ticker02Running() {
        // New Code

        $('#tick21').html($('#ticker02').html());
//alert($('#tick2').offset.left);

        var temp = 0, intervalId = 0;
        $('#ticker02 li').each(function () {
            var offset = $(this).offset();
            var offsetLeft = offset.left;
            $(this).css({'left': offsetLeft + temp});
            temp = $(this).width() + temp + 10;
        });
        $('#ticker02').css({'width': temp + 40, 'margin-left': '20px'});
        temp = 0;
        $('#tick21 li').each(function () {
            var offset = $(this).offset();
            var offsetLeft = offset.left;
            $(this).css({'left': offsetLeft + temp});
            temp = $(this).width() + temp + 10;
        });
        $('#tick21').css({'width': temp + 40, 'margin-left': temp + 40});

        function abc(a, b) {

            var marginLefta = (parseInt($("#" + a).css('marginLeft')));
            var marginLeftb = (parseInt($("#" + b).css('marginLeft')));
            if ((-marginLefta <= $("#" + a).width()) && (-marginLefta <= $("#" + a).width())) {
                $("#" + a).css({'margin-left': (marginLefta - 1) + 'px'});
            } else {
                $("#" + a).css({'margin-left': temp});
            }
            if ((-marginLeftb <= $("#" + b).width())) {
                $("#" + b).css({'margin-left': (marginLeftb - 1) + 'px'});
            } else {
                $("#" + b).css({'margin-left': temp});
            }
        }

        function start() {
            intervalId = window.setInterval(function () {
                abc('ticker02', 'tick21');
            }, 10);
        }

        $(function () {
            $('#outer1').mouseenter(function () {
                window.clearInterval(intervalId);
            });
            $('#outer1').mouseleave(function () {
                start();
            })
            start();
        });
    }
    
     function ticker03Running() {
        // New Code

        $('#tick22').html($('#ticker03').html());
//alert($('#tick2').offset.left);

        var temp = 0, intervalId = 0;
        $('#ticker03 li').each(function () {
            var offset = $(this).offset();
            var offsetLeft = offset.left;
            $(this).css({'left': offsetLeft + temp});
            temp = $(this).width() + temp + 10;
        });
        $('#ticker03').css({'width': temp + 40, 'margin-left': '20px'});
        temp = 0;
        $('#tick22 li').each(function () {
            var offset = $(this).offset();
            var offsetLeft = offset.left;
            $(this).css({'left': offsetLeft + temp});
            temp = $(this).width() + temp + 10;
        });
        $('#tick22').css({'width': temp + 40, 'margin-left': temp + 40});

        function abc(a, b) {

            var marginLefta = (parseInt($("#" + a).css('marginLeft')));
            var marginLeftb = (parseInt($("#" + b).css('marginLeft')));
            if ((-marginLefta <= $("#" + a).width()) && (-marginLefta <= $("#" + a).width())) {
                $("#" + a).css({'margin-left': (marginLefta - 1) + 'px'});
            } else {
                $("#" + a).css({'margin-left': temp});
            }
            if ((-marginLeftb <= $("#" + b).width())) {
                $("#" + b).css({'margin-left': (marginLeftb - 1) + 'px'});
            } else {
                $("#" + b).css({'margin-left': temp});
            }
        }

        function start() {
            intervalId = window.setInterval(function () {
                abc('ticker03', 'tick22');
            }, 10);
        }

        $(function () {
            $('#outer2').mouseenter(function () {
                window.clearInterval(intervalId);
            });
            $('#outer2').mouseleave(function () {
                start();
            })
            start();
        });
    }

    function reandomevalues() {
        var items = Array(523, 342, 334, 31, 346, 200.5, 400.6, 800.7, 12.34, 45.17, 100, 80, 69.78, 123.35, 12.89, 167, 178, 900, 876, 567, 345.78, 234.20, 345, 456, 556.45, 456.45, 134.12, 157.12, 378, 267, 489, 502.45, 1100.67, 1345, 1789, 3256, 2678, 1.89, 3.67, 4.67);
        var mins = Array('30min@', '60min@', '45min@');
        var randtime = mins[Math.floor(Math.random() * mins.length)];
        for (var i = 1; i <= $('ul#ticker01').children().length; i++) {
            var randnum = items[Math.floor(Math.random() * items.length)];
            //            console.log($('ul#ticker01').children('li:first-child').html());
            if ($('ul#ticker01').children('li:nth-child(' + i + ')').children('span').hasClass('red')) {
                $('ul#ticker01').children('li:nth-child(' + i + ')').children('span').removeClass('red');
                $('ul#ticker01').children('li:nth-child(' + i + ')').children('span').children('sup').children('i.fa').addClass('fa-caret-up').removeClass('fa-caret-down');
            } else {
                $('ul#ticker01').children('li:nth-child(' + i + ')').children('span').addClass('red');
                $('ul#ticker01').children('li:nth-child(' + i + ')').children('span').children('sup').children('i.fa').addClass('fa-caret-down').removeClass('fa-caret-up');
            }
            $('ul#ticker01').children('li:nth-child(' + i + ')').children('span').children('sub').text(randtime);
            $('ul#ticker01').children('li:nth-child(' + i + ')').children('span').children('span').text(randnum);

        }
        for (var i = 1; i <= $('ul#ticker02').children().length; i++) {
            var randnum = items[Math.floor(Math.random() * items.length)];
            //            console.log($('ul#ticker01').children('li:first-child').html());
            if ($('ul#ticker02').children('li:nth-child(' + i + ')').children('span').hasClass('red')) {
                $('ul#ticker02').children('li:nth-child(' + i + ')').children('span').removeClass('red');
                $('ul#ticker02').children('li:nth-child(' + i + ')').children('span').children('sup').children('i.fa').addClass('fa-caret-up').removeClass('fa-caret-down');
            } else {
                $('ul#ticker02').children('li:nth-child(' + i + ')').children('span').addClass('red');
                $('ul#ticker02').children('li:nth-child(' + i + ')').children('span').children('sup').children('i.fa').addClass('fa-caret-down').removeClass('fa-caret-up');
            }
            $('ul#ticker02').children('li:nth-child(' + i + ')').children('span').children('sub').text(randtime);
            $('ul#ticker02').children('li:nth-child(' + i + ')').children('span').children('span').text(randnum);
        }
    }
    var count = 0;
    getBCMsg();
    function getBCMsg() {
        absPath = $('#absPath').val();
        $.ajax({
            url: absPath + "getBroadCastMsg",
            method: "POST",
            data: "",
            beforeSend: function () {
                //$.blockUI();
            },
            complete: function () {
                //$.unblockUI();
            },
            success: function (response) {
                var lidata = "";
//                $("ul#ticker03").empty();
//                $('#tick22').empty();
                $.each(response.data, function (index, item) {

                    lidata += '<li><span style="font-size:15px;">';
                    lidata += item.msg;
                    lidata += '</span></li>';
                });                
                $("ul#ticker03").html(lidata);
                $("ul#ticker03").liScroll({travelocity: 0.04});

               //ticker03Running();
                if (count < 31) {
                    thirdTicker();
                }
            },
            error: function (response) {
                $.unblockUI();
            }

        });
        return false;
    }

    function thirdTicker() {
        setTimeout(function () {
            count++;
            getBCMsg();
        }, 100);
    }
    $(document).ready(function () {
        setInterval(function () {
            reandomevalues();
        }, 60000);
        setInterval(function () {
            getBCMsg();
        }, 60000);
    });
</script>