<div class="accessasive">
    <div class="halfscreen ips-image-banner">

    </div>
    <div class="halfscreen WisForm">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="account-box">

                {{> helper/error_helper }}

                {{> helper/message_helper }}

                <form name="frmLogin" id="frmLogin" class="form-signin" method="post" action="/login">
                    <div class="form-group">
                        <input type="text" name="email" id="email" class="form-control" placeholder="Email Address" autofocus value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" value="" />
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="checkbox">
                                <input type="checkbox" name="chkRememberMe" id="chkRememberMe" value="remember-me" />
                                Keep me signed in
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <a class="forgotLnk" href="/forgotPassword">Forgot password?</a>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-block red-bg" type="submit">Login</button>

                    <input type="hidden" name="hidTimeZoneLabel" id="hidTimeZoneLabel" value="" />
                    <input type="hidden" name="hidTimeZoneOffset" id="hidTimeZoneOffset" value="" />

                </form>

                <div class="row loginalter">
                    <div class="col-sm-8">
                        <a class="signUpLink" href="/register">Don’t have an account?</a>
                    </div>
                    <div class="col-sm-4">
                        <a class="signUpbtn btn btn-lg btn-block red-bg" href="/register">
                            Sign Up
                        </a>
                    </div>
                </div>

                <div class="or-box">
                    <span class="or">OR</span>
                </div>
                <div class="row">
                    <div class="col-sm-12 row-block">
                        <a href="javaScript:;" class="btn btn-linkedin btn-block">
                            <i class="fa fa-linkedin-square"></i>&nbsp;&nbsp;&nbsp;Login with LinkedIn<script type="in/Login"></script></a>
                            <a href="javaScript:;" class="btn btn-linkedin btn-google btn-block" style="position: relative;">
                               <i class="fa fa-google-plus-square"></i>&nbsp;&nbsp;&nbsp;Login with Google
                                <script type="in/Login"></script>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="userIPAdd" id="userIPAdd" value="{{userIp}}" />

<script src="{{frontConstant.ACCESSURL}}js/webjs/login.js?v={{frontConstant.VERSION}}"></script>