<div class="container page">
    {{> helper/ajaxnotification_helper}}
    <div class="row"> 
        <div class="col-sm-4">        
            <div class="col-sm-12 mt20">
                <div class="card-stack nospace red">
                    <i class="fa fa-money"></i>
                    <h3>$ {{walletAmount.wallet_balance}}</h3>
                    <h2>Current Balance</h2>
                </div>  
            </div>
            <div class="col-sm-12">   
                <div class="card-stack nospace">
                    <div class="paypal_email_togle">                         
                        <button id="payout" class="btn btn-lg btn-block red-bg" type="submit">Payout</button>
                    </div>     
                </div>         
            </div>
            <div class="col-sm-12">
                <div class="card-stack nospace blue">
                    <i class="fa fa-calendar-o"></i>
                    {{#ifCond earlyAmount.amount '==' null}}
                    <h3>$ 0</h3>
                    {{/ifCond}}
                    {{#ifCond earlyAmount.amount '!=' null}}
                    <h3>$ {{earlyAmount.amount}}</h3>
                    {{/ifCond}}
                    <h2>Earnings This Year</h2>
                </div>  
            </div>
            <div class="col-sm-12">
                <div class="card-stack nospace green">
                    <i class="fa fa-calendar"></i>
                    {{#ifCond monthAmount.amount '==' null}}
                    <h3>$ 0</h3>
                    {{/ifCond}}
                    {{#ifCond monthAmount.amount '!=' null}}
                    <h3>$ {{monthAmount.amount}}</h3>
                    {{/ifCond}}
                    <h2>Earnings This Month</h2>
                </div>  
            </div>
            <div class="col-sm-12">
                <div class="card-stack nospace">
                    <i class="fa fa-money"></i>
                    {{#ifCond totalAmount.amount '==' null}}
                    <h3>$ 0</h3>
                    {{/ifCond}}
                    {{#ifCond totalAmount.amount '!=' null}}
                    <h3>$ {{totalAmount.amount}}</h3>
                    {{/ifCond}}
                    <h2>Total Earnings</h2>
                </div>  
            </div>
        </div>


        <input type="hidden" name="encId" id="encId" value="{{encId}}" />
        <input type="hidden" name="encKey" id="encKey" value="{{encKey}}" />
        <div id="Manage" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header red">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Manage Your attached Paypal Account for Payouts</h4>
                    </div>
                    <div class="modal-body clearfix mb20">                        
                        <div id="paypalbtn" style="display: none; ">
                            <span id='lippButton'></span>
                        </div>                         
                        <form method="POST" id="paypalEmailFrm">                                                        
                            <div class="col-sm-12">
                                <div class="form-group">                                                                  
                                    <div id="paypalfrm">        
                                        <input id="user_id" name="user_id" type="hidden" value="{{mentordata.user_id}}" />
                                        <input id="mentorName" name="mentorName" type="hidden" value="{{mentordata.fullName}}" />
                                        <input id="mentorEmail" name="mentorEmail" type="hidden" value="{{mentordata.email}}" />
                                        <input id="weekPayout" name="weekPayout" type="hidden" value="{{mentordata.maxpayoutperweek}}" />
                                        <input id="maxDayPayout" name="maxDayPayout" type="hidden" value="{{mentordata.maxpayout}}" />
                                        <input type="hidden" name="walBal" id="walBal" value="{{walletAmount.wallet_balance}}">
                                        <label class="block">Your paypal email</label> 
                                        <input class="form-control" value="" type="email" name="paypalEmail" id="paypalEmail" />
                                        <br>
                                        <label class="block">Enter amount to withdraw</label> 
                                        <input class="form-control" value="" type="text" name="payoutAmount" id="payoutAmount" />
                                        <span id="walmsg" style="color: red;"></span>                                        
                                        <br>                        
                                        <div class="col-sm-12">          
                                            <button class="btn red-bg btn-reg" id="updatebtn">Requesst Payout</button>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>                    
                </div>
            </div>
        </div>


        <div class="col-sm-8">        
            <h3 class="title-underline">Recent Transactions</h3>
            <div class="TableDash table-responsive">
                <table id="datatable" class="table transection_table table-striped">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Details</th>
                            <th>Type</th>
                            <th>Date-Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each transectionData}}
                        <tr>
                            <td style="float:right;"><span>$ {{this.amount}}</span></td>
                            <td>{{this.reasonDisplay}}</td>
                            <td>{{this.payment_type}}</td>
                            <td>{{this.dateDisplay}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>  

    <div class="row">
        <div class="col-sm-6">
            <div id="piechart"></div>
        </div>
        <div class="col-sm-6">
            <div id="columnchart_values"></div>
        </div>
    </div>   

</div>

<link href="{{frontConstant.ACCESSURL}}css/jquery.dataTables.min.css?v={{frontConstant.VERSION}}" rel="stylesheet">
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/jquery.dataTables.min.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}crypto/crypto-js.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/mentors/dashboard.js?v={{frontConstant.VERSION}}"></script>