<input type="hidden" id="hiddenId" value="{{arrSessionData.userId}}"  />
<input type="hidden" id="selectedConversationId" value="{{selectedConversationID}}"  />
<div class="container-fluid page" id="chatPage">
    <div class="base">
        <div class="col-sm-3 left">

            <div class="form-group typeOfMsg">
                <div class="input-group">
                    <select class="form-control" id="message_status">
                        <option value="inbox">Inbox</option>
                        <option value="archived">Archived</option>
                        <option value="deleted">Deleted</option>
                        <option value="blocked">Blocked</option>
                    </select>
                    <!-- <div class="input-group-addon">
                        <a href="#" class="btn btn-default" data-toggle="modal" data-target="#NewMessage"><i class="fa fa-plus"></i></a>
                    </div> -->
                </div>
            </div>

            <!--<div class="form-group typeOfMsg">
                <div class="input-group">
                    <select class="form-control">
                        <option>All Messages</option>
                        <option>Recieved</option>
                        <option>Sent</option>
                        <option>Deleted</option>
                    </select>
                    <div class="input-group-addon">
                        <a href="#" class="btn btn-default" data-toggle="modal" data-target="#NewMessage"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>-->
            <div class="UserMsgList">
                <div class="mb20">
                    <input type="text" id="searchbox" class="form-control" placeholder="Search here">
                </div>
                <ul id="conversationList">
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 right" id="chatNotSelected">
            <p class="notxt"></p>
        </div>
        <div class="col-sm-9 right" id="chatSelected" style="display: none;">
            <div class="msgerTop">
                <div class="col-sm-6">
                    <div class="avtar">
                        <img class="opponent_profile_image" src="{{frontConstant.ACCESSURL}}images/invite.jpg">
                    </div>
                    <h2 class="opponent_user_name"></h2>
                </div>
                <div class="col-sm-6 text-right" id="divTopRightChat">
                    <a href="javascript:;" id="archive"><i class="fa fa-archive"></i></a>
                    <a href="javascript:;" id="unarchive" style="display: none;"><i class="fa fa-archive"></i></a>
                    <a href="javascript:;" id="delete"><i class="fa fa-trash"></i></a>
                    <a href="#" data-toggle="modal" id="openBlockUser" data-target="#blockUser"><i class="fa fa-ban"></i></a>
                    <a href="#" data-toggle="modal" id="unBlockUser" style="display: none;"><i class="fa fa-ban"></i></a>
                </div>
            </div>
            <div id="PersonalMessagesBlocker" class="clearfix">
                <div id="PersonalMessages" class="mCustomScrollbar"></div>
                <!--<div class=""></div>-->
            </div>
            <div class="clearfix"></div>
            <div class="panel-footer" id="panelfooter">
                <form id="sendMsg" method="POST" enctype="multipart/form-data">
                    <div class="input-group msgtyp">
                        <textarea class="form-control input-sm chat_input" rows="5" placeholder="Write your message here..." id="msgBody" name="msgBody"></textarea>
                        <span class="input-group-btn">
                            <div class="upload" id="uploadDoc">                            
                                <input type="file" name="msg_doc" id="msg_doc" multiple class="inputfile">
                                <label for="msg_doc"><i class="fa fa-paperclip" aria-hidden="true"></i></label>                                
                            </div>                            
                            <input type="hidden" name="oppUserId" id="oppUserId" />
                            <button class="chat" id="btn-chat" disabled="disabled"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="fileUploadTags"><ul id="ulList"></ul></div>
        </div>
    </div>
</div>

<div id="NewMessage" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">New Message</h4>
            </div>
            <form method="POST" id="sendNewMsg">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="search">User</label>
                        <select class="form-control select2" name="lstUserList" id="lstUserList" style="width: 100%">
                            <option value=''>Select User</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="search">Message</label>
                        <textarea class="form-control" rows="7" name="msgNewBody" id="msgNewBody"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn red-bg btn-reg" id="sendNewMessage" name="Send" value="Send" disabled="disabled">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="blockUser" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Block User</h4>
            </div>
            <form method="POST" id="blockUserFrm">
                <div class="modal-body">                   
                    <div class="form-group">
                        <label for="reason">Reason for blocking this user</label><br>
                        <input type="radio" name="reason" class="reason" id="radiofirst" value="User is harassing with repeated requests" checked> User is harassing with repeated requests <br>
                        <input type="radio" name="reason" class="reason" value="User’s identity needs to be verified further" > User’s identity needs to be verified further <br>
                        <input type="radio" name="reason" class="reason" value="Last engagement with this user was not pleasant" > Last engagement with this user was not pleasant <br>
                        <input type="radio" name="reason" class="reason" value="User asks uncomfortable and confidential information" > User asks uncomfortable and confidential information <br>
                        <input type="radio" name="reason" class="reason" value="User seems to be a competitor" > User seems to be a competitor <br>
                        <input type="radio" name="reason" class="reason" value="User has used inappropriate language last time" > User has used inappropriate language last time <br>
                        <input type="radio" name="reason" class="reason" value="User does not intend to book, only chat" > User does not intend to book, only chat<br>
                        <input type="radio" name="reason" class="reason" value="This user appears to be a spammer / robot."> This user appears to be a spammer / robot.<br>
                        <input type="radio" name="reason" value="other"> Other
                        <textarea class="form-control reason" maxlength="100" rows="3" id="reasontxt" name="reasontxt" ></textarea>
                        <span class="pull-right"><span id="chars">100</span> characters remaining</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn red-bg btn-reg" id="reasonbtn" name="reasonbtn" value="Send" >Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="blockUserMsg" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Block</h4>
            </div>
            <form method="POST" id="blockUserFrm">
                <div class="modal-body">                   
                    <div class="form-group blockdiv">
                        <label></label>
                    </div>
                </div>                
            </form>
        </div>
    </div>
</div>

<div id="filemsg" class="modal fade modal-file" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">File</h4>
            </div>
            <form method="POST" id="blockUserFrm">
                <div class="modal-body">                   
                    <div class="form-group">
                        <label id="filelbl"></label>
                    </div>
                </div>                
            </form>
        </div>
    </div>
</div>

<link href="{{frontConstant.ACCESSURL}}css/jquery.mCustomScrollbar.css?v={{frontConstant.VERSION}}" rel="stylesheet">
<link href="{{frontConstant.ACCESSURL}}css/select2.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<script src="{{frontConstant.ACCESSURL}}js/jquery.mCustomScrollbar.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/jquery.form.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/common_message.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/select2.full.js?v={{frontConstant.VERSION}}"></script>
<script type="text/javascript">var userTimezone = '{{arrSessionData.timezone}}';</script>

{{#ifCond arrSessionData.userType '==' 'user'}}
<script src="{{frontConstant.ACCESSURL}}js/webjs/users/user_message.js?v={{frontConstant.VERSION}}"></script>
<script type="text/javascript">
var role = 'user';
</script>
{{/ifCond}}

{{#ifCond arrSessionData.userType '!=' 'user'}}
<script src="{{frontConstant.ACCESSURL}}js/webjs/mentors/mentor_message.js?v={{frontConstant.VERSION}}"></script>
<script type="text/javascript">
var role = 'mentor';
</script>
{{/ifCond}}
