<div id="wrapper">
    <div class="container page" style="padding-top: 80px;">
        <div id="page-wrapper" class="gray-bg">             
            <div class="wrapper wrapper-content">
                <form id="orgRegFrm1" method="POST">                    
                    <!-- div 1 -->
                    <div class="row" id="div1">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins setting-global">                                
                                <div class="ibox-title">
                                    <h5>Organisation Details</h5>
                                </div>
                                <div class="ibox-content marg-bot15">

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Organisation Name</label>
                                                <input type="text" class="form-control" name="orgName" id="orgName" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Website</label>
                                                <input type="text" class="form-control" name="orgWebSite" id="orgWebSite" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Organisation Logo</label>                                                
                                                <input type="file"  id="orglogo" name="orglogo">                                                
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="ibox-title">
                                    <h5>Address</h5>
                                </div>
                                <div class="ibox-content marg-bot15">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Address Line 1</label>
                                                <input type="text" class="form-control" id="orgAdd1" name="orgAdd1" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Address Line 2</label>
                                                <input type="text" class="form-control" id="orgAdd2" name="orgAdd2" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Zip Code</label>
                                                <input type="text" class="form-control" id="orgZip" name="orgZip" />
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>                                       
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Location</label>
                                                <input type="text" class="form-control" id="geocomplete" name="geocomplete" placeholder="Search Location...">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <input name="lstCountrytxt" id="lstCountrytxt" class="form-control" type="text" data-geo="country" readonly />
                                                <input type="hidden" name="iso2" id="iso2" data-geo="country_short" />
                                                <input type="hidden" name="state" id="state" data-geo="administrative_area_level_1" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input name="txtCityName" id="txtCityName" class="form-control" type="text" data-geo="locality" readonly>
                                                <input type="hidden" name="hidCityId" id="hidCityId"  />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="ibox-title">
                                    <h5>Industry</h5>
                                </div>
                                <div class="ibox-content marg-bot15">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Select Industry</label>
                                                <select class="form-control" name="orgIndustry" id="orgIndustry">
                                                    <option value="">Select Industry</option>
                                                    {{#each industriesList}}
                                                    <option value="{{this.industry_id}}">{{this.industry_name}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Select Sub-Industry</label>
                                                <select class="form-control" name="orgSubIndustry" id="orgSubIndustry">
                                                    <option value="">Select Sub-Industry</option>
                                                    {{#each subIndustriesList}}
                                                    <option style="display: none;" data-industry-id="{{this.industry_id}}" value="{{this.subindustry_id}}">{{this.subindustry_name}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                </div>
                                <div class="ibox-title">
                                    <h5>Compliance Officer</h5>
                                </div>
                                <div class="ibox-content marg-bot15">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" name="comOffFirstName" id="comOffFirstName" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" name="comOffLastName" id="comOffLastName" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Contact Number</label>
                                                <input type="text" class="form-control" name="comOffContactNumber" id="comOffContactNumber" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Email Address</label>
                                                <input type="email" class="form-control" name="comOffEmail" id="comOffEmail" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group text-center m-t-sm">
                                        <button type="submit" class="btn btn-primary btn-md" id="backnext">Next</button>                                        
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </form>
                <!-- div 1 -->

                <!-- div 2 -->
                <form id="orgRegFrm2" method="POST">
                    <input type="hidden" name="formdata1" id="formdata1" />
                    <div class="row" id="div2" style="display: block;">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins setting-global">                                
                                <div class="ibox-title">
                                    <h5>Approving Authorities</h5>
                                </div>
                                <div class="ibox-content marg-bot15">

                                    <p class="no-bottom-margin">Add Minimum 3 authority representatives for your organisation (you can add maximum 10)</p>

                                </div>
                                <div class="ibox-title">
                                    <h5>Authority 1</h5>
                                </div>
                                <div class="ibox-content marg-bot15">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" name="fname[]" id="fname[]" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" name="lname[]" id="lname[]" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Role</label>
                                                <select class="form-control">
                                                    <option>Reporting Manager</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Official Email Address</label>
                                                <input type="email" class="form-control" name="email[]" id="email[]" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Official Contact Number</label>
                                                <input type="email" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                        </div>
                                    </div>

                                </div>
                                <div class="ibox-title">
                                    <h5>Authority 2</h5>
                                </div>
                                <div class="ibox-content marg-bot15">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Role</label>
                                                <select class="form-control">
                                                    <option>HR Partner</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Official Email Address</label>
                                                <input type="email" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Official Contact Number</label>
                                                <input type="email" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                        </div>
                                    </div>
                                </div>
                                <div class="ibox-title">
                                    <h5>Authority 3</h5>
                                </div>
                                <div class="ibox-content marg-bot15">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Role</label>
                                                <select class="form-control">
                                                    <option>Compliance Officer</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Official Email Address</label>
                                                <input type="email" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Official Contact Number</label>
                                                <input type="email" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group text-left m-t-sm ">
                                        <button type="button" class="btn btn-primary btn-md">Add More</button>
                                    </div>
                                </div>
                                <div class="ibox-content marg-bot15">
                                    <div class="form-group">
                                        <label>Upload scanned and signed authorisation letter permittimg sign up of nvestlink</label>                                        
                                        <input type="file" class="" id="uploadBtn">                                        
                                        <a href="#">Download Sample Template</a>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group text-center m-t-sm">
                                        <button type="button" class="btn btn-primary btn-md" id="backbtn">Back</button>
                                        <button type="button" class="btn btn-primary btn-md">Submit Request</button>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>                
                    <!-- div 2 -->
                </form>
            </div>            
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places&key=AIzaSyBJ-u9nVcC_VNYmHkR0dcqbgkEzws7GTLo"></script>
<script src="{{frontConstant.ACCESSURL}}/js/jquery.geocomplete.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/orgregistration.js?v={{frontConstant.VERSION}}"></script>