<div class="fullscreen inner-banners">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>Policies</h2>
                    <!--<ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{frontConstant.ACCESSURL}}">Home</a></li>
                        <li class="breadcrumb-item active">Bookmarked Mentors</li>
                    </ol>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper lg-pad">
    <div class="container page">
        <div class="row">
            <div class="col-xs-12">          
                <div class="constrain">
                    <p>Policies are being prepared. Will be here soon.</p>
                </div>

            </div>
        </div>
    </div>
</div>