<div class="fullscreen inner-banners privacypolicy">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    {{!--<h2>Privacy</h2>--}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper lg-pad">
    <div class="container page">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-justify">
                <div class="constrain">
                    <p><b>PRIVACY POLICY</b></p>
                    <p>
                        <br>
                    </p>
                    <p>Protecting your private information is our priority. This Statement of Privacy applies to
                        www.nvestlink.com and Nvestlink and governs data collection and usage. For the purposes of this
                        Privacy Policy, unless otherwise noted, all references to Nvestlink include www.nvestlink.com
                        and Nvestlink. The Nvestlink website is a Investing Social Network site. By using the Nvestlink
                        website, you consent to the data practices described in this statement.</p>
                    <p>
                        <br>
                    </p>
                    <p><strong>Collection of your Personal Information</strong></p>
                    <p>In order to better provide you with products and services offered on our Site, Nvestlink may
                        collect personally identifiable information, such as your:</p>
                    <p>
                        <br>
                    </p>
                    <ul class="a">
                        <li>First and Last Name</li>
                        <li>E-mail Address</li>
                        <li>Employer</li>
                        <li>Job Title</li>
                        <li>Location</li>
                    </ul>
                    <p>
                        <br>
                    </p>
                    <p>If you purchase Nvestlink's products and services, we collect billing and credit card
                        information. This information is used to complete the purchase transaction.</p>
                    <p>
                        <br>
                    </p>
                    <p>Please keep in mind that if you directly disclose personally identifiable information or
                        personally sensitive data through Nvestlink's public message boards, this information may be
                        collected and used by others.</p>
                    <p>
                        <br>
                    </p>
                    <p>We do not collect any personal information about you unless you voluntarily provide it to us.
                        However, you may be required to provide certain personal information to us when you elect to use
                        certain products or services available on the Site. These may include: (a) registering for an
                        account on our Site; (b) entering a sweepstakes or contest sponsored by us or one of our
                        partners; (c) signing up for special offers from selected third parties; (d) sending us an email
                        message; (e)
                        submitting your credit card or other payment information when ordering and purchasing products
                        and services on our Site. To wit, we will use your information for, but not limited to,
                        communicating with you in relation to services and/or products you have requested from us. We
                        also may gather additional personal or non-personal information in the future.</p>
                    <p>
                        <br>
                    </p>
                    <p><strong>Use of your Personal Information</strong></p>
                    <p>Nvestlink collects and uses your personal information to operate its website(s) and deliver the
                        services you have requested.</p>

                    <p>Nvestlink may also use your personally identifiable information to inform you of other products
                        or services available from Nvestlink and its affiliates.</p>
                    <p>
                        <br>
                    </p>
                    <p><strong>Sharing Information with Third Parties</strong></p>
                    <p>Nvestlink does not sell, rent or lease its customer lists to third parties.</p>
                    <p>
                        <br>
                    </p>
                    <p>Nvestlink may share data with trusted partners to help perform statistical analysis, send you
                        email or postal mail, provide customer support, or arrange for deliveries. All such third
                        parties are prohibited from using your personal information except to provide these services to
                        Nvestlink, and they are required to maintain the confidentiality of your information.</p>
                    <p>
                        <br>
                    </p>
                    <p>Nvestlink may disclose your personal information, without notice, if required to do so by law or
                        in the good faith belief that such action is necessary to: (a) conform to the edicts of the law
                        or comply with legal process served on Nvestlink or the site; (b) protect and defend the rights
                        or property of Nvestlink; and/or (c) act under exigent circumstances to protect the personal
                        safety of users of Nvestlink, or the public.</p>
                    <p>
                        <br>
                    </p>
                    <p><strong>Automatically Collected Information</strong></p>
                    <p>Information about your computer hardware and software may be automatically collected by
                        Nvestlink. This information can include: your IP address, browser type, domain names, access
                        times and referring website addresses. This information is used for the operation of the
                        service, to maintain quality of the service, and to provide general statistics regarding use of
                        the Nvestlink website.</p>
                    <p>
                        <br>
                    </p>
                    <p><strong>Security of your Personal Information</strong></p>
                    <p>Nvestlink secures your personal information from unauthorized access, use, or disclosure.
                        Nvestlink uses the following methods for this purpose:</p>
                    <ul class="a">
                        <li>SSL Protocol</li>
                        <li>GoDaddy Website Security Delux</li>
                    </ul>
                    <p>
                        <br>
                    </p>
                    <p>When personal information (such as a credit card number) is transmitted to other websites, it is
                        protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.</p>
                    <p>
                        <br>
                    </p>
                    <p>We strive to take appropriate security measures to protect against unauthorized access to or
                        alteration of your personal information. Unfortunately, no data transmission over the Internet
                        or any wireless network can be guaranteed to be 100% secure. As a result, while we strive to
                        protect your personal information, you acknowledge that: (a) there are security and privacy
                        limitations inherent to the Internet which are beyond our control; and (b) security, integrity,
                        and privacy of any and all information and data exchanged between you and us through this Site
                        cannot be guaranteed.</p>
                    <p>
                        <br>
                    </p>
                    <p><strong>Children Under Thirteen</strong></p>
                    <p>Nvestlink does not knowingly collect personally identifiable information from children under the
                        age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for
                        permission to use this website.</p>
                    <p>
                        <br>
                    </p>
                    <p><strong>E-mail Communications</strong></p>
                    <p>From time to time, Nvestlink may contact you via email for the purpose of providing
                        announcements, promotional offers, alerts, confirmations, surveys, and/or other general
                        communication.</p>
                    <p>
                        <br>
                    </p>
                    <p><strong>Changes to this Statement</strong></p>
                    <p>Nvestlink reserves the right to change this Privacy Policy from time to time. We will notify you
                        about significant changes in the way we treat personal information by sending a notice to the
                        primary email address specified in your account, by placing a prominent notice on our site,
                        and/or by updating any privacy information on this page. Your continued use of the Site and/or
                        Services available through this Site after such modifications will constitute your: (a)
                        acknowledgment of the modified Privacy Policy; and (b) agreement to abide and be bound by that
                        Policy.</p>
                    <p>
                        <br>
                    </p>
                    <p><strong>Contact Information</strong></p>
                    <p>Nvestlink welcomes your questions or comments regarding this Statement of Privacy. If you believe
                        that Nvestlink has not adhered to this Statement, please contact Nvestlink at:</p>
                    <p>
                        <br>
                    </p>                   
                   <p>Email Address: <a href="Mailto:info@nvestlink.com">info@nvestlink.com</a></p>
                    <p>
                        <br>
                    </p>                    
                    <p>Effective as of April 04, 2020</p>
                </div>

            </div>
        </div>
    </div>
</div>