<div class="fullscreen inner-banners">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>Promos</h2>
                    <!--<ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{frontConstant.ACCESSURL}}">Home</a></li>
                        <li class="breadcrumb-item active">Bookmarked advisors</li>
                    </ol>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper lg-pad">
    <div class="container page">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-justify">          
                <div class="constrain">
                    <p><b>Promos</b></p>
                    <p>In every business, sellers of products need to have flexibility while pricing their products in a given market place.</p>
                    <p>Take the example of hotels. Hotels display standard room rates. However they re-price or offer discounts based on pricing strategies they wish to adopt at any given point in time. They may offer discounts for early bookings or for bulk bookings. They may offer patrons special rates to retain loyal customers.   A new hotel may offer smart promotional offers to extend their brand in an area where they have recently opened up.</p>

                    <p>Similarly , we believe Nvestlink advisors need to have that pricing flexibility without disturbing their displayed advisoring rate.   Advisors may have repeat customers to whom they may wish to offer special rates. Similarly, the flexibility to arrive at a negotiated rate with knowledge seeker is also possible via promos, while developing ones advisory practice on Nvestlink.</p>
                    <p>Advisors are provided with a functionality to generate unique promo codes via the signed-in dashboard.  Once the promo code is generated, the advisor can send this code to a knowledge seeker, who in turn can use it while making a meeting request with this advisor.</p>
                    <p>As an example :</p>
                    <table width = "600">
                        <tr>
                            <td>Listed Advisoring Rate per hour</td>
                            <td>USD 1000</td>
                        </tr>
                        <tr>
                            <td>Promo code generated (WZ19GF8K), for 10% and sent to member</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Member applies promo code while making the booking (10)</td>
                            <td>USD 100</td>
                        </tr>
                        <tr>
                            <td>Net Advisor Charges</td>
                            <td>USD 900</td>
                        </tr>                                        		                    								
                    </table> 
                    <p>Nvestlink charges and taxes, if any would be levied over and above advisoring rate arrived at after promo discount, ie on USD 900 in the above example.</p>
                </div>
            </div>
        </div>
    </div>
</div>