<link rel="stylesheet" href="js/intcountrydd/css/intlTelInput.css?v={{frontConstant.VERSION}}">

<div class="accessasive">  
    <div class="halfscreen ips-image-banner">

    </div>
    <div class="halfscreen WisForm">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="account-box">

                {{> helper/error_helper }}

                {{> helper/message_helper }}

                <form id="frm_register" class="form-signin" action="/register" method="post">
                    <div class="row">
                        <div class="col-sm-12 row-block">
                            <a href="javaScript:;" class="btn btn-linkedin btn-block" style="position: relative;">
                                <i class="fa fa-linkedin-square"></i>&nbsp;&nbsp;&nbsp;Signup with LinkedIn
                                <script type="in/Login"></script>
                            </a>
                            <a href="javaScript:;" class="btn btn-linkedin btn-google btn-block" style="position: relative;">
                               <i class="fa fa-google-plus-square"></i>&nbsp;&nbsp;&nbsp;Signup with Google
                                <script type="in/Login"></script>
                            </a>
                        </div>
                    </div>
                    <div class="or-box">
                        <span class="or">OR</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input name="first_name" id="first_name" type="text" class="form-control" placeholder="First Name" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <input name="last_name" id="last_name" type="text" class="form-control" placeholder="Last Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <input name="email" id="email" type="text" class="form-control" placeholder="Email Address"  />
                    </div>

                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <input name="dob" id="dob" class="form-control " type="text" placeholder="Date of Birth (DD/MM/YYYY)">
                            <a href="#" class="tootip" style="position: absolute;top: 3px;right: 25px;font-size: 25px"><i class="fa fa-question-circle-o"></i></a>
                            <div class="customTooltip">
                                <span>You need to be 18+ to signup</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input id="password" name="password" type="password" class="form-control" placeholder="Password"  />
                        </div>
                        <div class="col-sm-6 form-group">
                            <input name="cnfpassword" id="cnfpassword" type="password" class="form-control" placeholder="Confirm Password" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <input type="checkbox" name="chkDisclaimer" id="chkDisclaimer" value="Y" class="chkBoxDisclaimer"/>
                            <div class="signUpDisclaimer">
                                <span class="signUpDisclaimerspan">
                                    By signing up, I agree to nvestlink's 
                                    <a class="red partial" target="_blank" href="{{frontConstant.ACCESSURL}}terms_of_service">Terms of Service</a>, 
                                    <a class="red partial" target="_blank" href="{{frontConstant.ACCESSURL}}compliance">Compliance</a> and
                                    <!--<a class="red partial" target="_blank" href="https://wissenx.uservoice.com/knowledgebase/articles/1081381-how-do-payments-work-on-wissenx">Payment Terms</a>,-->
                                    <!--<a class="red partial" target="_blank" href="https://wissenx.uservoice.com/knowledgebase/articles/1081225-refund-policy">Refund Policies.</a>.-->
                                    <!--<a class="red partial" target="_blank" href="https://wissenx.uservoice.com/knowledgebase/articles/1081192-what-is-wissenx-s-cancellation-policy">Cancellation</a> and -->
                                    
                                    <a class="red partial" target="_blank" href="{{frontConstant.ACCESSURL}}privacy">Privacy Policy</a>
                                </span>
                            </div>
                            <!-- <a class="forgotLnk red" href="/policies">By Signing up, you have agreed to all the terms and privacy of SourceAdvisor.</a> -->
                        </div>
                    </div>
                    <button class="btn btn-lg btn-block red-bg" type="submit">Signup</button>

                    <div class="row loginalter reg">
                        <div class="col-sm-8">
                            <a class="signUpLink" href="/login">Already have a nvestlink account?</a>
                        </div>
                        <div class="col-sm-4">
                            <a class="signUpbtn btn btn-lg btn-block red-bg" href="/login">Login</a>
                        </div>
                    </div>

                    <input type="hidden" name="hidTimeZoneLabel" id="hidTimeZoneLabel" value="" />
                    <input type="hidden" name="hidTimeZoneOffset" id="hidTimeZoneOffset" value="" />
                </form>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="userIPAdd" id="userIPAdd" value="{{userIp}}" />

<script src="{{frontConstant.ACCESSURL}}js/select2.full.js?v={{frontConstant.VERSION}}"></script>
<link href="{{frontConstant.ACCESSURL}}css/select2.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<script src="{{frontConstant.ACCESSURL}}js/bootstrap-datepicker.js?v={{frontConstant.VERSION}}"></script>
<link href="{{frontConstant.ACCESSURL}}css/bootstrap-datepicker3.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<script src="{{frontConstant.ACCESSURL}}js/intcountrydd/js/intlTelInput.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/registration.js?v={{frontConstant.VERSION}}"></script>
