<div class="accessasive">
      <div class="halfscreen ips-image-banner">

      </div>
      <div class="halfscreen WisForm">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="account-box">
            
                {{> helper/error_helper }}

                {{> helper/message_helper }}

                <form name="frmSetNewPassword" id="frmSetNewPassword" class="form-signin" method="post" action="/setNewPassword">
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <input type="password" name="confPassword" id="confPassword" class="form-control" placeholder="Confirm Password" />
                    </div>
                    <button class="btn btn-lg btn-block red-bg" type="submit">Set New Password</button>
                    <input type="hidden" name="forgotPasswordToken" id="forgotPasswordToken" value="{{forgotPasswordToken}}" />
                </form>

            </div>
        </div>
    </div>
</div>
<script src="{{frontConstant.ACCESSURL}}js/webjs/setnewpassword.js?v={{frontConstant.VERSION}}"></script>