<div class="container page">
    <div class="row">

        <div class="col-sm-7">         

            <div class="col-sm-6">
                <div class="card-stack blue">
                    <i class="fa fa-users"></i>
                    <h3>{{mentorContacted.contacted}}</h3>
                    <h2>Advisors Contacted</h2>
                </div>  
            </div>
            <div class="col-sm-6">
                <div class="card-stack green">
                    <i class="fa fa-money"></i>
                    {{#ifCond spentAmount.diff '==' null}}
                    <h3>$ 0</h3>
                    {{/ifCond}}
                    {{#ifCond spentAmount.diff '!=' null}}
                    <h3>$ {{spentAmount.diff}}</h3>
                    {{/ifCond}}
                    <h2>Spent Money</h2>
                </div>  
            </div>

            <div class="col-sm-12">
                <h3 class="title-underline">Recent Transactions</h3>
                {{#if transectionData.length }}
                    <div class="TableDash table-responsive">
                        <table id="datatable" class="table transection_table table-striped">
                            <thead>
                                <tr>
                                    <th>Amount</th>
                                    <th>Details</th>
                                    <th>Type</th>
                                    <th>Date-Time</th>
                                </tr>
                            </thead>                                               
                            <tbody>
                                {{#each transectionData}}
                                <tr>
                                    <td style="float:right;"><span>$ {{this.amount}}</span></td>
                                    <td>{{this.reasonDisplay}}</td>
                                    <td>{{this.payment_type}}</td>
                                    <td>{{this.dateDisplay}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                {{/if}}
                {{#ifCond transectionData.length '==' 0 }}
                    <div class="text-center">
                        <p class="bg-warning">Seems like you do not have recent transactions, Click Below button to schedule a meeting</p>
                        <a class="btn btn-primary" href="{{frontConstant.ACCESSURL}}mentor/listing">Request a Call</a>
                    </div>
                {{/ifCond}}
            </div>

        </div>

        <div class="col-sm-5">
            <h3 class="title-underline">Upcoming Meetings</h3>
            <div class="meetingSec">            
                <div class="MeetingDash">
                    {{#if meetingDataResWeek.length }}
                        <label class="block timing">This Week</label>
                        {{#each meetingDataResWeek}}
                            <div class="UpMeet">
                                <div class="sl-left">
                                    <img src="{{this.finalProfileImageUrl}}">
                                </div>
                                <div class="sl-right">
                                    <div class="MeetDetail">
                                        <a href="#">{{this.first_name}} {{this.last_name}}</a>
                                        <p class="MeetPurpose">{{this.meeting_purpose}}</p>
                                    </div>
                                    <div class="MeetDate">
                                        <span>{{this.meetDate}} {{this.meetMonth}}</span>
                                    </div>
                                </div>                
                            </div>
                        {{/each}}
                    {{/if}}
                    
                    {{#if meetingDataResMonth.length }}
                        <label class="block timing">This Month</label>
                        {{#each meetingDataResMonth}}
                            <div class="UpMeet">
                                <div class="sl-left">
                                    <img src="{{this.finalProfileImageUrl}}">
                                </div>
                                <div class="sl-right">
                                    <div class="MeetDetail">
                                        <a href="#">{{this.first_name}} {{this.last_name}}</a>
                                        <p class="MeetPurpose">{{this.meeting_purpose}}</p>
                                    </div>
                                    <div class="MeetDate">
                                        <span>{{this.meetDate}} {{this.meetMonth}}</span>
                                    </div>
                                </div>                
                            </div>
                        {{/each}}
                    {{/if}}
                    {{#ifCond meetingDataResWeek.length '==' 0 }}
                        {{#ifCond meetingDataResMonth.length '==' 0 }}
                            <div class="text-center">
                                <p class="bg-warning">Seems like you do not have any upcoming meetings, Click Below button to schedule a meeting</p>
                                <a class="btn btn-primary" href="/mentor/listing">Request a Call</a>
                            </div>
                        {{/ifCond}}
                    {{/ifCond}}
                </div>
            </div>
        </div>
    </div>
</div>
<link href="{{frontConstant.ACCESSURL}}css/jquery.dataTables.min.css?v={{frontConstant.VERSION}}" rel="stylesheet">
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/jquery.dataTables.min.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/users/dashboard.js?v={{frontConstant.VERSION}}"></script>