<link rel="stylesheet" type="text/css" href="https://static.opentok.com/hardware-setup/v1/css/opentok-hardware-setup.css?v={{frontConstant.VERSION}}">
<script src="https://static.opentok.com/hardware-setup/v1/js/opentok-hardware-setup.js?v={{frontConstant.VERSION}}"></script>

<input type="hidden" id="meeting_key" value="{{meetingKey}}"/>
<input type="hidden" id="flagVideoCallInitiated" name="flagVideoCallInitiated" value="N" />

<div class="videoMeetingSection">
    <div class="row-fluid">
        <div class="col-sm-8 VideoSection">
            <div class="chatHeader">
                <div class="logo pull-left">
                    <img src="{{frontConstant.ACCESSURL}}images/sourceadvisor-logo.png">
                </div>
                <div class="pull-right">                    
                    <!--<a href="#" class="btn white-btn btn-social btn-xs mr10"><i class="fa fa-expand"></i>Extend Meeting</a>-->
                    <div id="endMeetingDiv" style="display:none;">
                        <a class="hidden" data-toggle="modal" data-target="#EndMeet"></a>
                        <a id="endMeetingButton" href="#" class="btn red-btn btn-social btn-xs">
                            <i class="fa fa-stop-circle"></i>
                            End Meeting
                        </a>
                    </div>
                    <div id="dashboardDiv">
                        <a class="btn btn-red btn-social btn-xs" style="padding: 1px 5px !important; border-radius: 3px !important;" href="{{frontConstant.ACCESSURL}}dashboard" title="Dashboard">Dashboard</a>
                    </div>
                </div>
                <div id="render_timer" class="pull-right">
                    <span class="call_timer" id="hours">00</span>
                    <span class="call_timer" id="seperater1">:</span>
                    <span class="call_timer" id="minutes">00</span>
                    <span class="call_timer" id="seperater2">:</span>
                    <span class="call_timer" id="seconds">00</span>
                </div>
            </div>
            <div class="meetDetailVideo col-middle text-center">
                <div class="MeetTopSection clearfix">
                    <div class="col-sm-7">
                        <div class="Meet_dp">
                            <img src="{{objOppositeUserData.finalProfileImageUrl}}">
                        </div>
                        <div class="Meet_dsc">
                            <h2 class="name">{{objOppositeUserData.first_name}} {{objOppositeUserData.last_name}}</h2>
                            <p class="email">

                                {{#ifCond objOppositeUserData.profession '!=' ''}}
                                {{objOppositeUserData.profession}}, 
                                {{/ifCond}}

                                {{#ifCond objOppositeUserData.company_name '!=' ''}}
                                {{objOppositeUserData.company_name}}, 
                                {{/ifCond}}

                                {{#ifCond objOppositeUserData.city_name '!=' ''}}
                                {{#ifCond objOppositeUserData.city_name '!=' null}}
                                {{objOppositeUserData.city_name}}, 
                                {{/ifCond}}
                                {{/ifCond}}

                                {{#ifCond objOppositeUserData.country_name '!=' ''}}
                                {{#ifCond objOppositeUserData.country_name '!=' null}}
                                {{objOppositeUserData.country_name}}
                                {{/ifCond}}
                                {{/ifCond}}

                                {{#ifCond objOppositeUserData.userTypeForLoggedInMeeting '==' 'mentor'}}
                                <span class="pipe">|</span>Hourly Charge : {{objOppositeUserData.hourly_rate}} USD / 60 Mins</p>
                            {{/ifCond}}
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="topButtons">
                            <div class="TestSeting">
                                <a href="#" class="btn btn-round" id="btnFullScreen"><i class="fa fa-arrows-alt" id="iFullScreen"></i></a>
                                <a href="#" class="btn btn-round" id="btnSystemSettingOpen"><i class="fa fa-exclamation-triangle"></i></a>
                            </div>
                            <!--<div class="Switch mt10 mr10">
                                <label class="text-white mr10">Record Meeting?</label>
                                <label class="switch">
                                    <input type="checkbox" />
                                    <div class="slider round"></div>
                                </label>
                            </div>-->
                        </div>
                    </div>
                </div>

                <div id="subscribers"></div>
                <div class="VideoStream" style="position: absolute;z-index: 1001;min-width: 200px;min-height: 150px;overflow: hidden;border-radius: 12px;top: 150px;right: 10px;width: 20% !important;height: 20% !important;border: 0;" id="publisher"></div>

                <div class="bottomButtons">
                    <a href="javaScript:;" class="btn btn-round" id="btnMicrophoneMute"><i class="innerIcon fa fa-microphone"></i></a>
                    <a href="javaScript:;" class="btn btn-round" id="btnVideoTurnOnOff">
                        <div class="videoTurnOn">
                            <img src="{{frontConstant.ACCESSURL}}images/video-camera.png" class="videoButton innerIcon"/>
                        </div>
                        <div class="videoTurnOff hidden">
                            <img src="{{frontConstant.ACCESSURL}}images/video-camera-off.png" class="videoButton innerIcon"/>
                        </div>
                    </a>
                    <!-- <a href="#" class="btn btn-round"><i class="fa fa-desktop"></i></a> -->
                </div>

            </div>
        </div>

        <div class="col-sm-4 ChatSection" id="maxheight">
            <div class="MentChat">
                <div class="panel-body msg_container_base">
                    <div class="chatTop">
                        <label>Online Participants</label>
                        <ul class="OnlineParticipants">
                            <li>{{userData.name}} {{userData.last_name}}</li>
                            <li id="oppositeUserParticipantName" class="hidden">{{objOppositeUserData.first_name}} {{objOppositeUserData.last_name}}</li>
                            <!--<li><a href="#"><i class="fa fa-plus"></i> Add Participant</a></li>-->
                        </ul>
                    </div>    
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#Chatting" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-comments"></i>Conversation</a>
                        </li>
                        <li role="presentation">
                            <a href="#meetingLogs" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-history"></i>Logs</a>
                        </li>
                        <!-- <li role="presentation">
                            <a href="#sharedDocuments" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-file"></i>Shared Documents</a>
                        </li> -->
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="Chatting">
                            <div id="chatMessages">
                                {{#if objChatMasterLogInfo.chatConversations}}
                                {{#each objChatMasterLogInfo.chatConversations}}
                                {{#ifCond this.flagMyMessage '==' '1'}}
                                <div class="row msg_container base_sent">
                                    <div class="col-xs-10 col-md-10">
                                        <div class="messages msg_sent">
                                            <p>{{this.message}}</p>
                                            <time>{{this.chatMessageDisplayTime}}</time>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="{{this.finalProfileImageUrl}}" class=" img-responsive ">
                                    </div>
                                </div>
                                {{/ifCond}}

                                {{#ifCond this.flagMyMessage '==' '0'}}
                                <div class="row msg_container base_receive">
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="{{this.finalProfileImageUrl}}" class=" img-responsive ">
                                    </div>
                                    <div class="col-md-10 col-xs-10">
                                        <div class="messages msg_receive">
                                            <p>{{this.message}}</p>
                                            <time>{{this.chatMessageDisplayTime}}</time>
                                        </div>
                                    </div>
                                </div>
                                {{/ifCond}}

                                {{/each}}
                                {{/if}}
                                <!--<div class="row msg_container base_sent">
                                    <div class="col-md-10 col-xs-10">
                                        <div class="messages msg_sent">
                                            <p>that mongodb thing looks good, huh?
                                                tiny master db, and huge document store</p>
                                            <time>51 min</time>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="{{frontConstant.ACCESSURL}}images/invite.jpg" class=" img-responsive ">
                                    </div>
                                </div>
                                <div class="row msg_container base_receive">
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="{{frontConstant.ACCESSURL}}images/user-2.jpg" class=" img-responsive ">
                                    </div>
                                    <div class="col-md-10 col-xs-10">
                                        <div class="messages msg_receive">
                                            <p>that mongodb thing looks good, huh?
                                                tiny master db, and huge document store</p>
                                            <time>51 min</time>
                                        </div>
                                    </div>
                                </div>
                                <div class="row msg_container base_receive">
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="{{frontConstant.ACCESSURL}}images/user-2.jpg" class=" img-responsive ">
                                    </div>
                                    <div class="col-xs-10 col-md-10">
                                        <div class="messages msg_receive">
                                            <p>that mongodb thing looks good, huh?
                                                tiny master db, and huge document store</p>
                                            <time>51 min</time>
                                        </div>
                                    </div>
                                </div>
                                <div class="row msg_container base_sent">
                                    <div class="col-xs-10 col-md-10">
                                        <div class="messages msg_sent">
                                            <p>that mongodb thing looks good, huh?
                                                tiny master db, and huge document store</p>
                                            <time>51 min</time>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="{{frontConstant.ACCESSURL}}images/invite.jpg" class=" img-responsive ">
                                    </div>
                                </div>
                                <div class="row msg_container base_sent">
                                    <div class="col-xs-10 col-md-10">
                                        <div class="messages msg_sent">
                                            <p>that mongodb thing looks good, huh?
                                                tiny master db, and huge document store</p>
                                            <time>51 min</time>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="{{frontConstant.ACCESSURL}}images/invite.jpg" class=" img-responsive ">
                                    </div>
                                </div>
                                <div class="row msg_container base_sent">
                                    <div class="col-xs-10 col-md-10">
                                        <div class="messages msg_sent">
                                            <p>that mongodb thing looks good, huh?
                                                tiny master db, and huge document store</p>
                                            <time>51 min</time>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="{{frontConstant.ACCESSURL}}images/invite.jpg" class=" img-responsive ">
                                    </div>
                                </div>
                                <div class="row msg_container base_sent">
                                    <div class="col-xs-10 col-md-10">
                                        <div class="messages msg_sent">
                                            <p>that mongodb thing looks good, huh?
                                                tiny master db, and huge document store</p>
                                            <time>51 min</time>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="{{frontConstant.ACCESSURL}}images/invite.jpg" class=" img-responsive ">
                                    </div>
                                </div>
                                <div class="row msg_container base_sent">
                                    <div class="col-xs-10 col-md-10">
                                        <div class="messages msg_sent">
                                            <p>that mongodb thing looks good, huh?
                                                tiny master db, and huge document store</p>
                                            <time>51 min</time>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="{{frontConstant.ACCESSURL}}images/invite.jpg" class=" img-responsive ">
                                    </div>
                                </div>
                                <div class="row msg_container base_sent">
                                    <div class="col-xs-10 col-md-10">
                                        <div class="messages msg_sent">
                                            <p>that mongodb thing looks good, huh?
                                                tiny master db, and huge document store</p>
                                            <time>51 min</time>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="{{frontConstant.ACCESSURL}}images/invite.jpg" class=" img-responsive ">
                                    </div>
                                </div>
                                <div class="row msg_container base_sent">
                                    <div class="col-xs-10 col-md-10">
                                        <div class="messages msg_sent">
                                            <p>that mongodb thing looks good, huh?
                                                tiny master db, and huge document store</p>
                                            <time>51 min</time>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="{{frontConstant.ACCESSURL}}images/invite.jpg" class=" img-responsive ">
                                    </div>
                                </div>
                                <div class="row msg_container base_sent">
                                    <div class="col-xs-10 col-md-10">
                                        <div class="messages msg_sent">
                                            <p>that mongodb thing looks good, huh?
                                                tiny master db, and huge document store</p>
                                            <time>51 min</time>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="{{frontConstant.ACCESSURL}}images/invite.jpg" class=" img-responsive ">
                                    </div>
                                </div>
                                <div class="row msg_container base_sent">
                                    <div class="col-xs-10 col-md-10">
                                        <div class="messages msg_sent">
                                            <p>that mongodb thing looks good, huh?
                                                tiny master db, and huge document store</p>
                                            <time>51 min</time>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="{{frontConstant.ACCESSURL}}images/invite.jpg" class=" img-responsive ">
                                    </div>
                                </div> -->
                            </div>
                            <div class="panel-footer">
                                <div class="input-group typemessage">
                                    <input id="txtChatMessage" name="txtChatMessage" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-md chat" id="btn-chat">Send</button>
                                    </span>
                                </div>
                            </div>
                        </div>



                        <div role="tabpanel" class="tab-pane" id="meetingLogs">
                            <div class="meetingLogEntries">
                                <!-- <div class="logs-chat green">
                                    <i class="fa fa-clock-o"></i>Milind Connected @ 01-01-2017 05:50 a.m
                                </div> -->
                            </div>
                        </div>

                        <!-- <div role="tabpanel" class="tab-pane" id="sharedDocuments">
                            <div id="fileShare">
                                <div class="customFileUpload">
                                    <div id="uploadfile_section">
                                        <label>Upload Document</label>
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="filename">
                                                <span class="fileupload-preview"></span>
                                                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                                            </div>
                                            <span class="btn btn-secondary btn-file"><span class="fileupload-new">Upload</span>
                                                <span class="fileupload-exists">Change</span>
                                                <input type="file" />
                                            </span>                  
                                        </div>
                                        <div class="text-center">
                                            <a href="#" class="btn red-btn btn-social"><i class="fa fa-paper-plane"></i>Send File</a>
                                        </div>
                                    </div>
                                    <div class="SharedDocuments" style="overflow-y: auto; overflow-x: hidden;">
                                        <h3>Shared Documents</h3>
                                        <ul>
                                            <li>
                                                <div class="download">
                                                    <a href="#"><i class="fa fa-arrow-down"></i></a>
                                                </div>
                                                <div class="detail">
                                                    <p>CWB Design Brief - The Ultimate Self-Tape App - Newsletter Template.pdf</p>
                                                    <span>2 hours ago</span>                            
                                                </div>                            
                                            </li>
                                            <li>
                                                <div class="download">
                                                    <a href="#"><i class="fa fa-arrow-down"></i></a>
                                                </div>
                                                <div class="detail">
                                                    <p>CWB Design Brief - The Ultimate Self-Tape App - Newsletter Template.pdf</p>
                                                    <span>2 hours ago</span>                            
                                                </div>                            
                                            </li>
                                            <li>
                                                <div class="download">
                                                    <a href="#"><i class="fa fa-arrow-down"></i></a>
                                                </div>
                                                <div class="detail">
                                                    <p>CWB Design Brief - The Ultimate Self-Tape App - Newsletter Template.pdf</p>
                                                    <span>2 hours ago</span>                            
                                                </div>                            
                                            </li>
                                            <li>
                                                <div class="download">
                                                    <a href="#"><i class="fa fa-arrow-down"></i></a>
                                                </div>
                                                <div class="detail">
                                                    <p>CWB Design Brief - The Ultimate Self-Tape App - Newsletter Template.pdf</p>
                                                    <span>2 hours ago</span>                            
                                                </div>                            
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!--Review popup after Meeting Ends-->
<div id="systemSetting" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <h4 class="modal-title">System Settings and Troubleshooting</h4>
            </div>
            <div class="modal-body formPopup clearfix">
                <div id="systemTroubleContainer">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn red-bg btn-reg" id='btnSystemSetting'>OK</button>
            </div>
        </div>
    </div>
</div>




<!--Review popup after Meeting Ends-->
<div id="EndMeet" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">Please submit your rating for your meeting experience.</h4>
            </div>         
            {{#ifCond mentorData.mentorID '!=' arrSessionData.userId }}
            <input type='hidden' name='oppsiteUser' id='oppsiteUser' value='{{mentorData.mentorID}}' />
            <input type='hidden' name='userType' id='userType' value='mentor' />
            {{/ifCond}}
            {{#ifCond mentorData.mentorID '==' arrSessionData.userId }}
            <input type='hidden' name='oppsiteUser' id='oppsiteUser' value='{{mentorData.userID}}' />
            <input type='hidden' name='userType' id='userType' value='user' />
            {{/ifCond}}


            <input type='hidden' name='loggedInUser' id='loggedInUser' value='{{arrSessionData.userId}}' />
            <div class="modal-body formPopup clearfix">
                <div class="mt20 col-sm-12">
                    <!-- MENTOR TO USER -->
                    {{#ifCond mentorData.mentorID '==' arrSessionData.userId }}

                    <div class="GiveFeedback">
                        <div class="customTooltipLink">
                            <label>Courteousness</label>
                            <div class="customTooltip">
                                <span>Was the user adequately courteous and exhibit mutual respect in communication?</span>
                            </div>
                        </div>
                        <div id="stars_M_U_1" class="starrr starRating" data-index="1"></div>
                    </div>

                    <div class="GiveFeedback">
                        <div class="customTooltipLink">
                            <label>Punctuality</label>
                            <div class="customTooltip">
                                <span> Was the user on time for the meeting ?</span>
                            </div>
                        </div>
                        <div id="stars_M_U_2" class="starrr starRating" data-index="2"></div>
                    </div>

                    <div class="GiveFeedback">
                        <div class="customTooltipLink">
                            <label>Compliance</label>
                            <div class="customTooltip">
                                <span>Did the user exhibit adequate restraint by not pushing you to answer questions bordering material non-public information or inside information?</span>
                            </div>
                        </div>
                        <div id="stars_M_U_3" class="starrr starRating" data-index="3"></div>
                    </div>
                    {{/ifCond}}

                    <!-- USER TO MENTOR -->
                    {{#ifCond mentorData.mentorID '!=' arrSessionData.userId }}

                    <div class="GiveFeedback">
                        <div class="customTooltipLink">
                            <label>Domain Expertise</label>
                            <div class="customTooltip">
                                <span>How satisfied were you on mentor's domain expertise?</span>
                            </div>
                        </div>
                        <div id="stars_U_M_1" class="starrr starRating" data-index="1"></div>
                    </div>

                    <div class="GiveFeedback">
                        <div class="customTooltipLink">
                            <label>Clarity</label>
                            <div class="customTooltip">
                                <span>How satisfied were you on advisor's clarity of communication and articulation?</span>
                            </div>
                        </div>
                        <div id="stars_U_M_2" class="starrr starRating" data-index="2"></div>
                    </div>

                    <div class="GiveFeedback">
                        <div class="customTooltipLink">
                            <label>Pricing</label>
                            <div class="customTooltip">
                                <span>How would you rate value derived for the price paid for this meeting?</span>
                            </div>
                        </div>
                        <div id="stars_U_M_3" class="starrr starRating" data-index="3"></div>
                    </div>

                    <div class="GiveFeedback">
                        <div class="customTooltipLink">
                            <label>Punctuality</label>
                            <div class="customTooltip">
                                <span>Was the advisor on time for the meeting ?</span>
                            </div>
                        </div>
                        <div id="stars_U_M_4" class="starrr starRating" data-index="4"></div>
                    </div>

                    <div class="GiveFeedback">
                        <div class="customTooltipLink">
                            <label>Courteousness</label>
                            <div class="customTooltip">
                                <span>Was the advisor adequately courteous and exhibit mutual respect in communication?</span>
                            </div>
                        </div>
                        <div id="stars_U_M_5" class="starrr starRating" data-index="5"></div>
                    </div>
                    {{/ifCond}}
                    <!-- <input type="hidden" name="maillabel" id="maillabel" value="Pre Call Preparation"> -->          
                    <div class="GiveFeedback" id="noclick">
                        <label>Overall</label>
                        <div id="stars_overAll" class="starrr"></div>
                    </div>                   
                </div>
                <div class="mt10 col-sm-12">
                    <label>Detailed Feedback</label>
                    <textarea class="form-control sm" rows="5" id='feedback'></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn red-bg btn-reg" id='submitreview' disabled="disabled">Submit Feedback</button>
            </div>
        </div>
    </div>
</div>



<!--Review popup after Meeting Ends-->
<div id="EndMeetNotification" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">Notification.</h4>
            </div>

            <div class="modal-body formPopup clearfix">
                <div class="mt10 col-sm-12">
                    Meeting room remains open till <span id="meetingEndTime"></span> and will close automatically thereafter. No extra charges will be levied for discussions engaged in during pre and post scheduled time of the call, but both parties have to agree to engage during these sessions.
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn red-bg btn-reg" id='btnScheduledMeetingEndOk'>OK</button>
                <button class="btn red-bg btn-reg hidden" id='btnScheduledMeetingEndEndMeeting'>End Meeting</button>
            </div>
        </div>
    </div>
</div>


<!--Opposite user no show popup -->
<div id="oppositeUserNoShowModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">Notification.</h4>
            </div>

            <div class="modal-body formPopup clearfix">
                <div class="mt10 col-sm-12">
                    <p>Since 10 minutes have elapsed since the start of the meeting, "No Show" policy will kick in.</p>
                    <p>You are free to leave the meeting room.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn red-bg btn-reg" id='btnOppositeUserNoShowOK'>OK</button>
            </div>
        </div>
    </div>
</div>


<input type="hidden" name="participantMeetingLogMasterId" id="participantMeetingLogMasterId" value="{{participantMeetingLogMasterId}}" />
<input type="hidden" name="participantMeetingLogId" id="participantMeetingLogId" value="{{participantMeetingLogId}}" />
<input type="hidden" name="hidOppositeUsersName" id="hidOppositeUsersName" value="{{objOppositeUserData.first_name}} {{objOppositeUserData.last_name}}" />
<input type="hidden" name="hidOtherParticipantConnected" id="hidOtherParticipantConnected" value="N" />
<input type="hidden" name="hidLoggedInUserId" id="hidLoggedInUserId" value="{{userData.user_id}}" />
<input type="hidden" name="hidChatMasterId" id="hidChatMasterId" value="{{objChatMasterLogInfo.chatMasterInfo.meetingChatMasterId}}" />
<input type="hidden" name="hidMeetingDetailId" id="hidMeetingDetailId" value="{{objChatMasterLogInfo.chatMasterInfo.meetingDetailId}}" />
<input type="hidden" name="hidLoggedInUserProfileImage" id="hidLoggedInUserProfileImage" value="{{userData.fullProfileImageURL}}" />


<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/jquery.validate.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/bootstrap.min.js?v={{frontConstant.VERSION}}"></script>
<link href="{{frontConstant.ACCESSURL}}css/chat.css?v={{frontConstant.VERSION}}" rel="stylesheet">
<script src="{{frontConstant.ACCESSURL}}js/starr_plugin.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/moment.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/moment-timezone-with-data.min.js?v={{frontConstant.VERSION}}"></script>
<!--<script src="//static.opentok.com/webrtc/v2.2/js/TB.min.js?v={{frontConstant.VERSION}}"></script>-->
<!-- <script src="//static.opentok.com/v2/js/opentok.min.js?v={{frontConstant.VERSION}}"></script> -->
<script src="https://static.opentok.com/v2/js/opentok.min.js?v={{frontConstant.VERSION}}"></script>

<!--<script src="{{frontConstant.ACCESSURL}}js/webjs/tokbox.js?v={{frontConstant.VERSION}}"></script>-->
<script src="{{frontConstant.ACCESSURL}}js/webjs/video_call.js?v={{frontConstant.VERSION}}"></script>
<script type="text/javascript">
var apiKey = "{{apiKey}}";
var sessionId = "{{sessionId}}";
var token = '{{token}}';
</script>