<div style="min-height: 316px;"></div>

<!--Review popup after Meeting Ends-->
<div id="invalidLinkPopup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">Invalid Meeting URL</h4>
            </div>            
            <div class="modal-body formPopup clearfix">
                <div class="mt20 col-sm-12">
                    <p>The URL you have entered is Invalid.</p>
                    <br/>
                    <p>Possible reasons for the same are:</p>
                    
                    {{#if errorMsg}} 
                        <ul>
                            {{#each errorMsg}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    {{/if}}

                    <!-- <ul>
                        <li>The Meeting Key has changed, please click on the link received in your email.</li>
                        <li>The meeting is already Ended, either by you or the one you were supposed to meet.</li>
                        <li>The Link is only valid for 15mins before and after the Scheduled Start Time. Try opening the link again within the provided margin.</li>
                        <li>You are not authorized to join this meeting.</li>
                        <li>You might have another instance of this meeting running on another system.</li>
                    </ul> -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn red-bg btn-reg redirect" id='btnCancel'>Cancel</button>
                <!-- <button class="btn red-bg btn-reg redirect" id='reloadpage'>Reload the Page</button>
                <button class="btn red-bg btn-reg redirect" id='gotodashboard'>Go to Dashboard</button> -->
            </div>
        </div>
    </div>
</div>
 
<input type="hidden" name="meeting_key" id="meeting_key" value="{{meetingKey}}" />

<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/bootstrap.min.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/video_call_invalid.js?v={{frontConstant.VERSION}}"></script>
<script type="text/javascript">
$(document).ready(function () {
    $('#invalidLinkPopup').modal('show');

    $('.redirect').click(function (e) {
        e.preventDefault();
        if ($(this).attr('id') == 'reloadpage') {
            window.location.reload();
        }
        else if ($(this).attr('id') == 'gotodashboard') {
            window.location.href = $('#absPath').val() + 'dashboard';
        }
        else if($(this).attr('id') == 'btnCancel') {
            window.close();
        }
    });
});
</script>