<div class="fullscreen inner-banners">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>Why Be a Advisor</h2>
                    <!--<ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{frontConstant.ACCESSURL}}">Home</a></li>
                        <li class="breadcrumb-item active">Bookmarked Advisors</li>
                    </ol>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container page">
        {{> helper/ajaxnotification_helper}}
        <div class="row static_pages">
            <div class="col-sm-10 col-sm-offset-1 text-justify">
                <p>From time immemorial, homo sapiens have developed as a result of sharing their collective wisdom with one another. From igniting that first spark of fire, to a father teaching a son how to ride his first bicycle, human evolution is driven by knowledge that has been passed down from one generation to the next.</p>

                <p>In a similar vein, people across different faculties gain specialized knowledge over the course of their careers. Professional or academic, consultant or business leader, every person accumulates a specific set of knowhow and expertise across multiple domains and geographies.</p>

                <p>Nvestlink's endeavor is to facilitate the interaction between the “advisors” who provide a certain kind of knowledge and the “users” who want to learn it.</p>

                <blockquote>“Advisors” are defined as those people who have specific insight, expertise and experience, which is particular to certain industries and geographies. In a broader sense they offer guidance and steer progress by providing insights to those who seek to enhance their grasp of understanding over a particular domain.</blockquote>

                <p>A advisor might be an expert on mobile wallet technology in China, a veteran of setting up automobile plants in Europe, heading a concern in the financial sector in India, a local expert in setting up renewable energy projects in the African continent, or a trader of oil and gas in Russia. A advisor could well be the CEO of a Fortune 500 conglomerate with a global presence, an entrepreneur bootstrapping a start up, a policy maker, or a policy changer, across a wide swathe of professions, positions and parts of the world.</p>

                <p>Nvestlink provides a platform for the exchange of customized knowledge and information. Our aim is to create an online hub of curated expertise for users to leverage to brainstorm solutions and differentiated strategies. Nvestlink allows advisors to showcase a portfolio of work such as white papers, presentations and audiovisuals. The platform allows advisors to list themselves within their respective industries, domains and geography. Highlight awards and press or peer recognition, and showcase a biographical note.</p>

                <div class="col-sm-8 col-sm-offset-2">
                    <img class="img-responsive" src="{{frontConstant.ACCESSURL}}images/steps.png" />
                </div>
                <div class="clearfix"></div>

                <h3>What Sets a Nvestlink advisor Apart?</h3>

                <p>Nvestlink advisors are established experts within their domain. Their in-depth perspective gives them the ability to analyze the nuances of your specific matter within the context of the larger industry environment. A advisor’s knowledge and expertise enables the user to enhance his or her understanding of the subject matter, make swift and informed decisions, implement strategy, heighten perspective, and improve progress and performance.</p>

                <p>Please click on the link to this insightful article from Fortune Magazine on what sets a great advisor apart.</p>

                <p><a href="http://fortune.com/2016/01/06/what-sets-great-mentors-apart/" target="_BLANK">This Is What Sets Great Advisors Apart</a></p>

                <h3>How Do Advisors Benefit From Nvestlink?</h3>

                <p>Being a Nvestlink advisor gives you a fantastic edge. It provides you an opportunity to offer strategic insights, establish your own virtual advisory or consulting practice and interact with a diverse pool of people globally whom you may not have otherwise connected with in your every day career.</p>

                <p>In effect, Nvestlink opens up the whole wide world for you by offering you a virtual office for free from where you can conduct virtual meetings with those who wish to interact with you, those who wish to book a time slot with you and engage with you in an audio or video meeting set-up, right here on the Nvestlink platform.  For this service you can command your price by listing your hourly rate that you would charge for imparting knowledge around an industry.</p>

                <p>We encourage you to work in a manner that is most efficient and effective for you, without any compulsion. We give you complete freedom and flexibility to optimize your knowledge and capability and take on those clients and projects that interest you most and conduct meetings from wherever you are.</p>

                <p>Nvestlink not only enhances your reputation, it also helps you gain worth and stature in your field, apart from building a financially viable expert advisory practive.. As a advisor in the Nvestlink community, you receive constructive feedback and fellowship with other advisors that serve to expand your circle of engagement.</p>

                <p>If you got industry knowledge, wish to impart it to knowledge seekers, and establish a financially viable expert advisory practice, you have reached the right palce.  We  welcome you to sign up as a advisor on Nvestlink.</p>

                <p>We Further encourage you to click on the links below.  The Gig Economy is on the Rise:</p>

                <p><a href="http://www.visualcapitalist.com/gig-economy-explained/?es_p=2066750" target="_blank">The Gig Economy Explained</a></p>
                <p><a href="http://www.forbes.com/sites/nextavenue/2016/01/24/gig-economy-better-for-boomers-than-millennials/#62df7a3c6bdb" target="_blank">Gig Economy: Better For Boomers Than Millennials</a></p>
                <p><a href="http://www.valuewalk.com/2016/10/gig-economy-females/" target="_blank">How The Gig Economy Is Changing Work For Women</a></p>
            </div>
        </div>
    </div>
</div>

<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>