
body, html {
    height: 100%;
    background: rgba(19,19,19,1);
    background: -moz-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(43,43,43,1) 50%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,19,19,1)), color-stop(50%, rgba(43,43,43,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(43,43,43,1) 50%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(43,43,43,1) 50%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(43,43,43,1) 50%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(19,19,19,1) 0%, rgba(43,43,43,1) 50%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#131313', GradientType=0 );
}
.col-md-2 {
    padding:0;
}
.panel{
    margin-bottom: 0px;
}
.chat-window{
    bottom:0;
    position:fixed;
    float:right;
    margin-left:10px;
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base {
    background: #fff;
    margin: 0;
    padding: 0;
    max-height: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: table;
}
.top-bar {
    background: #666;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
    max-width:100%;
}
.messages > p {
    font-size: 14px;
    margin: 0 0 0.2rem 0;
    color: #000;
    word-break: break-all;
}
.messages > time {
    font-size: 12px;
    color: #476c7b;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
img {
    display: block;
    width: 100%;
}
.avatar {
    position: relative;
}
.avatar img {
    border-radius: 100%;
}
.msg_receive:after {
    content: "";
    position: absolute;
    top: 0;
    left: 3px;
    width: 0;
    height: 0;
    border: 5px solid #c7edfc;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}
.msg_sent:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 3px;
    width: 0;
    height: 0;
    border: 5px solid #e5f7fd;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); /* not quite perfect but close*/
}

.msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}









.msg_sent {
    background: #e5f7fd;
}
.msg_receive {
    background: #c7edfc;
}
.panel-footer {
    padding: 10px 12.5px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.row-fluid {
    /*display: table;*/
    height: 100%;
}
.videoMeetingSection {
    display: table;
    height: 100%;
    width: 100%;
}
.meetDetailVideo {
    display: table;
    height: 100%;
}
.VideoSection, .ChatSection {
    display: table-cell;
    height: 100%;
    padding: 0;
}
.MentChat {
    height: 100%;
    position: relative;
}
.MeetTopSection {
    padding: 10px 0px;
    float: left;
    width: 100%;
    z-index: 99;
}
.Meet_dp {
    float: left;
    width: 50px;
    height: 50px;
    position: relative;
}
/*.Meet_dp:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid #ddd;
    -ms-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-45deg);
    bottom: -8px;
    right: -5px;
    z-index: -1;
}*/
.Meet_dp img {
    width: 100%;
    border-radius: 100%;
    border: 0px solid #ddd;
}
.Meet_dsc {
    float: left;
    margin-left: 15px;
}
.Meet_dsc h2.name {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 4px;
}
.Meet_dsc p.email {
    text-shadow: none;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 2px;
    text-align: left;
}
.Meet_dsc p.phone {
    text-shadow: none;
    font-weight: 400;
    font-size: 10px;
    text-align: left;
}
.btn.chat {
    padding: 10px 20px;
}

#chatMessages {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 0 20px;
    overflow-x: hidden;
}
.chatTop {
    height: 110px;
    padding: 10px 20px;
    background: #f7f7f7;
}
ul.OnlineParticipants li {
    display: inline-block;
    margin: 0 4px 4px 0;
    background: #2da26c;
    border-radius: 10px;
    padding: 1px 10px;
    color: #fff;
    font-size: 12px;
}
ul.OnlineParticipants {
    height: 60px;
    overflow-y: auto;
}
ul.OnlineParticipants li:last-child {
    background: #4a4a4a;
}
ul.OnlineParticipants li:last-child a {
    color: #fff;
}
ul.OnlineParticipants li:last-child a i {
    font-size: 12px;
}
.bottomButtons {
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
}
#subscribers:hover .bottomButtons {
    display: block;
}
.VideoStream:hover .bottomButtons {
    display: block;
}
.bottomButtons a {
    margin: 0 10px;
    color: #000;
    font-size: 22px;
    width: 52px;
    line-height: 50px;
}
.nav-tabs {
    background: #f7f7f7;
}
.nav-tabs > li > a {
    color: #666;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #000;
}
.nav-tabs > li > a i {
    margin-right: 5px;
}

.typemessage .chat_input, .typemessage .input-group-btn {
    position: relative;
}
.typemessage .input-group-btn .chat {
    background: #177892;
    color: #fff;
    font-size: 16px;
}
.TestSeting a:hover, .bottomButtons a:hover {
    color: #177892;
}





@media (max-width: 768px) {
    .VideoSection, .ChatSection {
        display: table;
        width: 100%;
    }
}
@media (max-width: 420px) {
    .col-xs-10 {
        width: 83.33333333%;
    }
    .col-xs-2 {
        width: 16.66666667%;
    }
}