body, .tooltip {
    font-family: 'Lato', sans-serif;
}
a {
    color: #177892;
}
a:hover {
    color: #ea3c3c;
    text-decoration: none;
}
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.logo img {
    height: 35px;
    margin-top: 1px;
}
body.static {
    padding-top: 70px;
}



.navbar-red {
    background: #177892;
    padding: 15px 0;
}
.navbar-nav>li>a {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 8px 15px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}
.nav>li>a:focus, .nav>li>a:hover {
    background: transparent;
}
.nav>li>a:focus:after, .nav>li>a:hover:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 50%;
    margin-left: -25px;
    bottom: 0;
    background: #fff;
}
.affix-top .show_sticky {
    display: none;
}
.affix .show_sticky {
    display: block;
}
.customTooltipLink {
    position: relative;
}
.customTooltipLink .customTooltip {
    display: none;
    position: absolute;
    right: auto;
    width: 270px;
    background: #fff;
    padding: 5px 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    margin-top: 15px;
    margin-left: -15px;
    z-index: 999;
}
.customTooltipLink .customTooltip:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    top: -6px;
    left: 10px;
}
.customTooltipLink:hover .customTooltip {
    display: block;
}
nav .customTooltipLink .customTooltip {
    right: 0;
    margin-top: 0px;
    margin-left: 0;
}
nav .customTooltipLink .customTooltip:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    top: -6px;
    right: 60px;
    left: auto;
}

.customTooltip.userProfile {
    margin-top: 5px;
}


.ips-image-banner {
    background: url(../images/main_banner.jpg) center no-repeat;
    text-align: center;
    background-size: cover;
    position: relative;
    height: 850px;
}
.ips-image-banner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background:  rgba(60,60,60,0.5);
}
.ips-image-banner .content {
    color: white;
}
.ips-image-banner .content .title {
    text-transform: uppercase;
    font-size: 6em;
}
.ips-image-banner > .video-background-container {
    z-index: -10;
}
.ips-image-banner > .video-background-container .video-overlay {
    z-index: 10;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.ips-image-banner > .video-background-container::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.6);
    z-index: 3;
    bottom: 0;
}
.video-background {
    width: 100%;
}
/*.ips-image-banner > *:not(.video-background-container) {
    z-index: 2;
}*/
.reveal.fade-down {
    opacity: 0;
    -webkit-transform: translateY(-70%);
    transform: translateY(-70%);
    -webkit-transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
    transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
    transition: opacity 1s ease-out, transform 1s ease-out;
    transition: opacity 1s ease-out, transform 1s ease-out, -webkit-transform 1s ease-out;
}
.reveal.fade-down.active {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.static-fullscreen {
    position: fixed;
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
}
.fullscreen {
    width: 100%;    
    overflow: hidden;
    display: table;
}
.playVideo {
    /*position: absolute;
    left: 0;
    right: 0;
    top: 40%;*/
    text-align: center;
    margin-bottom: 100px;
}
.playVideo a {
    color: #fff;
    font-size: 100px;
    line-height: 1;
    padding: 0;
    margin: 0;
    display: inline-block;
    opacity: 0.5;
    outline: 0;
}
.playVideo a:hover {
    opacity: 1;
}

.searchSection {
    padding-bottom: 50px;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}
.inner-banners .search-form {
    margin-top: 10px;
    margin-bottom: 20px;
}
.searchSection .searchbase {    
    text-align: left;
}
.searchSection .searchbase h2 {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
}
.searchSection .searchbase h3 {
    margin-top: 5px;
}
.searchSection .searchbase p {
    margin: 7px 0;
}
.fx {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    min-width: 1px;
}
.search-inp-container {
    padding: 0 20px 0 20px;
    background: #fff;    
}
.search-location {
    max-width: 220px;
    background: #fff;
    border-radius: 3px 0 0 3px;
    /*padding: 0 20px 0 55px;*/
    position: relative;
}
.search-location:before {
    position: absolute;
    content: "\e025";
    font-family: 'et-line';
    color: #555;
    top: 15px;
    font-size: 21px;
    left: 15px;
}
.search-location:after {
    position: absolute;
    content: "";
    border-right: 1px solid #c5c5c5;
    right: 0;
    top: 0;
    bottom: 0;
}

.fxac {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.fxac {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.search-field, .search-field:focus {
    height: 60px;
    font-size: 16px;
    padding: 0;
    background: transparent;
    border: 0;
    outline: 0;
    box-shadow: none;
}
.home-search-btn {
    background: #177892;
    border: 0;
    color: #fff;
    font-size: 22px;
    border-radius: 0 3px 3px 0;
    padding: 0 20px;
    height: 60px;
    line-height: 1;
}
.search-form {
    margin-top: 20px;
    /*background: rgba(0, 0, 0, 0.5);    */
}
.quickCat a {
    color: #fff;
    margin: 10px 5px 0 0;
    display: inline-block;
    text-transform: capitalize;
}
.quickCat a:after {
    content: ",";
    margin-left: 2px;
}
.quickCat a:last-child:after {
    content: "";
    margin: 0;
}
.quickCat a:hover {
    color: #177892;
}

.wrapper {
    background: #fff;    
}
section {
    padding: 60px 0 20px;
}
section:before, section:after {
    display: table;
    content: " ";
}
section:after {
    clear: both;
}
.work-process {
    text-align: center;
}
.work-process span {
    font-size: 48px;
    color: #0d0d0d;
    margin-bottom: 15px;
}
.work-process h4 {
    color: #0d0d0d;
    font-size: 24px;
}
.work-process p {
    font-size: 14px;
    color: #0d0d0d;
}

.sec-title {
    position: relative;
    margin-bottom: 50px;
    text-align: center;
}
.sec-title .centered-icon {
    position: absolute;
    left: 0px;
    top: -20px;
    width: 100%;
    z-index: 0;
}
.sec-title .centered-icon .icon {
    font-size: 50px;
    color: #e6e6e6;
}
.sec-title h2 {
    font-size: 30px;
    color: #177892;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
}


.missionary {
    float: left;
    width: 100%;
}
.energy {
    background: url(../images/energy.jpg);
}
.materials {
    background: url(../images/materials.jpg);
}
.industrials {
    background: url(../images/industrials.jpg);
}
.discretionary {
    background: url(../images/discretionary.jpg);
}
.staples {
    background: url(../images/staples.jpg);
}
.health {
    background: url(../images/health.jpg);
}
.financials {
    background: url(../images/financials.jpg);
}
.technology {
    background: url(../images/technology.jpg);
}
.tele {
    background: url(../images/tele.jpg);
}
.utilities {
    background: url(../images/utilities.jpg);
}
.industry {
    height: 344px;
    background-size: cover;
    margin-bottom: 25px;
    display: table;
    width: 100%;
    position: relative;
}
.va-middle {
    display: table-cell;
    vertical-align: middle;
}
.industry h2 {
    text-align: center;
    margin: 0;
    color: #fff;
    position: relative;
    font-weight: 700;
}
.missionary a {
    color: #fff;
}
.industry:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
} 
.industry:hover:before {
    background: rgba(0,0,0,0.5);
} 


.testimonials-content {
    text-align: center;
    position: relative;
    padding: 0px 70px;
    background: url(../images/quote-icon.png) center 130px no-repeat;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    margin-bottom: 70px;
}
.testimonials-content .author-info {
    position: relative;
    max-width: 300px;
    margin: 0 auto 30px;
}
.img-circle {
    border-radius: 50%;
}
.testimonials-content .author-thumb {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
}
.testimonials-content .author-thumb img {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
}
.testimonials-content .author-info .author-title {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 24px;
    color: #444444;
}
.testimonials-content .text {
    font-size: 18px;
    line-height: 1.6em;
    color: #777777;
    font-weight: 300;
    text-shadow: 0px 0px rgba(0,0,0,0.80);
    margin-bottom: 20px;
}
.carousel-control {
    background: transparent !important;
    opacity: 1;
}
.carousel-control.left, .carousel-control.right {
    background: none;
    width: 25px;
    opacity: 1;
    text-shadow: none;
}
.carousel-control.left {
    left: -25px;
}
.carousel-control.right {
    right: -25px;
}
.carousel.slide {
    width: 800px;
    margin: 0 auto;
}
.carousel-control.left span, .carousel-control.right span {
    vertical-align: middle;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    color: #cacaca;
}
h4.post-title {
    font-weight: 700;
    font-size: 15px;
}
footer {
    background: #1f1f1f;
    padding: 10px 0 30px;
}
.footerLinks {
    margin: 20px 0 30px;
}
.footerLinks h5 {
    color: #177892;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}
.footerLinks ul li a {
    color: #fff;
}
.bottom-links {
    position: relative;
    display: inline-block;
    padding-right: 5px;
    border-right: 1px solid #555555;
    margin-right: 5px;
    margin-top: 20px;
}
.bottom-links li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.social-links {
    position: relative;
    display: inline-block;
    vertical-align: top;
    float: right;
}
.social-links a {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    color: #fff;
    font-size: 30px;
}
.copyright {
    color: #fff;
    margin-top: 10px;
}
.copyright img {
    margin-right: 10px;
    height: 30px;
}

section.clients {
    background: #ddd;
    padding: 40px 0 30px;
}
section.clients img {
    -webkit-transition: all 0.3s ease;
    -khtml-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0.5;
}
section.clients img:hover {
    opacity: 0.9;
    transform: scale(1.2);
    -webkit-transition: all 0.3s ease;
    -khtml-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



.bg_1 {
    background: #eee;
}
section.profiles {
    padding: 50px 0;
    margin-top: 50px;
}
.sc_team_item .sc_team_item_avatar.column-2_5 {
    width: 33.4%;
    padding-right: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    line-height: 0;
    display: inline-block;
    vertical-align: top;
}
.sc_team_item .sc_team_item_avatar img {
    width: 100%;
}
.sc_team_item .sc_team_item_avatar .sc_socials {
    width: 100%;
}
.sc_team_item .sc_team_item_avatar .sc_socials_item {
    width: 33.33334%;
    margin: 0;
    float: left;
}
.sc_team_item .sc_team_item_info.column-3_5 {
    width: 61.6%;
    padding: 2.5em;
    margin-top: 1.3em;
}
.sc_team_item .sc_team_item_info.column-3_5 {
    padding: 1.5em;
    width: 65%;
    display: inline-block;
    vertical-align: top;
}
.sc_team_item .sc_team_item_info .sc_team_item_title {
    margin: 0;
    font-size: 1.643em;
}
.sc_team_item .sc_team_item_info .sc_team_item_description {
    margin-top: 1em;
    line-height: 1.75em;
    overflow: hidden;
}
.sc_team_item .sc_team_item_avatar .sc_socials_item a {
    width: 100%;
    line-height: 3.571em;
    height: 3.571em;
    display: inline-block;
    text-align: center;
    color: #fff;
}
.social_icons.social_twitter {
    background-color: #2abbff;
}
.social_icons.social_linkedin {
    background-color: #215ba9;
}
.social_icons.social_gplus {
    background-color: #e13e30;
}
.sc_team_item_info.column-3_5 {
    background-color: #fff;
}
.sc_team_item {
    padding-bottom: 30px;
}







/* .modal-fullscreen */

.modal-fullscreen {
    background: transparent;
    padding: 0 !important;
}
.modal-backdrop.modal-backdrop-fullscreen {
    background: #000;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
    opacity: 1;
    filter: alpha(opacity=100);
}
.videoFullscreen button.close {
    float: none;
    text-align: right;
    outline: none;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 40px;
    z-index: 99999999;
    color: #fff;
    opacity: 0.7;
    text-shadow: none;
}
.videoFullscreen button.close:hover {
    opacity: 1;
}
.row-table {
    display: table;
    table-layout: fixed;
}
.row-full-height {
    height: 100%;
}
.row.row-table {
    width: calc(100% + 24px);
}
.col-top, .col-middle, .col-bottom {
    float: none;
    display: table-cell;
}
.col-middle {
    vertical-align: middle;
    width: 100%;
}









.inner-banners {
    background: url(../images/inner_banner.jpg) center no-repeat;
    text-align: center;
    background-size: cover;
    position: relative;
    padding-top: 80px;
    min-height: 240px;
}
.profile-banner {
    background: url(../images/inner_banner2.jpg) center bottom no-repeat;
    text-align: center;
    background-size: cover;
    position: relative;    
    height: 250px;
}
.MentProfile {
    margin-top: -170px;
    position: relative;
}
.inner_top_section {
    margin-bottom: 20px;
}
.inner_top_section h2 {
    font-size: 36px;
    font-weight: 700;
}
.inner_top_section span:before {
    content: "(";
}
.inner_top_section span:after {
    content: ")";
}
.page {
    padding: 30px 15px;
}
.search-filters {
    /*background: #f0f4f7;
    padding: 10px 20px;*/
    position: relative;
}
.left-list-category {
    margin-bottom: 20px;
}
.left-list-category:last-child {
    margin-bottom: 0;
}
.left-list-category .title-nav {
    padding-bottom: 7px;
    color: #484d50;
    font-size: 14px;
    text-transform: uppercase; 
    margin-top: 0;
    font-weight: 700;
    border-bottom: 3px solid #dbdee0;
    margin-bottom: 15px;
}
.nav-category > li {
    margin: 5px 0;
    position: relative;
}
.nav-category > li label {
    font-weight: 600;
    color: #545e65;
}
.nav-category > li input[type=checkbox], .nav-category > li input[type=radio] {
    margin-right: 6px;
    float: left;
}
.nav-category .count-val {
    cursor: pointer;
    color: #B9B9B9;
    margin-left: 3px;
    font-weight: 400;
    font-size: 11px;
    padding-left: 3px;
}

.recom-item-inner {
    position: relative;
    z-index: 1;
    background: #ffffff;
    /* overflow: hidden; */
    margin-bottom: 24px;
    max-width: 770px;
    margin-right: auto;
    margin-left: auto;
    display: table;
    width: 100%;
}
.recom-item.border {
    border: 1px solid #eaedef;
}
.recom-item:hover {
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
.recom-item .recom-media {
    position: relative;
    z-index: 1;
    width: 240px;
    height: 100%;
    float: right;
}
.recom-item .recom-media .pic:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-box-shadow: inset 0px -100px 60px -40px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0px -100px 60px -40px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0px -100px 60px -40px rgba(0, 0, 0, 0.8);
}
.recom-item .recom-media .pic img {
    max-width: none;
    height: 240px;
}
.recom-item .recom-item-body {
    width: calc(100% - 240px);
    padding: 20px 0 0 20px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    background: #ffffff;
}
.recom-item .recom-item-body:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    -webkit-transform: skew(-15deg) translateX(32px);
    -moz-transform: skew(-15deg) translateX(32px);
    -ms-transform: skew(-15deg) translateX(32px);
    -o-transform: skew(-15deg) translateX(32px);
    transform: skew(-15deg) translateX(32px);
    background: #ffffff;
    -webkit-transition: all 0.3s ease;
    -khtml-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.recom-item:hover .recom-item-body:before {
    -webkit-transform: skew(-10deg) translateX(32px);
    -moz-transform: skew(-10deg) translateX(32px);
    -ms-transform: skew(-10deg) translateX(32px);
    -o-transform: skew(-10deg) translateX(32px);
    transform: skew(-10deg) translateX(32px);
    -webkit-transition: all 0.3s ease;
    -khtml-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.recom-item .recom-item-body .blog-title {
    font-size: 26px;
    margin: 0;
    color: #000;
    font-weight: 700;
}
.star-rating, .stars {
    display: inline-block;
    position: relative;
    line-height: 1;
    font-size: 13px;
    overflow: hidden;
    vertical-align: middle;
}
.star-rating:before, .stars:before {
    color: #ff9c07;
}
.star-rating:before, .star-rating > span:before, .stars:before, .stars .stars-active {
    content: "\f005";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 4px;
}
.stars.stars-0:before {
    content: "\f006\f006\f006\f006\f006";
}
.stars.stars-1:before {
    content: "\f005\f006\f006\f006\f006";
}
.stars.stars-2:before {
    content: "\f005\f005\f006\f006\f006";
}
.stars.stars-3:before {
    content: "\f005\f005\f005\f006\f006";
}
.stars.stars-4:before {
    content: "\f005\f005\f005\f005\f006";
}
.stars.stars-5:before {
    content: "\f005\f005\f005\f005\f005";
}
.recom-price {
    margin: 10px 0;
}
.recom-price span {
    font-size: 20px;
    color: #177892;
    font-weight: 700;
}
.recom-item-body .info {
    margin: 8px 0;
    color: #666;
}
.recom-item .recom-media .location {
    position: absolute;
    z-index: 1;
    bottom: 0;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: #ffffff;
}
.recom-item .recom-media .location a {
    color: #ffffff;   
}
.recom-item .recom-media .location a:hover {
    text-decoration: underline;
}
.recom-item .recom-media .location i {
    margin-right: 5px;
}
.skills a {
    background: #dadfe2;
    padding: 2px 7px;
    display: inline-block;
    margin: 5px 5px 5px 0;
    border-radius: 2px;
    color: #404040;
}
.skills a:hover {
    background: #404040;
    color: #fff;
}
.pagination-wrapper {
    margin-top: 10px;
    text-align: center;
}
.pagination {
    display: inline-block;
    background: #fff;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
}
.pagination li {
    display: block;
    float: left;
    padding: 0 10px;
}
.pagination li:first-child, .pagination li:nth-child(2) {
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.pagination li:last-child {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
}
.pagination li:nth-child(2), .pagination li:last-child {
    padding: 0 20px;
}
.pagination li a, .pagination li span {
    display: block;
    padding: 0 5px;
    color: #4a4a4a;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 40px;
}
.pagination li a, .pagination li span {
    display: block;
    padding: 0 5px;
    color: #4a4a4a;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    border: 0;
}
.pagination li a.active, .pagination li span.active, .pagination > li > a:hover,
.pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #ec4050;
    background: transparent;
}



.heading-inner {
    float: left;
    width: 100%;
    position: relative;
    padding-bottom: 28px;
    margin-bottom: 20px;
}
.heading-inner:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #363636;
    content: "";
    margin: 0 auto;
}
.heading-inner h2 {
    font-weight: bolder;
    text-transform: capitalize;
    line-height: 23px;
    margin-bottom: 7px;
    font-size: 20px;
}
.heading-inner span {
    text-transform: capitalize;
    color: #464646;
    display: block;
}
.author-details {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.thumb {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.author-details .thumb {
    border: 1px solid #e8e8e8;
}
.thumb img {
    float: left;
    width: 100%;
}
.author-details .userinfo h5 {
    margin: 0 0 7px;
    font-size: 20px;
    color: #000000;
    line-height: 1.3;
}
.author-details .userinfo p {
    margin-bottom: 15px;
}
a.btn-2 {
    background: #2f2f2f;
    color: #fff;
    padding: 10px 25px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
}
.userinfo .skills {
    margin-bottom: 20px;
}
.userinfo .stars {
    display: block;
    margin: 3px 0 15px;
}
.userinfo .stars .reviews {
    color: #666;
    margin-left: 5px;
}
.userinfo .stars .reviews:before {
    content: "(";
}
.userinfo .stars .reviews:after {
    content: ")";
}







/* Tabs panel */
.mentor_other_info {
    float: left;
    width: 100%;
}
.tabbable-panel {
    padding: 10px;
}
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}
.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
    font-weight: 700;
    font-size: 16px;
}
.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #177892;
    position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}
.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}
.tab-content section {
    padding: 13px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
.tab-content section video.video-feed, .tab-content section .image-feed {
    width: 100%;
    margin-bottom: 5px
}
h2.feedTitle {
    margin: 0 0 5px;
    font-size: 20px;
    font-weight: 600;
}
span.feedDate {
    color: #afafaf;
}
p.content {
    color: #666;
}
.profileVideoLink {
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-weight: 700;
}
.gallery {
    display: inline-block;
    margin-top: 20px;
}
.btn-grey{
    background-color:#D8D8D8;
    color:#FFF;
}
.rating-block{
    background-color:#FAFAFA;
    border:1px solid #EFEFEF;
    padding:15px 15px 20px 15px;
    border-radius:3px;
}
.bold{
    font-weight:700;
}
.padding-bottom-7{
    padding-bottom:7px;
}

.review-block{
    background-color:#FAFAFA;
    border:1px solid #EFEFEF;
    padding:15px;
    border-radius:3px;
    margin:15px 0;
}
.review-block-name {
    font-size: 14px;
    margin: 10px 0;
    font-weight: 600;
    text-transform: capitalize;
}
.review-block-date{
    font-size:12px;
}
.review-block-rate{
    font-size:13px;
    margin-bottom:15px;
}
.review-block-title{
    font-size:15px;
    font-weight:700;
    margin-bottom:10px;
}
.review-block-description{
    font-size:13px;
}
.onpiclinks {
    position: relative;
}
ul.QuickLinks {
    position: absolute;
    top: 20%;
}
ul.QuickLinks li {
    width: 30px;
    text-align: center;
    margin-bottom: 2px;
}
ul.QuickLinks li a {
    color: #fff;
    background: #333;
    padding: 10px 0;
    display: block;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
ul.QuickLinks li:hover {
    width: 40px;
}
ul.QuickLinks li:hover a {
    background: #177892;
}
.breadcrumb {
    background: transparent;
    margin-bottom: 0;
}
.breadcrumb > li > a, .breadcrumb > .active {
    color: #fff;
}
.meetingSection {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.mt20 {
    margin-top: 20px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.profileinfo h2 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
}
.profileinfo h2 a {
    display: block;
    text-align: center;
}
.meetingHistory {
    padding: 5px 0;
}
p.meetingListDetail {

}
p.meetingListDetail label {
    width: 230px;
}
.btn-black {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
}
.btn-red {
    background: #177892;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
}
.btn-blue {
    background: #005ce6;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
}
.btn-simple {
    margin-left: 10px;
}
.buttons {
    margin-right: 10px;
}
.buttons:hover, .buttons:focus {
    color: #fff;
}




.accessasive {
    display: table;
    width: 100%;
    height: 100%;
}




.halfscreen.ips-image-banner {
    background-size: auto 120%;
    background-position: 0% 0%;
}




.account-box {
    z-index: 3;
    font-size: 13px;
    padding: 20px 0;
    margin: 100px 0;
    min-height: 300px;
}
.account-box .forgotLnk {
    margin-top: 10px;
    display: block;
    color: #000;
}
.red-bg {
    background-color: #177892;
    color: #fff;
}
.red-bg:hover {
    background-color: #2a96b5;
    color: #fff;
}
.black-bg {
    background-color: #333;
    color: #fff;
}
.black-bg:hover, .black-bg:focus {
    background-color: #111;
    color: #fff;
    outline: 0;
}

.account-box .or-box {
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.account-box .or {
    color: #666666;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 40px;
    left: 50%;
    margin-left: -20px;
}
.account-box .account-box .btn:hover {
    color: #fff;
}
.btn-linkedin, .btn-linkedinPopUp {
    background-color: #0077b5;
    color: #fff;
    font-weight:bold;
}
.btn-google {
    background-color: #dd4b39;
    color: #fff;
    font-weight:bold;
}
a.btn-social i {
    font-size: 18px;
    position: relative;
    margin-right: 8px;
    top: 2px;
}
a.btn-social:hover {
    color: #fff;
}
.account-box input[type=checkbox] {
    position: static;
    margin-left: 0;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}
.account-box .checkbox {
    margin: 25px 0;
}
.form-control:focus {
    box-shadow: none;
    border-color: #666;
}
.role {
    font-weight: 600;
    margin-bottom: 5px;
}
.role .company:before {
    
    margin: 0 4px 0 0px;
    color: #a2a2a2;
    cursor: default;
    text-decoration: none;
}
.role i {
    margin: 0 4px 0 2px;
    color: #7d7d7d;
}
.role a {
    color: #333;
}
.role a.company {
    color: #177892;
}
.role a:hover {
    color: #177892;
}


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.mentor_dp {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    background: #000;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    border: 4px solid #fff;
}
.mentor_dp img {
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -khtml-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.mentor_dp .dpAction {
    display: none;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s ease;
    -khtml-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
    margin-top: -52px;
}
.mentor_dp:hover .dpAction, .mentor_dp .dpAction:hover {
    display: block;
    -webkit-transition: all 0.3s ease;
    -khtml-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.mentor_dp:hover img {
    opacity: 0.4;
    -webkit-transition: all 0.3s ease;
    -khtml-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a.btn.click, .fileUpload.btn {
    display: block;
    z-index: 99999999999;
    position: relative;
    color: #fff;
    font-size: 20px;
}


.mentor_dsc {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
}
h2.name {
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}
p.email {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}
p.phone {
    font-size: 14px;
    font-weight: 600;  
    color: #fff;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}
.mentor_dsc p i {
    width: 20px;
    text-align: center;
    margin-right: 10px;
}
.mentor_dsc p i.fa-phone-square {
    font-size: 17px;
}
.lg-radio {
    font-size: 16px;
    font-weight: 600;
    margin: 0 20px;
    padding-left: 25px;
}
.lg-radio input[type='radio'] {
    width: 20px;
    height: 20px;
    left: 15px;
    top: -2px;
}
.spacing40 {
    margin: 40px 0;
}
.mentorOrganization {
    margin-top: 20px;
}

.title-md {
    font-size: 26px;
}
.title-sm {
    font-size: 16px;
}
.privacyBox {
    max-height: 300px;
    overflow-y: auto;
}
#successMentor .modal-body {
    padding: 30px 20px;
}
#successMentor .modal-body p {
    font-size: 18px;
}
#successMentor .modal-footer p {
    font-size: 11px;
}
.btn {
    outline: 0;
}
p.mid-form {
    margin: 7px 0 0;
}
.steps .title-sm {
    margin: 10px 0 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
}
.btn-reg {
    min-width: 150px;
}
.steps .form-group {
    margin-bottom: 20px;
}
.mr20 {
    margin-right: 20px;
}
.mr10 {
    margin-right: 10px;
}

.user-image {
    overflow: hidden;
    border-radius: 100%;
    width: 150px;
    margin: 0 auto;
}
.user-info-block .user-heading {
    width: 100%;
    text-align: center;
    margin: 10px 0 0;
}
.user-info-block .user-heading h3 {
    color: #000;
    font-size: 16px;
}
.mb40 {
    margin-bottom: 40px;
}
.title-sm .btn-social {
    margin-top: -15px;
}

a.videoUpload {
    display: block;
    text-align: center;
    /* height: 100px; */
    color: #fff;
    background: #3e4a59;
    border-radius: 5px;
    font-size: 18px;
    /* max-width: 300px; */
    padding: 9px;
    margin: 0 auto;
}
a.videoUpload i {
    display: inline-block;
    font-size: 35px;
    margin-right: 12px;
    vertical-align: middle;
}
a.videoUpload:hover {
    background: #29313c;
}
.form-control {
    line-height: 42px;
    height: 42px;
}
table.table {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
a.edit {
    color: #000;
    margin-left: 10px;
}
.modal-header {
    background: #177892;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}
.modal-header.red .close {
    color: #fff;
    opacity: 1;
}
.modal-header.red .modal-title {
    font-weight: 700;
}
.formPopup .form-control {
    margin-bottom: 10px;
}
label.red-title-md {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 12px;
}
label.red-title-md:before {
    content: "";
    height: 15px;
    width: 15px;
    background: #000;
    border-radius: 100%;
    display: inline-block;
    margin-right: 10px;
}
a.add-btn i {
    margin: 3px 4px 0 0;
}
a.add-btn {
    border-radius: 3px;
    padding: 0px 4px;
    margin-top: 5px;
    display: inline-block;
    font-size: 13px;
}
a.uploadMedia {
    margin-top: 25px;
    display: block;
    text-align: center;
    background: #333;
    color: #fff;
    border-radius: 4px;
    height: 41px;
    line-height: 40px;
    font-size: 16px;
}
a.uploadMedia i {
    margin-right: 5px;
}
a.uploadMedia:hover {
    background: #177892;
}
ul.addedList {
    margin-top: 10px;
}
ul.addedList li {
    margin-bottom: 7px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
    display: table;
    width: 100%;
}
ul.addedList li:first-child {
    border-top: 1px solid #ddd;
    padding-top: 7px;
}
ul.addedList li a i {
    margin-right: 5px;
}
ul.addedList li iframe {
    width: 100% !important;
}
ul.addedList li a {
    float: left;
    text-align: left;
    vertical-align: middle;
}
ul.addedList li span {
    margin-left: 2px;
    word-break: break-all;
}
input.search-field.form-control {
    line-height: 60px;
    height: 60px;
    margin-bottom: 0;
}
.label-badge {
    background: #fff;
    color: #a70000;
    font-size: 9px;
    margin-top: 4px;
    float: right;
    padding: 2px 3px;
}
.nav-icon {
    margin-right: 5px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: transparent;
}
.navbar-nav > li > .dropdown-menu:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    top: -7px;
    right: 30px;
}
li.dropdown:after {
    position: absolute;
    content: "";
    height: 70px;
    width: 1px;
    background: rgba(0, 0, 0, 0.12);
    top: -20px;
}
.nav>li.dropdown>a:focus:after, .nav>li.dropdown>a:hover:after {
    display: none;
}
.nav-action .dropdown-menu {
    padding: 0;
}
ul.dropdown-menu.width {
    width: 300px;
}
.nav-action .dropdown-menu > li > a {
    padding: 10px;
    line-height: 1;
}
.nav-action .dropdown-menu > li:nth-child(even) {
    background: #f7f7f9;
}
.nav-action .dropdown-menu .divider {
    margin: 0;
}
.nav-action .dropdown-menu .view-all {
    text-align: center;
    background: #fff;
    color: #177892;
    font-size: 12px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #f7f7f9;
}
.nav-action ul.dropdown-menu {
    margin-top: 15px;
}
img.coverPhotoImg {
    width: 100%;
}
.wxProfilePic {
    padding: 0 10px;
    position: relative;
    z-index: 2;
    margin-top: -60px;
}
.photoContainer.mentor_dp {
    width: 250px;
    height: 250px;
    margin-top: -155px;
}
.wxProfilelineSection {
    margin-top: 50px;
    margin-bottom: 20px;
}
.cover {
    width: 100%;
    height: 180px;
    overflow: hidden;
}
.coverImage {
    width: 100%;
    height: 100%;
    position: relative;
}
.coverImage:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
.coverImage img {
    position: absolute;
    width: 105%;
    height: 110%;
    left: -2.5%;
    top: -2.5%;
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    filter: blur(30px);
}
.wxProfilePic .actions {
    float: right;
}
.wxProfilePic .actions a {
    margin-left: 10px;
}
.red-btn {
    background-color: #177892;
    color: #fff;
    font-weight: bold;
}
.btn-darkgray {
    background-color: #464646;
    color: #fff;
    font-weight: bold;
}
textarea.form-control {
    /*line-height: 1;*/
    resize: none;
}
.news p {
    margin-bottom: 0;
    text-align: justify;
}
.pl0 {
    padding-left: 0 !important;
}
p.que-reg {
    font-size: 20px;
    padding: 0 15px;
}
p.que-bold {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    padding: 0 15px;
}
span.queNum {
    float: right;
    font-weight: bold;
    background: #737373;
    color: #fff;
    padding: 6px 10px 7px;
    margin: -6px 0px 0 0;
    border-radius: 6px;
    line-height: 1;
}
.questionSection {
    margin: 30px 0 20px;
    border-style: dashed;
    padding-bottom: 20px;
    border-color: #bbb;
}
.ans-radio i.fa {
    opacity: 0;
    font-size: 14px;
    padding: 0 2px;
}
.ans-radio.active i.fa {                
    opacity: 1;
}
.answerSection {
    padding: 0 15px;
    /*margin: 0 0 20px;
    border-bottom: 1px dashed #cacaca;*/
    padding-bottom: 20px;
}
[data-toggle=buttons]>.ansNum>.btn>input[type=radio], [data-toggle=buttons]>.ansNum>.btn>input[type=checkbox] {
    position: absolute;
    z-index: -1;
    filter: alpha(opacity=0);
    opacity: 0;
}
.answerSection .ans-radio.btn {
    background: #eaeaea;
    border-radius: 100% !important;
    padding: 2px 3px;
    border: 2px solid #545454;
    float: left;
}
.answerSection .ansNum {
    margin-right: 40px;
    float: left;
}
.answerSection .ansNum span {
    font-size: 16px;
    font-weight: 700;
    margin-left: 5px;
    float: left;
    margin-top: 3px;
}
.answerSection .ans-radio.btn.active {
    background: #177892;
    border-color: #177892;
    color: #fff;
}
.ansPanel {
    border: 1px dotted #dadada;
    margin-bottom: 20px;
    padding: 5px 15px;
}
.ansPanel h4 {
    font-weight: 600;
}
.ansPanel h4 i {
    margin-right: 5px;
}
.ansPanel.wrong h4 {
    color: #177892;
}
.ansPanel.right h4 {
    color: #3c9c0b;   
}







.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card .card-heading {
    padding: 0 20px;
    margin: 0;
}
.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}
.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}
.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}
.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}
.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}
.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}
.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}
.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}
.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}
.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}
.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}
.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}
.card.people:first-child {
    margin-left: 0;
}
.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}
.card.people .card-top.green {
    background-color: #53a93f;
}
.card.people .card-top.blue {
    background-color: #427fed;
}
.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}
.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #efefef;
}
.card.hovercard .cardheader {
    background: url("../images/inner_banner2.jpg");
    background-size: cover;
    height: 135px;
}
.card.hovercard .avatar {
    position: relative;
    top: -80px;
    margin-bottom: -75px;
}.card.hovercard .avatar img {
    width: 130px;
    height: 130px;
    max-width: 130px;
    max-height: 130px;
    /*-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;*/
    border: 5px solid rgba(255,255,255,0.5);
}
.card.hovercard .info {
    padding: 15px 8px 20px;
}
.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}
.card.hovercard .info .title a {
    font-weight: 700;
}
.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 13px;
    line-height: 20px;
    color: #353535;
    font-weight: 400;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.card.hovercard .inviteDetails p {
    margin-bottom: 0;
}
.card.hovercard .inviteDetails h3 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.title-underline {
    margin: 10px 0 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 17px;
}
.well.white {
    background: #f4f4f7;
    border-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .07);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07);
}
p.slotSelecteed {
    font-size: 13px;
    margin: 0;
    border-bottom: 1px dotted #ddd;
    padding: 8px 0;
}
p.slotSelecteed:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}
.title-sm-bold {
    font-weight: 700;
    font-size: 16px;
    color: #121212;
}
.mt0 {
    margin-top: 0 !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mt10 {
    margin-top: 10px !important;
}
.col-minpad {
    padding-left: 5px;
    padding-right: 5px;
}
.form-control.sm {
    line-height: 35px;
    height: 35px;
}
textarea.form-control.sm {
    height: auto;
    line-height: normal;
}
.customFileUpload {
    /*    float: left;
        width: 100%;
    */    margin-top: 15px;
}
.customFileUpload .fileupload {
    background: #f4f4f7;
    border-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .07);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07);
    float: left;
    width: 100%;
}
.filename {
    float: left;
    max-width: 230px;
    overflow: hidden;
}
span.fileupload-preview {
    margin: 7px 5px 0 10px;
    display: inline-block;
}
a.close.fileupload-exists {
    opacity: 0.5;
    top: 2px;
    position: relative;
}

.hide-text {font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level {display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-file {overflow:hidden;position:relative;vertical-align:middle;}.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
.fileupload {margin-bottom:9px;}.fileupload .uneditable-input {display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;}
.fileupload .thumbnail {overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img {display:inline-block;vertical-align:middle;max-height:100%;}
.fileupload .btn {vertical-align:middle;float: right;}
.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none;}
.fileupload-inline .fileupload-controls{display:inline;}
.fileupload-new .input-append .btn-file{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.thumbnail-borderless .thumbnail{border:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fileupload-new.thumbnail-borderless .thumbnail{border:1px solid #ddd;}
.control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c;}
.control-group.warning .fileupload .fileupload-preview{color:#a47e3c;}
.control-group.warning .fileupload .thumbnail{border-color:#a47e3c;}
.control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48;}
.control-group.error .fileupload .fileupload-preview{color:#b94a48;}
.control-group.error .fileupload .thumbnail{border-color:#b94a48;}
.control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847;}
.control-group.success .fileupload .fileupload-preview{color:#468847;}
.control-group.success .fileupload .thumbnail{border-color:#468847;}


.table-noborder {
    border: none !important;
}
.table-noborder tr:first-child td {
    border: none !important;
}
.payableTable tr td {

}
.table-noborder tr:last-child td {
    font-weight: 600;
    color: #177892;
}
.payableTable tr td:nth-child(2n) {
    text-align: right;
    font-weight: 600;
}
.btn-primary {
    color: #fff;
    background-color: #177892;
    border-color: #177892;
}
.btn-primary:hover {
    color: #fff;
    background-color: #2a96b5;
    border-color: #2a96b5;
}
.btn-secondary {
    background-color: #333;
    color: #fff;
}
.btn-secondary:hover {
    background-color: #111;
    color: #fff;
}
.mentorSummary {
    min-height: 35px;
    padding: 0 10px;
}
.mentorSummary img {
    max-height: 35px;
    float: left;
    margin-right: 10px;
    border-radius: 100%;
    margin-top: -6px;
}
h2.mentSumName {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    margin-bottom: -10px;
}



div#calendar {
    margin-bottom: 20px;
    margin-top: 30px;
}
.mb0 {
    margin-bottom: 0 !important;
}
.mt0 {
    margin-top: 0 !important;
}
.mt10 {
    margin-top: 10px !important;
}
.mt15 {
    margin-top: 15px !important;
}
.slotBtn {
    padding: 0 13px 0 0;
}
.slotBtn .ui-draggable-handle {
    padding: 5px 0;
    text-align: center;
    background: #177892;
    border-color: #177892;
    font-size: 13px;
    font-weight: 700;
    cursor: move;
}
#reset{
    margin-top: 28px;
}
.white-btn {
    background-color: #fff;
    color: #121212;
    font-weight: bold;
}
.white-btn:hover {
    background-color: #fff;
    color: #000 !important;
    font-weight: bold;
}


.chatHeader {
    float: left;
    width: 100%;
    padding: 10px 10px 0;
}
.chatHeader .logo {
    float: left;
}
.chatHeader .logo img {
    height: 20px;
    width: auto;
}
.text-white {
    color: #fff;
}
.btn-round {
    background: rgb(255, 255, 255);
    border-radius: 100%;
    width: 42px;
    line-height: 40px;
    color: #d8841c;
    font-size: 18px;
    padding: 0 0 0 1px;
}
.Switch, .TestSeting {
    float: right;
}
.topButtons {
    float: left;
    width: 100%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
    vertical-align: bottom;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.MeetTopSection .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e0e0e0;
    -webkit-transition: .4s;
    transition: .4s;
}

.MeetTopSection .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 6px;
    bottom: 4px;
    background-color: #171717;
    -webkit-transition: .4s;
    transition: .4s;
}

.MeetTopSection input:checked + .slider:before {
    background-color: #fff;
}
.MeetTopSection input:checked + .slider {
    background-color: #2da26c;
}

.MeetTopSection input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.MeetTopSection input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

/* Rounded sliders */
.MeetTopSection .slider.round {
    border-radius: 34px;
}

.MeetTopSection .slider.round:before {
    border-radius: 50%;
}
span.pipe {
    padding: 0 10px;
}

.typeOfMsg {
    margin-top: 12px;
    margin-bottom: 0;
}
.UserMsgList {
    margin-top: 20px;
    float: left;
}
.UserMsgList ul li {
    display: table;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
}
.UserMsgList ul li:hover a, .UserMsgList ul li.active a {
    background: rgba(0, 0, 0, 0.28);
}
.UserMsgList ul li a {
    display: table;
    padding: 6px 10px 6px 10px;
    position: relative;
}
.UserMsgList ul li a img {
    float: left;
    width: 15%;
    border-radius: 10px;
}
.UserMsgList ul li a .MsgerName {
    float: left;
    vertical-align: top;
    width: 85%;
    padding-left: 10px;
    position: relative;
}
.UserMsgList ul li a .MsgerName h2 {
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    margin: 3px 0 0;
}
.UserMsgList ul li a .MsgerName span {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    font-size: 12px;
    margin-top: 3px;
    color: #b3b3b3;
    position: absolute;
    padding-right: 15px;
}
.UserMsgList ul li a .MsgerName h2 time {
    float: right;
    font-size: 11px;
    font-weight: 500;
    margin-top: 5px;
    color: #c1c1c1;
}





#PersonalMessages .msg_container_base {
    background: #fff;
    margin: 0;
    padding: 0;
    max-height: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: table;
}
#PersonalMessages .top-bar {
    background: #666;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
#PersonalMessages .msg_receive{
    padding-left:0;
    margin-left:0;
}
#PersonalMessages .msg_sent{
    padding-bottom: 10px !important;
    margin-right:0;
}
#PersonalMessages .messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    max-width:100%;
    display: inline-block;
}
#PersonalMessages .messages > p {
    font-size: 14px;
    margin: 0 0 0.2rem 0;
    color: #000;
}
#PersonalMessages .messages > time {
    font-size: 12px;
    color: #476c7b;
    display: block;
}
#PersonalMessages .messages > time:before {
    content: "\f017";
    font-family: FontAwesome;
    margin-right: 3px;
}
#PersonalMessages .msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
#PersonalMessages img {
    display: block;
    width: 100%;
}
#PersonalMessages .avatar {
    position: relative;
}
#PersonalMessages .avatar img {
    border-radius: 100%;
}
#PersonalMessages .msg_receive:after {
    content: "";
    position: absolute;
    top: 0;
    left: 3px;
    width: 0;
    height: 0;
    border: 5px solid #c7edfc;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}
#PersonalMessages .base_sent {
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}
#PersonalMessages .msg_sent:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 3px;
    width: 0;
    height: 0;
    border: 5px solid #ebf3f7;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); /*not quite perfect but close*/
}

#PersonalMessages .msg_sent > time {
    /*float: right;*/
}
#PersonalMessages .msg_container_base::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
#PersonalMessages .msg_container_base::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
#PersonalMessages .msg_container_base::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
#PersonalMessages .btn-group.dropup {
    position:fixed;
    left:0px;
    bottom:0;
}
#PersonalMessages .msg_sent {
    background: #ebf3f7;
    text-align: left;
}
#PersonalMessages .msg_receive {
    background: #c7edfc;
}


body.gray {
    background: #f3f6f7;
}
#chatPage {
    padding: 0;
    display: table;
    margin-top: -3px;
}
.msgerTop {
    float: left;
    width: 100%;
    border-bottom: 1px solid #dee3e4;
}
#PersonalMessages {
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
    width: 100%;
    padding: 20px 20px;
    background-size: cover;
}
#chatPage .base {
    display: table-row;
    height: 100%;
}
#chatPage .left, #chatPage .right {
    display: table-cell;
    height: 100%;
}
#chatPage .left {
    background: url(../images/chatBg.jpg) no-repeat center;
    background-size: cover;
}
#chatPage .right {
    background: #fff;
    border-left: 1px solid #dee3e4;
    padding: 0;
}
.msgerTop a {
    margin: 20px 10px 0;
    display: inline-block;
    font-size: 20px;
    color: #333;
}
.msgerTop .avtar {
    float: left;
    width: 60px;
    padding: 6px;
}
.msgerTop .avtar img {
    width: 100%;
    border-radius: 10px;
}
.msgerTop h2 {
    font-size: 20px;
    margin-top: 18px;
    font-weight: 700;
}
label.block {
    display: block;
}
label.timing {
    background: #f7f7f7;
    padding: 5px 10px;
    font-size: 12px;
    color: #909090;
    float: left;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 15px;
}
.UpMeet {
    float: left;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.UpMeet .sl-left {
    float: left;
    z-index: 1;
    margin-right: 7px;
    width: 15%;
}
.UpMeet img {
    max-height: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 100%;
}
.UpMeet .sl-right {
    float: right;
    width: 82%;
}
.MeetDetail {
    float: left;
    width: 80%;
}
.MeetDetail {
    float: left;
    width: 85%;
    padding-right: 20px;
}
.MeetDate {
    background: rgba(0, 0, 0, 0.07);
    vertical-align: middle;
    text-align: center;
    padding: 6px 10px;
    float: right;
    width: 15%;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1.2;
    font-size: 12px;
    color: #757575;
    word-spacing: 9999rem;
}
.MeetDetail a {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.MeetDetail p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-stack {
    padding: 10px 15px;
    min-width: 90px;
    background: #636363;
    border: 1px solid #DBE0E4;
    margin-bottom: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 2px 6px rgba(0,0,0,.03);
    margin-top: 25px;
    color: #fff;
}
.card-stack.green {
    background: #29906a;
}
.card-stack.red {
    background: #177892;
}
.card-stack.blue {
    background: #277ea7;
}
.card-stack:before {
    content: "";
    position: absolute;
    padding: 10px 15px;
    min-width: 90px;
    background: #FFF;
    border: 1px solid #DBE0E4;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: -1;
    top: -24px;
    width: 92%;
    left: 4%;
    background: #f7f7f7;
    box-shadow: 0 2px 6px rgba(0,0,0,.03);
    margin-top: 15px;
    z-index: -1;
}
.card-stack:after {
    content: "";
    position: absolute;
    padding: 10px 15px;
    min-width: 90px;
    background: #FFF;
    border: 1px solid #DBE0E4;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: -1;
    top: -31px;
    width: 84%;
    left: 8%;
    background: #f7f7f7;
    box-shadow: 0 2px 6px rgba(0,0,0,.03);
    margin-top: 15px;
    z-index: -2;
}
.card-stack i {
    position: absolute;
    right: 20px;
    font-size: 70px;
    top: 20px;
    z-index: 0;
    opacity: 0.15;
}
.card-stack h2 {
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 100;
    /* display: inline-block; */
    /* padding: 9px; */
    /* border-radius: 6px; */
}
.card-stack h3 {
    font-weight: 700;
    margin-bottom: 0;
    background: rgba(45, 45, 45, 0.35);
    display: inline-block;
    padding: 9px;
    border-radius: 6px;
    margin-top: 11px;
}
.TableDash {
    margin-top: -10px;
    border: 0;
}
.TableDash .table {
    border: 0;
    font-size: 12px;
}
.TableDash .table tbody tr td:first-child span {
    background: #29906a;
    color: #fff;
    padding: 2px 7px;
    border-radius: 5px;
    font-size: 13px;
}
.TableDash .table tbody tr td {
    padding: 15px 8px;
}


.masonry {
    min-height: 500px;
}
.masonry .thumbnail {

}
.removable {
    position: relative;
}
.masonry a.remove, .removable a.remove-link {
    position: absolute;
    height: 30px;
    width: 30px;
    background: #177892;
    border-radius: 100%;
    top: -6px;
    right: 6px;
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    z-index: 999;
}
.masonry a.remove:before, .removable a.remove-link:before {
    content: "-";
    position: absolute;
    left: 7px;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    line-height: 23px;
}
.masonry a.remove:hover, .removable a.remove-link:hover {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
}

.recom-item.border.removable a.remove-link {
    right: -16px;
    top: -16px;
}

.recom-item.border.bookmarked a.BookCall {
    position: absolute;
    right: -53px;
    top: 50%;
    font-size: 28px;
    background: #29906a;
    color: #fff;
    padding: 10px 10px 12px 12px;
    text-align: center;
    line-height: 0;
    margin-top: -25px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    -ms-transition: all .2s ease 0s;
}
.recom-item.border.bookmarked a.BookCall:hover {
    padding: 10px 13px 12px 15px;
    right: -59px;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    -ms-transition: all .2s ease 0s;
}
.recom-item.border.bookmarked .tooltip-inner {
    width: 100px;
}
table.dataTable thead .sorting_asc:after {
    content: "\f160";
    font-family: FontAwesome;
}
table.dataTable thead .sorting_desc:after {
    content: "\f161";
    font-family: FontAwesome;
}
/*table.dataTable thead .sorting:after {
    content: "\f0dc";
    font-family: FontAwesome;
}*/
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #ec4050;
    background: transparent;
}
.card-stack.nospace {
    margin: 0 0 30px;
}
.dataTables_paginate ul li a {
    font-size: 12px;
}
.dataTables_wrapper .row:last-child {
    margin-top: 20px !important;
}
.image-circle img {
    border-radius: 100%;
}
.userDetailGroup.image-circle .image {
    float: left;
    margin-right: 15px;
}
.userDetailGroup.image-circle .image img {
    width: 50px;
    float: left;
    margin-top: -5px;
}
.userDetailGroup.image-circle h2 {
    margin: 0;
}
.userDetailGroup.image-circle p {
    font-size: 12px;
    color: #666;
}
.userDetailGroup.underlined {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-bottom: 6px;
}
.dom-mb0 label {
    margin-bottom: 0;
}



#sharedDocuments {
    padding: 0 20px;
}
.SharedDocuments h3 {
    background: #ececef;
    padding: 10px 20px;
    font-size: 16px;
    margin: 20px -20px;
    font-weight: 700;
    color: #666;
}
.SharedDocuments ul {
    display: table;
}
.SharedDocuments ul li {
    margin-bottom: 20px;
    border-bottom: 1px dotted #ddd;
    padding-bottom: 10px;
}
.SharedDocuments ul li .download {
    display: table-cell;
}
.SharedDocuments ul li .download a {
    background: #badbe6;
    color: #fff;
    height: 50px;
    width: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 4px;
}
.SharedDocuments ul li .download a i {
    border: 1px solid rgba(255, 255, 255, 0.65);
    padding: 7px 7px 6px 7px;
    border-radius: 100%;
}
.SharedDocuments ul li .detail {
    display: table-cell;
    vertical-align: top;
    padding-left: 10px;
}
.SharedDocuments ul li .detail p {
    margin-bottom: 0;
    font-weight: 600;
}
.SharedDocuments ul li .detail span {
    color: #bfbfbf;
}


.PendingMeetingInvites .accordion-heading a {
    display: block;
    color: #000;
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px dashed rgba(0, 0, 0, 0.25);
}
.PendingMeetingInvites .accordion-heading a i {
    margin-right: 10px;
}
.PendingMeetingInvites .accordion-heading a em {
    float: right;
    margin: 4px 0;
    color: #adadad;
}
.PendingMeetingInvites .accordion-inner {
    padding: 20px 10px 0;
}
ul.slot li {
    margin: 8px 0;
}
.PendingMeetingInvites {
    margin: 10px 0;
}
.dom-col-nospace .col-sm-12 {
    padding: 0;
}
input.mt2.mr5 {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

small, .small {
    font-size: 65%;
    opacity: 0.5;
    margin-left: 5px;
}
.btn:focus {
    outline: none;
    color: #fff;
}
.btn:hover, .btn:focus, .btn.focus {
    color: #fff;
    text-decoration: none;
}
.promocode .table tbody tr td:first-child span {
    border: 1px dashed #29906a;
    color: #050a08;
    padding: 10px 20px;
    background: rgba(41, 144, 106, 0.18);
    font-weight: 700;
}
.spacingTable .table td, .spacingTable .table th {
    padding: 20px;
}
.table.NoBorder {
    border: 0;
}
a.active {
    color: #29906a;
}

.input-group-btn > .btn {
    position: relative;
    padding: 10px 12px;
}

.recom-item .recom-media .pic {
    overflow: hidden;
}

ul.listSep li:after {
    content: "|";
    margin-left: 14px;
    color: #c1c1c1;
}
ul.listSep li:last-child:after {
    display: none;
}
.sorting label {
    margin-right: 10px;
    color: #a0a0a0;
}
.sorting {
    font-size: 13px;
}
.sorting li a {
    color: #333;
}
.sorting li.active a, .sorting li a:hover {
    color: #177892;
} 
ul.sub-category {
    padding-left: 20px;
}
.noPad {
    padding: 0 !important;
}

.slot .form-control.date {
    float: left;
    width: 65%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.slot .form-control.time {
    float: left;
    width: 35%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.slot .form-control.slottimepicker {
    float: left;
    width: 35%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 35px;
}
.well.OrgProf {
    padding: 10px;
}
.OrgProf .image {
    margin: -5px -5px 0;
}
.OrgProf .image  img {
    width: 100%;
    border-radius: 4px;
}
.well.OrgProf h4 {
    font-weight: 700;
    margin: 15px 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.well.OrgProf p {
    font-size: 13px;
}
.well.OrgProf p.list {
    margin-bottom: 4px;
}
.well.OrgProf p.list i {
    width: 22px;
    color: #a5a5a5;
}
.topBord {
    border-top: 1px solid #e6e6e6;
    padding-top: 10px;
}
.ml10 {
    margin-left: 10px !important;
}

.GiveFeedback {
    float: left;
    width: 100%;
    margin-bottom: 8px;
    padding-bottom: 5px;
}
.GiveFeedback label {
    float: left;
    width: 60%;
    position: relative;
    overflow: hidden;
}
.GiveFeedback label:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #ddd;
    position: absolute;
    top: 11px;
    margin-left: 10px;
}
.GiveFeedback .starrr {
    float: left;
    width: 40%;
    text-align: right;  
    position: relative;
    cursor: pointer;
}
.GiveFeedback .starrr:before {
    content: "";
    width: calc(100% - 120px);
    height: 1px;
    background: #ddd;
    position: absolute;
    top: 11px;
    left: 0;
}
.GiveFeedback .starrr span {
    margin-right: 5px;
    font-size: 18px;
    margin-top: 2px;
}
.GiveFeedback .starrr span.fa-star-o {
    color: #a7a7a7;
}
.GiveFeedback .starrr span.fa-star {
    color: #ec7800;
}
.fileupload.fileupload-new.white {
    background: #fff;
}
.spacingTable table.dataTable thead .sorting:after,
.spacingTable table.dataTable thead .sorting_asc:after,
.spacingTable table.dataTable thead .sorting_desc:after,
.spacingTable table.dataTable thead .sorting_asc_disabled:after,
.spacingTable table.dataTable thead .sorting_desc_disabled:after {
    top: 21px;
    right: 10px;
}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc {
    color: #000;
}
table.dataTable thead>tr>th.sorting {
    font-size: inherit;
}
.datatable_filter input.form-control {
    min-width: 200px;
}
div.dataTables_wrapper div.dataTables_filter label {
    width: 100%;
}
div.dataTables_wrapper div.dataTables_filter input {
    width: calc(100% - 55px);
}
span.badge-unread {
    position: absolute;
    right: -6px;
    top: -6px;
    background: #177892;
    padding: 3px 6px;
    line-height: normal;
    border-radius: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
}







.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.material-switch {
    margin: 10px 0;
}
.material-switch:before {
    content: "Inactive";
    margin-right: 10px;
    font-size: 11px;
}
.material-switch:after {
    content: "Active";
    margin-left: 10px;
    font-size: 11px;
}
.material-switch > input[type="checkbox"]:checked ~ .material-switch:before {
    color: #ff0000;
}




.MsgNotif {
    display: table;
}
.MsgNotif .image {
    float: left;
    vertical-align: top;
    position: relative;
}
.MsgNotif .image img {
    width: 100%;
    max-width: 40px;
}
.MsgNotif .details {
    vertical-align: top;
    padding-left: 10px;
    float: left;
    width: 238px;
}
.MsgNotif .details h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 37px;
}
.MsgNotif .details label.label-content {
    font-weight: normal;
    font-size: 11px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.MsgNotif .details h3 span.label.label-time {
    position: absolute;
    color: #afafaf;
    right: 10px;
    padding: 4px 0;
    font-weight: 400;
    font-size: 9px;
}
span.unread {
    background: #177892;
    width: 12px;
    height: 12px;
    position: absolute;
    right: -6px;
    border-radius: 100%;
    top: -5px;
    border: 2px solid #fff;
}
span.noti-time {
    display: block;
    font-size: 10px;
    color: #666;
}
label.noti-content {
    display: block;
}
button.navbar-toggle {
    color: #fff;
    margin: 0;
}
.navbar-custom.affix {
    padding: 10px 0;
    background: #177892;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: inherit;
}

.heading-inner span.verified {
    background: url(../images/icon-verified.png) no-repeat;
    background-size: cover;
    height: 20px;
    display: inline-block;
    width: 20px;
    margin-left: 8px;
}
.datepicker .form-control {
    background: url(../images/calender.png) #fff right no-repeat;
    background-size: contain;
}
div.dataTables_wrapper div.dataTables_length,
div.dataTables_wrapper div.dataTables_filter,
div.dataTables_wrapper div.dataTables_info {
    text-align: left;
}
div.dataTables_wrapper div.dataTables_paginate {
    text-align: right;
}

.slot:after, .customFileUpload:after {
    content: "";
    display: table;
    clear: both;
}
.typeOfMsg .input-group-addon:last-child {
    padding: 0;
    position: relative;
}
.typeOfMsg .input-group-addon a {
    padding: 11px 20px;
    border: 0;
    border-radius: 0;
    color: #ffffff;
    margin: -1px -1px -1px -1px;
    background: #177892;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.typeOfMsg .input-group-addon a:hover {
    color: #fff;
    background: #c30000;
}

.panel-footer .chat_input {
    font-size: 14px;
    line-height: 1.4;
    position: absolute;
    padding-right: 60px;
    width: 100%;
}
.msgtyp {
    position: relative;
    width: 100%;
}
.msgtyp .input-group-btn {
    font-size: inherit;
    z-index: 999999;
    padding: 13px 12px 0 0;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 26px;
    font-weight: 700;
    color: black;
    text-align: center;
    display: block;
}
.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
button.chat {
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #177892;
}
* {
    outline: 0;
}









/*****************************************RESPONSIVE**********************************************************/

/**********************************************************/
@media (min-width: 992px) {
    .halfscreen {
        display: table-cell;
        width: 50%;
        height: 100%;
    }
    body.wisform .affix-top .navbar-nav>li>a {
        color: #000
    }
}
@media (min-width: 768px) {
    .navbar-custom {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-red {
        padding: 15px 0;
    }    
    ul.navbar-left {
        margin-left: 40px;
    }
    .nav > li.mobilemenuVisible {
        display: none;
    }    

}
/**********************************************************/



/**********************************************************/
@media (max-width: 1199px) and (min-width: 768px) {
    .col-switch {
        margin-top: -739px;
        left: 50%;
    }
    .navbar-nav>li>a {
        font-size: 14px;
        padding: 8px;
    }
    .UserNameNAV {
        display: none;
    }
    .wxProfilePic .actions {
        float: right;
        max-width: 440px;
        text-align: right;
    }
    .wxProfilePic .actions a {
        margin-bottom: 3px;
    }
    .container {
        width: 100%;
    }
}


@media (max-width: 992px) {
    .halfscreen.ips-image-banner {
        display: none;
    }
    .accessasive {
        background: url(../images/main_banner.jpg) center no-repeat;
        height: auto;
    }
    .accessasive:before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(60,60,60,0.5);
    }
    .account-box {
        background: #fff;
        padding: 20px;
        border-radius: 5px;
    }
    .carousel.slide {
        width: 100%;
    }
    .carousel-control.right {
        right: 0;
    }
    .carousel-control.left {
        left: 0;
    }
    .carousel-control.left span, .carousel-control.right span {
        left: 5px;
    }
    .recom-item {
        max-width: none;
        width: 100%;
        float: left;
        margin-bottom: 30px;
    }
    .recom-item.bookmarked {
        max-width: none;
        width: calc(100% - 50px);
        float: left;
        margin-bottom: 30px;
    }
    .profileVideoLink {
        float: none;
    } 
    .recom-item .recom-item-body .blog-title, .recom-price span {
        font-size: 16px;
    }
    .recom-item-body .info {
        margin: 5px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .skills a {
        font-size: 12px;
    }
    .recom-item .recom-item-body {
        padding: 10px 0 0 10px;
    }
    .recom-item .recom-item-body .skills {
        max-height: 60px;
        overflow: hidden;
    }
    .account-box {
        min-height: inherit;
    }
}

@media (max-width: 768px) {
    .logo {
        padding-left: 10px;
    }
    .navbar-custom {
        padding: 10px 0;
    }
    .nav > li {
        text-align: right;
    }
    .navbar .customTooltipLink:hover .customTooltip {
        display: none;
    }
    .nav>li>a:focus:after, .nav>li>a:hover:after {
        display: none;
    }
    .ips-image-banner {
        height: auto;
        padding-top: 100px;
    }
    .searchSection .searchbase h2 {
        font-size: 38px;
    }
    .searchSection .searchbase h3 {
        font-size: 20px;   
    }
    .playVideo a {
        font-size: 80px;
    }
    .playVideo {
        margin-bottom: 40px;
    }
    .RecentPost .post {
        text-align: center;
        margin-bottom: 20px;
    }
    .RecentPost .post img {
        display: inline-block;
    }
    .affix-top .navbar-collapse {
        background: rgba(0,0,0,0.6);
    }
    .affix-top .show_sticky {
        display: block;
    }
    .sc_team_item .sc_team_item_avatar.column-2_5 {
        width: 25.4%;
    }
    .clients .col-sm-3 {
        width: 19%;
        float: left;
        padding: 0;
    }
    footer .col-xs-12 {
        float: left;
        width: 33%;
    }
    footer .col-sm-6 {
        width: 50%;
        float: left;
    }
    .form-control {
        margin-bottom: 12px;
    }
    .photoContainer.mentor_dp {
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: -230px;
    }
    .wxProfilePic .actions {
        float: none;
        text-align: center;
        margin: 30px 0;
    }
    .wxProfilePic .actions a {
        margin-bottom: 5px;
    }
    .mobilemenuHidden {
        display: none;
    }
    .UserMsgList ul li a .MsgerName, .typeOfMsg {
        display: none;
    }
    #chatPage .left {
        width: 80px;
    }
    #chatPage .right {
        width: calc(100% - 80px);
    }
    .UserMsgList ul li a img {
        width: 100%;
    }
    body.static {
        padding-top: 64px;
    }
    footer .copyright, footer .links-box {
        text-align: center;
    }
    .meetingSection .col-sm-3 , .meetingSection .col-sm-9 {
        float: none;
        width: 100%;
    }
    .meetingSection {
        float: left;
        width: 50%;
        padding: 12px;
        border: 1px solid #efefef;
    }
    p.meetingListDetail {
        display: table;
    }
    p.meetingListDetail label {
        width: 150px;
        display: table-cell;
    }
    .buttons {
        margin-right: 10px;
        float: left;
        margin-bottom: 6px;
        padding: 4px 10px;
    }
}

@media (max-width: 640px) {
    .sc_team_item .sc_team_item_avatar.column-2_5, .sc_team_item .sc_team_item_info.column-3_5 {
        width: 100%;
    }
    .sc_team_item .sc_team_item_info.column-3_5 {
        margin-top: 0;
    }
    .clients .col-sm-3 {
        width: 33%;
    }
    footer {
        padding-bottom: 10px;
    }
    footer .col-sm-6 {
        text-align: center;
        float: none;
        width: auto;
    }
    footer .social-links {
        float: none;
    }
    input.search-field.form-control {
        line-height: 48px;
        height: 48px;
        font-size: 14px;
    }
    /*.search-location {
        max-width: 170px;
        padding: 0 20px 0 40px;
    }*/
    .search-location input.search-field.form-control{
        padding: 0 20px 0 45px !important;
    }
    .search-location:before {
        top: 13px;
        font-size: 16px;
        left: 12px;
    }
    .search-inp-container {
        padding: 0 15px;
    }
    .home-search-btn {
        font-size: 16px;
        height: 48px;
    }
    .MentProfile .mentor_dp {
        display: block;
        margin: 0 auto;
    }
    .MentProfile .mentor_dsc {
        display: block;
        text-align: center;
        padding: 0;
        margin-bottom: 50px;
    }
    .MentProfile .mentor_dsc h2.name, .MentProfile .mentor_dsc p.email, .MentProfile .mentor_dsc p.phone {
        text-shadow: none;
    }
    .MentProfile .mentor_dsc h2.name {
        color: #000;
    }
    .MentProfile .mentor_dsc p.email, .MentProfile .mentor_dsc p.phone {
        color: #666;
    }
    .recom-item .recom-media {
        float: none;
        margin: 0 auto;
    }
    .recom-item .recom-item-body {
        position: static;
        width: 100%;
        padding: 15px 20px 0;
    }
    .recom-item .recom-item-body:before {
        display: none;
    }
    .recom-item {
        text-align: center;
    }
    .panel-footer .input-group {
        width: 100%;
    }
    .account-box .btn-social {
        margin-bottom: 10px;
    }
    .meetingSection {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        width: 100%;
    }
    .videoUpload {
        margin-bottom: 40px;
    }

}

/**********************************************************/

.author-details .customTooltipLink .customTooltip{
    margin-top: 0px;
}

.post-thumb{
    width: 323px;
    height: 193px;
}

.post-thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .post-thumb{
        width: 100%;
    }
}

/*Added on 11-01-2018*/
.navMenu .logo{position: relative;padding:15px 20px 9px 0px !important;}
.navMenu .logo:after {content: "THE KNOWLEDGE EXCHANGE";display: inline-block;position: absolute;bottom: 8px;left: 0.5px;font-size: 9.3px;font-weight: 600;color: rgba(255, 255, 255, 0.85);font-family: sans-serif;}
.navMenu .logo > a{display: inline-block;position: relative;}
.navMenu .logo > a:after {content: "BETA";position: absolute;top: -10px;right: 0px;color: rgba(255, 255, 255, .85);font-size: 9.3px;font-family: sans-serif;}

/* Added on 11-01-2018 */
.high-profile-mentors{margin-bottom: 55px;}
.high-profile-mentors a{color: #343434;}
.high-profile-mentors .metors-pic{width:160px;height: 160px;display: inline-block;border-radius: 50%;overflow:hidden;}
.high-profile-mentors .metors-pic > img{width: 100%;}
.high-profile-mentors .metors-details{}
.high-profile-mentors .metors-details > h4{font-size: 22px;font-weight: 600;}
.high-profile-mentors .metors-details p.designation{width: calc(100% - 60px);display: inline-block;height: 40px;overflow:hidden;}
.high-profile-mentors .metors-details p.country{height: 20px;overflow:hidden;}
/*.metors-details > p:empty{display: none;}*/
.high-profile-mentors .metors-details > p{font-style: italic;}
.high-profile-mentors .metors-quickLinks{}
.high-profile-mentors .metors-quickLinks .outer-border{height: 34px;width: 34px;display: inline-block;margin: 2px 5px;border: 1px solid #343434;border-radius: 50%;transition: all linear 0.3s;}
.high-profile-mentors .metors-quickLinks .outer-border i{font-size: 16px;display: flex;justify-content: center;align-items: center;height: 100%;}
.high-profile-mentors .metors-quickLinks .outer-border.active, .metors-quickLinks .outer-border:hover{background: #177892; border-color: #177892;color: #fff;}

/*Added on 12-01-2018 For "Mentor" page */
.mb-50{margin-bottom: 50px;}
.mb-40{margin-bottom: 40px;}
.mb-20{margin-bottom: 20px;}
.mb-15{margin-bottom: 15px;}
/*.be-a-mentor {min-height: calc(100vh - 269px);padding: 35px 0px 50px;margin-top: 60px;}*/
.be-a-mentor > p{margin-bottom: 20px;}
.be-a-mentor .btn-default{color: #fff;background-color: #177892;border-color: #177892;font-size: 18px;min-width: 300px;height: 50px;border-radius: 54px;margin: 15px;line-height: 34px;}
.be-a-mentor .btn-default:hover, .be-a-mentor .btn-default:focus{background: #177892; color: #fff;outline: none;box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.30);}
.be-a-mentor .btn-default:active{background: #177892; color: #fff;border-color: #177892;box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);}
.be-a-mentor .banner-img img{max-width: 150px;}
.be-a-mentor .sec-title{margin-bottom: 20px;}
.be-a-mentor .sec-title h2{margin-bottom:0px;margin-top: 0px;}
.be-a-mentor .adv-list-item {margin: 15px 0px;}
.be-a-mentor .adv-list-item .adv-icon{width: 60px;display: inline-block;vertical-align: middle;margin-top: -5px;}
.be-a-mentor .adv-list-item .adv-icon > span:before{font-size: 52px;}
.be-a-mentor .adv-list-item .adv-content{display: inline-block;width: calc(100% - 63px);padding: 0px 15px;vertical-align: middle;}
.be-a-mentor .adv-list-item .adv-content > h4 {color: #177892;}

@media (max-width: 767px){
    .adv-list-item.col-sm-6 {width: 100%;}
}
@media (max-width: 450px){
    .be-a-mentor .btn-default{width: 100%;margin: 0px;}
}

/* Added on 17-01-2018 */
#chatPage{margin-top: -10px;}
.msgerTop a{margin-top: 17px;}
.msgtyp .input-group-btn{padding-bottom: 12px;}
.fileUploadTags{min-height: 76px;background: #f5f5f5;}
#PersonalMessages .msg_receive{background: #f3f0f0;border-top-left-radius: 0px;}
#PersonalMessages .msg_receive:after{border-top-color: #f3f0f0; border-right-color: #f3f0f0;}
#PersonalMessages .messages > time{color: #2f3233;}
#PersonalMessages .msg_sent{background: #f7bebe;border-bottom-right-radius: 0px;}
#PersonalMessages .msg_sent:after{border-bottom-color:#f7bebe; border-left-color:#f7bebe;}
.msgerTop .avtar img {border-radius: 50%;border: 2px solid #177892;}
.msgerTop .avtar{padding-right: 10px;}
.UserMsgList .form-control {border-radius: 0px;box-shadow: none;background-image: none;outline: none;}
.UserMsgList .form-control:focus{border-color: #fff;}
#PersonalMessages .messages {padding: 15px 20px !important;}
#PersonalMessages .messages table tr:first-child > td.wrapper {padding-top: 10px !important;}
#PersonalMessages .messages table tr:last-child > td.wrapper {padding-bottom: 10px !important;}
#PersonalMessages .messages p span[style*="border-radius"]{display: inline-block;width: 15px;height: 15px;vertical-align: text-top;}
ul#conversationList {margin: 0px -13px;border-top: 1px solid #5c5c5e;}
.UserMsgList ul li{width: 100%;}
.UserMsgList ul li a{width: 100%;cursor: pointer;}
.UserMsgList ul li a img{width: 45px;border-radius: 50%;border: 2px solid #5b5b5d;display: inline-block;float: none;}
.UserMsgList ul li a .MsgerName{display: inline-block;width: calc(100% - 45px);padding-left: 10px;position: relative;vertical-align: middle;float: none;}
.btn-linkedin {font-size: 18px;padding: 10px 16px;font-weight: normal;}
.signUpDisclaimer{display: inline-block;width: calc(100% - 21px) !important;margin: 0 !important;vertical-align: middle;}
.account-box input[type=checkbox] {float: none;display: inline-block;margin-top: 0 !important;vertical-align: middle;}


/*Responsive Model*/
.modal-open{padding-right: 0px !important;}
.modal-open #resposiveModal.modal{max-width: 400px;height: 151px;margin: 0px auto;background: #fff;transform: translate(0, -50%);top: 50%;border: 1px solid #e0e0e0;border-radius: 15px;box-shadow: 4px 4px 5px rgba(0, 0, 0, .5);padding: 15px;}
div.meetingListDetail p{white-space: normal !important;text-overflow: unset !important;}
.btn-reg {background: #177892;color: #fff;padding: 10px 20px;border-radius: 4px;}
.divMakePayment .btnMakePayement {font-size: 14px;padding: 6px 12px;border-radius: 4px;}

@media (max-width: 450px){
    .modal-open #resposiveModal.modal{width: calc(100% - 30px);}
}

/*Responsive all page*/
@media screen and (max-width: 1199px){
    div#bs-example-navbar-collapse-1 {
        position: absolute;
        right: 10px;
    }
}
@media screen and (max-width: 991px){
    .searchSection{padding: 0px;top: 53%;transform: translate(0, -47%);}
    .playVideo{margin-bottom: 30px;}
    div#skip{bottom: 118px;top: auto !important;}
    .inner-banners{padding-top:0px;margin-top: 176px;}
    .fullscreen.inner-banners .searchSection {padding: 0;transform:none;}
    .fullscreen.inner-banners.termsandconditions{background-size: cover !important;background-position-y: 50% !important;}
    .showNavRed{padding-top: 176px !important;}
    .select2-container {width: 265px !important;}
    .customFileUpload .col-md-6 {width: 50%;float: left;padding: 0px;}
    #bookSlotForm .select2-container{width: 100% !important;}
    #bookSlotForm .col-sm-5 .col-sm-12{padding: 0px;}
    .col-minpad{padding: 0px;}
    #frmUserProfile .select2-container {width: 100% !important;}
}
@media screen and (max-width: 767px){
    .searchSection{padding-top: 40px;padding-bottom: 60px;transform: none;}
    div#skip{position: relative !important;top: -10px !important;margin-top: -42px;text-align: center;}
    .col-switch {margin-top: -739px;left: 50%;}
    .RecentPost .col-sm-4{width: 100%;}
    .RecentPost .post{margin-bottom: 30px;}
    .RecentPost .post .post-thumb{height: auto;background: #000;}
    section.profiles{margin-top:0px;}
    .container.page .constrain table {width: 100%;}
    .blockUI.blockMsg.blockPage{width: 100% !important;left: 0px !important;}
    .blockUI.blockMsg.blockPage p{width: 100% !important;margin: 0 !important;}
    .UserMsgList ul li a .MsgerName{display: none;}
    #chatPage .left{width: 67px;}
    #chatPage .left .UserMsgList > div.mb20{display: none;}
    #chatPage .right{width: calc(100% - 67px);}
    #PersonalMessages .messages{word-wrap: break-word;word-break: break-all;}

}
@media screen and (max-width: 639px){
    .col-switch {left: auto;margin-top: auto;}
    .high-profile-mentors .metors-details p.designation{height: auto;}
    .high-profile-mentors .metors-details p.country{height: auto;}
    .high-profile-mentors .metors-details p.designation:empty{display: none;}
    .high-profile-mentors .metors-details p.country:empty{display: none;}
    .testimonials-content{padding:0px 30px;}
    footer .col-xs-12:not(.dc) {width: 50%;}
    footer .col-xs-12.dc {width: 100%;height:auto;margin: 20px 0px;}
    footer .col-xs-12.dc .btn-primary {width: 100%;display: inline-block;margin: 0 auto;}
    footer .footerLinks{margin-bottom: 0px;}
    footer .col-sm-6.copyright {margin-bottom: 15px;}
    footer .col-sm-6.links-box .social-links a{margin: 0px 10px;}
    .form-signin .form-group .col-sm-6{width: 50%;padding: 0;float: left;}
    .account-box .signUpLink{float: none;display: inline-block;text-align: center;width: 100%;}
    .inner-banners{margin-top: 171px;}
    .dataTables_wrapper .dataTables_paginate .paginate_button {padding: 1px 8px !important;margin-bottom: 22px;}
    .meetingSection .profilePic .img-responsive {width: 100% !important;}
    .customFileUpload .col-md-6{width: 100%;float: none;text-align: center;margin: 15px 0px;padding: 0;}
    .customFileUpload .fileinput-button{width: 100%;}
    .customFileUpload .divMakePayment .btnMakePayement{width: 100%;}
    .fileuploadprogressbar{padding: 0px;margin-top: 20px;}
}

/*Added on 19-01-2018 (Search Re-design)*/
.search-location{margin-right: 5px;border-radius: 8px !important;}
.search-location:after{border: none;}
.search-inp-container {margin-right: 5px;border-radius: 8px !important;}
.home-search-btn {border-radius: 8px !important;}
