/* liScroll styles */

.news-ticker {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
}
.tickercontainer:nth-child(odd) {
    background: rgba(255,255,255,0.8);
    color: #129846;
}
.tickercontainer:nth-child(even) {
    background: rgba(3, 17, 35, 0.8);
    color: #19ca5e;
}


.tickercontainer { /* the outer div with the black border */
width: 100%; 
/* height: 26px;  */
margin: 0;
padding: 0;
overflow: hidden; 
/*position: absolute;*/
left: 0;
right: 0;
bottom: 0;
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 0;
top: 0;
overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;
left: 750px;
font: bold 10px Verdana;
list-style-type: none;
margin: 0;
padding: 0;
}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 7px;
}
ul.newsticker a {
white-space: nowrap;
padding: 0;
color: #ff0000;
font: bold 10px Verdana;
margin: 0 50px 0 0;
} 
ul.newsticker span {
margin: 0 10px 0 0;
} 

.red {
    color: #ff0000 !important;
}

.green {
    color: #15dd62 !important;
}

.ticker-main{
    left: 0;
    color: #000;
    display: inline-block;
    position: absolute;
    width: 140px;
    background: #fff;
    z-index: 1000;
}

.tm02 {
    line-height: 26px;
    background-color: #2422e2;
    color: #fff;
    border-right: 2px solid #999;
}
.tm01 {
    line-height: 26px;
    background-color: #b3b1b1;
    color: #fff;
    border-right: 2px solid #999;
}
