.navMenu {
    background: #366369;
    border: 0;
}
.navbar-header {
    /*margin-top: 7px;*/
}
.navMenu .logo {
    display: table-cell;
    padding: 0;
}
nav .customTooltipLink .customTooltip {
    right: 0;
    margin-top: 0px;
    margin-left: 0;
    top: 100%;
}
.search-bar {
    padding: 0 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.19);
    position: relative;
    width: 100%;
    max-width: 380px;
}
.search-bar i {
    position: absolute;
    top: 20px;
    left: 25px;
    z-index: 1;
    font-size: 20px;
    color: #fff;
}
.NavSearch {
    border: 0;
    background: transparent;
    color: #fff;
    padding: 10px 30px 10px 48px;
    width: 100%;
    border: 2px #fff solid;
    border-radius: 10pc;
    margin: 8px 0;
}
.NavSearch::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.NavSearch:-ms-input-placeholder {
  color: #fff;
}
.NavSearch::-webkit-input-placeholder {
  color: #fff;
}
.navbar-nav>li {
    border-left: 1px solid rgba(0, 0, 0, 0.19);
}
.navbar-nav>li>a {
    padding: 20px 18px;
    position: relative;
}
.nav>li>a:focus, .nav>li>a:hover, .navMenu .navbar-nav > li.open {
    background: rgba(0, 0, 0, 0.10);
}
.nav>li>a:focus:after, .nav>li>a:hover:after, li.dropdown:after {
    display: none;
}
.header-avatar-trigger {

}
.header-avatar-trigger .value_name {
    margin-right: 6px;
}
.header-avatar-trigger .media-photo {
    height: 30px;
    width: 30px;
    float: right;
    position: relative;
    top: -6px;
}
.header-avatar-trigger .media-photo img {
    width: 100%;
    border: 2px solid #fff;
    border-radius: 100%;
}
.navMenu .navbar-nav > li > .dropdown-menu {
    box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    border-radius: 0;
    border-top: 0;
    border-color: #dce0e0;
    min-width: 200px;
    padding: 0;
}
.navMenu .navbar-nav > li.header-avatar-trigger > .dropdown-menu {
    border-right: 0;    
}
.navMenu .navbar-nav > li > .dropdown-menu .nav-icon {
    width: 17px;
    text-align: center;
    margin-right: 8px;
}
.navMenu .dropdown-menu > li > a {
    padding: 10px 20px;
    border-top: 1px solid #dce0e0;
}
.navMenu .dropdown-menu > li:first-child > a {
    border: 0;
}
.navMenu .open > a:focus, .navMenu .open > a:hover {
    border: 0;
}
.navMenu .navbar-nav > li.header-message-trigger > .dropdown-menu > li > a {
    padding: 10px;
}
.navMenu .navbar-nav > li > .dropdown-menu > li > a.view-all {
    text-align: center;
    background: #f2f2f2;
    color: #afafaf;
}
.menuList {
    display: none;
}


/**************************************************************************/

@media all and (min-width: 992px) {
    .menu-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .aside-logo {
        order: 1;
    }
    .search-wrapper {
       /* flex: 1 0px; */
        order: 2;
    }
    .aside-menu {
        order: 3;
    }
}

/**************************************************************************/

@media all and (max-width: 991px) {
    .navMenu .container > .navbar-header,
    .navMenu .container-fluid > .navbar-header,
    .navMenu .container > .navbar-collapse,
    .navMenu .container-fluid > .navbar-collapse {
        margin: 0;
    }
    .search-wrapper {
        background: #f5f5f5;
        margin: 0 -15px;
        border-bottom: 1px solid #cecece;
    }
    .search-bar {
        border: 0;
    }
    .NavSearch::-moz-placeholder {
      color: #949494;
      opacity: 1;
    }
    .NavSearch:-ms-input-placeholder {
      color: #949494;
    }
    .NavSearch::-webkit-input-placeholder {
      color: #949494;
    }
    .search-bar i {
        color: #949494;
        top: 16px;
        left: 15px;
    }
    .NavSearch {
        color: #000;
        border: none;
        padding: 15px 30px 15px 35px;
        margin: 0;
    }
    .navbar-nav>li {
        border: 0;
    }
    .aside-menu {
        display: none;
    }
    button.navbar-toggle {
        font-size: 27px;
    }
    .close-nav {
        display: table;
        width: 100%;
        padding: 20px 20px 10px;
    }
    a.closebtn {
        float: right;
        font-size: 26px;
        text-align: center;
        color: #fff;
        text-decoration: none !important;
        width: 30px;
        background: #177892;
        height: 30px;
        line-height: 30px;
    }
    .menuList {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: -250px;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        display: block;
    }
    .navbar-nav {
        margin: 0;
    }
    .menuList li a {
        padding: 8px 20px;
        text-transform: none;
        color: #c1c1c1;
    }
    .menuList li a:hover {
        color: #fff;
    }
    .menuList hr {
        border-color: rgba(255, 255, 255, 0.15);
        margin: 10px 0;
    }
}



