

.formPopup #pendingProfileItems{ padding-left: 20px; }
a.mentor_promocode{ color: #ffffff; }
.mentor_dp #imgdiv{font-size: 110px; }
.msg_receive table.main tr td table tr td p{ padding-left: 10px; padding-right: 10px;  }
#addPromoCodeForm .modal-body .col-sm-9 .col-sm-12{ padding-left: 0;  }
/*#lstTimeZone + .select2-container{ width: 100% !important;  }*/
div#skip{ z-index: 9; }
.ips-image-banner{ background-position: center 0; }
.fa-linkedin-highprofile-mentor{ right: auto; }
#paypalEmailFrm .form-group .col-sm-12{ padding-left: 0; }
.TableDash #datatable_wrapper #datatable tr td{ float: none !important; }
#belowSection section.profiles{ padding: 30px 0 10px 0; }

.wxProfilelineSection{ margin: -145px 0 0 0; }
.photoContainer.mentor_dp{ margin-top: 0; }
.wxProfilePic{ margin-top: 0; z-index: 9; }
.wxProfilePic .actions{ padding-top: 135px; }
#invalidLinkPopup .col-sm-12 ul{ padding-left: 20px; }


.navbar-nav > li > a .UserNameNAV{max-width:130px; display: inline-block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; vertical-align: top; }
#txtQueryString{width:100%;  }

.account-box #frm_register input[type="checkbox"]{ vertical-align: top; margin-top: 4px !important;  }

#Profession select{display: block; width: 100%; }

.photoContainer.mentor_dp{overflow:hidden !important; border-radius: 50%; position: relative; z-index: 5; }
.photoContainer.mentor_dp:hover{ background: none; }

.search-bar .row input{text-overflow: ellipsis; overflow: hidden; }

@media screen and (max-width:1360px)
{
	#txtQueryString{width: 100%; }
	.search-bar{max-width: 522px !important; }
	.search-wrapper{width:calc(100% - 400px); }
	.social-links{ float: left; }
	
	
	
	
}

@media screen and (max-width:1200px)
{
    .navbar-nav > li.header-avatar-trigger > a{  padding: 21px 18px 19px 18px; }
    
    #become_a_mentor_submit_frm .spacing40{margin: 10px 0; }
    .mentor_dp #imgdiv{ font-size: 110px; }
    .search-filters .nav-category > li input[type="checkbox"]{ top: 3px; }
    .msg_receive table.main tr td table tr td p{ padding-left: 10px; padding-right: 10px; }
    .mentor_dp:hover .dpAction a#btnCameraUpload{ display: block !important; }
	
	.navbar-nav > li > a{padding: 20px 12px; font-size: 12px; }
	.navbar-nav > li > a .UserNameNAV{font-size:12px; }
	
	.navbar-nav > li > a .UserNameNAV{max-width:90px; }
	.playVideo{margin-bottom:20px; }
	
	
	
}

@media screen and (max-width:1023px)
{
	/* .searchSection .searchbase{ top:60px; padding-bottom: 30px; } */
    .searchSection .searchbase > br{display: none; }
    .inner-banners .searchSection .searchbase{ top: 0; }
    .search-wrapper{ width: auto; }
	.wxProfilePic .actions{ float: right; }
	.photoContainer.mentor_dp{ margin-top: 0; float: left; width: 200px; height: 200px; }

    #imgdiv{width: 200px; height: 200px; line-height: 190px;  font-size: 110px; }
    
    footer{position: relative; }
    .meetingSection .profilePic .img-responsive{width: 100%; }
    .navbar-nav .open #dropdown_menu_msg{background: #ffffff; position: absolute; min-width: 300px; }
    .UserMsgList ul li a .MsgerName h2 time{float: none; display: block; }
    #chatPage .form-group.typeOfMsg{display: block; margin-top: 25px; }

    #chatPage .left{width: 220px; float: none; }
    #chatPage .right{ width: calc(100% - 220px);  padding-top: 10px; float: none; }
    .calendarTz{ clear: left; float: none !important; padding: 15px 0 0 0; }
    #addPromoCodeForm #lstUserList + .select2{ margin-left: -15px; }
    .tzdpdw > .btn{ margin-left: 10px; }
    .promocode .table tbody tr td:first-child span{ padding: 10px 5px; }
    .spacingTable .promocode_table tr th{padding: 20px 10px; }
    a.mentor_promocode{min-width: inherit; }
    .mentor_dp #imgdiv{ font-size: 95px; }
    #frmUserProfile .title-sm + .row .col-sm-3{width: 50%; }
    #frmUserProfile .intl-tel-input{display: block; }
    .employment_expertise{ padding: 10px;  }
    .employment_history{ padding: 10px; }
    #addPromoCodeForm .modal-body .col-sm-9 .col-sm-12{ padding-left: 15px; }
    #lstTimeZone + .select2-container{ width: 100% !important; }
    .playVideo{ margin-bottom: 0; }
    .search-location, .search-inp-container{ margin-bottom: 10px; }
    /* .searchSection .searchbase h2{ font-size: 24px; } */
    .home-search-btn{ height: 46px; }
    .ips-image-banner{ height: 750px; }
    
    /* .ips-image-banner .searchSection{ top: 5%; padding-top: 20px; } */
    .quickCat a{ margin: 4px 5px 0 0; }
    .card-stack i{ font-size: 40px; }
    .msg_receive div table{ margin: 10px 0 !important; }
    .msg_receive time{ padding-left: 10px; }

    #chatNotSelected p.notxt{ padding: 0; }
    #chatPage{ height: auto !important; }
    .testimonials-content{ margin-bottom: 30px; }

    .wxProfilelineSection{ margin: 0; }
    .wxProfilePic .actions{ padding-top: 70px; margin: 0; }

    #bs-example-navbar-collapse-1 .navbar-nav > li > a{ padding: 20px 9px; }
    
    .author-details .recom-price{ margin-top: 10px; }
	
	.navbar-nav > li > a .UserNameNAV{max-width:80px; }
	.accessasive .ips-image-banner{ height: auto; }
	
	#frmHomePageSearch .home-search-btn{height:60px; }
	#frmHomePageSearch .search-location, #frmHomePageSearch .search-inp-container{ margin-top: 10px; }
	
	div#skip{-moz-transform: none;
	-webkit-transform: none;
	-o-transform: none;
	-ms-transform: none;
	transform: none; text-align: center; position: relative; bottom: 0; top: auto; left: 0; right: 0; margin: -50px 0 0 0;  }

	

}

@media screen and (max-width:991px)
{
	.search-bar{max-width:inherit !important; }
	.social-links{padding-bottom:25px; }
	#mySidenav .navbar-nav > li > a{padding: 8px 20px; }
	
	/* .ips-image-banner .searchSection{top:5%; -moz-transform: none; */
	-webkit-transform: none;
	-o-transform: none;
	-ms-transform: none;
	transform: none;  }
	
}

/* @media screen and (max-width:768px){
	.searchSection .searchbase{top:10px; }
} */

@media screen and (max-width:767px)
{
	/* .searchSection .searchbase{ top: 10px; } */
	.work-process span{ margin-bottom: 0; margin-top: 10px; }
	.searchSection .searchbase h2{ font-size: 22px; }
    section.profiles{padding: 30px 0; }
    .sec-title h2{ font-size: 24px;  }
    .menuList{z-index: 9; }
    .static_pages ul{ padding-left: 15px;   }
    .inner_top_section h2{ font-size: 18px; }
    .uvPageTitle{ font-size: 20px !important; }
    .static_pages h3{  font-size: 19px; }
    .blog-heading h1{ font-size: 18px;  }
    
    .secondary-menu li a{padding: 10px 7px; }
	.sorting .list-inline > li{ display: inline-block; }
	.new-mentorlist-item-wrapper .mentor-details{ float: none; overflow: hidden; width: auto; }
	.new-mentorlist-item-wrapper .mentor-price-rating{ float: none; margin: 0 auto; }
	
    .photoContainer.mentor_dp{ width: 140px; height: 140px; }
    #imgdiv{width: 140px; height: 140px; line-height: 130px; font-size: 56px; }
    .fileUpload.btn{ font-size: 14px; padding: 0px 0; }
    .wxProfilePic .actions{ width: 250px; }
    .intl-tel-input{display: block !important; }
    .user_section p{padding: 10px !important; }
    #chatPage .left, #chatPage .right {display: block; width: auto; float: none; height: auto; }
    #chatPage .left .UserMsgList > div.mb20{ display: block; }
    .steps .title-sm{  margin: 10px 0 10px; }
    #chatPage .form-group.typeOfMsg{ margin-top: 0; padding-top: 25px; }
    .UserMsgList ul li a .MsgerName{display: inline-block; }
    #chatPage{background: url(../images/chatBg.jpg) no-repeat center; }
    #chatPage .UserMsgList{float: none; }
    .msgerTop h2{display: inline-block; }
    .msgerTop  a{  font-size: 16px; }
    
    #become_a_mentor_submit_frm .spacing40{margin: 2px 0; }
    .tabbable-panel .tabbable-line > .nav-tabs > li > a{font-size: 12px; }
    .text-right.becomeamentor{text-align: center; }
    .well.steps .red-bg{margin-bottom: 2px; }
    .calendarTz{margin: 0 !important; }
    
    .fc-toolbar .fc-center{ padding-left: 50px; padding-right: 50px;  padding-top: 5px; }
    .fc-toolbar .fc-center h2{font-size: 22px; }
    #addPromoCodeForm .select2-container{ width: 100% !important;  }
    

    .tzdpdw .btn{float: none !important; display: block; margin-bottom: 5px; text-align: center; }
    .tzdpdw .select2-hidden-accessible{ position: static; }
    .tzdpdw .select2-container{ display: block; }
    .mentor_dp #imgdiv{ font-size: 56px; }
    .spacingTable .promocode_table{ min-width: 770px; }
    #DataTables_Table_0_paginate .paginate_button{ margin-bottom: 5px; }
    div.meetingListDetail label{display: block; width: auto; margin: 7px 0 0 0; }
    .author-details .heading-inner{padding-bottom: 6px; margin-bottom: 10px; }
    #frmUserProfile .title-sm + .row .col-sm-3{width: 100%; }
    .tabbable-panel .tabbable-line > .nav-tabs > li > a{padding: 10px 6px; }
    #step1_submit_frm > .text-right{ margin-bottom: 0 !important; }
    .step2_submit_frm_Profession > .text-right{ margin-bottom: 0 !important; }
    #Keynote .youtube{ padding-top: 15px; }
    .employment_expertise{overflow: auto; }
    .employment_expertise #DataTables_Table_1_wrapper{ min-width: 870px; }
    #Expertise .bootstrap-tags .form-control{ text-overflow: ellipsis; }
    .employment_history #DataTables_Table_0_wrapper{ min-width: 870px; }
    textarea#taBreif{margin-top: 10px; }
    .modal-dialog{ margin: 10px 10px 30px 10px; }
    ul#conversationList{ margin: 0px -10px; }
    .msgerTop{ padding-bottom: 5px;  }
    #step2_submit_frm .form-group{ margin-bottom: 0; }
    #sendInvite .select2-container{ width: 100% !important; }
    #add_Avail .input-group{ margin-bottom: 10px; }
    #sendInvite .input-group{ margin-bottom: 10px; }
    #addPromoCodeForm .modal-body .col-sm-9 .col-sm-12{margin-bottom: 10px; padding-left: 0; padding-right: 0; }
    #addPromoCodeForm #lstUserList + .select2{ margin-left:0; margin-right:0;  }
    td.wrapper{display: contents; }
    #PersonalMessages{ height: auto !important; padding: 15px; }
    #chatSelected #panelfooter{ position: relative; z-index: 1; }
    #PersonalMessages .base_receive .col-xs-11{ width: 100%; }
    #lstTimeZone + .select2-container{ width: 100% !important; }
    #divMentorSearchListing label.mb0{ display: block; text-align: center; }
    #divMentorSearchListing .col-sm-3{ float: none; display: block; width: auto; }
    #divMentorSearchListing .sorting{ float: none; width: auto; }
    .searchSection{ top: 0; }
    .industry h2{ font-size: 18px; }
    .work-process h4{ font-size: 18px; }
    .sec-title h2{ font-size: 18px; }
    #modal-fullscreen #keynote_video_youtube{ width: 100%; }
    
    .card-stack{ padding: 10px; }
    .card-stack h3{ font-size: 18px; }
    .TableDash table.dataTable thead th, .TableDash table.dataTable thead td{ padding: 10px 15px; }
    #paypalEmailFrm .form-group br{ display: none;  }
    .customTooltipLink .customTooltip{ width: 127px; }
    .steps .form-group{ margin-bottom: 10px;  }
    footer .footerLinks{ margin: 0; }
    section{padding: 30px 0 20px; }
    .account-box .signUpLink{ float: none; }
    .steps .col-sm-4 #changePwd{display: block; }
    .wxProfilePic .actions{ padding-top: 30px; }
    .mentor_dp .dpAction a#btnCameraUpload{ font-size: 14px; margin-top: 12px; }
    #invalidLinkPopup .col-sm-12 br{ display: none; }
    .profileemphistory p{ word-wrap: break-word; }
    .well.white .mentorSummary .mentSumName{ font-size: 16px; padding-top: 7px; }
    .well.white{ margin-bottom: 5px; }
    .well.white .mentorSummary img{ margin-top: 0; }
	
	#belowSection {clear: both; overflow: hidden; }
	.searchSection .searchbase{position:relative; z-index: 99; }
	.ips-image-banner .searchSection{top:0; }
	input.search-field.form-control{resize:none; }
	.ips-image-banner .fxac, .inner-banners .fxac{display:block; }
	
	#add_Avail .checkbox-inline{ margin-left: 0; margin-right: 10px;  }
	.col-md-6.col-md-offset-7.pull-right{ width: 100% !important; }
	
	#select2-lstTimeZone-container span + span{display:block; float: none !important; }
	div#calendar{margin-top:40px; }
	
	.call_timer{font-size:16px; }
	#render_timer{right:87px; top:10px; position: static; }
	
	.chatHeader .logo{padding-top:4px; }
	
	.col-sm-8.col-sm-offset-2 .successicon{ padding-top: 55px; }
	
}

@media screen and (max-width:479px)
{
    .quickCat a{  margin: 4px 3px 0 0; }
    section{padding-top: 25px; }
    blockquote{font-size: 16px; line-height: 23px; }
    .testimonials-content{margin-bottom: 20px; }
    .static_pages ol{ padding-left: 15px;   }
    .constrain table tr td{ padding: 0 4px; }
	.new-mentorlist-item-wrapper .mentor-img{ float: none; margin: 0 auto 40px auto; }
	.fa-linkedin-highprofile-mentor{ text-align: center; left: 0; right: 0;  }
	.author-details .userinfo h5{ font-size: 18px; line-height: 1.2; }
	.author-details .skills-tags{ padding: 15px 25px;  }
	.btn-reg{ min-width: 100px;  }
    .photoContainer.mentor_dp{float: none; margin: 0 auto; }
    .wxProfilePic .actions{width: auto; margin: 10px 0 5px 0; padding-top: 10px; }
    .select2-container{ width: 250px !important;  }
    .tzdpdw{padding: 0; float: none !important; }
    .tzdpdw > .pull-right{ margin-left: 0; }
    footer .col-sm-6.copyright{font-size: 13px; padding: 0; }
	
    .inner_top_section h2{font-size: 17px; }
    #become_a_mentor_submit_frm .btn-lg{padding: 10px 9px; font-size: 16px; }
    .tabbable-panel .tabbable-line > .nav-tabs > li{ float: none; }
    .well.steps .mr20{ display: block;  }
    #normalPay .col-sm-12{ padding: 0; }
    #datatable_wrapper table.dataTable thead th, #datatable_wrapper table.dataTable thead td{ padding: 10px 10px; }
    #datatable{min-width: 560px; }

    .fc-toolbar .fc-left{ float: none !important; }
    .fc-toolbar .fc-center{ display: block !important; padding: 8px 0 0 0; clear: both; }
    .fc-toolbar .fc-center h2{font-size: 18px; }
    .fc-toolbar .fc-right{ float: none !important; padding-top: 5px; clear: both; }
    div#calendar{margin-top: 20px; }
    .copyright img{ margin: 0 auto 8px auto; display: block; }
    footer .footerLinks{ margin: 0; }
    .GiveFeedback label{float: none; width: auto; }
    .GiveFeedback .starrr{ float: none; width: auto; }
    #giveReview .modal-footer .btn{ padding: 10px 12px; }
    #searchResultDiv .well{margin-bottom: 0; }
    #step1_submit_frm .input-group-addon{ display: block; width: auto; border-right: 1px solid #cccccc;  padding: 12px 10px; 
        margin-bottom: 5px; }
    #Keynote .mb10 .btn{ float: none !important; display: block;  padding: 5px 5px; }
    a.videoUpload i{ font-size: 23px; }
    #Keynote .youtube{padding-top: 5px; }
    .lblHint{ font-size: 13px; }
    a.videoUpload{ font-size: 16px; }
    #tab_reviews .col-sm-7{padding: 0 10px; }
    #add_emp_his_form  .modal-body .col-sm-12{padding: 0; }
    .msgerTop a{ margin-top: 5px; }
    #PersonalMessages .messages{ padding: 15px 10px !important; }
    #calendar .fc-today-button{ vertical-align: top; float: none; }
    #calendar .fc-toolbar > * > *{ float: none; }
    .well.steps .btn-reg{ padding: 10px 10px; }
    .calendarTz .select2-container{ width: 100% !important; }
    .filter-tags{ margin-bottom: 10px; }
    .fa-linkedin-highprofile-mentor{ bottom: auto; }
    .new-mentorlist-item-wrapper .mentor-details{ padding: 0; }
    .filter-tags span{ padding: 5px 9px 5px 9px; }
    .profileemphistory .headtag{ font-size: 16px; }
    .card-stack h3{ font-size: 16px; }
    .author-details .customTooltip{ left: 10px; top: auto; }
    .author-details .customTooltip:before{ display: none; }
    .rating-block{ padding: 10px 15px 20px 15px; }
    .mentor_other_info .tabbable-line > .tab-content{ padding-bottom: 0; }
    .mentor_other_info > .tabbable-panel{ padding-bottom: 0;  }
    #noMentorPendingInvitesListing > p{ padding: 15px 20px !important; }
    .wxProfilePic .actions a{ margin: 0 5px 5px 5px; }
    #step1_submit_frm .input-group{ display: block; }
    #step1_submit_frm .input-group-addon{ overflow: hidden; text-overflow: ellipsis; border-radius: 4px; }
    #step1_submit_frm #slug{ border-radius: 4px; }
    .webCamNotFound { padding: 0; }
    #become_a_mentor_submit_frm .title-sm{ margin-top: 0; }
    
	#frm_register .form-control{font-size:13px; }
	.searchSection .searchbase h3{font-size:16px; }
	.searchSection .quickCat a{  margin: 2px 3px 0 0; }
	.playVideo a{font-size:45px; }
	
	#frmHomePageSearch .home-search-btn{height:40px; }
	.ips-image-banner{padding-top:130px; }
	
	.social-links{ float: none; clear: both; overflow: hidden; padding-bottom: 45px; }
	
	div#calendar{margin-top:40px; }
	
	

}   
