label.validate_error {
    color: red;
    font-weight: normal;
    font-style: italic;
    display: block;
}

label#names-error {
    background: #fff;
    margin-top: 2px;
    border-radius: 4px;
}

.redAstrisk {
    color: red;
    font-weight: normal;
    font-style: italic;
}

#user_org_name {
    font-style: italic;
    color: #177892;
    text-decoration: underline;
}

a.edit {
    margin-left: 0px;
}

a.remove {
    margin-left: 10px;
}

.mentor_dp .dpAction {
    top: 50% !important;
}

.g-signin2.btn-google {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
}

.abcRioButtonBlue {
    width: 100% !important;
}

.form-signin .btn:focus, .form-signin .btn:hover {
    color: #fff;
}

span.IN-widget {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    opacity: 0 !important;
}

span.IN-widget span {
    width: 100% !important;
    height: 33px !important;
}

a[data-key="cancel"] {
    margin-left: 10px;
}

div[data-class] {
    display: none;
}

div.addedList {
    margin-top: 10px;
}

div.addedList div.workfolioItem {
    /*margin-bottom: 7px;*/
    /*border-bottom: 1px solid #ddd;*/
    padding-bottom: 7px;
    display: table;
    width: 310px;
    height: 155px;
}

div.addedList div.workfolioItem:first-child {
    /*border-top: 1px solid #ddd;*/
    /*padding-top: 7px;*/
}

div.addedList div.workfolioItem a i {
    margin-right: 5px;
}

div.addedList div.workfolioItem iframe {
    width: 100% !important;
}

div.addedList div.workfolioItem a {
    float: left;
    text-align: left;
    vertical-align: middle;
}

div.addedList div.workfolioItem span {
    margin-left: 2px;
    word-break: break-all;
}

div.addedList div.workfolioItem a.no-center {
    text-align: inherit;
}

.searchSection .searchbase {
    text-align: center;
}

.btn-social {
    position: relative;
}

input[type='file'].form-control {
    line-height: 23px;
    height: 38px;
}

.showNavRed {
    padding-top: 70px;
}

.showNavRed .navbar-transparent {
    background: #177892;
    padding: 15px 0;
}

.or-box {
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.or {
    color: #666666;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 40px;
    left: 50%;
    margin-left: -20px;
}

.account-box .or-box {
    margin-top: 35px;
    margin-bottom: 15px;
}

a.tootip {
    color: #337ab7;
}

a.tootip:hover {
    color: #23527c;
}

.tootip {
    position: relative;
}

.tootip+.customTooltip {
    display: none;
    position: absolute;
    right: 20px;
    width: 200px;
    background: #fff;
    padding: 5px 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    margin-top: 0px;
    margin-left: -15px;
}

.tootip+.customTooltip:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    top: -6px;
    right: 10px;
}

.tootip:hover+.customTooltip {
    display: block;
    z-index: 10;
}

.recom-item-body .info {
    margin: 8px 0;
    color: #666;
    max-height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.recom-item .recom-media .pic img {
    height: 190px;
}

.recom-item .recom-media {
    width: 190px;
}

.recom-item .recom-item-body {
    width: calc(100% - 190px);
}

.recom-item .recom-media .location {
    padding: 0 10px 0 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.skills {
    padding: 0 20px 10px;
}

.recom-item-body .info p {
    margin: 0;
}

.recom-item {
    margin-bottom: 15px;
}

.role {
    /*max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
    width: 65%;
    /* display: -webkit-box; */
    /* -webkit-line-clamp: 1; */
    /* -webkit-box-orient: vertical; */
}

.lblHint {
    color: rgba(100, 94, 94, 0.66);
}

.filter-tags {
    display: block;
    margin-bottom: 15px;
}

.filter-tags span {
    background: #ddd;
    padding: 10px 15px 10px 20px;
    display: inline-block;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 4px;
}

.filter-tags span a:before {
    content: "\f00d";
    font-family: FontAwesome;
    margin-left: 7px;
    color: #000;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}

img.myImg {
    margin: 0 auto;
}

span.fileType {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    text-transform: uppercase;
}

.myFrame {
    min-height: 320px;
}

.UserMsgList {
    width: 100%;
}

a.edit.emp_expertise, a.edit.emp_history {
    margin-right: 15px;
}

.navbar-nav>li>a .UserNameNAV {
    text-transform: none;
    font-size: 15px;
}

.calendarTz {
    float: right !important;
}

.xdsoft_timepicker {
    width: 85px !important;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_prev, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_next {
    margin-left: 27px !important;
}

.search-location {
    max-width: 330px;
}

.well.steps.complianceTest {
    text-align: center;
}

.well.steps h3 {
    text-align: initial;
}

.search-inp-container {
    padding: 0;
    position: relative;
}

ul.token-input-list-facebook {
    height: 60px !important;
    border: 0 !important;
}

li.token-input-token-facebook {
    outline: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 19px 5px 0 !important;
    height: auto !important;
    font-size: 16px !important;
}

ul.token-input-list-facebook {
    /*overflow-y: auto !important;*/
}

.blue-btn {
    background-color: #665A96;
    color: #fff;
    font-weight: bold;
    overflow-y: auto !important;
}

.green-btn {
    background-color: #5A966C;
    color: #fff;
    font-weight: bold;
    overflow-y: auto !important;
}

ul.token-input-list-facebook li input {
    height: 60px;
    width: 100% !important;
    line-height: 30px;
    margin: 0 !important;
    font-size: 16px;
}

li.token-input-token-facebook p {
    padding: 0 0 0 10px !important;
}

li.token-input-token-facebook span {
    margin-right: 5px;
}

label.mentorlisting-noresult {
    font-size: 25px;
    display: block;
    border-bottom: 1px solid #989894;
}

.mentorlisting-searchsuggestion {
    margin-top: 30px;
}

label.mentorlisting-noresultheader2 {
    font-size: 18px;
}

.mentorlist-searchsuggestionlist {
    padding-left: 15px;
}

.mentorlist-searchsuggestionsinlist {
    list-style-type: disc;
}

div.addedList div.workfolioItem>a {
    float: none;
}

.userprofile>a {
    padding: 0px 15px !important;
}

.userprofile>a>img {
    width: 35px;
    border-radius: 45px;
    height: 35px;
    display: inline-block;
}

.userprofile>a>span {
    white-space: nowrap;
    display: inline-block;
    margin-top: 7px;
    padding-left: 7px;
}

.recom-price {
    /*float: right;*/
    margin: 0px;
}

.js-listingBox .recom-price {
    float: right;
    position: absolute;
    right: 0px;
}

.industry:hover {
    cursor: pointer;
}

#chatPage {
    width: 100%;
}

.js-tokenInput {
    padding: 10px !important;
    z-index: 99999999;
    font-size: 14px;
}

.js-tokenInput.js-NonClickAbleToken {
    background: red;
    color: red;
}

span.keynotetitle {
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    overflow: hidden;
}

a.uploadMedia {
    margin-top: 0px;
    margin-bottom: 6px;
}

.token-input-dropdown-facebook {
    z-index: 999 !important;
}

.js-TokenResultHeader {
    /*float: right;*/
    display: block;
    font-size: 12px;
    color: #aaa;
}

.highlightDate {
    font-weight: 600;
}

.disabledDate {
    opacity: 0.4;
}

.notxt {
    width: 100%;
    text-align: center;
    padding: 100px 0;
    font-size: 20px;
}

.slider.slider-horizontal {
    /*width: 197px !important;*/
    width: 100% !important;
}

#overviewdiv {
    overflow: hidden;
    max-height: 75px;
    -webkit-transition: max-height .5s linear;
    -moz-transition: max-height .5s linear;
    transition: max-height .5s linear;
}

.reveal-open {
    max-height: none !important;
}

.userinfo .skills {
    padding: 0 15px;
}

.applicationWrapper {
    display: inline-block;
    width: 100%;
    background-color: #AFB3B6;
}

.projectLinkWrapper:hover {
    color: rgba(210, 59, 59, 0.27);
}

.fileUploadTags {
    padding: 10px 15px;
}

.fileUploadTags ul li {
    display: inline-block;
    background: hsl(0, 0%, 85%);
    margin-right: 5px;
    padding: 3px 10px 0;
    border-radius: 4px;
}

.fileUploadTags ul li span {
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.fileUploadTags ul li b {
    display: inline-block;
    vertical-align: top;
}

.MsgNotif {
    width: 100%;
    padding: 8px 6px;
    border-bottom: 1px solid #ddd;
}

.MsgNotif .details h3 {
    color: #000;
    padding-right: 0;
}

.MsgNotif .details h3 time {
    float: right;
    font-weight: 400;
    font-size: 11px;
    color: #636363;
}

.projectLinkWrapper {
    position: relative;
    display: table;
    height: 150px !important;
    background-color: #AFB3B6;
    width: 100%;
    text-align: center !important;
}

.projectLinkWrapper:before {
    content: "\f0ac";
    position: absolute;
    font-family: FontAwesome;
    color: rgba(227, 228, 230, 0.58);
    font-size: 150px;
    left: 50%;
    margin-left: -64px;
    line-height: 1;
}

.projectLinkWrapper span {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    position: relative;
}

div.addedList div.workfolioItem a {
    float: none;
}

.mentorPortfolioWrapper {
    min-height: 175px;
    width: 350px;
    margin: 5px;
    text-align: center;
}

.findIndustryId .progress {
    margin-bottom: 10px;
}

#addMentorWorkfolio .hidden_div, #addMentorWorkfolio .description_div {
    display: none;
}

ul.nav-category {
    /*max-height: 250px;
    overflow-y: auto;*/
}

.search-wrapper ul.token-input-list-facebook, .search-wrapper ul.token-input-list-facebook li input {
    background-color: transparent;
    height: 40px !important;
    overflow: hidden !important;
}

.search-wrapper .search-bar {
    float: left;
}

.search-wrapper ul.token-input-list-facebook {
    padding-left: 10px;
    float: left;
    width: 65%;
    margin: 0;
    box-sizing: border-box;
    clear: none;
}

.search-wrapper ul.token-input-list-facebook li input {
    color: #000;
    font-size: 13px !important;
}

.search-bar {
    border: 2px solid #fff;
    margin: 8px 0;
    /*border-radius: 100px;*/
    background-color: #fff;
    max-width: 640px !important;
}

.search-bar i {
    top: 10px;
    left: 18px;
    color: #177892;
}

div.token-input-dropdown-facebook {
    z-index: 9999 !important;
    border-radius: 10px;
}

/*.NavSearch {
    display: none;
}*/

.search-wrapper li.token-input-token-facebook {
    margin-top: 9px !important;
    background-color: transparent;
    color: #000;
}

@media (min-width: 768px) {
    .search-wrapper {
        border-left: 1px solid rgba(0, 0, 0, 0.19);
        padding-left: 10px;
    }
}

.formPopup .input-group input[type="text"] {
    margin-bottom: 0px;
}

textarea.form-control {
    line-height: 1.42857143;
    resize: none;
}

.forgotLnk.red {
    color: red;
}

.chkBoxDisclaimer {
    margin-top: 13px !important;
}

.forgotLnk.red.partial {
    display: inline;
}

.nav-category>li label {
    font-weight: normal !important;
    font-size: 12px;
}

.MsgNotif .image {
    width: 40px;
    height: 40px;
}

.recom-item {
    position: relative;
    z-index: 1;
    background: #ffffff;
    /* overflow: hidden; */
    margin-bottom: 15px;
    max-width: 770px;
    margin-right: auto;
    margin-left: auto;
    display: table;
    width: 100%;
}

.recom-item.skills a {
    background: #dadfe2;
    padding: 2px 7px;
    display: inline-block;
    margin: 5px 5px 5px 0;
    border-radius: 2px;
    color: #404040;
}

.copyright img {
    width: auto;
    display: inline-block;
}

.bottomButtons {
    z-index: 1;
}

#subscribers {
    height: 95%;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

#publisher {
    position: absolute;
    z-index: 1001;
    min-width: 200px;
    min-height: 150px;
    overflow: hidden;
    border-radius: 12px;
    top: 200px;
    right: 10px;
    width: 20% !important;
    height: 20% !important;
    border: 0;
}

.opentok-hardware-setup {
    width: auto !important;
}

.NavSearch1 {
    float: left;
    width: 35%;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    padding-left: 35px;
    line-height: 38px;
    border-right: 1px solid #ddd;
}

.ui-autocomplete-input.ui-autocomplete-loading {
    background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
    z-index: 9999999999999999;
}

.ui-widget.ui-widget-content {
    border-radius: 10px;
    border: 1px solid red;
    z-index: 999999999;
}

.ui-menu .ui-menu-item-wrapper {
    padding: 10px;
}

.ui-menu .ui-menu-item-wrapper.ui-state-active {
    border-radius: 10px;
    border: 1px solid red;
    background-color: #F9F4F0;
    color: #000;
}

.pic.qlbookmark ul.QuickLinks {
    right: 0;
    z-index: 999;
}

.pic.qlbookmark ul.QuickLinks li a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pic.qlbookmark ul.QuickLinks li {
    float: right;
    clear: both;
}

#render_timer {
    color: #fff;
    position: absolute;
    right: 150px;
    top: 0px;
}

.call_timer {
    font-size: 30px;
    /*position: absolute;*/
    /*top: 0px;*/
    /*right: 20%;*/
}

#hours {
    /*right: 20%;*/
}

#minutes {
    /*right: 15%;*/
}

#seperater {
    /*right: 19%;*/
}

.location-1:before {
    content: '';
    position: absolute;
    /*z-index: 1;*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-box-shadow: inset 0px -100px 60px -40px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0px -100px 60px -40px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0px -100px 60px -40px rgba(0, 0, 0, 0.8);
}

.location-1 .location {
    color: #fff;
    position: absolute;
    bottom: 3px;
    width: 100%;
    left: 0;
    z-index: 9;
}

.location-1 a {
    color: #fff
}

.btnMakePayement {
    background-color: #5cb85c;
    color: #fff;
}

.btnMakePayement:hover {
    background-color: #376e37;
}

.credit-card-box .display-table {
    display: table;
    width: 100%;
}

.credit-card-box .display-tr {
    display: table-row;
}

.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.form-group.mm-yy label {
    width: 100%;
    display: table;
}

.applyPromoCodeBtn {
    top: 15px;
    position: relative;
}

.SharedDocuments ul li .download a.filenotexist {
    background: #FFC5C5;
    cursor: default;
    text-decoration: none;
}

.SharedDocuments ul li .detail span {
    color: #aaaaaa;
}

#invalidLinkPopup ul {
    -webkit-padding-start: 40px;
}

#invalidLinkPopup ul, #invalidLinkPopup li {
    list-style: initial;
    margin-bottom: 10px;
}

.success-book i {
    font-size: 60px;
    color: #19c365;
}

.skills.listing {
    padding: 0px;
}

.fc-state-disabled {
    cursor: not-allowed !important;
}

.sc_team_item .sc_team_item_avatar.column-2_5 {
    width: 40% !important;
}

.sc_team_item .sc_team_item_info.column-3_5 {
    width: 59% !important;
    margin-top: 0px !important;
}

nav .customTooltipLink .customTooltip.left {
    right: 100%;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 8px;
    top: 0%;
}

nav .customTooltipLink .customTooltip.left:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #fff;
    position: absolute;
    top: 8px;
    right: -14px;
    left: auto;
}

li.activebanner {
    width: 40px !important;
}

li.activebanner a {
    background-color: #177892 !important;
}

.role .jobdescription {}

.customToolTipListing {
    font-size: 14px !important;
    color: #000 !important;
    font-weight: normal !important;
}

li.token-input-input-token-facebook {
    width: 100% !important;
}

.form-group.typeOfMsg .input-group {
    width: 100%;
}

.role .jobdescription:before {
    content: "";
}

.fileuploadprogressbar {
    margin-top: 15px;
}

.divMakePayment {
    text-align: right;
}

.profileemphistory {}

.profileemphistory {
    font-weight: 600;
    margin-bottom: 5px;
}

.profileemphistory .company:before {
    margin: 0 4px 0 0px;
    color: #a2a2a2;
    cursor: default;
    text-decoration: none;
}

.profileemphistory i {
    margin: 0 4px 0 2px;
    color: #7d7d7d;
}

.profileemphistory a {
    color: #333;
}

.profileemphistory a.company {
    color: #177892;
}

.profileemphistory a:hover {
    color: #177892;
}

.heading-inner .role {
    width: 100%;
}

.profileemphistory .headtag {
    font-size: 18px;
}

/*================== HIGH PROFILE MENTOR START =====================*/

.high-profile-mentors .QuickLinks {
    top: 5%;
}

.high-profile-mentors .sc_team_item_info {
    height: 126px;
    padding: 10px !important;
    overflow: hidden;
}

.high-profile-mentors .sc_team_item_info h5 {
    font-weight: bold;
    font-size: 1.343em !important;
}

.high-profile-mentors .sc_team_item_info h5 a {
    color: #000
}

.high-profile-mentors .sc_team_item_avatar {
    height: 126px;
    overflow: hidden;
}

/*===================HIGH PROFILE MENTOR END ====================*/

section a.js-tagCompanySearch {
    margin-left: 23px;
}

a.js-tagCompanySearch, a.js-tagProfessionSearchDirect, a.js-tagJobDescriptionDirect, a.js-tagCompanySearchDirect {
    word-wrap: break-word;
}

a.js-tagCompanySearch {
    margin-left: 23px;
}

a.btn-2.red {
    /*background: #177892!important;*/
    background: #2f2f2f !important;
    margin: -5px -14px 10px 0 !important;
}

.well.steps.complianceTest #complianceTestIntro {
    text-align: left;
    padding: 0px 50px;
}

.well.steps.complianceTest #complianceTestIntro ul {
    padding: inherit;
}

.well.steps.complianceTest #complianceTestIntro li {
    list-style: disc;
}

.role .col-md-1, .role .col-md-11 {
    padding: 0px !important;
    margin: 0px !important;
}

span.js-mentorLikeCount {
    display: inline-block;
}

ul.default, ol.default {
    -webkit-padding-start: 40px;
}

ul.default>li, ol.default>li {
    list-style: disc;
}

ol.default.square>li, ul.default.square>li {
    list-style: square;
}

ol.default.decimal>li, ul.default.decimal>li {
    list-style: decimal;
}

ol.default.circle>li, ul.default.circle>li {
    list-style: circle;
}

ol.default.alphabet>li, ul.default.alphabet>li {
    list-style: lower-alpha;
}

ol.default.upper-roman>li, ul.default.upper-roman>li {
    list-style: upper-roman;
}

ol.default.lower-roman>li, ul.default.lower-roman>li {
    list-style: lower-roman;
}

ol.default, ul.default {
    margin-bottom: 20px;
}

.customTooltipLink .customTooltip.slotBooking {
    /*margin-top: -28px;
    margin-right: -15px;*/
    margin-top: -22px;
    margin-right: -45px;
    right: 210px;
    margin-left: 0px;
    width: 284px;
    padding: 5px 5px;
}

.customTooltipLink .customTooltip.slotBooking:before {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #fff;
    border-right: none;
    position: absolute;
    top: 0px;
    right: -6px;
    left: initial;
}

.customTooltipLink.becomeamentor .customTooltip {
    margin-top: 5px;
}

.customTooltipLink.listing .customTooltip {
    margin-top: 0px;
}

.customTooltip .cancellationPolicyLink span {
    font-weight: normal !important;
    color: red !important;
}

.portfoliocontainer {
    margin-top: 5px;
}

.portfoliocontainer .eachportfoliobox {
    margin-top: 5px;
    padding-bottom: 10px;
}

.portfoliocontainer .eachportfoliobox:hover {
    border: 1px solid #afb3b6;
    background: #eee;
}

.portfoliocontainer .eachportfoliobox .lblworkfolio {
    line-height: 25px;
}

.portfoliocontainer .eachportfoliobox .portfolioicon {
    width: 100%;
    height: auto;
}

.viewerheader {
    font-size: 22px;
}

.account-box .forgotLnk {
    float: right;
    margin: 25px 0px;
    color: #0077b5;
}

.account-box .forgotLnk:hover {
    text-decoration: underline;
}

.account-box .signUpLink {
    float: left;
    margin: 9px 0px;
    color: #0077b5;
    font-size: 14px;
}

.account-box .signUpLink:hover {
    text-decoration: underline;
}

.signUpbtn, .signUpbtn:hover {
    background-color: #fff;
    color: #2a96b5 !important;
    border: 1px solid #2a96b5;
    padding: 10px;
    display: inline-block;
}

.row.loginalter {
    margin-top: 20px;
}

.signUpDisclaimer {
    margin-top: 10px;
    width: 95%;
    margin-left: 17px;
}

.row.loginalter.reg {
    border-top: 1px solid #dfdfdf;
    padding-top: 15px;
}

.fa-linkedin-highprofile-mentor {
    position: absolute;
    right: 15px;
    bottom: 35px;
    font-size: 25px;
}

.fa-linkedin-highprofile-mentor .fa.fa-linkedin-square {
    color: #1985bc;
}

.fa-linkedin-listing-mentor {
    position: absolute;
    font-size: 25px;
}

.fa-linkedin-listing-mentor .fa.fa-linkedin-square {
    color: #1985bc;
}

.eachportfoliobox.emptyList {
    padding: 10px;
}

.GiveFeedback .customTooltip {
    margin-top: 25px;
}

.signUpDisclaimerspan .red.partial {
    color: #0077b5;
}

.static_pages a {
    color: #0077b5;
}

.asterisk:after {
    content: " *";
    color: #177892;
}

.blockUI.blockMsg.blockPage {
    background-color: transparent !important;
    border: none !important;
}

.msgUsernameLink {
    margin: 0 !important;
    color: #ea3c3c !important;
}

@media(max-width: 639px) {
    .recom-item .recom-item-body {
        width: calc(100%);
    }
    .fa-linkedin-listing-mentor {
        position: static;
    }
    .role {
        width: 100%;
    }
    .js-listingBox .recom-price {
        float: none;
        position: static;
    }
}

.profiledetailportfoliolink, .profiledetailportfoliolink:hover {
    color: #000;
}

.pro-img {
    max-width: 200px;
    margin: 0 auto;
}

.pro-img img {
    max-width: 100%;
}

.pro-detail span {
    display: block;
}

.pro-detail div {
    margin-bottom: 10px;
}

.meetingLogEntries {
    width: 100%;
}

.meetingLogRow {
    justify-content: flex-end;
    align-items: flex-end;
}

.msg_container_base {
    display: inherit !important;
}

.logs-chat {
    padding: 10px;
    border-bottom: 1px solid #d0d0d0;
}

.logs-chat i {
    margin-right: 8px;
}

.logs-chat.green {
    color: green;
}

.logs-chat.red {
    color: red;
}

#btnFullScreen:focus {
    color: #d8841c;
}

.fullscreenvideo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.innerIcon:active {
    color: black;
}

.bottomButtons a:active, .bottomButtons a:focus {
    color: black;
}

.videoButton {
    width: 22px;
    height: 22px;
    margin: 14px auto;
}

.bottomButtons a:hover {
    color: #000 !important;
    background: #ccc;
}

.videoCallSwitchButtonDisabled {
    background: #ccc !important;
}

.author-details .customTooltip {
    top: -5px;
    left: 210px;
}

.author-details .customTooltip:before {
    left: -14px;
    top: 7px;
    border-right: 7px solid #FFF;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

/* SEARCH DROPDOWN CSS START */

.easy-autocomplete-container .eac-item span {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 2px;
    color: #89959B;
    display: block;
    font-style: normal;
}

.easy-autocomplete input {
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

.search-location .easy-autocomplete-container ul li, .login-page .easy-autocomplete-container ul li {
    line-height: 30px;
}

.easy-autocomplete-container ul li {
    font-size: 14px;
    font-weight: 400;
    padding-top: 1px;
    color: #33373D;
    text-align: left;
    padding: 6px 10px;
}

.search-inp-container .search-field:focus, .login-page input.search-field:focus {
    padding: 6px 12px;
}

.easy-autocomplete-container ul li.selected {
    background: #FBEED5;
    color: #333;
}

.search-location input.search-field.form-control {
    padding: 0 20px 0 55px;
    font-size: 13px;
}

.easy-autocomplete-container {
    z-index: 100;
}

.easy-autocomplete {
    width: 100% !important;
}

.easy-autocomplete-container ul {
    border-top: none;
}

.fullscreen.ips-image-banner, .fullscreen.inner-banners {
    overflow: visible;
}

.login-page .col-sm-5, .login-page .col-sm-7 {
    padding: 0px !important;
}

.login-page input.search-field.form-control {
    line-height: 40px;
    height: 40px;
}

.login-page .col-sm-5 input.country {
    border-right: 1px solid #e8e8e8;
    padding-left: 50px;
    font-size: 13px;
}

.search-location img, .search-inp-container img, .search-wrapper .col-sm-5 img, .search-wrapper .col-sm-7 img {
    position: absolute;
    right: 10px;
    top: 24px;
    max-width: 30px;
}

.search-wrapper .col-sm-5 img, .search-wrapper .col-sm-7 img {
    top: 14px;
}

div.meetingListDetail label {
    width: 230px;
}

div.meetingListDetail p {
    display: inline-block;
    /*width: 200px;*/
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.a li {
    list-style: inside !important;
    margin-left: 38px !important;
    padding: 2px !important;
}

@media (max-width: 991px) {
    .ips-image-banner .fxac, .inner-banners .fxac {
        display: inline-block;
    }
    .search-location, .search-inp-container {
        max-width: 100%;
        margin-bottom: 20px;
        border-radius: 0px;
    }
    .home-search-btn {
        border-radius: 0px;
        margin-bottom: 10px;
    }
    .col-sm-5, .col-sm-7 {
        width: 100% !important;
        margin: 5px 0px;
    }
    .search-wrapper {
        padding: 0px 20px;
    }
    .search-bar {
        max-width: 100% !important;
        background: transparent;
        border: none;
    }
    .login-page input.search-field.form-control {
        background: #FFF;
    }
    .search-bar i {
        top: 15px;
        left: 14px;
    }
    .account-box {
        margin: 210px 0 100px;
    }
}

/* SEARCH DROPDOWN CSS END */

#PersonalMessages td.wrapper {
    background-color: rgb(181, 234, 255) !important;
}

#btnNextKeyNote {
    margin-top: 20px;
}

/*ADMIN PANEL CSS START*/

.adminpanel .validate_error {
    text-align: left;
}

.adminpanel .listingTopBtns {
    margin-bottom: 10px;
    text-align: right;
}

.adminpanel .listingBtn {
    cursor: pointer;
}

.adminpanel .testlistingcolumn {
    width: 500px;
}

/*.adminpanel .dataTable tbody td {
    white-space: normal;
}*/

.adminpanel table.table-bordered.dataTable tbody th, .adminpanel table.table-bordered.dataTable tbody td {
    white-space: normal;
}

label.redbullet::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    background: #177892;
    border-radius: 100%;
}

/*ADMIN PANEL CSS END */

.fullscreen.inner-banners.listing {
    background: url(../images/topimages/listing.jpg) center no-repeat;
}

.fullscreen.inner-banners.mentordetails {
    background: url(../images/topimages/mentorprofile.jpg) center no-repeat;
}

.fullscreen.inner-banners.bookings {
    background: url(../images/topimages/bookings.jpg) center no-repeat;
}

.fullscreen.inner-banners.payment {
    background: url(../images/topimages/payment.jpg) center no-repeat;
}

.fullscreen.inner-banners.calendar {
    background: url(../images/topimages/mentor_calendar.jpg) center no-repeat;
}

.fullscreen.inner-banners.invites {
    background: url(../images/topimages/invites.png) center no-repeat;
}

.fullscreen.inner-banners.meetings {
    background: url(../images/topimages/meetings.jpg) center no-repeat;
}

.fullscreen.inner-banners.bookmarks {
    background: url(../images/topimages/bookmarks.jpg) center no-repeat;
}

.fullscreen.inner-banners.settings {
    background: url(../images/topimages/settings.jpg) center no-repeat;
}

.fullscreen.inner-banners.becomeamentor {
    background: url(../images/topimages/becomeamentor.jpg) center no-repeat;
}

.fullscreen.inner-banners.profile {
    background: url(../images/topimages/profile.jpg) center no-repeat;
}

.fullscreen.inner-banners.promocode {
    background: url(../images/topimages/promocode.jpg) center no-repeat;
}

.fullscreen.inner-banners.compliance {
    background: url(../images/topimages/compliance.jpg) center no-repeat;
    min-height: 400px;
}

.fullscreen.inner-banners.aboutus {
    background: url(../images/topimages/aboutus.jpg) 37% 23% no-repeat;
    background-size: cover;
}

.fullscreen.inner-banners.termsandconditions {
    background: url(../images/topimages/terms.jpg) 0% 40% no-repeat;
}

.fullscreen.inner-banners.privacypolicy {
    background: url(../images/topimages/privacy.jpg) 26% no-repeat;
}

.fullscreen.inner-banners:before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.searchSection {
    z-index: 3;
    position: relative;
}

.meetingSection .profilePic .img-responsive {
    width: 236.35px;
}

.text-right.becomeamentor {
    color: #177892;
}

.location a {
    text-transform: capitalize;
}

#skip {
    position: absolute;
    /*bottom: 48px;*/
    /*bottom: 175px;*/
    top: 720px;
    width: auto;
    height: auto;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
}

#skip a {
    color: #FFF;
}

.pulse:hover, .pulsing {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    cursor: pointer;
}

.ibox-content.overall {
    display: inline-block;
    width: 100%;
}

.overall ul {
    border: 1px solid #e7eaec;
    float: left;
    width: 100%;
}

.overall li {
    float: left;
    width: 33.33%;
    padding: 20px;
    text-align: center;
    border-right: 1px solid #a5a5a5;
    background: #e7eaec;
}

.overall li:last-child {
    border-right: none;
}

.overall li span {
    display: block;
}

.overall li span.big {
    font-size: 25px;
    color: #177892;
}

@media (max-width: 992px) {
    .overall li span.big {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .overall li span.big {
        font-size: 15px;
    }
}

@media (max-width: 510px) {
    .overall li {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #a5a5a5;
    }
    .overall li:last-child {
        border-bottom: none;
    }
    .overall li span.big {
        font-size: 25px;
    }
    .footer .pull-right {
        float: none !important;
    }
}

div#skip {
    position: absolute;
    top: 720px;
    z-index: 1;
}

@media screen and (min-width:1200px) {
    div#bs-example-navbar-collapse-1 {
        position: absolute;
        right: 10px;
    }
    #txtQueryString {
        width: 373px;
        font-size: 13px;
    }
}

#complainceimgdiv {
    background: #512DA8;
    font-size: 135px;
    color: #fff;
    width: 191px;
    height: 192px;
    text-align: center;
    line-height: 190px;
    display: inline-block;
}

#imgdiv {
    background: #512DA8;
    font-size: 135px;
    color: #fff;
    width: 230px;
    height: 230px;
    text-align: center;
    line-height: 215px;
    display: inline-block;
}

#himgdiv {
    width: 100%;
    border: 2px solid #fff;
    border-radius: 100%;
    background: #512DA8;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 26px;
}

.listingImgDiv {
    background: #512DA8;
    color: #fff;
    text-align: center;
    line-height: 130px;
    font-size: 65px;
    height: 100%;
}

#detailImgDiv {
    background: #512DA8;
    font-size: 65px;
    color: #fff;
    width: 100%;
    text-align: center;
    line-height: 120px;
    display: inline-block;
}

.dc{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 137px;
}
.progress.progress-striped.active {
    z-index: 99999;
    top: 50%;
    position: relative;
    width: 600px;
    margin: 0 auto;
}
.progress-bar {
    background-color:#177892;
}
.loader{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: #00000069;
    overflow: hidden;
    overflow-y: hidden;
}
.bodyclass{
    overflow: hidden;
}
.loader h4 {
    vertical-align: middle;
    position: relative;
    text-align: center;
    top: 280px;
}
.easy-autocomplete-container {
    max-height: 200px;
    overflow: auto;
}
/* Added on 17-01-2018 */
#PersonalMessages td.wrapper {background-color: #e4e4e4 !important;}

/*New Design for mentor list*/
.slider.slider-horizontal{width: calc(100% - 20px) !important;margin: auto;display: block;}



/******* 14-3-2018 piyush ******/

.formPopup #pendingProfileItems{ padding-left: 20px; }
a.mentor_promocode{ color: #ffffff; }
.mentor_dp #imgdiv{font-size: 120px; }

@media screen and (max-width:1200px)
{
    .navbar-nav > li.header-avatar-trigger > a{  padding: 21px 18px 39px 18px; }
    
    #become_a_mentor_submit_frm .spacing40{margin: 10px 0; }
    .mentor_dp #imgdiv{ font-size: 110px; }


}

@media screen and (max-width:1023px)
{
	.searchSection .searchbase{ top:304px; padding-bottom: 30px; }
    .searchSection .searchbase > br{display: none; }
    .inner-banners .searchSection .searchbase{ top: 0; }
    .search-wrapper{ width: auto; }
	.wxProfilePic .actions{ float: right; }
	.photoContainer.mentor_dp{ margin-top: 0; float: left; width: 200px; height: 200px; }

    #imgdiv{width: 200px; height: 200px; line-height: 190px;  font-size: 110px; }
    #chatPage .left{width: auto; }
    footer{position: relative; }
    .meetingSection .profilePic .img-responsive{width: 100%; }
    .navbar-nav .open #dropdown_menu_msg{background: #ffffff; position: absolute; min-width: 300px; }
    .UserMsgList ul li a .MsgerName h2 time{float: none; display: block; }
    #chatPage .form-group.typeOfMsg{display: block; margin-top: 25px; }

    #chatPage .left{width: 220px; }
    #chatPage .right{ width: calc(100% - 220px);  padding-top: 10px; }
    .calendarTz{ clear: left; float: none !important; padding: 15px 0 0 0; }
    #addPromoCodeForm #lstUserList + .select2{ margin-left: -15px; }
    .tzdpdw > .btn{ margin-left: 10px; }
    .promocode .table tbody tr td:first-child span{ padding: 10px 5px; }
    .spacingTable .promocode_table tr th{padding: 20px 10px; }
    a.mentor_promocode{min-width: inherit; }
    .mentor_dp #imgdiv{ font-size: 95px; }
    #frmUserProfile .title-sm + .row .col-sm-3{width: 50%; }
    #frmUserProfile .intl-tel-input{display: block; }




}

@media screen and (max-width:767px)
{
	.searchSection .searchbase{ top: 0px; }
	.work-process span{ margin-bottom: 0; margin-top: 10px; }
	.searchSection .searchbase h2{ font-size: 22px; }
    section.profiles{padding: 30px 0; }
    .sec-title h2{ font-size: 24px;  }
    .menuList{z-index: 9; }
    .static_pages ul{ padding-left: 15px;   }
    .inner_top_section h2{ font-size: 18px; }
    .uvPageTitle{ font-size: 20px !important; }
    .static_pages h3{  font-size: 19px; }
    .blog-heading h1{ font-size: 18px;  }
    
    .secondary-menu li a{padding: 10px 7px; }
	.sorting .list-inline > li{ display: inline-block; }
	.new-mentorlist-item-wrapper .mentor-details{ float: none; overflow: hidden; width: auto; }
	.new-mentorlist-item-wrapper .mentor-price-rating{ float: none; margin: 0 auto; }
	
    .photoContainer.mentor_dp{ width: 140px; height: 140px; }
    #imgdiv{width: 140px; height: 140px; line-height: 130px; font-size: 56px; }
    .fileUpload.btn{ font-size: 14px; padding: 30px 0; }
    .wxProfilePic .actions{ width: 250px; }
    .intl-tel-input{display: block !important; }
    .user_section p{padding: 10px !important; }
    #chatPage .left, #chatPage .right {display: block; width: auto; float: none; height: auto; }
    #chatPage .left .UserMsgList > div.mb20{ display: block; }
    .steps .title-sm{  margin: 10px 0 10px; }
    #chatPage .form-group.typeOfMsg{ margin-top: 0; padding-top: 15px; }
    .UserMsgList ul li a .MsgerName{display: inline-block; }
    #chatPage{background: url(../images/chatBg.jpg) no-repeat center; }
    #chatPage .UserMsgList{float: none; }
    .msgerTop h2{display: inline-block; }
    .msgerTop  a{  font-size: 16px; }
    td.wrapper{display: block; }
    #become_a_mentor_submit_frm .spacing40{margin: 2px 0; }
    .tabbable-panel .tabbable-line > .nav-tabs > li > a{font-size: 12px; }
    .text-right.becomeamentor{text-align: center; }
    .well.steps .red-bg{margin-bottom: 2px; }
    .calendarTz{margin: 0 !important; }
    
    .fc-toolbar .fc-center{ padding-left: 50px; padding-right: 50px;   }
    .fc-toolbar .fc-center h2{font-size: 22px; }
    #addPromoCodeForm .select2-container{ width: 100% !important;  }
    #addPromoCodeForm #lstUserList + .select2{ margin-left: -13px; margin-right: -13px;  }

    .tzdpdw .btn{float: none !important; display: block; margin-bottom: 5px; text-align: center; }
    .tzdpdw .select2-hidden-accessible{ position: static; }
    .tzdpdw .select2-container{ display: block; }
    .mentor_dp #imgdiv{ font-size: 56px; }
    .spacingTable .promocode_table{ min-width: 770px; }
    #DataTables_Table_0_paginate .paginate_button{ margin-bottom: 5px; }
    div.meetingListDetail label{display: block; width: auto; margin: 7px 0 0 0; }
    .author-details .heading-inner{padding-bottom: 6px; margin-bottom: 10px; }
    #frmUserProfile .title-sm + .row .col-sm-3{width: 100%; }

	
}

@media screen and (max-width:479px)
{
    .quickCat a{  margin: 4px 3px 0 0; }
    section{padding-top: 25px; }
    blockquote{font-size: 16px; line-height: 23px; }
    .testimonials-content{margin-bottom: 20px; }
    .static_pages ol{ padding-left: 15px;   }
    .constrain table tr td{ padding: 0 4px; }
	.new-mentorlist-item-wrapper .mentor-img{ float: none; margin: 0 auto 40px auto; }
	.fa-linkedin-highprofile-mentor{ text-align: center; left: 0; right: 0;  }
	.author-details .userinfo h5{ font-size: 18px; line-height: 1.2; }
	.author-details .skills-tags{ padding: 15px 25px;  }
	.btn-reg{ min-width: 100px;  }
    .photoContainer.mentor_dp{float: none; margin: 0 auto; }
    .wxProfilePic .actions{width: auto; margin: 10px 0 5px 0; }
    .select2-container{ width: 250px !important;  }
    .tzdpdw{padding: 0; }
    footer .col-sm-6.copyright{font-size: 13px; padding: 0; }
	
    .inner_top_section h2{font-size: 17px; }
    #become_a_mentor_submit_frm .btn-lg{padding: 10px 9px; font-size: 16px; }
    .tabbable-panel .tabbable-line > .nav-tabs > li{ float: none; }
    .well.steps .mr20{ display: block;  }
    #normalPay .col-sm-12{ padding: 0; }
    #datatable_wrapper table.dataTable thead th, #datatable_wrapper table.dataTable thead td{ padding: 10px 10px; }
    #datatable{min-width: 560px; }

    .fc-toolbar .fc-left{ float: none !important; }
    .fc-toolbar .fc-center{ display: block !important; padding: 8px 0 0 0; clear: both; }
    .fc-toolbar .fc-center h2{font-size: 18px; }
    .fc-toolbar .fc-right{ float: none !important; padding-top: 5px; clear: both; }
    div#calendar{margin-top: 20px; }
    .copyright img{ margin: 0 auto 8px auto; display: block; }
    footer .footerLinks{ margin: 0; }
    .GiveFeedback label{float: none; width: auto; }
    .GiveFeedback .starrr{ float: none; width: auto; }
    #giveReview .modal-footer .btn{ padding: 10px 12px; }
    #searchResultDiv .well{margin-bottom: 0; }


    


}   









