<footer>
    <div class="container">

        <div class="row footerLinks">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h5>Company</h5>
                <ul>
                    <li>
                        <a href="{{frontConstant.ACCESSURL}}aboutus">About</a>
                    </li>
                    <li>
<!--                        <a href="https://wissenx.uservoice.com/knowledgebase" target="_blank">Help</a>-->
                        <a href="https://wissenx.groovehq.com/help_center" target="_blank">Help</a>
                    </li>
                    <li>
                        <a href="{{frontConstant.ACCESSURL}}compliance">Compliance</a>
                    </li>
                    <!--<li>
                        <a href="{{frontConstant.ACCESSURL}}policies">Policies</a>
                    </li>-->
                    <li>
                        <a href="{{frontConstant.ACCESSURL}}terms_of_service">Terms of Service</a>
                    </li>
                    <li>
                        <a href="{{frontConstant.ACCESSURL}}privacy">Privacy</a>
                    </li>
                </ul>
            </div>
            <!--<div class="col-md-4 col-sm-4 col-xs-12">
                <h5>Community</h5>
                <ul>
                    <li><a href="javascript:;">Promos</a></li>
                    <li><a href="javascript:;">Site Map</a></li>
                </ul>
            </div>-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h5>Advisory</h5>
                <ul>
                    <li>
                        <a href="{{frontConstant.ACCESSURL}}why_be_a_mentor">Promote with Nvestlink</a>
                    </li>
                    <li>
                        <a href="{{frontConstant.ACCESSURL}}pricing_mentor_services">Pricing Advisor Services</a>
                    </li>
                    <li>
                        <a href="{{frontConstant.ACCESSURL}}promos">Promos</a>
                    </li>
                    <li>
                        <a href="{{frontConstant.ACCESSURL}}blog" target="_blank">Blog</a>
                    </li>
                   <!-- <li>
                        <a href="{{frontConstant.ACCESSURL}}organisation_register" target="_blank">Become an Organization</a>
                    </li> -->
                     <li>
                        <a href="{{frontConstant.ACCESSURL}}contact_us" target="_blank">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 dc">
                <a href="https://www.google.com/chrome/browser/desktop/index.html" class="btn-primary btn" target="_blank">Download Google Chrome</a>
            </div>            
        </div>

        <div class="col-sm-6 copyright"><img src="{{frontConstant.ACCESSURL}}images/icon.png" alt="">nvestlink.com 2020 All rights reserved.</div>

        <div class="col-sm-6 links-box">

            <!--Social Links-->
            <div class="social-links">
                <a href="#" target="_blank"><span class="icon-linkedin"></span></a>
                <a href="#" target="_blank"><span class="icon-facebook"></span></a>
                <a href="#" target="_blank"><span class="icon-twitter"></span></a>
                <a href="#" target="_blank"><span class="icon-googleplus"></span></a>
            </div>
        </div>
    </div>
</footer>

<script src="{{frontConstant.ACCESSURL}}js/contants.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/jsmessages.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/bootstrap.min.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/freelancer.js?v={{frontConstant.VERSION}}"></script>

<script src="{{frontConstant.ACCESSURL}}js/jquery.validate.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/moment.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/moment-timezone-with-data.min.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/additional-methods.js?v={{frontConstant.VERSION}}"></script>

</body>
</html>
