<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="" src="{{frontConstant.ACCESSURL_ADMIN}}img/adminLogo.png" />
                    </span>
                    <!--<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                        </span> <span class="text-muted text-xs block">Lawyer <b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="email.php">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="login.php">Logout</a></li>
                    </ul>-->
                </div>
                <div class="logo-element">
                    <img alt="image" class="" src="{{frontConstant.ACCESSURL_ADMIN}}img/favicon.png" />
                </div>
            </li>
            <li>
                <a href="{{frontConstant.ACCESSURL_ADMIN}}dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span> <!--<span class="fa arrow"></span>--></a>
            </li>
            <li>
                <a href="{{frontConstant.ACCESSURL_ADMIN}}siteusers"><i class="fa fa-th-large"></i> <span class="nav-label">User Management</span> <!--<span class="fa arrow"></span>--></a>
            </li>
            <li>
                <a href="{{frontConstant.ACCESSURL_ADMIN}}regions"><i class="fa fa-user"></i> <span class="nav-label">Region</span></a>
            </li>
            <li>
                <a href="{{frontConstant.ACCESSURL_ADMIN}}countries/0"><i class="fa fa-user"></i> <span class="nav-label">Countries</span></a>
            </li>
            <li>
                <a href="{{frontConstant.ACCESSURL_ADMIN}}industries"><i class="fa fa-user"></i> <span class="nav-label">Industries</span></a>
            </li>
            <li>
                <a href="{{frontConstant.ACCESSURL_ADMIN}}domain"><i class="fa fa-user"></i> <span class="nav-label">Domain</span></a>
            </li>
            {{!--<li>
                <a href="mentors.php"><i class="fa fa-users"></i> <span class="nav-label">Mentors</span></a>
            </li>
            <li>
                <a href="calendar.php"><i class="fa fa-calendar"></i> <span class="nav-label">Organizations</span></a>
            </li>--}}
            <li>
                <a href="{{frontConstant.ACCESSURL_ADMIN}}refundrequestlist"><i class="fa fa-envelope"></i> <span class="nav-label">Refund Requests</span></a>
            </li>
            {{!--<li>
                <a href="rolodex.php"><i class="fa fa-pie-chart"></i> <span class="nav-label">Disputes</span>  </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bell"></i> <span class="nav-label">CMS</span></a>
            </li>--}}
            <li>
                <a href="{{frontConstant.ACCESSURL_ADMIN}}reports"><i class="fa fa-th-large"></i> <span class="nav-label">Reports</span></a>
            </li>
            <li>
                <a href="{{frontConstant.ACCESSURL_ADMIN}}systemsettings"><i class="fa fa-edit"></i> <span class="nav-label">Settings</span></a>
            </li>
             <li>
                <a href="{{frontConstant.ACCESSURL_ADMIN}}payouts"><i class="fa fa-edit"></i> <span class="nav-label">Payouts</span></a>
            </li>
            <li>
                <a href="{{frontConstant.ACCESSURL_ADMIN}}broadcasts"><i class="fa fa-edit"></i> <span class="nav-label">Broadcasts</span></a>
            </li>
        </ul>
    </div>
</nav>