<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-transparent navbar-fixed-top navbar-custom affix-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <div class="logo">
                <a href="{{frontConstant.ACCESSURL}}">
                    <img src="{{frontConstant.ACCESSURL}}images/sourceadvisor-logo.png">
                </a>
            </div>
        </div>
        <input type="hidden" id="loginuser" value="{{ arrSessionData.userId}}" />
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{{frontConstant.ACCESSURL}}dashboard">Dashboard</a></li>

                {{#ifCond arrSessionData.userType '!=' 'user'}}
                <li><a href="{{frontConstant.ACCESSURL}}mentor/meetings">My Meetings</a></li>
                {{/ifCond}} 
                {{#ifCond arrSessionData.userType '==' 'user'}}
                <li><a href="{{frontConstant.ACCESSURL}}users/meetings">My Meetings</a></li>
                {{/ifCond}}


                {{#ifCond arrSessionData.userType '!=' 'user'}}
                <li><a href="{{frontConstant.ACCESSURL}}mentor/transactions">Transactions</a></li>
                {{/ifCond}} 
                {{#ifCond arrSessionData.userType '==' 'user'}}
                <li><a href="{{frontConstant.ACCESSURL}}users/transactions">Transactions</a></li>
                {{/ifCond}}

                {{#ifCond arrSessionData.userType '!=' 'user'}}
                <li><a href="{{frontConstant.ACCESSURL}}mentor/messages">Messages</a></li>
                {{/ifCond}} 
                {{#ifCond arrSessionData.userType '==' 'user'}}
                <li><a href="{{frontConstant.ACCESSURL}}users/messages">Messages</a></li>
                {{/ifCond}}
                <li class="mobilemenuVisible"><a href="#">Notification</a></li>
                <li class="mobilemenuVisible"><a href="#">My Profile</a></li>
                <li class="mobilemenuVisible"><a href="#">Settings</a></li>
                <li class="mobilemenuVisible"><a href="#">Logout</a></li>
            </ul>
            <input type="hidden" value="{{frontConstant.ACCESSURL}}" id="frontUrl" />
            <ul class="nav navbar-nav nav-action navbar-right mobilemenuHidden">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-comment nav-icon"></span><span id="navbarMsgCount" class="label label-badge">0</span>
                    </a>
                    <ul class="dropdown-menu width" id="dropdown_menu_msg"></ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                            class="fa fa-bell nav-icon"></span><span id="navbarNotificationCount" class="label label-badge">32</span>
                    </a>
                    <ul class="dropdown-menu width">
                        <li><a href="#"><label class="noti-content">Favourites Snippet</label><span class="noti-time">8:00 AM</span></a></li>
                        <li><a href="#"><label class="noti-content">Email marketing</label><span class="noti-time">9:00 AM</span></a></li>
                        <li><a href="#"><label class="noti-content">Subscriber focused email design</label><span class="noti-time">8:00 AM</span></a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="view-all">View All</a></li>
                    </ul>
                </li>
                <li class="dropdown userprofile">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!--<span class="fa fa-user nav-icon"></span>-->
                        <img class="img img-responsive"src="{{arrSessionData.finalProfileImageUrl}}" />
                        <span class="UserNameNAV">Hi, {{arrSessionData.firstName}}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{frontConstant.ACCESSURL}}users/profile"><span class="fa fa-user nav-icon"></span>Profile</a></li>
                        <li><a href="{{frontConstant.ACCESSURL}}users/settings"><span class="fa fa-cog nav-icon"></span>Settings</a></li>
                        
                        {{#ifCond arrSessionData.userType '!=' 'user'}}
                        <li><a href="{{frontConstant.ACCESSURL}}mentor/calendar"><span class="fa fa-calendar nav-icon"></span>Mentor Calendar</a></li>
                        {{/ifCond}} 
                        <!--<li><a href="{{frontConstant.ACCESSURL}}users/slot_booking"><span class="fa fa-cog nav-icon"></span>User Calendar</a></li>-->
                        <li class="divider"></li>
                        <li><a href="{{frontConstant.ACCESSURL}}logout"><span class="fa fa-off nav-icon"></span>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

{{#ifCond arrSessionData.userType '!=' 'user'}}
<form id="openSelectedConversation" method="POST" action="{{frontConstant.ACCESSURL}}mentor/messages">
{{/ifCond}} 
{{#ifCond arrSessionData.userType '==' 'user'}}
<form id="openSelectedConversation" method="POST" action="{{frontConstant.ACCESSURL}}users/messages">
    {{/ifCond}}
    <input type="hidden" id="hdn_conversation_id"  name="hdn_conversation_id" value="" />
</form>
<script type="text/javascript">
    var role = '{{arrSessionData.userType}}';
    var userTimeZone = '{{arrSessionData.timezone}}';
</script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/header_msg_noti.js?v={{frontConstant.VERSION}}"></script>