<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-transparent navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <div class="logo">
                <a href="{{frontConstant.ACCESSURL}}">
                    <img src="{{frontConstant.ACCESSURL}}images/sourceadvisor-logo.png">
                </a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="/help">Help</a></li> -->
                <li><a href="/register">Signup</a></li>
                <li><a href="/login">Login</a></li>
                <!--<li class=" customTooltipLink">
                  <a href="/mentor/step1">Be a Mentor</a>
                  <div class="customTooltip">
                    <span><b>An experienced and trusted adviser.</b><br/>
                    Synonyms: adviser, guide, confidant, confidante, counsellor, consultant</span>
                  </div>
                </li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>