<!-- Navigation -->
<nav class="navbar navbar-fixed-top navMenu">
    <div class="menu-wrapper container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="aside-logo navbar-header page-scroll">
            <button type="button" class="navbar-toggle" onclick="openNav()">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
            <div class="logo">
              <a href="{{frontConstant.ACCESSURL}}">
                <img src="{{frontConstant.ACCESSURL}}images/sourceadvisor-logo.png">
              </a>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
