<!-- Navigation -->
<nav class="navbar navbar-fixed-top navMenu">
    <div class="menu-wrapper container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="aside-logo navbar-header page-scroll">
            <button type="button" class="navbar-toggle" onclick="openNav()">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <div class="logo">
                <a href="{{frontConstant.ACCESSURL}}">
                    <img src="{{frontConstant.ACCESSURL}}images/sourceadvisor-logo.png">
                </a>
            </div>
        </div>
        <div class="search-wrapper">
            {{#if hidGlobalSearch}} {{else}} {{> helper/globalsearch}} {{/if}}
        </div>
        <input type="hidden" value="{{frontConstant.ACCESSURL}}" id="frontUrl" />
        <div class="menuList" id="mySidenav">
            <div class="close-nav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{frontConstant.ACCESSURL}}dashboard">Dashboard</a>
                </li>

                {{#ifCond arrSessionData.userType '==' 'user'}}
                <li>
                    <a href="javascript:void(0)" class="beamentor">Be a Mentor</a>
                </li>
                {{/ifCond}}

                {{#ifCond arrSessionData.userType '==' 'mentor'}}
                <li>
                    <a href="{{frontConstant.ACCESSURL}}mentor/calendar">
                        <span class="fa fa-calendar nav-icon"></span>My Calendar
                    </a>
                </li>
                <li>
                    <a href="{{frontConstant.ACCESSURL}}mentor/promocode">
                        <span class="fa fa-ticket nav-icon"></span>Promo Code
                    </a>
                </li>
                {{/ifCond}}


                <li>
                    <a href="{{frontConstant.ACCESSURL}}mentor/meeting_invites">My Invites</a>
                </li>
                <li>
                    <a href="{{frontConstant.ACCESSURL}}users/meetings">My Meetings</a>
                </li>

                <!--<li><a href="{{frontConstant.ACCESSURL}}users/privateInvite">Private Invites</a></li>-->

                <!--{{#ifCond arrSessionData.userType '!=' 'user'}}
                <li><a href="{{frontConstant.ACCESSURL}}mentor/transactions">Transactions</a></li>
                {{/ifCond}} 
                {{#ifCond arrSessionData.userType '==' 'user'}}
                <li><a href="{{frontConstant.ACCESSURL}}users/transactions">Transactions</a></li>
                {{/ifCond}}-->

                <hr> {{#ifCond arrSessionData.userType '!=' 'user'}}
                <li>
                    <a href="{{frontConstant.ACCESSURL}}mentor/messages">Messages</a>
                </li>
                {{/ifCond}} {{#ifCond arrSessionData.userType '==' 'user'}}
                <li>
                    <a href="{{frontConstant.ACCESSURL}}users/messages">Messages</a>
                </li>
                {{/ifCond}}

                <!--<li><a href="{{frontConstant.ACCESSURL}}dashboard">Notifications</a></li>-->
                <!--<hr/>-->
                <li>
                    <a href="{{frontConstant.ACCESSURL}}users/profile">My Profile</a>
                </li>
                <li>
                    <a href="{{frontConstant.ACCESSURL}}users/bookmarked_mentors">Bookmarked Mentors</a>
                </li>
                <li>
<!--                    <a href="https://wissenx.uservoice.com/knowledgebase" target="_blank">Help</a>-->
                    <a href="https://wissenx.groovehq.com/help_center" target="_blank">Help</a>
                </li>
                <li>
                    <a href="{{frontConstant.ACCESSURL}}users/settings">Settings</a>
                </li>
                <li>
                    <a href="{{frontConstant.ACCESSURL}}logout">Logout</a>
                </li>
            </ul>
        </div>
        <div class="aside-menu collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {{#ifCond arrSessionData.userType '==' 'user'}}
                <li>
                    {{!-- <a href="javascript:void(0)" class="beamentor">Be a Mentor</a> --}}
                </li>
                {{/ifCond}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span>My Account</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{frontConstant.ACCESSURL}}dashboard">
                                <span class="fa fa-dashboard nav-icon"></span>Dashboard
                            </a>
                        </li>

                        {{#ifCond arrSessionData.userType '==' 'mentor'}}
                        <li>
                            <a href="{{frontConstant.ACCESSURL}}mentor/calendar">
                                <span class="fa fa-calendar nav-icon"></span>My Calendar
                            </a>
                        </li>
                        <li>
                            <a href="{{frontConstant.ACCESSURL}}mentor/promocode">
                                <span class="fa fa-ticket nav-icon"></span>Promo Code
                            </a>
                        </li>
                        {{/ifCond}}

                        <li>
                            <a href="{{frontConstant.ACCESSURL}}mentor/meeting_invites">
                                <span class="fa fa-users nav-icon"></span>My Invites</a>
                        </li>
                        <li>
                            <a href="{{frontConstant.ACCESSURL}}users/meetings">
                                <span class="fa fa-users nav-icon"></span>My Meetings</a>
                        </li>


                        <!--<li>
                            <a href="{{frontConstant.ACCESSURL}}users/privateInvite">
                                <span class="fa fa-users nav-icon"></span>Private Invites
                            </a>
                        </li>-->

                        <!--<li>
                            {{#ifCond arrSessionData.userType '!=' 'user'}}
                            <a href="{{frontConstant.ACCESSURL}}mentor/transactions">
                                <span class="fa fa-dollar nav-icon"></span>Transactions
                            </a>
                            {{/ifCond}}

                            {{#ifCond arrSessionData.userType '==' 'user'}}
                            <a href="{{frontConstant.ACCESSURL}}users/transactions">
                                <span class="fa fa-dollar nav-icon"></span>Transactions
                            </a>
                            {{/ifCond}}
                        </li>-->

                    </ul>
                </li>
                <li class="dropdown header-message-trigger">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-comment nav-icon"></span>
                        <span id="navbarMsgCount" class="label label-badge">0</span>
                    </a>
                    <ul class="dropdown-menu width" id="dropdown_menu_msg">
                        <li id="loadingLi">
                            <div class="MsgNotif">
                                <div class="details">Please Wait..</div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                             class="fa fa-bell nav-icon"></span><span class="label label-badge">32</span>
                     </a>
                     <ul class="dropdown-menu width">
                         <li><a href="#"><label class="noti-content">Favourites Snippet</label><span class="noti-time">8:00 AM</span></a></li>
                         <li><a href="#"><label class="noti-content">Email marketing</label><span class="noti-time">9:00 AM</span></a></li>
                         <li><a href="#"><label class="noti-content">Subscriber focused email design</label><span class="noti-time">8:00 AM</span></a></li>
                         <li><a href="#" class="view-all">View All</a></li>
                     </ul>
                 </li>-->
                <li class="dropdown header-avatar-trigger">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="value_name UserNameNAV">Hi, {{arrSessionData.firstName}}</span>
                        <div class="media-photo">
                            <img id="himg" class="himg" src="{{arrSessionData.finalProfileImageUrl}}">
                            <div id="himgdiv" class="himgdiv" style="display: none;"></div>
                            <input type="hidden" id="hfname" class="hfname" value="{{arrSessionData.firstName}} {{arrSessionData.lastName}}" />
                            <input type="hidden" id="hiname" class="hiname" value="{{arrSessionData.finalProfileImageUrl}}" />
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        {{#ifCond arrSessionData.userType '==' 'user'}}
                        <li class="customTooltipLink">
                            {{!-- <a href="javascript:void(0)" class="beamentor">
                                <span class="fa fa-user nav-icon"></span>Be a Mentor</a> --}}
                            <!--<a href="{{frontConstant.ACCESSURL}}mentor/become_a_mentor"><span class="fa fa-user nav-icon"></span>Be a Mentor</a>-->
                            <div class="customTooltip left">
                                <span>
                                    <b>An experienced and trusted adviser.</b>
                                    <br/> Synonyms: adviser, guide, confidant, confidante, counsellor, consultant</span>
                            </div>
                        </li>
                        {{/ifCond}}
                        <li>
                            {{!-- <a href="{{frontConstant.ACCESSURL}}users/bookmarked_mentors">
                                <span class="fa fa-bookmark nav-icon"></span>Bookmarked Mentors</a> --}}
                        </li>
                        <li>
                            <a href="{{frontConstant.ACCESSURL}}users/profile">
                                <span class="fa fa-edit nav-icon"></span>Edit Profile</a>
                        </li>
                        <li>
<!--                            <a href="https://wissenx.uservoice.com/knowledgebase" target="_blank">-->
                            <a href="https://wissenx.groovehq.com/help_center" target="_blank">
                                <span class="fa fa-info nav-icon"></span>Help</a>
                        </li>
                        <li>
                            <a href="{{frontConstant.ACCESSURL}}users/settings">
                                <span class="fa fa-cog nav-icon"></span>Settings</a>
                        </li>
                        <li>
                            <a href="{{frontConstant.ACCESSURL}}logout">
                                <span class="fa fa-sign-out nav-icon"></span>Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<input type="hidden" name="hidLoggedInUserId" id="hidLoggedInUserId" value="{{arrSessionData.userId}}" /> {{#ifCond arrSessionData.userType '!=' 'user'}}
<form id="openSelectedConversation" method="POST" action="{{frontConstant.ACCESSURL}}mentor/messages">
    {{/ifCond}} {{#ifCond arrSessionData.userType '==' 'user'}}
    <form id="openSelectedConversation" method="POST" action="{{frontConstant.ACCESSURL}}users/messages">
        {{/ifCond}}

        <input type="hidden" id="hdn_conversation_id" name="hdn_conversation_id" value="" />
    </form>

    <div id="upcomingmeetingpopup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header red">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Upcoming Meeting</h4>
                </div>            

                <div class="modal-body formPopup clearfix">
                    You have an upcoming meeting in next 5 Minutes.
                </div>

                <div class="modal-footer">
                    <a href="javascript:;" class="btn red-bg btn-reg meetingbtn" target="_blank">Join Meeting</a>
                </div>

            </div>
        </div>
    </div>  

    <!--Start of Zendesk Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="https://v2.zopim.com/?5l5BgvMp8OzHICpsX2ChWJbvORVFkyoO";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->

    <script type="text/javascript">
        var role = '{{arrSessionData.userType}}';
        var userTimeZone = '{{arrSessionData.timezone}}';
    </script>
    <script type="text/javascript">
        $(".beamentor").on("click", function () {
            chkbeamentor();
        });

    </script>
    <script src="{{frontConstant.ACCESSURL}}js/webjs/header_msg_noti.js?v={{frontConstant.VERSION}}"></script>