<!-- Navigation -->
<nav class="navbar navbar-fixed-top navMenu">
    <div class="menu-wrapper container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="aside-logo navbar-header page-scroll">
            <button type="button" class="navbar-toggle" onclick="openNav()">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
            <div class="logo">
                <a href="{{frontConstant.ACCESSURL}}">
                    <img src="{{frontConstant.ACCESSURL}}images/sourceadvisor-logo.png">
                </a>
            </div>
        </div>

        <input type="hidden" id="loginuser" value="{{arrSessionData.userId}}" />

        <div class="search-wrapper">
            {{#if hidGlobalSearch}}
            {{else}}
            {{> helper/globalsearch}}
            {{/if}}
        </div>


        <div class="menuList" id="mySidenav">
            <div class="close-nav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {{!-- {{!-- <li><a href="{{frontConstant.ACCESSURL}}login">Be a Mentor</a></li> --}} --}}
                <!--            <li><a href="https://wissenx.uservoice.com/knowledgebase" target="_blank">Help</a></li>-->
                <li><a href="https://wissenx.groovehq.com/help_center" target="_blank">Help</a></li>
                <li><a href="{{frontConstant.ACCESSURL}}register">Signup</a></li>
                <li><a href="{{frontConstant.ACCESSURL}}login">Login</a></li>
            </ul>
        </div>


        <div class="aside-menu collapse navbar-collapse" id="bs-example-navbar-collapse-1">               
            <ul class="nav navbar-nav navbar-right">
                <li class="show_sticky customTooltipLink">
                    <a href="{{frontConstant.ACCESSURL}}login">Be an Advisor</a>
                    <div class="customTooltip">
                        <span><b>An experienced and trusted adviser.</b><br/>
                            Synonyms: adviser, guide, confidant, confidante, counsellor, consultant</span>
                    </div> 
                </li>
                <!--                <li><a href="https://wissenx.uservoice.com/knowledgebase" target="_blank">Help</a></li>-->
                <li><a href="https://wissenx.groovehq.com/help_center" target="_blank">Help</a></li>
                <li><a href="{{frontConstant.ACCESSURL}}register">Signup</a></li>
                <li><a href="{{frontConstant.ACCESSURL}}login">Login</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
    window.$zopim || (function (d, s) {
        var z = $zopim = function (c) {
            z._.push(c)
        }, $ = z.s =
                d.createElement(s), e = d.getElementsByTagName(s)[0];
        z.set = function (o) {
            z.set.
                    _.push(o)
        };
        z._ = [];
        z.set._ = [];
        $.async = !0;
        $.setAttribute("charset", "utf-8");
        $.src = "https://v2.zopim.com/?5l5BgvMp8OzHICpsX2ChWJbvORVFkyoO";
        z.t = +new Date;
        $.
                type = "text/javascript";
        e.parentNode.insertBefore($, e)
    })(document, "script");
</script>
<!--End of Zendesk Chat Script-->