<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<div class="container page">
    <form id="become_a_mentor_submit_frm" class="become_a_mentor_submit_frm" method="post" action="{{frontConstant.ACCESSURL}}mentor/become_a_mentor_update" >
        <!--<h2 class="text-center title-md asterisk">Select how you want to provide your mentoring services</h2>-->
        <div class="row spacing40">
            <div class="col-sm-12 text-center">
                <label class="radio-inline lg-radio" style="display: none;">
                    <input type="radio" name="bcm_mentor" value="mentor" checked="checked"> As Individual Mentor
                </label>
                <!--<label class="radio-inline lg-radio">
                    <input type="radio" name="bcm_mentor" value="organisation"> As a Member of Organization
                </label>-->
                <div class="validationError"></div>
                <div class="mentorOrganization col-sm-8 col-sm-offset-2" style="display:none;">
                    <input type="text" class="form-control" name="organisation_name" placeholder="Select the organization you intend to work with">
                </div>
            </div>
        </div>
        <h2 class="title-sm">Accept our terms & condition to become a mentor</h2>

        <div class="privacyBox well">
            <p>These terms and conditions (“Additional Terms”) form part of the official website (“Website”) of SourceAdvisor Technologies Limited (“SourceAdvisor”) in addition to the Website’s Terms and Conditions of use (“Terms”).  These Additional Terms are binding on all persons who use the Website and/ or the Services of SourceAdvisor as Mentors.  A Mentor agrees that his use of the Website is subject to the Terms and to these Additional Terms.  In case of any conflict between the Terms and these Additional Terms, these Additional Terms shall prevail.  A Mentor may opt to use this Website only if he accepts and abides by all of the Terms and these Additional Terms.  SourceAdvisor may periodically change these Additional Terms without notice to a Mentor and the same shall be binding on a Mentor.</p>

            <p>1. DEFINITIONS</p>
            <p>“Official” shall mean (i) an employee, officer, or other person acting in an official capacity for any regulatory body or government/ semi-government, owned/controlled organisation, enterprise or entity, or public international organization; or (ii) any political party, party official, or candidate for political office; anywhere in the world.</p>
            <p>All capitalized terms used in these Additional Terms without definition have the meanings assigned to them in the Terms on the Website. </p>

            <p>2.  MENTORS </p>

            <p>2.1  (a) Mentors are individual professionals or consultants in various industries and specialties who form a pool of experts across various industries, functions and geographical locations, and provide their expertise, advice, opinions and experiences to various Users who register on the Website in order to consult with them, using the Services provided by SourceAdvisor through the Website.  </p>

            <p>(b) SourceAdvisor also enables organizations to list themselves on the Website and sign up their individual employees as Mentors.  Such organizational sign-up and listing of employees must be validated as may be required by the internal processes of that organization, including approvals from the HR and Compliances sections of that organization as well as the heads of department for each of these individual employees. When a Mentor’s employment with an organization through which he has been registered on the Website, is terminated for any reason, he may reapply to SourceAdvisor for registration, either in his individual capacity, or through another organization, only after a gap of 3 months from the date of termination of employment with his previous organization.</p>

            <p>2.2  Each Mentor acknowledges and agrees to the following: (i) he shall act as a non-agent independent contractor; (ii) he has no authority to act on behalf of SourceAdvisor; (iii) he is not eligible for any SourceAdvisor or other employment benefits based on his participation on the Website; (iv) he shall not identify any User or SourceAdvisor as his employer; (v) he is joining the Website in his individual capacity, unless he has specifically informed SourceAdvisor in writing that he is representing an organization and SourceAdvisor has agreed to the same; and (vi) SourceAdvisor, in its sole discretion, may determine his eligibility as Mentor on the Website.</p>

            <p>2.3  Any Official is ineligible to participate as a Mentor on the Website unless he has taken all requisite approvals in writing from all concerned authorities to enable his participation on, as well as earnings, if any, from, the Website.  A Mentor agrees to immediately notify SourceAdvisor if he becomes an elected/ appointed Official.</p>

            <p>2.4  A Mentor shall not provide medical or legal advice.  A Mentor shall ensure that he has valid and current approvals and certifications that may be necessary, from any competent authority or under any law, to enable him to provide his advice or expertise through the Website.</p>

            <p>2.5  Each Mentor represents that he has not been:</p>
            <p>accused or convicted of, pleaded guilty to, or admitted committing, any offense involving dishonesty or deception;</p>
            <p>sued for theft of corporate assets, fraud, breach of a confidentiality or non-disclosure agreement, breach of fiduciary duty, or any similar action; or</p>
            <p>subject to an order, judgment, action, or investigation of a court or any national or state regulatory or self-regulatory organization, relating to a violation of securities laws or an accusation of civil or criminal fraud or deceptive practices.</p>

            <p>While SourceAdvisor reserves the right to verify this independently, a Mentor agrees to notify SourceAdvisor immediately if his status changes with respect to any of these representations.</p>

            <p>2.6 If a Mentor is, in any way, unsure about his ability to comply with these Additional Terms, then he must decline to participate as a Mentor/ User.</p>



            <p>3.  PARTICIPATION ON THE WEBSITE </p>

            <p>3.1  At all times during his participation on the Website, a Mentor shall act in good faith, in a professional and workmanlike manner, to the best of his ability, and in accordance with the Terms, these Additional Terms and applicable law. When engaging in any online meetings with Users, he agrees to abide by any obligations he may have that limit what he can discuss or the scope of his participation as Mentor.</p>

            <p>3.2 By creating a Listing, a Mentor represents that he is eligible to be a Mentor. In particular, each Mentor confirms that he is not prohibited, or limited in any way, from participating in the Website/ Services by any contract (e.g., employment, consulting, confidentiality, or non-disclosure agreements), his current employer’s policies or codes of conduct if he is employed, or any similar policies or obligations that limit his conduct in any way. Further, to the extent his ability to consult is limited in any way, he confirms that he has obtained all necessary consents or waivers (e.g., the consent of his employer, any company or organization for which he has consulted, or any affiliated academic or government organization) to participate as a Mentor. It is his responsibility to determine whether he is permitted to participate on the Website and be involved with the Services.</p>

            <p>3.3  A MENTOR SHALL DECLINE, OR DISCONTINUE PARTICIPATION IN ANY ONLINE MEETING OR PLATFORM ACTIVITY THAT PRESENTS A CONFLICT OF INTEREST OR WOULD RESULT IN A VIOLATION OF APPLICABLE LAW, THESE ADDITIONAL TERMS, OR HIS OBLIGATIONS TO PAST OR PRESENT EMPLOYERS OR ANY OTHER THIRD PARTY.</p>



            <p>4.  MENTOR CONTENT </p>

            <p>4.1  A Mentor agrees to provide SourceAdvisor with accurate and complete biographical information, including his current job status and at least two years of employment history, and to promptly update that information as it changes. SourceAdvisor may verify information provided by, or about, a Mentor.</p>

            <p>4.2  SourceAdvisor or a User may ask a Mentor for other information about himself, including his ability, availability, or suitability to consult on particular topics or in general. Collectively, such information about him, any information in his Listing and any photographs or images he chooses to add to his profile, as well as any materials, regardless of format, that he submits or uploads to the Website, or otherwise provides to a User or to SourceAdvisor, form the “Mentor Content” on the Website. While SourceAdvisor may revise Mentor Content on his behalf based upon information provided by him or other available sources, he is solely responsible for maintaining and updating his Mentor Content and ensuring its accuracy. He agrees not to confirm any online meeting or consult with any User unless his Mentor Content is accurate, complete, and current as he understands that Users and third parties will rely on such Mentor Content.</p>

            <p>4.3  A Mentor represents that all Mentor Content is his intellectual property or he has obtained all necessary permissions or licenses to such Mentor Content. He agrees not to submit any Mentor Content that is unlawful, threatening, defamatory, profane, deceptive, misleading, infringes on the rights of another, or otherwise violates the Terms or the Additional Terms.</p>

            <p>4.4  Content Created For Users; Client Compliance</p>

            <p>(a)  If a User uses a Mentor’s services for a project, any content created by such Mentor in connection with that project (“Project Content”) is solely owned by the User and may be used by such User for any purpose permitted under that User’s agreement with SourceAdvisor, which may include reproduction, disclosure, transmission, publication, broadcast, and posting, unless otherwise agreed in writing by SourceAdvisor and the User. Any content created by a Mentor independently of, or prior to, any such project  (“Independent Content”) remains the property of the Mentor and he retains all rights, title, and interest in and to such Independent Content; however, he grants the User a perpetual, world-wide, royalty-free, and transferable license to use any Independent Content included in any Project Content. Without limiting the foregoing, a Mentor agrees that each User is free to use any ideas, concepts, know-how, or techniques contained in any content transmitted by a Mentor to that User for any purpose whatsoever, including, but not limited to, developing, manufacturing, and marketing products using such information. Any inventions, discoveries or improvements that are based in full or in part on any content and information created by a Mentor for a User in the course of a project, and all intellectual property rights in such inventions, discoveries, or improvements, shall be owned entirely by and shall be proprietary to the User.</p>

            <p>(b)  SourceAdvisor does not presently record any online meetings between Mentors and Members.  However, a Mentor acknowledges that SourceAdvisor may, in the future, for its own records, document, transcribe or record all online meetings between the Mentor and a Member.  A Mentor further agrees and acknowledges that Members may elect to record or transcribe his consultations or other interactions with him, and that any such recordings or transcriptions are owned by such Member and may be used by such Member for any purpose permitted under that Member's agreement with SourceAdvisor. </p>

            <p>(c)  SourceAdvisor shall maintain records of the dates and duration of all meetings on the Website and shall have the right to log in to any meeting at its discretion.</p>


            <p>4.5  License</p>

            <p>(a)  For all content other than Project Content and Independent Content, a Mentor grants SourceAdvisor a perpetual, world-wide, royalty-free, transferable, and exclusive license to use, distribute, reproduce, publish, reprint, modify, adapt, sublicense, and publicly display such content, in whole or in part, in original form or as edited by SourceAdvisor, in all languages and forms, for any commercial or noncommercial purpose unless otherwise agreed in writing. </p>

            <p>(b)  A Mentor additionally releases SourceAdvisor, and any and all persons acting under its permission or authority from any claim, liability, or action in law, including any claims for defamation, copyright infringement, or invasion of privacy, arising in connection with his content. Further, he agrees to indemnify, defend, and hold harmless SourceAdvisor and its Users from and against any third party claim that his Mentor Content or the use of his Mentor Content infringes upon any patent, trademark, copyright, trade secret, or other intellectual property right.</p>



            <p>5.  ACCEPTANCE AND SCOPE OF CONSULTATIONS </p>

            <p>5.1  Before confirming any appointment with a Member, and before participating in any communication with other Users, a Mentor shall successfully complete the SourceAdvisor tutorial.  </p>

            <p>5.2  A Mentor’s participation in online meetings or consultations is always at his discretion. SourceAdvisor makes no representation regarding the frequency, quantity, or type of consultations he will receive or in which he will be chosen to participate. Unless otherwise agreed in writing by SourceAdvisor, a Mentor will be compensated only for the time he spends interacting with Users on consultations at his agreed rate. He will not be compensated for preparation time, wait time, or time set aside if a consultation with a User does not occur. </p>

            <p>5.3  All interactions with Users must be set up through the Website. If a Mentor meets with a Member without having arranged the contact through the Website, he is not eligible for payment from SourceAdvisor, even if the call is a follow-up to a consultation that was arranged through SourceAdvisor. </p>

            <p>5.4  IF A MENTOR BECOMES CONCERNED WITH THE NATURE OF ANY INQUIRY OR PROJECT BY A MEMBER, OR A USER ATTEMPTS TO INFLUENCE HIS DECISIONS IN ANY WAY, OR A MEMBER IS MARKETING PRODUCTS OR SERVICES TO HIM RATHER THAN CONDUCTING RESEARCH, THE MENTOR MUST DISCONTINUE HIS PARTICIPATION AND NOTIFY WISSENX IMMEDIATELY. Each Mentor shall cooperate fully in any SourceAdvisor inquiry concerning actual, alleged, or potential violations of these Additional Terms or any applicable law.</p>


            <p>6.  PRIVACY POLICY </p>

            <p>6.1  A Mentor agrees that SourceAdvisor may collect, retain, and verify information about him, and contact him by email, telephone, SMS, or otherwise, to process and administer details of his Account on the Website, to provide him with opportunities to participate in Member projects or other activities and to tell him about SourceAdvisor’s business. If he terminates his participation on the Website, SourceAdvisor will use reasonable efforts to cease email and telephone contact with him. A Mentor agrees that SourceAdvisor may also use and analyze his information to administer, support, improve, market, promote, and develop the business of SourceAdvisor, its affiliates, and their respective business partners while he is a Mentor and thereafter. </p>

            <p>6.2  A Mentor agrees that SourceAdvisor may disclose his information to Users and third parties for the purpose of promoting SourceAdvisor’s business, including without limitation by displaying such information on SourceAdvisor 's websites, SourceAdvisor’s third party partner websites, print media, and other materials (collectively, “Marketing Materials”). If he terminates his participation on the Website, SourceAdvisor will use reasonable efforts to discontinue creating and distributing Marketing Materials that contain his information. Notwithstanding the foregoing, any such opt-out will not apply to any content already submitted by him. Mentor agrees that SourceAdvisor may disclose his information and his participation on the Website to third parties, such as current and former employers and companies to whom he has provided services or contracted with, for the purpose of verifying Information submitted by him and/or confirming any consents or approvals he may need to participate on the Website.</p>

            <p>6.3  A Mentor agrees that SourceAdvisor may disclose his information in response to legal process, to protect SourceAdvisor’s or a User’s rights, or as otherwise required by law, or for the prevention or detection of a crime or fraudulent conduct. If SourceAdvisor sells all or part of its company or enters into a partnership with another business entity, he agrees that SourceAdvisor may disclose his information to its new business partners or owners who may then provide him with information about their products and services. A Mentor agrees that SourceAdvisor may share his information with third parties to further the businesses of SourceAdvisor, its affiliates, and their respective business partners provided that each has agreed not to use such information to sell or market products or services to him without his prior consent. SourceAdvisor will not sell a Mentor’s information to third-party marketers or similar organisations. Whenever such information is so shared, SourceAdvisor will always give due consideration to ensure that any disclosure does not cause any unwarranted prejudice to his privacy.</p>

            <p>6.4  Users may be required, by law or their own compliance policies, to disclose certain details of a Mentor’s consulting, including his name and the amount he was paid. A Mentor authorizes SourceAdvisor to make such disclosures on behalf of and at the direction of Users. </p>

            <p>6.5  A Mentor agrees that his information will be held by SourceAdvisor either in Mauritius or in any part of the world where SourceAdvisor has third party information storage facilities. Such information may also be held accessed or transferred by SourceAdvisor staff and third parties working for SourceAdvisor, or SourceAdvisor's subsidiaries and affiliates, inside and outside Mauritius.  </p>

            <p>6.6  A Mentor agrees that SourceAdvisor may, if it so chooses, conduct a background check on him, including through a third-party service, seek to confirm his employment history and education credentials, as well as check for any criminal history. SourceAdvisor may also seek to verify the accuracy of the invoices submitted and confirm the substance of discussions with Users. As it conducts background checks and other verifications, a Mentor shall cooperate with SourceAdvisor and provide any necessary consents.</p>

            <p>6.7  A Mentor agrees that SourceAdvisor may retain his information for its business purposes if he ceases to participate on the Website, except to the extent he resides in a jurisdiction that requires otherwise, provided that SourceAdvisor will protect all such information about him in accordance with the Terms & Additional Terms.</p>

            <p>6.8  The Privacy Policy of SourceAdvisor set out on the Website and as amended from time to time, shall also apply to all Mentors.</p>


            <p>7.  CONFIDENTIALITY</p>

            <p>7.1  During the course of his participation in the online meetings, a Mentor SHALL NOT disclose confidential information, which includes:</p>
            <p>Any material, nonpublic information, whether or not relating to any company, security, industry, or legislation;</p>
            <p>Proprietary information, including trade secrets, copyrighted information, business information, belonging to past or present employers, companies for whom he has consulted, or any other third party;</p>
            <p>Information that he has a duty or has agreed to keep confidential (e.g., by contract, fiduciary duty, etc.);</p>
            <p>Information that was disclosed to him or to which he was permitted access under the assumption or expectation that he keep it confidential; and</p>
            <p>Information he believes may be confidential.</p>

            <p>7.2  Additionally, he will not disclose any information that he is otherwise prohibited from disclosing under applicable law or which might result in his breach of any regulatory, legal, ethical, or professional standard or rule.</p>

            <p>7.3  Each Mentor further agrees to the following:</p>
            <p>if he is an employee or director of a company, he will not (i) discuss or disclose any information about that company (such as its performance, strategy, processes, operations, or products), (ii) accept or engage in any consultations about that company, or (iii) consult for any User he reasonably believes to be a direct competitor of that company in each case without the express written consent of that company;</p>
            <p>if he is an auditor, he will not consult about organizations that he or his employer currently audit or have audited in the last three years;</p>
            <p>if he has worked in the accounting or finance department of a company within the last year, he will not discuss accounting or financial issues relating to that company or its affiliates unless specifically authorized to do so;</p>
            <p>if he is an employee or director of an entity issuing securities in an initial public offering (IPO) or that has made, or is the subject of, a tender offer, or an entity that has acted on behalf of such a company in connections with such tender offer, he will decline all appointments/ online meetings until the commencement of such offering or while the tender offer process is ongoing;</p>
            <p>if he is a lawyer, he will not give legal advice at any online meeting, and will not establish an attorney-client relationship with Users through the Website;</p>
            <p>he will not give investment advice, including without limitation, rating or recommending any security, providing advice as to the value of any security, or providing any advice regarding the advisability of investing in, purchasing, or selling any security unless he is an investment analyst duly certified to do so, by the competent authority;</p>
            <p>he will not discuss legislation, regulation, policy, contracts, or other business that he is in a position to vote upon or otherwise influence; </p>
            <p>he will not accept any compensation other than as provided in the Terms; and</p>
            <p>he will not describe himself to be working for, or on behalf of, SourceAdvisor.</p>

            <p>7.4  SourceAdvisor will, from time to time, inform Mentors of additional rules that they are required to observe and specific topics that they are not permitted to discuss. Each Mentor agrees to observe these rules and any limitations SourceAdvisor may place on what he can discuss.</p>


            <p>8.  CONFIDENTIALITY OF WISSENX AND USER INFORMATION </p>

            <p>8.1  Whilst he is a Mentor and thereafter, a Mentor agrees not to disclose or to attempt to use or personally benefit from any Non Public Information (as defined below) that is disclosed to or known by him because of his participation on the Website until such time as the Non Public Information has become publicly available through no action of his, except to the extent required by law or as expressly permitted by SourceAdvisor. The following should be considered strictly confidential: (1) the identity of Users (e.g., a Mentor should not list Users on his resume or any website); (2) information about consultations; (3) information about any actual or potential business, investment or trading decisions, or transactions of any Users; or (4) any other nonpublic or proprietary information of SourceAdvisor or its Users (collectively, “Non Public Information”). If he is compelled by order of a court or other governmental or legal body (or have notice that such an order is being sought) to divulge any Non Public Information to anyone, the Mentor will promptly notify SourceAdvisor, unless prohibited from doing so by the express terms of a government subpoena or court order, and will cooperate fully with SourceAdvisor in protecting such information to the extent possible under applicable law. Upon request by SourceAdvisor or the applicable User, the Mentor shall return or destroy all Non Public Information in his possession.</p>

            <p>8.2  Notwithstanding the foregoing, if and only to the extent necessary, a Mentor may disclose the general topic and User description to secure any required third-party consent to his participation on the Website or in a consultation prior to accepting an invitation for that consultation.</p>

            <p>8.3  Some consultations are collaborative, and involve working with other Mentors. A Mentor owes the same duty of non-disclosure to such other Mentors as he would to any User under the Terms or these Additional Terms. Additionally, if during the course of consultations, he is first introduced to other Mentors, he may not, directly or indirectly, solicit those Mentors for consultations or other engagements outside of the Website without the prior written consent of SourceAdvisor. </p>


            <p>9.  RELIANCE BY USERS </p>

            <p>9.1  These Additional Terms are intended to benefit Users. Users expect that all consultations will be carried out in accordance with the Terms and these Additional Terms and applicable laws and that, among other things, they will not receive any confidential information, including restricted material/ information, and their own Non Public Information will not be disclosed. Users may from time to time request that a Mentor confirm any part of the Terms and Additional Terms, and any other terms or compliance policies required by Users as a condition to a Mentor’s participation in or payment on a consultation. A Mentor agrees that he shall be obligated to honor such requests in addition to the Terms and these Additional Terms, and that the applicable User shall have the right to directly enforce compliance with such User’s requests. A Mentor understands that other Mentors and Users have the right to directly enforce his compliance with the Terms and these Additional Terms. </p>


            <p>10.  PAYMENTS </p>

            <p>10.1 A Mentor is responsible for providing his, or his organisation’s payment details on his Listing and keeping such information up-to-date. If he is employed, he must follow his employer’s policies that may relate to payment by SourceAdvisor. Within 30 days of completion of a consultation, unless otherwise agreed in writing, a Mentor must request payment through the Website for the work he performed. As a condition to payment, he may be required to provide certain confirmations related to the consultation for SourceAdvisor and/or the concerned User. Payments will be based on the applicable rate in his Listing unless otherwise agreed in writing by SourceAdvisor or as specified by the User. </p>

            <p>10.2 In the event that a Member raises a valid dispute in respect of a Mentor’s request for payment , SourceAdvisor may withhold payment until such dispute is resolved. A Mentor agrees that in the event of any such payment dispute, SourceAdvisor has the sole and final authority to resolve such dispute in SourceAdvisor's reasonable discretion, and he agrees to be bound thereby. He further understands and agrees that he has no right to payment to the extent SourceAdvisor reasonably determines he has violated the Terms or these Additional Terms or SourceAdvisor's compliance rules, provided incorrect information on the Website or violated any law and to the extent he has already received payment for any consultation involving such violations, SourceAdvisor shall have the right to recover such payments in full. </p>

            <p>10.3 SourceAdvisor may require a Mentor to provide additional information as part of SourceAdvisor's security procedures. All fees imposed by any banking institution to process any payment from SourceAdvisor are the Mentor’s sole responsibility. A Mentor agrees that he is responsible for paying any applicable taxes in his jurisdiction on payments he receives from SourceAdvisor, in accordance with applicable law and, if applicable, he agrees to provide SourceAdvisor evidence of such tax payments upon SourceAdvisor’s request. Mentor agrees that in certain cases, SourceAdvisor may be required by law to deduct taxes, charges or duties, before making the payouts to him and he shall not raise any objections in respect of the same.</p>


            <p>11.  Right to Injunction/Limitation on Liability </p>

            <p>11.1 In the event that a Mentor breaches, or threatens to breach, any of the obligations contained in the Terms or Additional Terms or any other terms of use of the Website, he acknowledges that SourceAdvisor’s and/or Users’ remedies at law will be inadequate and that User and/or SourceAdvisor will be entitled to an injunction to prevent his prospective or continuing breach and to maintain the status quo pending any arbitration or litigation. </p>

            <p>11.2 In no event shall SourceAdvisor be liable to a Mentor or any other party for any damages resulting from or relating to his participation as a Mentor, the performance of any services by him as a Mentor, or the business operations of SourceAdvisor, including without limitation for any incidental, consequential, punitive, or special damages regardless of the theory of liability and even if SourceAdvisor was informed of the possibility of such damages. SourceAdvisor agrees that for its part it shall not seek to impose on any individual Mentor any liability for damages based on his performance of services hereunder as a Mentor, including without limitation for any incidental, consequential, punitive, or special damages, so long as such damages do not relate to or arise out of the failure of the Mentor to comply with the Terms or these Additional Terms, including the guidelines and restrictions contained herein, or conduct or activity by the Mentor that constitutes gross misconduct or violates any applicable law. A Mentor is solely responsible for his actions. SourceAdvisor shall have no obligation to defend him, provide him with legal counsel, or pay legal costs and expenses on his behalf.</p>


            <p>12.  COMPLIANCE WITH ANTI-CORRUPTION LAWS</p>

            <p>12.1  A Mentor acknowledges that he is aware of, and has received training on, the U.S. Foreign Corrupt Practices Act, the UK Bribery Act, as well as anti-corruption/anti-bribery laws in general, and commit himself to abide by such laws. Therefore when performing work on behalf of SourceAdvisor or any User he shall not offer, promise, or pay any money, gift, or any other thing of value to any person:</p>
            <p>for the purpose of influencing official actions or decisions, while knowing or having reason to know that any portion of this money, gift or thing shall, directly or indirectly, be given, offered, or promised to any Official;</p>
            <p>for the purpose of obtaining or retaining business or inducing any person to cease to act in good faith, impartially, or in accordance with a position of trust; or</p>
            <p>to improperly induce such person to provide him with information.</p>


            <p>13.  Non-Solicitation of Members and Employees</p>

            <p>13.1  Mentorship on the Website is non-exclusive and there is no minimum time commitment. As a condition to participation as a Mentor on the Website, a Mentor agrees that he shall not knowingly solicit consultation or advisory appointments circumventing the Website,  with a User to whom a Mentor is first introduced through the Website, without the written permission of SourceAdvisor, for a period of one year from such introduction and for a period of one year after the termination of his relationship with SourceAdvisor. A Mentor also agrees not to solicit for employment any employee of SourceAdvisor. </p>

            <p>14.  Assignment</p>

            <p>14.1  A Mentor may not assign consultations or delegate any portion of his work to others (including without limitation to any other employees of his firm) without the Member’s prior written consent and without informing SourceAdvisor of the same. </p>

            <p>15.  Arbitration</p>

            <p>15.1  Any dispute, controversy or claim, whether in tort, contract, or otherwise, that arises from or relates to these Terms & Conditions, shall be exclusively and finally determined by a single-arbitrator under the International Arbitration Act, 2008 in effect from time to time. The enforceability of this arbitration agreement shall be governed by the laws in Mauritius. . The venue for all arbitrations shall be Mauritius, The language to be used in the arbitral proceeding will be English. </p>

            <p>15.2  Arbitration shall not be deemed a waiver of the right to seek injunctive relief in any court of competent jurisdiction as provided for in the Terms. Each party is responsible for its own legal fees, and the arbitrator may not include the payment of attorneys’ fees or expenses as a part of any award. If any provision of this arbitration agreement is found unenforceable, the unenforceable provision shall be severed, and the remaining arbitration terms shall be enforced (but in no case shall there be a class arbitration). A Mentor and SourceAdvisor agree to give up any rights to litigate claims in a court or before a jury or to participate in a class action or representative action with respect to a claim. Other rights that a Mentor would have if he went to court, such as access to discovery, may also be unavailable or may be limited in arbitration.</p>

            <p>16.  Governing Law</p>

            <p>16.1  These Terms & Conditions, as well as any claims arising from or related thereto, whether in tort, contract or otherwise, are governed by Mauritius law and shall be exclusively subject to the jurisdiction of the Courts in Mauritius.</p>

            <p>17.  Severability </p>

            <p>17.1  The invalidity or unenforceability of any provision of these Additional Terms shall not for those reasons alone affect the validity or enforceability of any other provision of these Additional Terms.</p>

            <p>18.  Survival of Certain Provisions </p>

            <p>18.1  The provisions of the sections of these Additional Terms entitled Non-Solicitation of Users, Mentor Content, Privacy Policy, Confidentiality shall survive any termination or expiration of these Additional Terms.</p>

            <p>19.  Termination </p>

            <p>19.1  Subject to a Mentor’s obligation to complete consultations for which he is engaged, he has the right to withdraw from the Website at any time upon notice to SourceAdvisor, and SourceAdvisor has the unlimited right to terminate or limit a Mentor’s Listing or membership on the Website at any time and for any reason. </p>


            <p>By creating a Listing and providing his details, a Mentor acknowledges that he is making express representations to SourceAdvisor and the Users that he will abide by all of the obligations and responsibilities as set forth by SourceAdvisor in these Additional Terms. </p>           
        </div>       
        <div class="col-sm-12">            
            <a href="{{frontConstant.ACCESSURL}}users/profile" class="btn btn-lg pull-right red-bg">Back </a>
            <button style="display: block;" class="go-to-step-1 btn btn-lg pull-right red-bg mr10">Accept & Continue</button>
            <button style="display: none;" class="go-to-step-2 btn btn-lg pull-right red-bg mr10">Accept & Continue</button>
            <button type="button" style="display: none;" class="open_successMentor_popup" data-toggle="modal" data-target="#successMentor"></button>
        </div>
    </form>    
</div>

<div id="successMentor" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p class="text-center">Hello, Your request for being part of the agency <span id="user_org_name"></span> has been submitted and under review from the associated authority. You will receive a confirmation e-mail once approved.</p>
                <div class="text-center">
                    <a href="{{frontConstant.ACCESSURL}}mentor/step2" class="btn red-bg">Start Building your Profile</a>
                </div>
            </div>
            <div class="modal-footer">
                <p class="text-center">You will only be able to accept meeting invites or invite for private meetings after approval from your organization.</p>
            </div>
        </div>
    </div>
</div>


<script src="{{frontConstant.ACCESSURL}}js/webjs/mentors/become_a_mentor.js?v={{frontConstant.VERSION}}"></script>