<div class="fullscreen profile-banner"></div>  
<div class="container page MentProfile">
    <div class="mentor_dp">
        <img src="{{userData.fullProfileImageURL}}"  name="imgUserProfile" id="imgUserProfile">
        <input type="hidden" name="hidProfileImageChange" id="hidProfileImageChange" value="N" />
        <input type="hidden" name="hidOldProfilePic" id="hidOldProfilePic" value="{{arrUserData.fullProfileImageURL}}" />
        <div class="dpAction">
            <a href="javaScript:;" class="btn click"  id="btnCameraUpload">
                <i class="fa fa-camera-retro"></i>
                Take a Photo
            </a>
            <div class="fileUpload btn">
                <i class="fa fa-picture-o"></i>
                <span>Upload Photo</span>
                <input type="file" class="upload"  name="flUserProfileImage" id="flUserProfileImage"/>
            </div>
        </div>
    </div>
    <div class="mentor_dsc">
        <h2 class="name">{{userData.firstName}} {{userData.lastName}}</h2>
        <p class="email"><i class="fa fa-envelope"></i>{{userData.email}}</p>
        {{#if userData.phoneNumber}}
        <p class="phone"><i class="fa fa-phone-square"></i>{{userData.phoneCountry}}-{{userData.phoneNumber}}</p>
        {{/if}}
    </div>

    <h2 class="title-sm">Become an expert at SourceAdvisor to help people with expert advice</h2>

    <div class="well steps">
        <form id="step3_submit_frm" class="step3_submit_frm" method="post" action="{{frontConstant.ACCESSURL}}mentor/step3_update" >
            <h3 class="title-sm">
                Step 3 : Showcase your workfolio to the potentials customers
                <select class="form-control pull-right" id="filterByIndustry" style="width: 20%;margin-top: -20px;margin-left: 10px;">
                    <option value="">--Filter by Industry--</option>
                </select>
                <button type="button" class="btn black-bg btn-reg btn-social pull-right" data-toggle="modal" data-target="#addMentorWorkfolio">Add Workfolio</button>
            </h3>
            {{> helper/error_helper }}

            {{> helper/ajaxnotification_helper }}

            {{> helper/message_helper }}

            <div class="expertise_div"></div>

            <div class="text-center">
                <a href="{{frontConstant.ACCESSURL}}mentor/complianceTest" class="btn red-bg btn-reg mr10">Next</a>
                <a href="{{frontConstant.ACCESSURL}}mentor/step2" class="btn red-bg btn-reg">Back </a>
            </div>
        </form>
    </div>

    <div class="row form-group workfolioClone" style="display: none;">
        <div class="col-sm-12">
            <label class="red-title-md" id="expertiseTitle"></label>
            <input type="hidden" id="industry_id" name="industry_id" />
        </div>
        <div class="col-sm-12">
            <div class="addedList project_link" data-industry-id=""></div>
        </div>
    </div>

    <div class="row">
        <h3 class="title-sm text-center mb40">Looking for inspiration? Check out these successful Mentors profiles</h3>
        {{#each arrMentorData}}
        <div class="col-sm-3">
            <a href="{{../frontConstant.ACCESSURL}}mentorprofile/{{this.slug}}">
                <div class="user-image">
                    <img src="{{this.finalProfileImageUrl}}" class="img-responsive">
                </div>
                <div class="user-info-block">
                    <div class="user-heading">
                        <h3>{{this.name}}</h3>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>

<!-- Add Mentor Workfolio-->
<div id="addMentorWorkfolio" class="modal fade" role="dialog" data-backdrop='static'>
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addWorkfolioForm">
                <div class="modal-header red">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title pull-left">Add Workfolio</h4>
                    <a style="position: absolute;right: 40px;top: 8px;" class="btn black-bg btn-reg pull-right" href="https://wissenx.groovehq.com/knowledge_base/topics/how-to-upload-videos-on-youtube-and-share-them-on" target="_blank">How to upload videos on YouTube</a>
                </div>
                <div class="modal-body formPopup clearfix">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="asterisk">Select Industry</label>
                            <select name="industry" id="industry" class="form-control">
                                <option value="">--Select Industry--</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb10">
                        <div class="col-sm-12">
                            <label class="asterisk">Select Workfolio Type</label><br/>
                            <label class="radio-inline" for="project_form"><input class="radio-inline" type="radio" name="workfolio_type" id="project_form" value="project"/>Project Link</label>
                            <label class="radio-inline" for="media_form"><input class="radio-inline" type="radio" name="workfolio_type" id="media_form" value="media"/>Embed Video</label>
                            <!--<label class="radio-inline" for="upload_form"><input class="radio-inline" type="radio" name="workfolio_type" id="upload_form" value="upload"/>Upload Media</label>-->
                        </div>
                    </div>


                    <div class="row hidden_div project_div">
                        <div class="col-sm-12">
                            <label>Enter Project Title</label>
                            <input type="text" id="project_link_title" name="project_link_title" class="form-control" placeholder="Enter Project Title">
                        </div>
                        <div class="col-sm-12">
                            <label class="mt10 asterisk">Enter Project Link</label>
                            <div class="input-group" style="width: 100%;">
                                <span class="input-group-addon">http(s)://</span>
                                <input type="text" id="project_link" name="project_link" class="form-control" placeholder="Enter Project Link">
                            </div>
                        </div>
                    </div>


                    <div class="row hidden_div media_div">
                        <div class="col-sm-12">
                            <label>Enter Embed Media Title</label>
                            <input type="text" id="media_link_title" name="media_link_title" class="form-control" placeholder="Enter Embed Media Title">
                        </div>
                        <div class="col-sm-12">
                            <label class="mt10 asterisk">Enter Embed Media Link</label>
                            <input type="text" id="media_link" name="media_link" class="form-control" placeholder="Enter Embed Media Link">
                        </div>
                    </div>


                    <div class="row hidden_div upload_div">
                        <div class="col-sm-12">
                            <label>Enter Upload Media Title</label>
                            <input type="text" id="upload_media_title" name="upload_media_title" class="form-control" placeholder="Enter Upload Media Title">
                        </div>
                        <div class="col-sm-12">
                            <label class="mt10 asterisk">Select Upload Media</label>
                            <input type="file" id="upload_video" name="upload_video" class="form-control">
                            <input style="display: none;" type="file" name="uploadMedia" multiple="multiple" />
                            <!--<a href="#" class="uploadMedia"><i class="fa fa-cloud-upload"></i>Upload Media</a>-->
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                        </div>
                    </div>


                    <div class="row description_div mt10">
                        <div class="col-sm-12">
                            <label>Enter Workfolio Description</label>
                            <textarea id="media_desc" name="media_desc" class="form-control" placeholder="Enter Workfolio Description" maxlength="150"></textarea>
                            <span class="pull-right"><span id="chars">150</span> characters remaining</span>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="submit" class="save btn black-bg btn-reg">Save</button>
                    <button type="button" class="btn red-bg btn-reg" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


{{> helper/profile_image_upload_helper}}

<link href="{{frontConstant.ACCESSURL}}css/audioplayer.css?v={{frontConstant.VERSION}}" rel="stylesheet">
<script src="{{frontConstant.ACCESSURL}}js/audiojs/audioplayer.js?v={{frontConstant.VERSION}}"></script>

<link href="{{frontConstant.ACCESSURL}}js/videojs-record/css/video-js.css?v={{frontConstant.VERSION}}" rel="stylesheet">
<link href="{{frontConstant.ACCESSURL}}js/videojs-record/css/videojs.record.css?v={{frontConstant.VERSION}}" rel="stylesheet">

<script src="{{frontConstant.ACCESSURL}}js/videojs-record/js/video.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/videojs-record/js/videojs.record.js?v={{frontConstant.VERSION}}"></script>

<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/jquery.form.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/mentors/become_mentor_3.js?v={{frontConstant.VERSION}}"></script>