<script type="text/javascript" src="//platform.linkedin.com/in.js?v={{frontConstant.VERSION}}">
    api_key:   815s6ux0doajvw
            authorize: false
    /*onLoad: onLinkedInLoad*/
            scope: r_emailaddress r_basicprofile
</script>
<div class="fullscreen profile-banner"></div>  
<div class="container page MentProfile">
    <div class="mentor_dp">
        <img src="{{userData.fullProfileImageURL}}"  name="imgUserProfile" id="imgUserProfile">
        <input type="hidden" name="hidProfileImageChange" id="hidProfileImageChange" value="N" />
        <input type="hidden" name="hidOldProfilePic" id="hidOldProfilePic" value="{{arrUserData.fullProfileImageURL}}" />
        <div class="dpAction">
            <a href="javaScript:;" class="btn click"  id="btnCameraUpload">
                <i class="fa fa-camera-retro"></i>
                Take a Photo
            </a>
            <div class="fileUpload btn">
                <i class="fa fa-picture-o"></i>
                <span>Upload Photo</span>
                <input type="file" class="upload"  name="flUserProfileImage" id="flUserProfileImage"/>
            </div>
        </div>
    </div>
    <div class="mentor_dsc">
        <h2 class="name">{{userData.firstName}} {{userData.lastName}}</h2>
        <p class="email"><i class="fa fa-envelope"></i>{{userData.email}}</p>
        {{#if userData.phoneNumber}}
        <p class="phone"><i class="fa fa-phone-square"></i>{{userData.phoneCountry}}-{{userData.phoneNumber}}</p>
        {{/if}}
    </div>

    <h2 class="title-sm">Become an expert at SourceAdvisor to help people with expert advice</h2>

    <div class="well steps">
        <form id="step2_submit_frm" class="step2_submit_frm" method="post" action="{{frontConstant.ACCESSURL}}mentor/step2_update" >
            <input type="hidden" name="check_emp_his" id="check_emp_his" value=""/>
            <input type="hidden" name="check_expertise" id="check_expertise" value=""/>
            <input type="hidden" name="check_expertise_ids" id="check_expertise_ids" value=""/>

            <h3 class="title-sm">
                Step 2 : Build your professional profile
                <!--<a href="#" class="btn btn-linkedin btn-social pull-right"><i class="fa fa-linkedin-square"></i>Connect LinkedIn</a>
                <button class="btn btn-linkedin btn-social pull-right sanchit">Connect LinkedIn</button>
                <script type="in/Login"></script>-->
            </h3>
            {{> helper/error_helper }}

            {{> helper/ajaxnotification_helper }}

            {{> helper/message_helper }}
            <div class="row form-group">
                <div class="col-sm-12">
                    <label>Profession</label>
                </div>
                <div class="col-sm-5">
                    <input type="text" name="profession" id="profession" class="form-control" placeholder="Designation….eg: Managing Director, CEO, CFO…">
                </div>
                <div class="col-sm-7">
                    <input type="text" name="job_description" id="job_description" class="form-control" placeholder="Functional Title/Domain…..eg: Head of Asia, Finance,  Head of Operations">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                    <label>Company Details</label>
                </div>
                <div class="col-sm-5">
                    <select class="form-control" name="employment_type" id="employment_type">
                        <option value="">--Select Company Type--</option>
                        <option value="work_for_an_organization">Work for an Organization</option>
                        <option value="self_employed">Self Employed</option>
                    </select>
                </div>
                <div class="col-sm-7">
                    <input type="text" name="company_name" id="company_name" class="form-control" placeholder="Company Name">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                    <label>Punchline</label>
                </div>
                <div class="col-sm-12">
                    <input type="text" name="punchline" id="punchline" class="form-control" placeholder="Write a Headline which describes your expertise briefly">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                    <label>Overview</label>
                </div>
                <div class="col-sm-12">
                    <textarea id="overview" name="overview" class="ckeditor"></textarea> 
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12 mb10">
                    <label>Keynote Video</label>
                    <a class="btn red-bg btn-reg pull-right" href="https://wissenx.groovehq.com/knowledge_base/topics/how-to-upload-videos-on-youtube-and-share-them-on" target="_blank">How to upload videos on YouTube</a>
                </div>


                <!--<div class="keynote_option recorded col-sm-4">
                    <a href="#" class="videoUpload recorded_video">
                        <i class="fa fa-video-camera"></i>Record Video
                    </a>
                </div>-->


                <div class="keynote_option youtube col-sm-12">
                    <a href="#" class="videoUpload youtube_video">
                        <i class="fa fa-youtube"></i>Youtube Link
                    </a>
                </div>


                <!--<div class="keynote_option uploaded col-sm-6">
                    <a href="#" class="videoUpload uploaded_video">
                        <i class="fa fa-cloud-upload"></i>Upload Video
                    </a> 
                </div>-->

                <div style="display: none" class="keynote_option_final video_container col-sm-4"></div>
                <div style="display: none" class="keynote_option_final col-sm-8">
                    <a href="#" class="remove_keynote"><i class="fa fa-times"></i>Remove</a>
                </div>
            </div>

            <!-- <div class="row form-group">
                <div class="col-sm-12">
                    <label>Location Information</label>
                </div>
                <div class="col-sm-6">
                    <select name="location_country" id="location_country" class="form-control">
                        <option value="">--Select Country--</option>
                        <option>India</option>
                        <option>USA</option>
                        <option>UK</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <input type="text" name="location_city" id="location_city" class="form-control" placeholder="Location City">
                    <select name="location_city" id="location_city" class="form-control">
                        <option value="">--Select City--</option>
                        <option>Ahmedabad</option>
                        <option>Mumbai</option>
                        <option>Delhi</option>
                    </select>
                </div>
            </div>-->

            <div class="row form-group">
                <div class="col-sm-12">
                    <label class="check_expertise asterisk">Expertise</label>
                    <div class="table-responsive employment_expertise">
                        <table class="table expertise_table" border="1">
                            <thead>
                                <tr>
                                    <th>Industry</th>
                                    <th>Sub-Industry</th>
                                    <th>Domain</th>
                                    <th>Region</th>
                                    <th>Sub-Region</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <button type="button" class="btn black-bg btn-reg" data-toggle="modal" data-target="#addExpertise">Add Expertise</button>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                    <label>Add organizations you expertise on (Maximum 10)</label>
                    <input type="hidden" name="expertise_organization" value="" />
                    <div id="maxNumTags"></div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                    <label class="check_emp_his">Employment History</label>
                    <div class="table-responsive employment_history">
                        <table class="table employmenthistory_table" border="1">
                            <thead>
                                <tr>
                                    <th>Role/Designation</th>
                                    <th>Job Function</th>
                                    <th>Employment Status</th>
                                    <th>Company Name</th>
                                    <th>Duration</th>
                                    <th>Job Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                        <button type="button" class="btn black-bg btn-reg" data-toggle="modal" data-target="#addEmployment">Add Employment History</button>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button style="display: none;" id="next_button" class="btn red-bg btn-reg">Next</button>
                <a href="{{frontConstant.ACCESSURL}}mentor/step1" class="btn red-bg btn-reg">Back </a>
            </div>
        </form>
    </div>


    <div id="addExpertise" class="modal fade" role="dialog" data-backdrop='static'>
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="addExpertise_form" name="addExpertise_form"  action="{{frontConstant.ACCESSURL}}mentor/save_mentor_expertise" method="POST">
                    <input type="hidden" id="expertise_id" name="expertise_id" value="0" />
                    <div class="modal-header red">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><span id="expertiseModalTitle">Add an</span> Expertise</h4>
                    </div>
                    <div class="modal-body formPopup clearfix">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="asterisk">Select Industry</label>
                                <select name="expertise_industry" id="expertise_industry" class="form-control">
                                    <option value="">--Select Industry--</option>
                                    {{#each masterData.industriesList}}
                                    <option value="{{this.industry_id}}">{{this.industry_name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label class="asterisk">Select Sub-Industry</label>
                                <select name="expertise_sub_industry" id="expertise_sub_industry" class="form-control">
                                    <option value="">--Select Sub-Industry--</option>
                                    {{#each masterData.subIndustriesList}}
                                    <option style="display: none;" data-industry-id="{{this.industry_id}}" value="{{this.subindustry_id}}">{{this.subindustry_name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="asterisk">Domain</label>
                                <select name="expertise_domain" id="expertise_domain" class="form-control">
                                    <option value="">--Select Domain--</option>
                                    {{#each masterData.domainList}}
                                    <option value="{{this.master_domain_id}}">{{this.domain_name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label class="asterisk">Select Region</label>
                                <select name="expertise_region" id="expertise_region" class="form-control">
                                    <option value="">--Select Region--</option>
                                    {{#each masterData.regionList}}
                                    <option value="{{this.region_id}}">{{this.region_name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="asterisk">Select Sub-Region</label>
                                <select name="expertise_sub_region" id="expertise_sub_region" class="form-control">
                                    <option value="">--Select Sub-Region--</option>
                                    {{#each masterData.countriesList}}
                                    <option style="display: none;" data-region-id="{{this.regionId}}" value="{{this.countryId}}">{{this.countryName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="save btn black-bg btn-reg">Save</button>
                        <button type="submit" class="savemore btn red-bg btn-reg">Save & add more</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="addEmployment" class="modal fade" role="dialog" data-backdrop='static'>
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="add_emp_his_form" name="add_emp_his_form" action="{{frontConstant.ACCESSURL}}mentor/save_employment_history" method="POST">
                    <input type="hidden" id="employment_id" name="employment_id" value="0" />
                    <div class="modal-header red">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><span id="employmentModalTitle">Add</span> Employment History</h4>
                    </div>
                    <div class="modal-body formPopup clearfix">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="asterisk">Role / Designation</label>
                                <input id="emp_his_role" name="emp_his_role" type="text" class="form-control" placeholder="Designation….eg: Managing Director, CEO, CFO…">
                            </div>
                            <div class="col-sm-6">
                                <label class="asterisk">Job Function</label>
                                <input id="emp_his_job_func" name="emp_his_job_func" type="text" class="form-control" placeholder="Functional Title/Domain…..eg: Head of Asia, Finance,  Head of Operations">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="asterisk">Employment Status</label>
                                <select id="emp_his_self_emp" name="emp_his_self_emp" class="form-control">
                                    <option value="">--Select Employment Status--</option>
                                    <option value="work_for_an_organization">Work for an Organization</option>
                                    <option value="self_employed">Self Employed</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label class="asterisk">Company Name</label>
                                <input id="emp_his_comp_name" name="emp_his_comp_name" type="text" class="form-control" placeholder="Company Name">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="asterisk">Duration From</label>
                                <input id="emp_his_dur_from" name="emp_his_dur_from" type="text" class="form-control" placeholder="MM/YYYY">
                            </div>
                            <div class="col-sm-6">
                                <label class="asterisk">Duration To</label>
                                <input id="emp_his_dur_to" name="emp_his_dur_to" type="text" class="form-control" placeholder="MM/YYYY">

                                <input id="emp_his_dur_present" name="emp_his_dur_present" type="checkbox" class="" value="1">
                                <label for="emp_his_dur_present">I currently work here</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>Job Description</label>
                            <textarea class="ckeditor" name="emp_his_job_desc" id="emp_his_job_desc"></textarea> 
                        </div>            
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="save btn black-bg btn-reg">Save</button>
                        <button type="submit" class="savemore btn red-bg btn-reg">Save & add more</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Embed Youtube Video-->
    <div id="addYoutubeVideo" class="modal fade" role="dialog" data-backdrop='static'>
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="add_keynote_youtube" name="add_keynote_youtube" action="{{frontConstant.ACCESSURL}}mentor/addKeynoteVideo" method="POST">
                    <input type="hidden" name="keynote_type" value="youtube" />
                    <div class="modal-header red">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Embed Youtube URL</h4>
                    </div>
                    <div class="modal-body formPopup clearfix">
                        <div class="col-sm-12">
                            <label>Title</label>
                            <input id="keynote_title" name="keynote_title" type="text" class="form-control">
                        </div>
                        <div class="col-sm-12">
                            <label class="asterisk">Youtube Embed URL</label>
                            <input id="youtube_embed" name="youtube_embed" type="text" class="form-control">
                            <label class="lblHint">(Please enter youtube Embed URL)</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="save btn black-bg btn-reg">Save</button>
                        <button type="button" class="btn red-bg btn-reg" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Record Keynote Video-->
    <div id="addRecordedVideo" class="modal fade" role="dialog" data-backdrop='static'>
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="add_keynote_record" name="add_keynote_record" action="" method="POST">
                    <input type="hidden" name="keynote_type" value="record" />
                    <div class="modal-header red">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Record Keynote Video</h4>
                    </div>
                    <div class="modal-body formPopup clearfix">
                        <div class="col-sm-12">
                            <p>Not working yet. Will be done once SSL Certificates are installed.</p>
                            <!--<input style="display: none;" id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>-->
                            <!--<video id="myVideo" class="video-js vjs-default-skin"></video>-->
                            <!--<div class="progress">
                                <div class="progress-bar" role="progressbar"></div>
                            </div>-->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="save btn black-bg btn-reg">Save</button>
                        <button type="button" class="btn red-bg btn-reg" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Upload Keynote Video-->
    <div id="addUploadVideo" class="modal fade" role="dialog" data-backdrop='static'>
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="add_keynote_upload"  enctype="multipart/form-data" name="add_keynote_upload" action="" method="POST">
                    <input type="hidden" name="keynote_type" value="upload" />
                    <div class="modal-header red">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Upload Keynote Video</h4>
                    </div>
                    <div class="modal-body formPopup clearfix">
                        <div class="col-sm-12">
                            <label>Title</label>
                            <input id="keynote_title" name="keynote_title" type="text" class="form-control">
                        </div>
                        <div class="col-sm-12">
                            <label class="asterisk">Upload Video</label>
                            <input type="file" id="upload_video" name="upload_video"  class="form-control" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="save btn black-bg btn-reg">Save</button>
                        <button type="button" class="btn red-bg btn-reg" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <h3 class="title-sm text-center mb40">Looking for inspiration? Check out these successful Mentors profiles</h3>
        {{#each masterData.arrMentorData}}
        <div class="col-sm-3">
            <a href="{{../frontConstant.ACCESSURL}}mentorprofile/{{this.slug}}">
                <div class="user-image">
                    <img src="{{this.finalProfileImageUrl}}" class="img-responsive">
                </div>
                <div class="user-info-block">
                    <div class="user-heading">
                        <h3>{{this.name}}</h3>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>
{{> helper/profile_image_upload_helper}}

<link href="{{frontConstant.ACCESSURL}}css/bootstrap-tags.css?v={{frontConstant.VERSION}}" rel="stylesheet">

<link href="{{frontConstant.ACCESSURL}}css/jquery.dataTables.min.css?v={{frontConstant.VERSION}}" rel="stylesheet">
<script src="{{frontConstant.ACCESSURL}}js/jquery.dataTables.min.js?v={{frontConstant.VERSION}}"></script>

<script src="{{frontConstant.ACCESSURL}}js/ckeditor/ckeditor.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/jquery.form.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/bootstrap-tags.js?v={{frontConstant.VERSION}}"></script>

<link href="{{frontConstant.ACCESSURL}}js/videojs-record/css/video-js.css?v={{frontConstant.VERSION}}" rel="stylesheet">
<script src="{{frontConstant.ACCESSURL}}js/videojs-record/js/video.js?v={{frontConstant.VERSION}}"></script>

<script src="{{frontConstant.ACCESSURL}}js/videojs-record/js/RecordRTC.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/videojs-record/js/plugins/videojs.record.lamejs.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/videojs-record/js/plugins/videojs.record.libvorbis.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/videojs-record/js/plugins/videojs.record.opus-recorder.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/videojs-record/js/plugins/videojs.record.recorderjs.js?v={{frontConstant.VERSION}}"></script>

<script src="{{frontConstant.ACCESSURL}}js/webjs/mentors/become_mentor_2.js?v={{frontConstant.VERSION}}"></script>