<div class="fullscreen profile-banner"></div>  
<div class="container page MentProfile">
    <div class="mentor_dp">
        <img src="{{userData.fullProfileImageURL}}"  name="imgUserProfile" id="imgUserProfile">
        <input type="hidden" name="hidProfileImageChange" id="hidProfileImageChange" value="N" />
        <input type="hidden" name="hidOldProfilePic" id="hidOldProfilePic" value="{{arrUserData.fullProfileImageURL}}" />
        <div class="dpAction">
            <a href="javaScript:;" class="btn click"  id="btnCameraUpload">
                <i class="fa fa-camera-retro"></i>
                Take a Photo
            </a>
            <div class="fileUpload btn">
                <i class="fa fa-picture-o"></i>
                <span>Upload Photo</span>
                <input type="file" class="upload"  name="flUserProfileImage" id="flUserProfileImage"/>
            </div>
        </div>
    </div>
    <div class="mentor_dsc">
        <h2 class="name">{{userData.firstName}} {{userData.lastName}}</h2>
        <p class="email"><i class="fa fa-envelope"></i>{{userData.email}}</p>
        {{#if userData.phoneNumber}}
        <p class="phone"><i class="fa fa-phone-square"></i>{{userData.phoneCountry}}-{{userData.phoneNumber}}</p>
        {{/if}}
    </div>

    <h2 class="title-sm">Become an expert at nvestlink to help people with expert advice</h2>
    {{> helper/error_helper }}

    {{> helper/ajaxnotification_helper }}

    {{> helper/message_helper }}
    <div class="well steps">
        <form id="step1_submit_frm" class="step1_submit_frm" method="post" action="{{frontConstant.ACCESSURL}}mentor/step1_update" >
            <h3 class="title-sm">Step 1 : Set your Commercial Policies</h3>  
            <div class="row form-group">
                <div class="col-sm-12">
                    <label class="asterisk">Set your hourly rate</label>
                </div>
                <div class="col-sm-5">
                    <input id="hourly_rate" name="hourly_rate" maxlength="5" type="text" class="form-control hourly_rate">
                </div>
                <div class="col-sm-1">
                    <p class="mid-form">USD</p>
                    <input type="hidden" id="rate_currency" name="currency" value="USD" />
                </div>
                <div class="col-sm-6">
                    <p class="mid-form">Net payout<label class="redAstrisk">*</label>&nbsp;&nbsp;to you: <span id="hourly_rate_text">0</span> <span id="rate_currency_text">USD</span> / Hour</p>
                </div>
            </div>
            <p><label class="redAstrisk">*&nbsp;</label>Please note this is an approximation of the net payout, actual payout would depend on nvestlink fees charged to mentor, promos offered by you, or taxes applicable if any.</p>
            <div class="row form-group">
                <div class="col-sm-12">
                    <label class="mr20 asterisk">Cancellation Policy Type:</label>
                    {{#if arrCancellationPolicyData}}
                        {{#each arrCancellationPolicyData}} 
                            <div class="radio-inline customTooltipLink becomeamentor">
                                <label>
                                    <input type="radio" name="cancellation_policy_type" value="{{this.policyType}}" />
                                    {{this.policyLabel}}
                                    <div class="customTooltip">
                                        <a href="{{this.cancellationPolicyLink}}" class="cancellationPolicyLink" target="_blank" title="{{this.policyDescription}}" >
                                            <span>{{this.policyDescription}}</span>
                                        </a>
                                    </div>
                                </label>
                            </div>        
                        {{/each}}
                    {{/if}}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <label class="asterisk">nvestlink Profile Link</label>
                </div>
                <div class="col-sm-8">
                    <div class="input-group" style="width: 100%;">
                        <span class="input-group-addon">{{frontConstant.ACCESSURL}}mentorprofile/</span>
                        <input id="slug" name="slug" type="text" class="form-control">
                    </div>
                </div>

            </div>                         

            <div class="text-center">
                <button class="btn red-bg btn-reg mr10">Next</button>
                <a href="{{frontConstant.ACCESSURL}}mentor/become_a_mentor" class="btn red-bg btn-reg">Back </a>
                <!--<a href="step2" class="btn red-bg btn-reg">Next</a>-->
            </div>
        </form>
    </div>

    <div class="row">
        <h3 class="title-sm text-center mb40">Looking for inspiration? Check out these successful Mentors profiles</h3>
        {{#each arrMentorData}}
        <div class="col-sm-3">
            <a href="{{../frontConstant.ACCESSURL}}mentorprofile/{{this.slug}}">
                <div class="user-image">
                    <img src="{{this.finalProfileImageUrl}}" class="img-responsive">
                </div>
                <div class="user-info-block">
                    <div class="user-heading">
                        <h3>{{this.name}}</h3>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
       
    </div>
</div>
{{> helper/profile_image_upload_helper}}
<script src="{{frontConstant.ACCESSURL}}js/jquery.numeric.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/mentors/become_mentor_1.js?v={{frontConstant.VERSION}}"></script>