<div class="fullscreen inner-banners compliance">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>Compliance</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container page MentProfile">
    <div class="mentor_dp">
        <img src="{{userData.fullProfileImageURL}}"  name="imgUserProfile" id="imgUserProfile" class="imgUserProfile">
        <div class="imgdiv" id="complainceimgdiv" style="display:none;"></div>
        <input type="hidden" name="hidProfileImageChange" id="hidProfileImageChange" value="N" />
        <input type="hidden" name="hidOldProfilePic" id="hidOldProfilePic" value="{{arrUserData.fullProfileImageURL}}" />
        <div class="dpAction">
            <a href="javaScript:;" class="btn click"  id="btnCameraUpload">
                <i class="fa fa-camera-retro"></i>
                Take a Photo
            </a>
            <div class="fileUpload btn">
                <i class="fa fa-picture-o"></i>
                <span>Upload Photo</span>
                <input type="file" class="upload"  name="flUserProfileImage" id="flUserProfileImage"/>
            </div>
        </div>
    </div>
    <div class="mentor_dsc">
        <h2 class="name">{{userData.name}}</h2>
        <p class="email"><i class="fa fa-envelope"></i>{{userData.email}}</p>
        <p class="phone"><i class="fa fa-phone-square"></i>{{userData.phoneCountry}}-{{userData.phoneNumber}}</p>
    </div>

    <h2 class="title-sm">Become an expert at SourceAdvisor to help people with expert advice</h2>

    <div class="well steps complianceTest" style="display:block;overflow:hidden;width:100%;height:100%;">
        <h3 class="title-sm">
            SourceAdvisor Compliance Framework
            <a href="{{frontConstant.ACCESSURL}}users/profile" class="btn btn-linkedin btn-social pull-right"><i class="fa fa-sign-out"></i>Skip</a>
        </h3>
        <div class="row form-group">
            <div id="complianceTestIntro">
                <p>Thank you for listing your mentoring services of SourceAdvisor. </p>

                <p>SourceAdvisor is a trusted market place for professionals to list their unique knowledge, experiences and expertise in a given industry and then share it with knowledge seekers via pre-booked live audio and video meeting facilities.</p>

                <p>SourceAdvisor is a knowledge sharing platform built of mutual trust, & respect and adhering to the highest ethical and regulatory standards of knowledge exchange and confidentiality.</p>

                <p>In addition to your acceptance of the Terms, Privacy and Mentor terms while signing-up to SourceAdvisor, we have devised a tutorial to make mentors and participants aware and cognizant of the Dos & Don’ts while imparting such knowledge, experiences and expertise around an industry or an organization.</p>

                <p>Knowledge sharing is a responsible service and due care has to be taken that such an exchange does not contravene regulations around material non-public information, insider trading, intellectual property rights, copyrights and trademarks, among others.  For a more description of these terms, we strongly recommend that mentors and knowledge seekers refer to our Compliance Framework section before attempting the tutorial.  Descriptions in the Compliance Framework section are in no way an exhaustive list of the relevant regulations, but instead a guide to familiarize mentors and knowledge seekers to the terms of engagement with each other. If you wish further understanding on the said topics, we recommend you refer your queries to your internal compliance teams or your external legal counsel.</p>

                <p>In this endeavor, before any mentor can accept a meeting booking request to engage with a knowledge seeker; the mentor needs to complete the ensuing tutorial. The tutorial is a set of 10 scenarios each offering you multiple choices to respond to the given scenario.  On successful completion of the tutorial, mentors can accept meeting requests and move ahead with building their viable mentoring service offering.</p>

                <p>The broad framework of the tutorial encompasses:</p>
                <ul>
                    <li><p>You will be showcased 10 random scenarios</p></li>
                    <li><p>You have to answer all 10 on them and cannot skip any</p></li>
                    <li><p>You need to select the correct answers from the multiple choice offered</p></li>
                    <li><p>There is no time limit to complete the tutorial</p></li>
                    <li><p>The tutorial must be completed in one sitting.  You cannot save and finish later</p></li>
                    <li><p>The tutorial permits you to go back and provide correct inputs</p></li>
                    <li><p>Successful completion means answering 8 out of 10 scenarios successfully.</p></li>
                </ul>
                <br/>
                <p>Few samples of the type of scenarios that you will be asked in the tutorial are listed in the Compliance Framework section.</p>

                <p>Best wishes and happy mentoring</p>
                <p>Team SourceAdvisor</p>
            </div>

            <div id="complianceTestIframe" style="display: none;">
                <iframe style="border: none;text-align: center;" id="complianceTest" src="{{frontConstant.COMPLIANCE_TEST_URL}}{{arrSessionData.userId}}" height="500" width="500"></iframe>
            </div>
        </div>
        <div class="text-center">
            <div class="complianceTestIntro">
                <a href="#" class="btn red-bg btn-reg" id="startTest" data-id="complianceTestIntro">Start SourceAdvisor Compliance Test</a>
            </div>
            <div class="complianceTestIframe" style="display: none;">
                <a href="{{frontConstant.ACCESSURL}}dashboard" class="btn red-bg btn-reg mr10">Continue to Dashboard</a>
                {{!--<a href="{{frontConstant.ACCESSURL}}mentor/step3" class="btn red-bg btn-reg">Back </a>--}}
            </div>
        </div>
    </div>

    <div class="row">
        <h3 class="title-sm text-center mb40">Looking for inspiration? Check out these successful Mentors profiles</h3>
        {{#each arrMentorData}}
        <div class="col-sm-3">
            <a href="{{../frontConstant.ACCESSURL}}mentorprofile/{{this.slug}}">
                <div class="user-image">
                    <img src="{{this.finalProfileImageUrl}}" class="img-responsive">
                </div>
                <div class="user-info-block">
                    <div class="user-heading">
                        <h3>{{this.name}}</h3>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>

{{> helper/profile_image_upload_helper}}
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/jquery.form.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/mentors/complianceTest.js?v={{frontConstant.VERSION}}"></script>