<div class="fullscreen inner-banners mentordetails">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>Mentor Profile</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="userLogin" id="userLogin" value="{{arrSessionData.userId}}" />
<input type="hidden" name="mentorId" id="mentorId" value="{{arrMentorData.userData.user_id}}" />
<input type="hidden" name="mentorSlug" id="mentorSlug" value="{{arrMentorData.userData.slug}}" />
<div class="wrapper">
    <div class="container page">
        {{> helper/ajaxnotification_helper}}
        <div class="row">
            <div class="author-details">
                <div class="col-md-3 text-center mb-40">
                    <div class="high-profile-mentors text-center">
                        <div class="metors-pic">
                            <img alt="" src="{{arrMentorData.userData.fullProfileImageURL}}" id="detailImg">
                            <div id="detailImgDiv" style="display:none;"></div>
                        </div>
                         {{#if arrMentorData.userData.linkedInLink}}
                        <div class="fa-linkedin-highprofile-mentor dtl-lnicon" style="bottom: 22px;">
                            <a href="{{arrMentorData.userData.linkedInLink}}" title="Linked Link" target="_blank">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                        </div>
                        {{/if}}
                        <div class="location" style="">
                            <i class="fa fa-map-marker"></i>
                            <a style="text-transform: capitalize" href="javaScript:;" class="js-tagCitySearchDirect" data-id="{{arrMentorData.userData.city_id}}"
                                data-faceValue="{{arrMentorData.userData.city_name}}" data-typeX="MENTORPROFILECITY">{{ arrMentorData.userData.city_name }}</a>,
                            <a style="text-transform: capitalize" href="javaScript:;" class="js-tagCountrySearchDirect" data-id="{{arrMentorData.userData.country_id}}"
                                data-faceValue="{{arrMentorData.userData.countryName}}" data-typeX="MENTORPROFILECOUNTRY">{{ arrMentorData.userData.countryName }}</a>
                        </div>
                        {{#ifCond arrMentorData.mentor_details.category '!=' null}}
                        <div class="profileVideoLink">
                            <a href="#" data-toggle="modal" data-target="#modal-fullscreen">
                                <i class="fa fa-play-circle"></i> Watch Video
                            </a>
                        </div>
                        {{/ifCond}}

                        <div class="modal modal-fullscreen fade videoFullscreen" id="modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                            aria-hidden="true">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <div class="row row-table row-full-height">
                                <div class="col-sm-12 col-middle text-center">
                                    {{#ifCond arrMentorData.mentor_details.category '==' 'keynote_upload'}}
                                    <video id="keynote_video_uploaded" class="video-background" loop>
                                        <source src="{{frontConstant.ACCESSURL}}{{arrMentorData.mentor_details.document_path}}" type="video/mp4">
                                    </video>
                                    {{/ifCond}} {{#ifCond arrMentorData.mentor_details.category '==' 'keynote_youtube'}}
                                    <iframe id="keynote_video_youtube" src="https://www.youtube.com/embed/{{arrMentorData.mentor_details.document_name}}?enablejsapi=1&version=3&playerapiid=ytplayer&rel=0"
                                        height="480" width="640" frameborder="0" allowfullscreen></iframe>
                                    {{/ifCond}}
                                </div>
                            </div>
                        </div>

                        <div class="metors-details">
                            <input type="hidden" value="{{arrMentorData.userData.name}}" id="fnameforimg">
                            <input type="hidden" value="{{arrMentorData.userData.last_name}}" id="lnameforimg">
                            <h4>{{ arrMentorData.userData.name }} {{ arrMentorData.userData.last_name }}</a>
                            </h4>
                            <p class="">
                                <a href="javaScript:;" title="{{arrMentorData.mentor_details.profession}}" class="js-tagProfessionSearchDirect js-trimData"
                                    data-trim-length="18" data-id="{{arrMentorData.mentor_details.profession}}" data-facevalue="{{arrMentorData.mentor_details.profession}}"
                                    data-typex="MENTORPROFILEPROFESSION">{{arrMentorData.mentor_details.profession}}</a>
                            </p>
                            
                            <p class="">
                                <a href="javaScript:;" title="{{arrMentorData.mentor_details.jobDescription}}" class="js-tagCompanySearchDirect js-trimData"
                                    data-trim-length="18" data-id="{{arrMentorData.mentor_details.jobDescription}}" data-facevalue="{{arrMentorData.mentor_details.jobDescription}}"
                                    data-typex="MENTORPROFILECOMPANY">{{arrMentorData.mentor_details.jobDescription}}</a>
                            </p>
                            <p class="country">
                                <a href="javaScript:;" title="{{arrMentorData.mentor_details.company_name}}" class="company js-tagCompanySearchDirect js-trimData"
                                    data-trim-length="18" data-id="{{arrMentorData.mentor_details.company_name}}" data-facevalue="{{arrMentorData.mentor_details.company_name}}"
                                    data-typex="MENTORPROFILECOMPANY">{{arrMentorData.mentor_details.company_name}}</a>
                            </p>
                        </div>
                        <div class="metors-quickLinks">
                            {{#ifCond arrSessionData.userId '!=' arrMentorData.userData.user_id}}
                                <div class="actionButtonWrappers {{#ifCond arrMentorData.arrMentorBookmarkAndLikedData.flagMentorBookmarked '==' '1'}}activebanner{{/ifCond}}">
                                    <a href="javascript:;" data-id="{{arrMentorData.userData.user_id}}" 
                                        {{#if loggedInUserId}} 
                                            {{#ifCond arrMentorData.arrMentorBookmarkAndLikedData.flagMentorBookmarked '==' '1'}} 
                                                class="bookMarkThisMentor outer-border"
                                            {{/ifCond}}
                                            {{#ifCond arrMentorData.arrMentorBookmarkAndLikedData.flagMentorBookmarked '!=' '1'}}
                                                class="bookMarkThisMentor outer-border"
                                            {{/ifCond}}
                                        {{else}}
                                            class="openLoginPopUp outer-border"
                                            data-doAction="bookMarkThisMentor"
                                        {{/if}}>
                                        <i class="fa fa-bookmark"></i> Bookmark This Mentor
                                    </a>
                                </div>



                                <div class="actionButtonWrappers {{#ifCond arrMentorData.arrMentorBookmarkAndLikedData.flagMentorLiked '==' '1'}}activebanner{{/ifCond}}">
                                    <a href="javascript:;" data-id="{{arrMentorData.userData.user_id}}" 
                                        {{#if loggedInUserId}} 
                                            {{#ifCond arrMentorData.arrMentorBookmarkAndLikedData.flagMentorLiked '==' '1'}} 
                                                class="likeThisMentor outer-border activebanner"
                                            {{/ifCond}}
                                            {{#ifCond arrMentorData.arrMentorBookmarkAndLikedData.flagMentorLiked '!=' '1'}} 
                                                class="likeThisMentor outer-border"
                                            {{/ifCond}}
                                        {{else}} 
                                            class="openLoginPopUp outer-border"
                                            data-doAction="likeThisMentor"
                                        {{/if}}>
                                        <i class="fa fa-thumbs-up"></i> Like This Mentor
                                    </a>
                                </div>


                                <div class="actionButtonWrappers">
                                    <a href="javascript:;" data-val="" data-id="{{arrMentorData.userData.user_id}}" 
                                        {{#if loggedInUserId}} 
                                            class="sendMessageToThisMentor outer-border"
                                        {{else}} 
                                            class="openLoginPopUp outer-border" data-doAction="sendMessageToThisMentor" 
                                        {{/if}}>
                                        <i class="fa fa-envelope"></i> Send a Message
                                    </a>
                                </div>
                            {{/ifCond}}
                        </div>
                        <div class="stars stars-{{arrMentorData.mentor_details.round_rating}}"><br><br>
                            <span class="js-mentorLikeCount" data-id="{{arrMentorData.userData.user_id}}">{{ arrMentorData.mentor_details.like_count }}</span> people liked this mentor.
                        </div>
                    </div> {{#ifCond arrMentorData.mentor_details.hourly_rate '!=' '0'}}
                    <div class="recom-price clearfix">
                        <span class="font-4">${{ arrMentorData.mentor_details.hourly_rate }}</span> per hour</div>{{/ifCond}}
                    <div class="customTooltipLink">
                        <label>Cancellation Policy: {{ arrMentorData.mentor_details.policyLabel }}</label>
                        <div class="customTooltip">
                            <a href="{{arrMentorData.mentor_details.cancellation_policy_link}}" target="_blank">
                                <span>{{ arrMentorData.mentor_details.policyDescription }}</span>
                            </a>
                        </div>
                    </div>
                    {{#ifCond arrMentorData.mentor_details.hide_calendar '==' '0'}} {{#ifCond arrSessionData.userId '!=' arrMentorData.userData.user_id}}
                    <a {{#if loggedInUserId}} class="btn-2 js-BookSlotForThisMentor" {{ else}} class="btn-2 openLoginPopUp" data-doAction="js-BookSlotForThisMentor"
                        {{/if}} href="javascript:;" data-id="{{ mentorSlug }}" data-val="" id="js-BookSlotForThisMentor">{{#ifCond arrMentorData.mentor_details.hourly_rate '!=' '0'}}REQUEST A CALL{{/ifCond}}{{#ifCond arrMentorData.mentor_details.hourly_rate '==' '0'}}REQUEST A FREE CALL{{/ifCond}}</a>
                    {{/ifCond}} {{/ifCond}} {{#ifCond arrMentorData.mentor_details.hide_calendar '==' '1'}}
                    <label class="red">Not Available</label>
                    {{/ifCond}}
                </div>
                <div class="col-md-9">
                    <div class="userinfo">
                        <div class="col-sm-12">
                            <h5>{{ arrMentorData.mentor_details.punchline }}</h5>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12">
                        <div id="overviewdiv">{{{arrMentorData.mentor_details.overview}}}</div>   
                        {{#ifCond arrMentorData.mentor_details.overview '!=' ''}}                   
                        <a href="javascript:;" id="showmore">Show More</a>
                        {{/ifCond}}
                    </div>
                    <div class="clearfix"></div>
                    {{#ifCond arrMentorData.mentor_tags '!=' null}}
                    <div class="row">
                        <div class="skills-tags">
                            <div class="skills listing">
                                {{#each arrMentorData.mentor_tags}}
                                <a href="javaScript:;" class="js-tagProfileSearchDirect" data-id="{{this}}" data-facevalue="{{this}}" data-typex="MENTOREXPERTISE">{{this}}</a>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{/ifCond}}
                    <div class="clearfix"></div>
                    <div class="mentor_other_info">
                        <div class="tabbable-panel">
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                    <li class="active">
                                        <a href="#tab_feed" data-toggle="tab" aria-expanded="true">Experience</a>
                                    </li>
                                    <!--<li><a href="#tab_Portfolio" data-toggle="tab">Portfolio</a></li>-->
                                    {{#ifCond arrMentorData.mentor_details.hide_review_rating '!=' '1'}}
                                    <li>
                                        <a href="#tab_reviews" data-toggle="tab" aria-expanded="false">Reviews</a>
                                    </li>
                                    {{/ ifCond}}
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_feed">
                                        {{#each arrMentorData.mentorEmpHistory}}
                                        <div class="row mb10 profileemphistory">
                                            <div class="col-md-12">
                                                <section>
                                                    <div style="width: 20px;float: left;margin-top: 5px;">
                                                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                                                    </div>
                                                    <div style="width: 97%;float: left;">
                                                        <a href="javaScript:;" class="js-tagProfessionSearchDirect headtag" data-id="{{this.role}}" data-facevalue="{{this.role}}"
                                                            data-typex="MENTORPROFILEPROFESSION">
                                                            {{this.role}}
                                                        </a>
                                                        <a href="javaScript:;" class="company js-tagCompanySearchDirect headtag" data-id="{{this.company_name}}" data-facevalue="{{this.company_name}}"
                                                            data-typex="MENTORPROFILECOMPANY">
                                                            {{this.company_name}}
                                                        </a>
                                                        <br>
                                                        <span class="feedDate">{{ this.durationFrom }} - {{#ifCond this.is_current '==' '1'}} Present
                                                            {{/ ifCond}} {{#ifCond this.is_current '==' '0'}} {{ this.durationTo
                                                            }} {{/ ifCond}}
                                                        </span>
                                                        <p class="content">{{{this.job_description}}}</p>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                    <div class="tab-pane" id="tab_Portfolio">
                                        <select class="form-control" id="industry_dropdown" name="industry_dropdown">
                                            <option value=""> --Filter by Industry-- </option>
                                        </select>
                                        <div class="masonry">
                                            <div class="masonry-container portfoliocontainer">
                                                <div class="col-sm-4 eachportfolioboxsizer "></div>
                                                <!-- <div class="col-sm-12 eachportfoliobox emptyList">
                                                No data found
                                            </div>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane " id="tab_reviews">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div class="rating-block">
                                                    <h4>Average user rating</h4>
                                                    <h2 class="bold padding-bottom-7">{{ arrMentorData.mentor_details.rating }}
                                                        <small>/ 5</small>
                                                    </h2>
                                                    {{#ifCond arrMentorData.mentor_details.round_rating '==' 0 }}
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    {{/ ifCond}} {{#ifCond arrMentorData.mentor_details.round_rating '==' 1 }}
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    {{/ ifCond}} {{#ifCond arrMentorData.mentor_details.round_rating '==' 2 }}
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    {{/ ifCond}} {{#ifCond arrMentorData.mentor_details.round_rating '==' 3 }}
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    {{/ ifCond}} {{#ifCond arrMentorData.mentor_details.round_rating '==' 4 }}
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    {{/ ifCond}} {{#ifCond arrMentorData.mentor_details.round_rating '==' 5 }}
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="fa fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    {{/ifCond}}
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <h4>Rating breakdown</h4>
                                                <div class="pull-left">
                                                    <div class="pull-left" style="width:35px; line-height:1;">
                                                        <div style="height:9px; margin:5px 0;">5
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                    </div>
                                                    {{#each arrMentorData.mentorStarCount}}
                                                    <div class="pull-left" style="width:180px;">
                                                        <div class="progress" style="height:9px; margin:8px 0;">
                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: {{math this.Count5 '/' this.total}}%">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pull-right" style="margin-left:10px;">{{ this.Count5 }}</div>
                                                    {{/each}}
                                                </div>
                                                <div class="pull-left">
                                                    <div class="pull-left" style="width:35px; line-height:1;">
                                                        <div style="height:9px; margin:5px 0;">4
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                    </div>
                                                    {{#each arrMentorData.mentorStarCount}}
                                                    <div class="pull-left" style="width:180px;">
                                                        <div class="progress" style="height:9px; margin:8px 0;">
                                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: {{math this.Count4 '/' this.total}}%">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pull-right" style="margin-left:10px;">{{ this.Count4 }}</div>
                                                    {{/each}}
                                                </div>
                                                <div class="pull-left">
                                                    <div class="pull-left" style="width:35px; line-height:1;">
                                                        <div style="height:9px; margin:5px 0;">3
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                    </div>
                                                    {{#each arrMentorData.mentorStarCount}}
                                                    <div class="pull-left" style="width:180px;">
                                                        <div class="progress" style="height:9px; margin:8px 0;">
                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: {{math this.Count3 '/' this.total}}%">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pull-right" style="margin-left:10px;">{{ this.Count3 }}</div>
                                                    {{/each}}
                                                </div>
                                                <div class="pull-left">
                                                    <div class="pull-left" style="width:35px; line-height:1;">
                                                        <div style="height:9px; margin:5px 0;">2
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                    </div>
                                                    {{#each arrMentorData.mentorStarCount}}
                                                    <div class="pull-left" style="width:180px;">
                                                        <div class="progress" style="height:9px; margin:8px 0;">
                                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: {{math this.Count2 '/' this.total}}%">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pull-right" style="margin-left:10px;">{{ this.Count2 }}</div>
                                                    {{/each}}
                                                </div>
                                                <div class="pull-left">
                                                    <div class="pull-left" style="width:35px; line-height:1;">
                                                        <div style="height:9px; margin:5px 0;">1
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                    </div>
                                                    {{#each arrMentorData.mentorStarCount}}
                                                    <div class="pull-left" style="width:180px;">
                                                        <div class="progress" style="height:9px; margin:8px 0;">
                                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: {{math this.Count1 '/' this.total}}%">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pull-right" style="margin-left:10px;">{{ this.Count1 }}</div>
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-block" id="mentorProfileListingContainer">
                                            {{#each arrMentorData.mentorReview}}
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <img src="{{this.finalProfileImageUrl}}" height="60" width="60" class="img-rounded">
                                                    <div class="review-block-name">
                                                        <a href="#">{{ this.name }}</a>
                                                    </div>
                                                    <div class="review-block-date">{{ this.reviewdate }} {{#ifCond this.DAYS '==' '' }}
                                                        <br />Today {{/ ifCond}} {{#ifCond this.DAYS '>' '1' }}
                                                        <br />{{ this.DAYS }} days ago {{/ ifCond}} {{#ifCond this.DAYS '==' '1'
                                                        }}
                                                        <br />{{ this.DAYS }} day ago {{/ ifCond}}
                                                    </div>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="review-block-rate">

                                                        {{#ifCond this.review_rating '==' 0 }}
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        {{/ ifCond}} {{#ifCond this.review_rating '==' 1 }}
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        {{/ ifCond}} {{#ifCond this.review_rating '==' 2 }}
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        {{/ ifCond}} {{#ifCond this.review_rating '==' 3 }}
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        {{/ ifCond}} {{#ifCond this.review_rating '==' 4 }}
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        {{/ ifCond}} {{#ifCond this.review_rating '==' 5 }}
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        {{/ ifCond}}

                                                    </div>
                                                    <div class="review-block-description">{{ this.review_desc }}</div>
                                                </div>
                                            </div>
                                            <hr /> {{/ each}}
                                            <input type="hidden" name="hidReviewPage" id="hidReviewPage" value="0">
                                            <input type="hidden" name="hidReviewMoreDataAvailable" id="hidReviewMoreDataAvailable" value="Y">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> helper/mentors/mentor_profile_review}}



    <div id="viewer" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header red">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Portfolio Preview</h4>
                </div>
                <div class="modal-body modalbody">
                    <div class="clearfix"></div>
                    <div class="col-sm-12 viewercontainer" id="viewercontainer">
                    </div>
                    <div class="col-sm-12 viewerheader" id="viewerheader"></div>
                    <div class="col-sm-12 viewerdescription" id="viewerdescription"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-red" title="Download" name="btnDownloadWorkFolio" id="btnDownloadWorkFolio">Download</a>
                </div>
            </div>
        </div>
    </div>

    <div id="sendMsgMentor" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header red">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Send Message</h4>
                </div>
                <div class="modal-body">
                    <textarea name="msgbody" id="msgbody" class="form-control" rows="6"></textarea>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" id="sendMentorMsgBtn" class="btn btn-red">Send</a>
                </div>
            </div>
        </div>
    </div>

    <div id="blockUserMsgDetailPage" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header red">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Block</h4>
                </div>
                <form method="POST" id="blockUserFrm">
                    <div class="modal-body">
                        <div class="form-group blockdiv">
                            <label></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Login PopUp partial included-->
    {{> helper/mentors/loginpopup}}


    <link rel="stylesheet" href="{{frontConstant.ACCESSURL}}css/jquery.fancybox.css?v={{frontConstant.VERSION}}" media="screen">
    <script src="{{frontConstant.ACCESSURL}}js/jquery.fancybox.min.js?v={{frontConstant.VERSION}}"></script>
    <link href="{{frontConstant.ACCESSURL}}css/audioplayer.css?v={{frontConstant.VERSION}}" rel="stylesheet">
    <script src="{{frontConstant.ACCESSURL}}js/audiojs/audioplayer.js?v={{frontConstant.VERSION}}"></script>

    <script src="{{frontConstant.ACCESSURL}}js/handlebars/handlebars.js?v={{frontConstant.VERSION}}"></script>
    <script src="{{frontConstant.ACCESSURL}}js/handlebars/handlebars_helper.js?v={{frontConstant.VERSION}}"></script>


    <script src="{{frontConstant.ACCESSURL}}js/imagesLoaded.js?v={{frontConstant.VERSION}}"></script>
    <script src="{{frontConstant.ACCESSURL}}js/masonry.js?v={{frontConstant.VERSION}}"></script> {{!--
    <script src="{{frontConstant.ACCESSURL}}js/webjs/loginchk.js?v={{frontConstant.VERSION}}"></script>--}}
    <script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
    <script src="{{frontConstant.ACCESSURL}}js/webjs/mentors/detail.js?v={{frontConstant.VERSION}}"></script>