<style type="text/css">
    .thankyou_page .fa{
        font-size: 40px;
    }
    .thankyou_page .panel label, .thankyou_page .panel span{
        padding: 10px 0px;
    }
</style>
<div class="fullscreen inner-banners">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>Message</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper lg-pad">
    <div class="container thankyou_page">       
        <div class="row">
            <div class="col-md-12">
                <!--<h1 style="text-align: center;">Just 1 step to get ready for the meeting...</h1>-->
                <h2 style="text-align: center;">The meeting is no longer available to be added to the calendar because the meeting is either cancelled, completed or timed out.</h2>
            </div>            
        </div>        
        <br><br>       
    </div>
</div>
<link href="{{frontConstant.ACCESSURL}}js/addtocalendar/atc-style-blue.css?v={{frontConstant.VERSION}}" rel="stylesheet">