
<link rel="stylesheet" href="{{frontConstant.ACCESSURL}}js/bootstrap-slider/bootstrap-slider.css?v={{frontConstant.VERSION}}"></link>
<style type="text/css">
    .ui-autocomplete-input.ui-autocomplete-loading {
        background: white url("{{frontConstant.ACCESSURL}}images/ui-anim_basic_16x16.gif") right center no-repeat;
        z-index: 9999999999999999;
    }
    .pac-container{
        width: 250px !important;
    }
</style>

<div class="fullscreen inner-banners listing">

    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <!-- <h2>{{dataParams.txtQueryString}}, {{dataParams.txtLocation}}</h2> -->
                    {{#if totalMentorCount}}
                        <!-- <span>Showing {{totalMentorCount}} - {{totalMentorCount}} of {{totalMentorCount}} Results</span> -->
                    {{else}}
                        <!-- <span>Sorry, no results were found.</span> -->
                    {{/if}}
                </div>
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 searchbase">
                    <div class="search-form">
                        <form name="frmHomePageSearch" id="frmHomePageSearch" action="{{frontConstant.ACCESSURL}}mentor/listing" method="get">
                            <div class="fxac">
                                <div class="search-location fx">
                                    <input type="text" class="search-field form-control" name="txtLocation" id="txtLocation" placeholder="Search Experts by Region…" value="{{dataParams.txtLocation}}">
                                    <img src="{{frontConstant.ACCESSURL}}images/loading.gif" id="imgLocationLoader" title="loader"  class="hidden"/>
                                </div>
                                <input type="hidden" name="hidLocationType" id="hidLocationType" value="{{dataParams.hidLocationType}}" />
                                <input type="hidden" name="hidLocationId" id="hidLocationId" value="{{dataParams.hidLocationId}}" />
                                <div class="search-inp-container fx">
                                    <input type="text" class="search-field form-control" name="txtQueryString" id="txtQueryString" placeholder="" value="">
                                    <img src="{{frontConstant.ACCESSURL}}images/loading.gif" id="imgKeywordLoader" title="loader"  class="hidden"/>
                                    <input type="hidden" name="hidQueryString" id="hidQueryString" value="{{dataParams.txtQueryString}}" />
                                </div>
                                <input type="submit" class="home-search-btn" value="Search">
                                <input type="hidden" name="hidSearchFrom" id="hidSearchFrom" value="listingPage" />
                                <input type="hidden" name="hidLocationSelected" id="hidLocationSelected" value="N" />                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="container page">
        <div class="row">
            
            <div class="col-sm-12">
                {{> helper/ajaxnotification_helper }}
            </div>

            <!-- Mentor listing side bar html START -->
            <div class="col-sm-3">
                <div id="left-control">
                    
                </div>
            </div>
            <!-- Mentor listing side bar html END  -->
            
            <!-- Mentor listing side bar html -->

            <div class="col-sm-9">
                <!-- TOKEN TAGS DIV START -->
                <div class="filter-tags" id="js-mentorListingTags">
                    
                </div>
                <!-- TOKEN TAGS DIV END  -->
                
                <!-- SEARCH BOX LISTING START -->
                <div class="well clearfix" id="divMentorSearchListing">

                </div>
                <!-- SEARCH BOX LISTING END  -->

                {{> helper/mentors/mentor_listing_helper}}

                <div class="search-results" id="searchResultDiv">

                </div>
            </div>

            <input type="hidden" name="hidPage" id="hidPage" value="0" />
            <input type="hidden" name="hidFlagMoreData" id="hidFlagMoreData" value="Y" />
            <input type="hidden" name="hidSortByPreference" id="hidSortByPreference" value="SORTBY_PHL" />
            <input type="hidden" name="hidFlagRequesting" id="hidFlagRequesting" value="Y" />
            <input type="hidden" name="hidSearchParamJSON" id="hidSearchParamJSON" value="{{dataParams}}" />

            <input type="hidden" name="hidTagSelected" id="hidTagSelected" value="{{dataParams.hidTagSelected}}" />
            <input type="hidden" name="hidPerPageCount" id="hidPerPageCount" value="{{frontConstant.LISTINGPERPAGE}}" />
            <input type="hidden" name="hidRefreshSideBar" id="hidRefreshSideBar" value="Y" />
            <input type="hidden" name="hidMinPrice" id="hidMinPrice" value="" />
            <input type="hidden" name="hidMaxPrice" id="hidMaxPrice" value="" />
            <input type="hidden" name="hidSendMessage" id="hidSendMessage" value="0" />

            <input type="hidden" name="hidTimeZoneLabel" id="hidTimeZoneLabel" value="0" />
            <input type="hidden" name="hidTimeZoneOffset" id="hidTimeZoneOffset" value="0" />

        </div>
    </div>
</div>

<!--Login PopUp partial included-->
{{> helper/mentors/loginpopup}}

<script src="{{frontConstant.ACCESSURL}}js/jquery-ui.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>

<script type="text/javascript" src="{{frontConstant.ACCESSURL}}js/jquery.sticky.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/handlebars/handlebars.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/handlebars/handlebars_helper.js?v={{frontConstant.VERSION}}"></script>

<script src="{{frontConstant.ACCESSURL}}js/bootstrap-slider/bootstrap-slider.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/mentors/listing.js?v={{frontConstant.VERSION}}"></script>