<div class="loader hide">
    <h4 style="color: white;">This May take a few seconds,please do not refresh page.....</h4>
    <div class='progress progress-striped active'>
        <div class='progress-bar progress-bar-color' id='bar' role='progressbar' style='width: 0%;'></div>
    </div>
</div>
<div class="fullscreen inner-banners invites">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>Invites</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="mentorTimezone" value="{{arrSessionData.timezone}}"/>
<input type="hidden" id="userType" value="{{arrSessionData.userType}}"/>
<div class="container page">
    {{> helper/ajaxnotification_helper}}
    <!-- <h2 class="title-underline">Pending Meeting Invites</h2> -->

    <div class="col-md-6 col-md-offset-7 pull-right tzdpdw">
        {{#ifCond arrSessionData.userType '==' 'mentor'}}
        <a href="{{frontConstant.ACCESSURL}}mentor/calendar" target="_BLANK" class="btn red-bg btn-reg btn-social pull-right" >Go to your Calendar</a>
        {{/ifCond}}
        <select class="form-control pull-right" name="lstTimeZone" id="lstTimeZone" style="width: 60%;">
            {{!-- {{#if timeZoneList}}
            {{#each timeZoneList}}
            <option value="{{this.zoneId}}" {{#ifCond this.zoneName '==' ../arrSessionData.timezone}} selected="selected" {{/ifCond}} >{{this.zoneName}} ({{this.disaplayName}})</option>
            {{/each}}
            {{/if}} --}}
        </select>
    </div>
    <div class="clearfix"></div>

    <div class="tabbable-panel">
        <div class="tabbable-line">
            <ul class="nav nav-tabs meeting_invites_tab">
                <li class="active"><a href="#tab_receive" data-toggle="tab">Received</a></li>
                <li><a href="#tab_sent" data-toggle="tab">Sent</a></li>
            </ul>           
            <div class="tab-content"> <!-- Tab start -->

                <div class="tab-pane active" id="tab_receive">
                    <div class="row">
                        <div class="masonry">
                            <div class="masonry-container" id="mentorPendingInvitesListing"></div>
                            <input type="hidden" name="hidePageReceive" id="hidePageReceive" value="0" />
                            <input type="hidden" name="hideReceiveData" id="hideReceiveData" value="Y" />
                            <div id="noMentorPendingInvitesListing" style="display: none;" class="text-center">
                                {{#ifCond arrSessionData.userType '==' 'mentor'}}
                                    <p style="font-size: 16px;padding: 30px;">
                                        Currently there are no invites that remain pending. Click below button to send a new invite or set your availablity
                                    </p>
                                    <a class="btn btn-primary" href="{{frontConstant.ACCESSURL}}mentor/listing">New Invite</a>
                                    <a class="btn btn-primary" href="{{frontConstant.ACCESSURL}}mentor/calendar">Set Availability</a>
                                {{/ifCond}}
                                {{#ifCond arrSessionData.userType '==' 'user'}}
                                    <p style="font-size: 16px;padding: 30px;">
                                        Currently there are no invites that remain pending. Click below button to send a new invite
                                    </p>
                                    <a class="btn btn-primary" href="{{frontConstant.ACCESSURL}}mentor/listing">New Invite</a>
                                {{/ifCond}}
                            </div>
                        </div>
                    </div>
                </div>            

                <div class="tab-pane" id="tab_sent">
                    <div class="row">
                        <div class="masonry">
                            <div class="masonry-container" id="mentorPendingSentInvitesListing"></div>
                            <input type="hidden" name="hidePageSent" id="hidePageSent" value="0" />
                            <input type="hidden" name="hideSentData" id="hideSentData" value="Y" />
                            <div id="noMentorPendingSentInvitesListing" style="display: none;" class="text-center">
                                {{#ifCond arrSessionData.userType '==' 'mentor'}}
                                    <p style="font-size: 16px;padding: 30px;">
                                        Currently there are no invites that remain pending. Click below button to send a new invite or set your availablity
                                    </p>
                                    <a class="btn btn-primary" href="{{frontConstant.ACCESSURL}}mentor/listing">New Invite</a>
                                    <a class="btn btn-primary" href="{{frontConstant.ACCESSURL}}mentor/calendar">Set Availability</a>
                                {{/ifCond}}
                                {{#ifCond arrSessionData.userType '==' 'user'}}
                                    <p style="font-size: 16px;padding: 30px;">
                                        Currently there are no sent invites that remain pending. Click below button to send a new invite
                                    </p>
                                    <a class="btn btn-primary" href="{{frontConstant.ACCESSURL}}mentor/listing">New Invite</a>
                                {{/ifCond}}
                            </div>
                        </div>
                    </div>
                </div>            

            </div> <!-- Tab end -->
        </div>
    </div>
</div>



<div id="hiddenListingToClone" class="item col-sm-6" style="display: none;">    
    <input type="hidden" class="mentorid">
    <input type="hidden" class="userid">
    <input type="hidden" class="invoiceid">
    <input type="hidden" class="duration">
    <input type="hidden" class="mentorslug">
    <input type="hidden" class="meetingType">
    <input type="hidden" class="transactionId">
    <input type="hidden" class="amount">
    <div class="well">
        <div class="userDetailGroup underlined image-circle">
            <div class="image">
                <img src="">
            </div>
            <div class="detail">
                <h2 class="mentSumName"></h2>
                <p>Received <span class="recievedTime"></span></p>
            </div>
        </div>
        <div class="clearfix mt15 dom-mb0">
            <p><label>Meeting Type :</label> <span class="meetingTypeText"></span> call for <span class="meetingTimeText"></span> minutes</p>
            <p class="meetingp"><label>Meeting Purpose :</label> <span class="meetingPurposeText"></span>.</p>
            <p class="meetingd"><label>More Details :</label> <span class="meetingPurposeDetailText"></span></p>
        </div>            
        <div class="clearfix PendingMeetingInvites">
            <div class="accordion" id="fileAttached">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#fileAttached" href="#fileAttachedDiv">
                            <i class="fa fa-file"></i>Attached Files<em class="icon-fixed-width fa fa-plus"></em>
                        </a>
                    </div>
                    <div id="fileAttachedDiv" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="SharedDocuments">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <h2 class="title-underline">Proposed Times</h2>
            <ul class="slot"></ul>
        </div>
        <div class="text-center mt10">
            <a href="#" class="cancel cancelhide btn red-btn btn-social mr10 mb10" style="display: none;">Cancel</a>                

            {{#ifCond arrSessionData.userType '==' 'mentor'}}                
            {{#ifCond complainceTest '==' '1'}}
            <a href="#" class="accept btn red-btn btn-social mr10 mb10">Accept Invite</a>
            {{/ifCond}}                
            {{/ifCond}}

            {{#ifCond arrSessionData.userType '==' 'mentor'}}                
            {{#ifCond complainceTest '==' '0'}}
            <a href="#" class="btn red-btn btn-social mr10 mb10 cmodal" data-toggle="modal" id="complainceTestModalId" data-target="#complainceTestModal">Accept Invite</a>
            {{/ifCond}}                
            {{/ifCond}}

            {{#ifCond arrSessionData.userType '==' 'user'}}                
            <a href="#" class="accept btn red-btn btn-social mr10 mb10">Accept Invite</a>                
            {{/ifCond}}                                  

            <a href="" class="decline btn btn-darkgray btn-social mr10 mb10">Decline</a>
            <!--<a href="#" class="invite btn btn-linkedin btn-social mb10">Send invite for another slot</a>-->
        </div>
    </div>                  
</div>

<!-- decline invite user -->
<div id="UserCancelModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Decline Invite</h4>
            </div>
            <form method="POST" id="userReasonForm">
                <div class="modal-body">                   
                    <div class="form-group">
                        <input type="hidden" id="invitation_id_declineUser" />
                        <input type="hidden" id="mentor_id_declineUser" />
                        <input type="hidden" id="user_id_declineUser" />
                        <input type="hidden" id="duration_declineUser" />
                        <label for="reason">Reason for declining this invite</label><br>
                        <input type="radio" name="user_reason" class="user_reason" id="userradiofirst" value="Unavoidable Calendar Conflict" checked> Unavoidable Calendar Conflict <br>
                        <input type="radio" name="user_reason" class="user_reason" value="Found another more suitable advisor" > Found another more suitable advisor <br>
                        <input type="radio" name="user_reason" class="user_reason" value="Requested a meeting with the wrong advisor" > Requested a meeting with the wrong advisor <br>
                        <input type="radio" name="user_reason" class="user_reason" value="Requirement has changed">  Requirement has changed <br>
                        <input type="radio" name="user_reason" value="user_other"> Other
                        <textarea class="form-control user_reason" maxlength="100" rows="3" id="user_reasontxt" name="user_reasontxt" ></textarea>
                        <span class="pull-right"><span id="user_chars">100</span> characters remaining</span>
                        <span id="user_valid" style="color: red; display: none;">Please enter reason.</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" id="user_reasonbtn" class="btn btn-red">OK</a>
                    <button type="button" class="btn btn-red" data-dismiss="modal">Cancel</button>                                
                </div>
            </form>
        </div>
    </div>
</div>

<!-- decline invite advisor -->
<div id="mentorCancelModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Decline Invite</h4>
            </div>
            <form method="POST" id="mentorReasonForm">
                <div class="modal-body">                   
                    <div class="form-group">
                        <input type="hidden" id="invitation_id_declineMentor" />
                        <input type="hidden" id="mentor_id_declineMentor" />
                        <input type="hidden" id="user_id_declineMentor" />
                        <input type="hidden" id="duration_declineMentor" />
                        <input type="hidden" id="transectionId_declineMentor" />
                        <input type="hidden" id="amount_declineMentor" />
                        <input type="hidden" id="invoice_declineMentor" />
                        <label for="reason">Reason for declining this invite</label><br>
                        <input type="radio" name="mentor_reason" class="mentor_reason" id="mentorradiofirst" value="Calendar conflict" checked> Calendar conflict <br>
                        <input type="radio" name="mentor_reason" class="mentor_reason" value="Appears to be a competitor" > Appears to be a competitor <br>
                        <input type="radio" name="mentor_reason" class="mentor_reason" value="Previous interaction wasn’t pleasant" > Previous interaction wasn’t pleasant <br>
                        <input type="radio" name="mentor_reason" class="mentor_reason" value="Subject matter seems to be to a grey area"> Subject matter seems to be to a grey area <br>
                        <input type="radio" name="mentor_reason" class="mentor_reason" value="I’m not an expert in the requested subject matter"> I’m not an expert in the requested subject matter <br>
                        <input type="radio" name="mentor_reason" class="mentor_reason" value="Temporarily not accepting meeting requests">  Temporarily not accepting meeting requests <br>
                        <input type="radio" name="mentor_reason" class="mentor_reason" value="Seems like a spam request"> Seems like a spam request. <br>                        
                        <input type="radio" name="mentor_reason" value="mentor_other"> Other
                        <textarea class="form-control mentor_reason" maxlength="100" rows="3" id="mentor_reasontxt" name="mentor_reasontxt" ></textarea>
                        <span class="pull-right"><span id="mentor_chars">100</span> characters remaining</span>
                        <span id="mentor_valid" style="color: red; display: none;">Please enter reason.</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" id="mentor_reasonbtn" class="btn btn-red">OK</a>
                    <button type="button" class="btn btn-red" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- compliance test -->
<div id="complainceTestModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Compliance Test</h4>
            </div>            
            <div class="modal-body formPopup clearfix">
                You need to complete compliance tutorial before accepting a meeting request
            </div>
            <div class="modal-footer">
                <a href="{{frontConstant.ACCESSURL}}mentor/complianceTest" class="btn red-bg btn-reg">Proceed to Compliance Tutorial</a>
                <button type="button" class="btn btn-red" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- radio select -->
<div id="selectRadoiModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Slot</h4>
            </div>            
            <div class="modal-body formPopup clearfix">
                Kindly select the slot by clicking on the desired radio buton, and then click accept invite.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-red" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script src="{{frontConstant.ACCESSURL}}js/jquery-ui.js?v={{frontConstant.VERSION}}"></script>
<link href="{{frontConstant.ACCESSURL}}css/select2.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<script src="{{frontConstant.ACCESSURL}}js/select2.full.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/masonry.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/handlebars/handlebars.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/handlebars/handlebars_helper.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/mentors/meeting_invites.js?v={{frontConstant.VERSION}}"></script>

<script>
        {{#if timeZoneList}}  
            var datax = [  
                {{#each timeZoneList}}                                                       
                    { id: '{{this.zoneName}}', text: '<div style="display: inline-block;width: 100%;"><span style="text-align:left;">{{this.zoneName}}</span><span style="text-align:left;float:right;">{{this.disaplayName}}</span></div>',cZone:'{{this.zoneName}}',selectedId:'{{../arrSessionData.timezone}}'},
                        {{/each}} 
                    ];                                            
        {{/if}}
        console.log(datax)
</script>