<div class="fullscreen inner-banners calendar">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>Set Your Availability</h2>
                </div>
            </div>
        </div>
    </div>
</div>  
<div class="container page">     
    {{> helper/ajaxnotification_helper}}    
    <div class="well steps">       
        <button class="btn red-bg btn-reg" id="gSync">Google Sync</button>
        <a href="#" class="btn red-bg btn-reg" data-toggle="modal" id="addAvailButton" data-target="#addAvail">Add Availability</a>

        {{#ifCond complainceTest '==' '1'}}
        <a href="#" class="btn red-bg btn-reg" data-toggle="modal" id="sendPrivateButton" data-target="#privateInvite">Private Invite</a>
        {{/ifCond}}        


        {{#ifCond complainceTest '==' '0'}}
        <a href="#" class="btn red-bg btn-reg" data-toggle="modal" id="complainceTestModalId" data-target="#complainceTestModal">Private Invite</a>
        {{/ifCond}}                                

        <div class="col-sm-4 form-group calendarTz">
            <label>Select Timezone</label>
            <select class="form-control" name="lstTimeZone" id="lstTimeZone" style="width: 100%;">
                {{!-- {{#if timeZoneList}}
                {{#each timeZoneList}}
                <option value="{{this.zoneId}}" 
                        {{#ifCond this.zoneName '==' ../timeZoneId}}
                        selected="selected"
                        {{/ifCond}}
                        >{{this.zoneName}} ({{this.disaplayName}})</option>
                {{/each}}
                {{/if}} --}}
            </select>
        </div>
        <div class='clearfix'></div>
        <div id='calendar'></div>
        <div class='text-center'>
            <!--<a href="#" class="btn red-bg btn-reg" data-toggle="modal" data-target="#askTimeSlot">Can't find a suitable time slot ?</a>-->            
        </div>
    </div>    
</div>

<!-- Add Availability Form -->
<div id="addAvail" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">   
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" id="add_Avail">
                <input type="hidden" name="updateTz" id="updateTz" class="updateTz" value="{{arrSessionData.timezone}}" />
                <!--<input type="hidden" name="parent_id" id="parent_id" value="" />
                <input type="hidden" name="main_id" id="main_id" value="" />
                <input type="hidden" name="delDate" id="delSDate" value="">
                <input type="hidden" name="delDate" id="delEDate" value="">-->
                <div class="modal-header red">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Availability</h4>
                </div>
                <div class="modal-body formPopup clearfix">
                    <div class="col-sm-12">
                        <label class="checkbox">Type</label>                    
                        <label class="radio-inline">
                            <input type="radio" name="availType" id="recurring" value="recurring" checked> Recurring
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="availType" id="onetime" value="onetime"> One Time
                        </label>
                    </div>
                    <div class="col-sm-12">
                        <label class="checkbox chkl">Days</label>
                        <label class="checkbox-inline">
                            <input id="0" type="checkbox" name="week[]" value="0">SUN
                        </label>
                        <label class="checkbox-inline">
                            <input id="1" type="checkbox" name="week[]" value="1">MON
                        </label>
                        <label class="checkbox-inline">
                            <input id="2" type="checkbox" name="week[]" value="2">TUE
                        </label>
                        <label class="checkbox-inline">
                            <input id="3" type="checkbox" name="week[]" value="3">WED
                        </label>
                        <label class="checkbox-inline">
                            <input id="4" type="checkbox" name="week[]" value="4">THU
                        </label>
                        <label class="checkbox-inline">
                            <input id="5" type="checkbox" name="week[]" value="5">FRI
                        </label>
                        <label class="checkbox-inline">
                            <input id="6" type="checkbox" name="week[]" value="6">SAT
                        </label>
                    </div>

                    <div class="col-sm-12 mt20">
                        <label>Start</label>                    
                        <input name="startDate" id="startDate" class="form-control datepicker" type="text" placeholder="Start Date" readonly>
                    </div>
                    <div class="col-sm-12">
                        <label id="lableEndDate">End</label><br>
                        <div class="endTypeRadio">
                            <input type="radio" id="particular"  name="endType" value="recurring" checked> On a particular Date
                            <input type="radio" id="never" name="endType" value="neverend"> Never Ends<br><br>
                        </div>
                        <input name="endDate" id="endDate" class="form-control datepicker" type="text" placeholder="End Date" readonly>
                    </div>
                    <div class="col-sm-6">
                        <label>From Time</label>
                        <div class="input-group">
                            <input id="timepicker1" name="timepicker1" class="form-control mb0 input-small" type="text" readonly />
                            <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>To Time</label>
                        <div class="input-group">
                            <input id="timepicker2" name="timepicker2" class="form-control mb0 input-small" type="text" readonly />
                            <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="addbtn">
                        <button class="btn red-bg btn-reg">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add Availability Form -->

<!-- Update Availability Form -->
<div id="updateAvail" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">   
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" id="update_Avail">
                <input type="hidden" name="updateTz" id="updateTz" class="updateTz" value="{{arrSessionData.timezone}}" />
                <input type="hidden" name="parent_id" id="parent_id" value="" />
                <input type="hidden" name="eventId" id="eventId" value="" />
                <input type="hidden" name="delSDate" id="delSDate" value="">
                <input type="hidden" name="delEDate" id="delEDate" value="">
                <div class="modal-header red">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update/Delete Availability</h4>
                </div>
                <div class="modal-body formPopup clearfix">
                    <div class="col-sm-12">
                        <label class="checkbox">Type</label>                    
                        <label class="radio-inline">
                            <input type="radio" name="availTypeUpdate" id="recurringUpdate" value="recurring" checked> Recurring
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="availTypeUpdate" id="onetimeUpdate" value="onetime"> One Time
                        </label>
                    </div>
                    <div class="col-sm-12 " id ="daysSelection">
                        <label class="checkbox chkl">Days</label>
                        <label class="checkbox-inline">
                            <input id="sun" type="checkbox" name="week[]" value="0">SUN
                        </label>
                        <label class="checkbox-inline">
                            <input id="mon" type="checkbox" name="week[]" value="1">MON
                        </label>
                        <label class="checkbox-inline">
                            <input id="tue" type="checkbox" name="week[]" value="2">TUE
                        </label>
                        <label class="checkbox-inline">
                            <input id="wed" type="checkbox" name="week[]" value="3">WED
                        </label>
                        <label class="checkbox-inline">
                            <input id="thu" type="checkbox" name="week[]" value="4">THU
                        </label>
                        <label class="checkbox-inline">
                            <input id="fri" type="checkbox" name="week[]" value="5">FRI
                        </label>
                        <label class="checkbox-inline">
                            <input id="sat" type="checkbox" name="week[]" value="6">SAT
                        </label>
                    </div>

                    <div class="col-sm-12 mt20">
                        <label>Start</label>                    
                        <input name="startDateUpdate" id="startDateUpdate" class="form-control datepicker" type="text" placeholder="Start Date" readonly>
                    </div>
                    <div class="col-sm-12">
                        <label id="lableEndDate">End</label><br>
                        <!--<div class="endTypeRadioUpdate" id="endTypeRadioUpdate">
                            <input type="radio" id="particularUpdate"  name="endTypeUpdate" value="1" checked> On a particular Date
                            <input type="radio" id="neverUpdate" name="endTypeUpdate" value="0"> Never Ends<br><br>
                        </div>-->
                        <input name="endDateUpdate" id="endDateUpdate" class="form-control datepicker" type="text" placeholder="End Date" readonly>
                    </div>
                    <div class="col-sm-6">
                        <label>From Time</label>
                        <div class="input-group">
                            <input id="fromTimeUpdate" name="fromTimeUpdate" class="form-control mb0 input-small" type="text" readonly />
                            <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>To Time</label>
                        <div class="input-group">
                            <input id="toTimeUpdate" name="toTimeUpdate" class="form-control mb0 input-small" type="text" readonly />
                            <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                        </div>
                    </div>
                    <!--<div class="col-sm-12  calendarTzUpdate">
                        <label>Select Timezone</label>
                        <select class="form-control" name="updateTz" id="updateTz">
                            {{#if timeZoneList}}
                            {{#each timeZoneList}}
                            <option value="{{this.zoneName}}" 
                                    {{#ifCond this.zoneName '==' ../timeZoneId}}
                                    selected="selected"
                                    {{/ifCond}}
                                    >{{this.zoneName}}</option>
                            {{/each}}
                            {{/if}}
                        </select>
                    </div>-->
                </div>
                <div class="modal-footer">
                    <div>
                        <button class="btn red-bg btn-reg" id="updateEventButton">Update</button>
                        <button type="button" id="deleteUpdate" class="btn red-bg btn-reg">Delete</button>
                        <button type="button" id="deleteAllUpdate" class="btn red-bg btn-reg">Delete ALL</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Update Availability Form -->

<div id="privateInvite" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Send Invitation</h4>
            </div>            
            <form method="POST" id="sendInvite">

                <input type="hidden" name="zone" id="zone" value="{{arrSessionData.timezone}}" />
                <div class="modal-body formPopup clearfix">
                    <div class="col-sm-12">
                        {{> helper/ajaxnotification_helper_popup}}
                    </div>
                    <div class="col-sm-12">
                        <label>You will only be able to send a meeting invite to a person who has contacted you earlier on the SourceAdvisor platform. Please select one of them to send the invite.</label>
                        <select class="form-control select2" name="lstUserList" id="lstUserList" style="width: 100%">
                            <option value=''>Select User</option>
                        </select>
                    </div>


                    <div class="col-sm-12 mb10">
                        <label>Duration</label>
                        <select class="form-control" name="call_duration" id="call_duration">
                            <option value="30" selected>30 Minutes</option>
                            <option value="45">45 Minutes</option>
                            <option value="60">60 Minutes</option>                    
                            <option value="90">90 Minutes</option>
                            <option value="120">120 Minutes</option>                    
                        </select>
                    </div>


                    <!-- Slot 1 -->
                    <div class="clearfix"></div>
                    <div id="slot1div">
                        <div class="col-sm-6">
                            <label>Date</label>                    
                            <input name="callDate1" id="callDate1" class="form-control datepicker" type="text" placeholder="Date" readonly>
                        </div>               
                        <div class="col-sm-6">
                            <label>From Time</label>                        
                            <div class="input-group">
                                <input id="privateInviteTimePicker1" name="privateInviteTimePicker1" class="form-control mb0 input-small" type="text" readonly/>
                                <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                            </div>
                        </div>                        
                        <!--<div class="col-sm-4">
                            <label>To Time</label>
                            <div class="input-group">
                                <input id="privateInviteTimePicker2" name="privateInviteTimePicker2" class="form-control mb0 input-small" type="text" readonly />
                                <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                            </div>
                        </div>-->
                    </div>
                    <!-- slot 2 -->

                    <div class="clearfix"></div>
                    <div id="slot2div">
                        <div class="col-sm-6">
                            <label>Date</label>                    
                            <input name="callDate2" id="callDate2" class="form-control datepicker" type="text" placeholder="Date" readonly>
                        </div>               
                        <div class="col-sm-6">
                            <label>From Time</label>                        
                            <div class="input-group">
                                <input id="privateInviteTimePicker3" name="privateInviteTimePicker3" class="form-control mb0 input-small" type="text" readonly/>
                                <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                            </div>
                        </div>                        
                        <!--<div class="col-sm-4">
                            <label>To Time</label>
                            <div class="input-group">
                                <input id="privateInviteTimePicker4" name="privateInviteTimePicker4" class="form-control mb0 input-small" type="text" readonly />
                                <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                            </div>
                        </div>-->                         
                    </div>

                    <!-- slot 3 -->
                    <div class="clearfix"></div>

                    <div id="slot3div">
                        <div class="col-sm-6">
                            <label>Date</label>                    
                            <input name="callDate3" id="callDate3" class="form-control datepicker" type="text" placeholder="Date" readonly disabled>
                        </div>               
                        <div class="col-sm-6">
                            <label>From Time</label>                        
                            <div class="input-group">
                                <input id="privateInviteTimePicker5" name="privateInviteTimePicker5" class="form-control mb0 input-small" type="text" readonly/>
                                <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                            </div>
                        </div>                        
                        <!--<div class="col-sm-4">
                            <label>To Time</label>
                            <div class="input-group">
                                <input id="privateInviteTimePicker6" name="privateInviteTimePicker6" class="form-control mb0 input-small" type="text" readonly />
                                <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                            </div>
                        </div>-->                                                 
                    </div>

                    <div class="col-sm-12">
                        <label>Message</label>                        
                        <textarea name="privateInviteMsg" class="form-control" rows="4" ></textarea>                        
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn red-bg btn-reg">Send</button>
                    <button class="btn red-bg btn-reg" id="resetFrm">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="update_privateInvite" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Invitation</h4>
            </div>            
            <form method="POST" id="update_sendInvite">

                <input type="hidden" name="update_invitation_id" id="update_invitation_id" />
                <input type="hidden" name="update_zone" id="update_zone" value="{{arrSessionData.timezone}}" />
                <div class="modal-body formPopup clearfix">
                    <div class="col-sm-12">
                        {{> helper/ajaxnotification_helper_popup}}
                    </div>
                    <div class="col-sm-12">
                        <label>You will only be able to send a meeting invite to a person who has contacted you earlier on the SourceAdvisor platform. Please select one of them to send the invite.</label>
                        <select class="form-control select2" name="update_lstUserList" id="update_lstUserList" style="width: 100%">
                            <option value=''>Select User</option>
                        </select>
                    </div>

                    <div class="col-sm-12 mb10">
                        <label>Duration</label>
                        <select class="form-control" name="update_call_duration" id="update_call_duration">
                            <option value="30" selected>30 Minutes</option>
                            <option value="45">45 Minutes</option>
                            <option value="60">60 Minutes</option>                    
                            <option value="90">90 Minutes</option>
                            <option value="120">120 Minutes</option>                    
                        </select>
                    </div>


                    <!-- Slot 1 -->
                    <div class="clearfix"></div>
                    <div id="slot1div">
                        <div class="col-sm-6">
                            <label>Date</label>                    
                            <input name="update_callDate1" id="update_callDate1" class="form-control datepicker" type="text" placeholder="Date" readonly>
                        </div>               
                        <div class="col-sm-6">
                            <label>From Time</label>                        
                            <div class="input-group">
                                <input id="update_privateInviteTimePicker1" name="update_privateInviteTimePicker1" class="form-control mb0 input-small" type="text" readonly/>
                                <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                            </div>
                        </div>                                               
                    </div>
                    <!-- slot 2 -->

                    <div class="clearfix"></div>
                    <div id="slot2div">
                        <div class="col-sm-6">
                            <label>Date</label>                    
                            <input name="update_callDate2" id="update_callDate2" class="form-control datepicker" type="text" placeholder="Date" readonly>
                        </div>               
                        <div class="col-sm-6">
                            <label>From Time</label>                        
                            <div class="input-group">
                                <input id="update_privateInviteTimePicker2" name="update_privateInviteTimePicker2" class="form-control mb0 input-small" type="text" readonly/>
                                <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                            </div>
                        </div>                                                                       
                    </div>

                    <!-- slot 3 -->
                    <div class="clearfix"></div>

                    <div id="slot3div">
                        <div class="col-sm-6">
                            <label>Date</label>                    
                            <input name="update_callDate3" id="update_callDate3" class="form-control datepicker" type="text" placeholder="Date" readonly disabled>
                        </div>               
                        <div class="col-sm-6">
                            <label>From Time</label>                        
                            <div class="input-group">
                                <input id="update_privateInviteTimePicker3" name="update_privateInviteTimePicker3" class="form-control mb0 input-small" type="text" readonly/>
                                <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                            </div>
                        </div>                                                                   
                    </div>

                    <div class="col-sm-12">
                        <label>Message</label>                        
                        <textarea name="update_privateInviteMsg" id="update_privateInviteMsg" class="form-control" rows="4" ></textarea>                        
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn red-bg btn-reg" id="update_btn" name="update_btn">Update</button>
                    <button class="btn red-bg btn-reg" id="delete_btn" name="delete_btn">Delete</button>
                    <button class="btn red-bg btn-reg" id="set_btn" name="set_btn" type="button">Reset Dates</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="complainceTestModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Compliance Test</h4>
            </div>            

            <div class="modal-body formPopup clearfix">
                You need to complete compliance tutorial before accepting a meeting request
            </div>

            <div class="modal-footer">
                <a href="{{frontConstant.ACCESSURL}}mentor/complianceTest" class="btn red-bg btn-reg">Proceed to Compliance Tutorial</a>
            </div>

        </div>
    </div>
</div>

<link rel="stylesheet" href="{{frontConstant.ACCESSURL}}css/fullcalender/fullcalendar.css?v={{frontConstant.VERSION}}">
<link href="{{frontConstant.ACCESSURL}}css/fullcalender/fullcalendar.print.css?v={{frontConstant.VERSION}}" rel='stylesheet' media='print'>
<link href="{{frontConstant.ACCESSURL}}css/bootstrap-datepicker3.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<link href="{{frontConstant.ACCESSURL}}css/fullcalender/timepicker.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<link href="{{frontConstant.ACCESSURL}}css/select2.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<script src="{{frontConstant.ACCESSURL}}js/bootstrap-datepicker.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/fullcalender/moment.min.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/fullcalender/jquery-ui.custom.min.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/fullcalender/bootstrap-timepicker.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/fullcalender/fullcalendar.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/fullcalender/gcal.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/select2.full.js?v={{frontConstant.VERSION}}"></script>
<script src="https://apis.google.com/js/client.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/mentors/mentorcalendar.js?v={{frontConstant.VERSION}}"></script>
<script>
        {{#if timeZoneList}}  
            var datax = [  
                {{#each timeZoneList}}                                                       
                    { id: {{this.zoneId}}, text: '<div style="display: inline-block;width: 100%;"><span style="text-align:left;">{{this.zoneName}}</span><span style="text-align:left;float:right;">{{this.disaplayName}}</span></div>',cZone:'{{this.zoneName}}',selectedId:'{{../timeZoneId}}'},
                        {{/each}} 
                    ];                                            
        {{/if}}
</script>