<div class="fullscreen inner-banners promocode">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>Promos</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container page">
    <div class="row">
        {{> helper/ajaxnotification_helper}}

        <div class="col-sm-12" id="ifNoPromotions">         
            <h3 class="title-underline title-sm">
                Promotional Codes
                <a href="" class="pull-right btn red-btn btn-social mr10" data-toggle="modal" data-target="#AddPromo">Add New</a>
            </h3>
            <div class="text-center">
                <p class="bg-warning">You do not have any active promo codes. Click below to add a new promo code</p>
                <a href="" class="btn red-btn btn-social mr10" data-toggle="modal" data-target="#AddPromo">Add a Promo Code</a>
            </div>
        </div>

        <div class="col-sm-12" id="ifYesPromotions">
            <h3 class="title-underline title-sm">
                Promotional Codes
                <a href="" class="pull-right btn red-btn btn-social mr10" data-toggle="modal" data-target="#AddPromo">Add New</a>
            </h3>
            
            <div class="well promocode spacingTable table-responsive">
                <table class="table promocode_table NoBorder">
                    <thead>
                        <tr>
                            <th>Promo Code</th>
                            <th>Assigned User</th>
                            <th>Discount</th>
                            <th>Status</th>
                            <th>Provided on</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>      
    </div>
</div>

<div id="AddPromo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Add a Promotional Code</h4>
            </div>
            <form method="POST" name="addPromoCodeForm" id="addPromoCodeForm">
                <div class="modal-body formPopup clearfix">
                    <div class="col-sm-12 mb10">
                        <label>Code</label>
                        <div class="input-group">
                            <input type="text" class="form-control mb0" id="inputpromocode" name="inputpromocode" readonly>
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" id="genPromoCode" type="button">Generate</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <label>Search User</label>
                        <div class="col-sm-12">
                            <select class="form-control select2" name="lstUserList" id="lstUserList" style="width: 100%">
                                <option value=''>Select User</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label>Discount (%)</label>
                        <input type="text" class="form-control" name="discount" id="discount">
                    </div>
                    <div class="col-sm-12">
                        <label>Additional Message (Optional)</label>
                        <textarea class="form-control" rows="6" name="promoCodeMsg"></textarea>
                    </div>           
                </div>
                <div class="modal-footer">                    
                    <button class="btn red-bg btn-reg">Add PromoCode</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="pcodeModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete</h4>
            </div>            

            <div class="modal-body formPopup clearfix">
                Are you sure, You want to delete this promocode ?
            </div>
            <input type="hidden" name="delpcode" id="delpcode">
            <div class="modal-footer">
                <a href="#" id="delCode" class="btn red-bg btn-reg">Yes</a>
                <button type="button" class="btn red-bg btn-reg" data-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>

<link href="{{frontConstant.ACCESSURL}}css/bootstrap-datepicker3.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<link href="{{frontConstant.ACCESSURL}}css/select2.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<link href="{{frontConstant.ACCESSURL}}css/jquery.dataTables.min.css?v={{frontConstant.VERSION}}" rel="stylesheet">
<script src="{{frontConstant.ACCESSURL}}js/bootstrap-datepicker.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/select2.full.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/jquery.dataTables.min.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/mentors/promocode.js?v={{frontConstant.VERSION}}"></script>