<style type="text/css">
    .thankyou_page .fa{
        font-size: 40px;
    }
    .thankyou_page .panel label, .thankyou_page .panel span{
        padding: 10px 0px;
    }
</style>
<div class="fullscreen inner-banners">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>Thank You. You’re All Set!</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper lg-pad">
    <div class="container thankyou_page">
        <div class="row">
            <div class="col-md-12">
                <!--<p style="font-size: 50px;text-align: center;">Check your email. We sent you all the info.</p>-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <!--<h1 style="text-align: center;">Just 1 step to get ready for the meeting...</h1>-->
                <h3 style="text-align: center;">You may wish to add this meeting to your calendar by clicking the "Add to Calendar" button on the right.</h3>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add it to your Calendar!</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <span><i class="fa fa-clock-o"></i></span>
                            </div>
                            <div class="col-md-10">
                                <label>TimeZone:</label>
                                <span>{{userData.zone_name}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <span><i class="fa fa-calendar"></i></span>
                            </div>
                            <div class="col-md-10">
                                <label>Date:</label>
                                <span>{{invitationDetail.dateDisplay}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <span><i class="fa fa-clock-o"></i></span>
                            </div>
                            <div class="col-md-10">
                                <label>Start Time:</label>
                                <span>{{invitationDetail.startTimeDisplay}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <span><i class="fa fa-clock-o"></i></span>
                            </div>
                            <div class="col-md-10">
                                <label>End Time</label>
                                <span>{{invitationDetail.endTimeDisplay}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                <span class="addtocalendar atc-style-blue">
                                    <var class="atc_event">
                                        <var class="atc_date_start">{{invitationDetail.atc_startTimeDisplay}}</var>
                                        <var class="atc_date_end">{{invitationDetail.atc_endTimeDisplay}}</var>
                                        <var class="atc_timezone">{{userData.zone_name}}</var>
                                        <var class="atc_title">{{invitationData.meeting_purpose}}</var>
<!--                                        <var class="atc_description">{{invitationData.meeting_purpose_indetail}}</var>-->
                                        <var class="atc_description"><a href="{{frontConstant.ACCESSURL}}mentor/startMeeting/{{meetingKey}}" target="_blank">Enter Meeting</a></var>
                                        <var class="atc_location">SourceAdvisor</var>
                                    </var>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="{{frontConstant.ACCESSURL}}js/addtocalendar/atc-style-blue.css?v={{frontConstant.VERSION}}" rel="stylesheet">
<script src="{{frontConstant.ACCESSURL}}js/addtocalendar/addtocalendar.js?v={{frontConstant.VERSION}}"></script>