<div class="fullscreen inner-banners">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>Feedback</h2>
                    <!--<ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Meetings</li>
                    </ol>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">        
    <div class="container page">
        <input type='hidden' name='key' id='key' value='{{feedbackKey}}' />
        {{#each feedbackData}}        
        <input type='hidden' name='userType' id='userType' value='{{this.user_type}}' />


        {{#ifCond this.is_used '!=' '1'}}
        <!-- meeting details-->
        <div class="row">
            <div class="col-sm-3">
                <div class="profileinfo">
                    <div class="profilePic">
                        <img src="{{this.finalProfileImageUrl}}" class="img-responsive">
                    </div>
                    <h2><a href="#">{{this.name}}</a></h2>
                </div>
            </div>
            <div class="col-sm-9">                                
                <div class="meetingHistory">                                
                    <p class="meetingListDetail"><label>Meeting Status</label><label style="color:green">{{this.status}}</label></p>

                    {{#ifCond this.invitation_slots '!=' ''}}
                    {{#each this.invitation_slots}}                            
                    <p class="meetingListDetail"><label>Meeting Date & Time </label>{{this.displayDate}}</p>                                     
                    {{/each}}
                    {{/ifCond}}                           

                    {{#ifCond this.invitation_slots '==' ''}}
                    <p class="meetingListDetail"><label>Meeting Date & Time </label>{{../created_date}}</p>
                    {{/ifCond}}

                    <p class="meetingListDetail"><label>Meeting Type</label>One time conference call for {{this.duration}} minutes</p>
                    <div class="meetingListDetail"><label>Meeting Purpose</label>
                        <p>
                            {{#ifCond this.meeting_purpose '!=' ''}}                            
                            {{this.meeting_purpose}}
                            {{/ifCond}}
                            {{#ifCond this.meeting_purpose '==' ''}}
                            -
                            {{/ifCond}} 
                        </p>
                        {{#ifCond this.meeting_purpose '!=' ''}}                            
                        <a href="#" class="btn-simple meetingPurpose" data-purpose="{{this.meeting_purpose}}" data-toggle="modal" data-target="#morePurposePopUp">Read More</a>
                        {{/ifCond}} 
                    </div>
                    <div class="meetingListDetail"><label>More Details</label>
                        <p>                            
                            {{#ifCond this.meeting_purpose_indetail '!=' ''}}                            
                            {{this.meeting_purpose_indetail}}                            
                            {{/ifCond}}                         
                            {{#ifCond this.meeting_purpose_indetail '==' ''}}
                            -
                            {{/ifCond}} 
                        </p>
                        {{#ifCond this.meeting_purpose_indetail '!=' ''}}                        
                        <a href="#" class="btn-simple moreDetails" data-moredetail="{{this.meeting_purpose_indetail}}" data-toggle="modal" data-target="#moreDetailPopUp">Read More</a>
                        {{/ifCond}}                         
                    </div>
                    <div class="mt20 mb20">  
                    </div>
                </div>                        
            </div>
        </div>
        <!-- meeting details-->

        <!-- feedback -->
        <div class="row">                        
            <input type='hidden' name='oppsiteUser' id='oppsiteUser' value='{{this.user_id}}' />
            <input type='hidden' name='meetingId' id='meetingId' value='{{this.meeting_detail_id}}' />
            <input type='hidden' name='loggedInUser' id='loggedInUser' value='{{this.requester_id}}' />
            <div class="formPopup clearfix">
                <div class="mt20 col-sm-12">

                    {{#ifCond this.user_type '==' 'mentor'}}
                    <!-- MENTOR TO USER -->
                    <div id="mentortouser" style="display: block;">
                        <div class="GiveFeedback">
                            <div class="customTooltipLink">
                                <label>Courteousness</label>
                                <div class="customTooltip">
                                    <span>Was the user adequately courteous and exhibit mutual respect in communication?</span>
                                </div>
                            </div>
                            <div id="stars_M_U_1" class="starrr mtu starRating" data-index="1"></div>
                        </div>

                        <div class="GiveFeedback">
                            <div class="customTooltipLink">
                                <label>Punctuality</label>
                                <div class="customTooltip">
                                    <span> Was the user on time for the meeting ?</span>
                                </div>
                            </div>
                            <div id="stars_M_U_2" class="starrr mtu starRating" data-index="2"></div>
                        </div>

                        <div class="GiveFeedback">
                            <div class="customTooltipLink">
                                <label>Compliance</label>
                                <div class="customTooltip">
                                    <span>Did the user exhibit adequate restraint by not pushing you to answer questions bordering material non-public information or inside information?</span>
                                </div>
                            </div>
                            <div id="stars_M_U_3" class="starrr mtu starRating" data-index="3"></div>
                        </div>
                    </div>
                    {{/ifCond}}

                    {{#ifCond this.user_type '==' 'user'}}    
                    <!-- USER TO MENTOR -->
                    <div id="usertomentor" style="display: block;">
                        <div class="GiveFeedback">
                            <div class="customTooltipLink">
                                <label>Domain Expertise</label>
                                <div class="customTooltip">
                                    <span>How satisfied were you on mentor's domain expertise?</span>
                                </div>
                            </div>
                            <div id="stars_U_M_1" class="starrr utm starRating" data-index="1"></div>
                        </div>

                        <div class="GiveFeedback">
                            <div class="customTooltipLink">
                                <label>Clarity</label>
                                <div class="customTooltip">
                                    <span>How satisfied were you on mentor's clarity of communication and articulation?</span>
                                </div>
                            </div>
                            <div id="stars_U_M_2" class="starrr utm starRating" data-index="2"></div>
                        </div>

                        <div class="GiveFeedback">
                            <div class="customTooltipLink">
                                <label>Pricing</label>
                                <div class="customTooltip">
                                    <span>How would you rate value derived for the price paid for this meeting?</span>
                                </div>
                            </div>
                            <div id="stars_U_M_3" class="starrr utm starRating" data-index="3"></div>
                        </div>

                        <div class="GiveFeedback">
                            <div class="customTooltipLink">
                                <label>Punctuality</label>
                                <div class="customTooltip">
                                    <span>Was the mentor on time for the meeting ?</span>
                                </div>
                            </div>
                            <div id="stars_U_M_4" class="starrr utm starRating" data-index="4"></div>
                        </div>

                        <div class="GiveFeedback">
                            <div class="customTooltipLink">
                                <label>Courteousness</label>
                                <div class="customTooltip">
                                    <span>Was the mentor adequately courteous and exhibit mutual respect in communication?</span>
                                </div>
                            </div>
                            <div id="stars_U_M_5" class="starrr utm starRating" data-index="5"></div>
                        </div>
                    </div>
                    {{/ifCond}}
                    <!-- <input type="hidden" name="maillabel" id="maillabel" value="Pre Call Preparation"> -->          
                    <div class="GiveFeedback" id="noclick">
                        <label>Overall</label>
                        <div id="stars_overAll" class="starrr"></div>
                    </div>                   
                </div>
                <div class="mt10 col-sm-12">
                    <label>Detailed Feedback</label>
                    <textarea class="form-control sm" rows="5" id='feedback'></textarea>
                </div>
                <button class="btn red-bg btn-reg" id='submitreview' disabled="disabled">Submit Feedback</button>
            </div>          
        </div>
        <!-- feedback -->
        {{/ifCond}}        
        <!-- Thank YOU -->
        {{#ifCond this.is_used '==' '1'}}
        <div class="row">
            <label style="font-size: 16px;padding: 20px;">Thank You for your feedback.</label>
        </div>
        {{/ifCond}}
        <!-- Thank YOU -->
        {{/each}}      
        
        {{#ifCond msg '!=' ""}}
        <div class="row">
            <label style="font-size: 16px;padding: 20px;">Invalid URL.</label>
        </div>
        {{/ifCond}}        
    </div>
</div>

<!-- more purpose popup -->            
<div id="morePurposePopUp" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title viewtitle">Meeting Purpose</h4>
            </div>
            <div class="modal-body formPopup clearfix">                            
                <div class="">
                    <span id="morePurposeSpan"></span>
                </div>                            
                <div class="modal-footer">
                    <a href="#" class="btn red-bg btn-reg" data-dismiss="modal">Cancel</a>                            
                </div>
            </div>
        </div>
    </div>
</div>
<!-- more detail popup -->

<!-- more detail popup -->            
<div id="moreDetailPopUp" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title viewtitle">More Details</h4>
            </div>
            <div class="modal-body formPopup clearfix">                            
                <div class="">
                    <span id="moreDetailSpan"></span>
                </div>                            
                <div class="modal-footer">
                    <a href="#" class="btn red-bg btn-reg" data-dismiss="modal">Cancel</a>                            
                </div>
            </div>
        </div>
    </div>
</div>
<!-- more detail popup -->

<script src="{{frontConstant.ACCESSURL}}js/jquery-ui.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/starr_plugin.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/independent/independent.js?v={{frontConstant.VERSION}}"></script>