<script id="meetingListingBoxes" type="text/x-handlebars-template">
    
\{{#if meetingfutureAllData.meetingfutureData}}
        \{{#each meetingfutureAllData.meetingfutureData}}                
                    <div class="meetingSection">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="profileinfo">
                                    <div class="profilePic">
                                        <img src=\{{this.finalProfileImageUrl}} class="img-responsive">
                                    </div>
                                    \{{#ifCond this.user_type '==' 'mentor'}}
                                        <h2><a href="{{frontConstant.ACCESSURL}}mentorprofile/\{{this.slug}}" target="_blank">\{{this.first_name}} \{{this.last_name}}</a></h2>
                                    \{{/ifCond}}
                                    \{{#ifCond this.user_type '==' 'user'}}
                                        <h2><a href="{{frontConstant.ACCESSURL}}users/userprofile/\{{this.slug}}" target="_blank">\{{this.first_name}} \{{this.last_name}}</a></h2>
                                    \{{/ifCond}}
                                </div>
                            </div>
                            <div class="col-sm-9">                                
                                <div class="meetingHistory">                                
                                \{{#ifCond this.status '==' 'ACCEPTED'}}
                                
                                    <div class="meetingListDetail">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>Meeting Status</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <label style="color:green">\{{this.status}}</lable>
                                            </div>
                                        </div>
                                    </div>
                                \{{/ifCond}}
                                \{{#ifCond this.status '==' 'COMPLETED'}}
                                    <div class="meetingListDetail">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>Meeting Status</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <label style="color:green">\{{this.status}}</lable>
                                            </div>
                                        </div>        
                                    </div>
                                \{{/ifCond}}
                                \{{#ifCond this.status '==' 'DECLINED'}}
                                        \{{#ifCond this.declined_by '!=' null}}
                                            <div class="meetingListDetail">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label>Meeting Status</label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <label style="color:red">\{{this.status}} BY \{{this.declined_by}}</lable>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="meetingListDetail">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label>Declined At</label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <label>\{{this.updated_date}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        \{{/ifCond}}
                                        \{{#ifCond this.declined_by '==' null}}
                                            <div class="meetingListDetail">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label>Meeting Status</label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <label style="color:red">\{{this.status}}</lable>
                                                    </div>
                                                </div>
                                            </div>
                                        \{{/ifCond}}        
                                \{{/ifCond}}
                                \{{#ifCond this.status '==' 'TIMEDOUT'}}
                                        <div class="meetingListDetail">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>Meeting Status</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label style="color:red">TIMED-OUT</lable>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="meetingListDetail">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>Timed-Out At</label>
                                                </div>
                                                <div class="col-sm-4">
                                                    \{{this.updated_date}}
                                                </div>
                                            </div>
                                        </div>
                                \{{/ifCond}}
                                \{{#ifCond this.status '==' 'CANCELLED'}}
                                        <div class="meetingListDetail">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>Meeting Status</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label style="color:red">\{{this.status}}</lable>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="meetingListDetail">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>Cancelled At</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    \{{this.updated_date}}
                                                </div>
                                            </div>
                                        </div>
                                \{{/ifCond}}        
                                \{{#ifCond this.status '==' 'ACCEPTEDMEETINGCANCEL'}}
                                        <div class="meetingListDetail">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>Meeting Status</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label style="color:red">CANCELLED BY \{{this.declined_by}}</lable>
                                                </div>
                                            </div>
                                        </div>
                                \{{/ifCond}}
                                \{{#ifCond this.status '==' 'NO SHOW BOTH'}}
                                        <div class="meetingListDetail">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>Meeting Status</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label style="color:red">NO SHOW BY BOTH PARTIES</lable>
                                                </div>
                                            </div>
                                        </div>
                                \{{/ifCond}}
                                \{{#ifCond this.status '==' 'NO SHOW MENTOR'}}
                                        <div class="meetingListDetail">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>Meeting Status</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label style="color:red">NO SHOW BY \{{this.declined_by}}</lable>
                                                </div>
                                            </div>
                                        </div>
                                \{{/ifCond}}
                                \{{#ifCond this.status '==' 'NO SHOW USER'}}
                                        <div class="meetingListDetail">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>Meeting Status</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label style="color:red">NO SHOW BY \{{this.declined_by}}</lable>
                                                </div>
                                            </div>
                                        </div>
                                \{{/ifCond}}                                
                                        
                                 \{{#ifCond this.status '==' 'ACCEPTED'}}
                                   <!-- <div class="meetingListDetail">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>Enter Meeting</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <a href="{{frontConstant.ACCESSURL}}mentor/startMeeting/\{{meeting_url_key}}" target="_blank">\{{meeting_url_key}}</a>
                                            </div>
                                        </div>
                                    </div>-->
                                \{{/ifCond}}                                
                                \{{#ifCond this.invitation_slots '!=' ''}}        
                                    \{{#each this.invitation_slots}}
                                        \{{#ifCond this.status '==' 'accepted'}}
                                            <div class="meetingListDetail">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label>Meeting Date & Time </label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        \{{this.displayDate}}
                                                    </div>
                                                </div>
                                            </div>
                                        \{{/ifCond}}                         
                                    \{{/each}}
                                \{{/ifCond}}                           
                                    
                                \{{#ifCond this.invitation_slots '==' ''}}
                                    <div class="meetingListDetail">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>Meeting Date & Time </label>
                                            </div>
                                            <div class="col-sm-8">
                                                \{{../invitationLastSlot.starttext}} \{{../invitationLastSlot.endtext}}
                                            </div>
                                        </div>
                                    </div>
                                \{{/ifCond}}
                                            
                                    <div class="meetingListDetail">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>Meeting Type</label>
                                            </div>
                                            <div class="col-sm-8">
                                                One time conference call for \{{this.duration}} minutes
                                            </div>
                                        </div>
                                    </div>
                                    
                                    \{{#ifCond this.invitation_type '==' '0'}}
                                    <div class="meetingListDetail">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>Meeting Purpose</label>
                                            </div>
                                            <div class="col-sm-8">
                                                \{{this.meetingPurposeDisplay}}

                                                \{{#ifCond this.meeting_purpose '!=' ''}}
                                                    \{{#ifCond this.meetingPurposeCount '>=' '80'}}
                                                        <a href="#" class="btn-simple meetingPurpose" data-purpose="\{{this.meeting_purpose}}" data-toggle="modal" data-target="#morePurposePopUp">Read More</a>
                                                    \{{/ifCond}}
                                                \{{/ifCond}}
                                                \{{#ifCond this.meeting_purpose '==' ''}}
                                                    -
                                                \{{/ifCond}}
                                                
                                            </div>
                                        </div>
                                    </div>
                                    \{{/ifCond}}        
                                    
                                    <div class="meetingListDetail">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>More Details</label>
                                            </div>
                                            <div class="col-sm-8">
                                                \{{{this.meetingPurposeDetailDisplay}}}
                                                \{{#ifCond this.meetingPurposeDetailDisplay '!=' ''}}
                                                    \{{#ifCond this.meetingPurposeDetailCount '>=' '80'}}
                                                        <a href="#" class="btn-simple moreDetails" data-moreDetail="\{{this.meeting_purpose_indetail}}" data-toggle="modal" data-target="#moreDetailPopUp">Read More</a>
                                                    \{{/ifCond}}
                                                \{{/ifCond}}
                                                \{{#ifCond this.meetingPurposeDetailDisplay '==' ''}}
                                                    -
                                                \{{/ifCond}}
                                            </div>
                                        </div>
                                    </div>
                                   
                                    \{{#ifCond this.invitation_type '==' '0'}}
                                        \{{#ifCond this.user_id '==' this.loggedinuser}}                                            
                                            <div class="meetingListDetail">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label>Mentor Earnings</label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        $\{{this.final_pay_to_mentor}} <a href="javascript:void(0);" class="btn-simple costBreakApi" data-invitation_id="\{{this.invitation_id}}" data-userType="Mentor">View Breakup </a>
                                                    </div>
                                                </div>
                                            </div>
                                        \{{/ifCond}} 
                                        \{{#ifCond this.requester_id '==' this.loggedinuser}}                                            
                                            <div class="meetingListDetail">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label>Meeting Cost</label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        $\{{this.final_user_paid_amount}} <a href="javascript:void(0);" class="btn-simple costBreakApi" data-invitation_id="\{{this.invitation_id}}" data-userType="User">View Breakup</a>
                                                    </div>
                                                </div>
                                            </div>
                                        \{{/ifCond}}         
                                    \{{/ifCond}}
                                            
                                    \{{#ifCond this.invitation_type '==' '1'}}
                                        \{{#ifCond this.user_id '==' this.loggedinuser}}                                            
                                            <div class="meetingListDetail">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label>Meeting Cost</label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        $\{{this.final_user_paid_amount}} <a href="javascript:void(0);" class="btn-simple costBreakApi" data-invitation_id="\{{this.invitation_id}}" data-userType="User">View Breakup</a>
                                                    </div>
                                                </div>
                                            </div>
                                        \{{/ifCond}} 
                                        \{{#ifCond this.requester_id '==' this.loggedinuser}}                                            
                                            <div class="meetingListDetail">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label>Mentor Earnings</label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        $\{{this.final_pay_to_mentor}}  <a href="javascript:void(0);" class="btn-simple costBreakApi" data-invitation_id="\{{this.invitation_id}}" data-userType="Mentor">View Breakup </a>
                                                    </div>
                                                </div>
                                            </div>
                                        \{{/ifCond}}
                                    \{{/ifCond}}        
                                    
                                    
                                    
                                    
                                    \{{#ifCond this.invitation_documents '!=' ''}}                                        
                                            <div class="clearfix PendingMeetingInvites" style="width:70%">
                                                <div class="accordion" id="fileAttached">
                                                    <div class="accordion-group">
                                                        <div class="accordion-heading">
                                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#fileAttached" href="#fileAttachedDiv">
                                                                <i class="fa fa-file"></i>Attached Files<em class="icon-fixed-width fa fa-plus"></em>
                                                            </a>
                                                        </div>
                                                        <div id="fileAttachedDiv" class="accordion-body collapse">
                                                            <div class="accordion-inner">
                                                                <div class="SharedDocuments">
                                                                    <ul>
                                                                    \{{#each this.invitation_documents}}
                                                                        <li class="mb0">
                                                                            <div class="download">
                                                                                \{{#ifCond this.isFileExist '==' true}}
                                                                                    <a href="\{{this.document_path}}"><i class="fa fa-arrow-down"></i></a>
                                                                                \{{/ifCond}}
                                                                                \{{#ifCond this.isFileExist '!=' true}}
                                                                                    <a href="#" class="filenotexist"><i class="fa fa-times"></i></a>
                                                                                \{{/ifCond}}
                                                                            </div>
                                                                            <div class="detail">
                                                                                <p class="filename1">
                                                                                    \{{#ifCond this.document_real_name '!=' ''}}
                                                                                        \{{this.document_real_name}}
                                                                                    \{{/ifCond}}
                                                                                    \{{#ifCond this.document_real_name '==' ''}}
                                                                                        \{{this.document_name}}
                                                                                    \{{/ifCond}}
                                                                                </p>
                                                                                \{{#ifCond this.isFileExist '==' true}}
                                                                                   <span class="filesize1">\{{this.document_size}}</span>
                                                                                \{{/ifCond}}
                                                                                \{{#ifCond this.isFileExist '!=' true}}
                                                                                    <span class="filesize1">File Not Found</span>
                                                                                \{{/ifCond}}
                                                                            </div>
                                                                        </li>
                                                                    \{{/each}}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                     
                                \{{/ifCond}}
                                    
                            
                            
                                    \{{#ifCond this.status '==' 'ACCEPTED'}}
                                    <div class="mt20 mb20">
                                    \{{#ifCond this.invitation_type '==' '0'}}
                                        \{{#ifCond this.user_id '==' this.loggedinuser}}
                                            \{{#ifCond this.cancelbtn '==' 'cancelshow'}}
                                                <a href="" class="buttons btn-black cancelMeetingMentor" data-capture_id="\{{this.capture_id}}" data-mentor_id="\{{this.user_id}}" data-user_id="\{{this.requester_id}}" data-toggle="modal" data-invitation_id="\{{this.invitation_id}}" data-duration="\{{this.duration}}" data-mentor_id = "\{{this.mentor_id}}" data-target="#cancelMeetingMentor">Cancel Meeting</a>
                                            \{{/ifCond}}
                                        \{{/ifCond}} 
                                        \{{#ifCond this.requester_id '==' this.loggedinuser}}
                                            \{{#ifCond this.cancelbtn '==' 'cancelshow'}}
                                                <a href="" class="buttons btn-black cancelMeetingUser" data-capture_id="\{{this.capture_id}}" data-user_id="\{{this.requester_id}}" data-mentor_id="\{{this.user_id}}" data-toggle="modal" data-invitation_id="\{{this.invitation_id}}" data-duration="\{{this.duration}}" data-policy = "\{{this.cancellation_policy_type}}" data-target="#cancelMeetingUser">Cancel Meeting</a>
                                            \{{/ifCond}}    
                                        \{{/ifCond}}         
                                    \{{/ifCond}}
                                    \{{#ifCond this.invitation_type '==' '1'}}
                                        \{{#ifCond this.user_id '==' this.loggedinuser}}
                                            \{{#ifCond this.cancelbtn '==' 'cancelshow'}}
                                                <a href="" class="buttons btn-black cancelMeetingUser" data-capture_id="\{{this.capture_id}}" data-user_id="\{{this.user_id}}" data-mentor_id="\{{this.requester_id}}" data-toggle="modal" data-invitation_id="\{{this.invitation_id}}" data-duration="\{{this.duration}}" data-policy = "\{{this.cancellation_policy_type}}" data-target="#cancelMeetingUser">Cancel Meeting</a>
                                            \{{/ifCond}}    
                                        \{{/ifCond}} 
                                        \{{#ifCond this.requester_id '==' this.loggedinuser}}
                                            \{{#ifCond this.cancelbtn '==' 'cancelshow'}}
                                                <a href="" class="buttons btn-black cancelMeetingMentor" data-capture_id="\{{this.capture_id}}" data-mentor_id="\{{this.requester_id}}" data-user_id="\{{this.user_id}}" data-toggle="modal" data-invitation_id="\{{this.invitation_id}}" data-duration="\{{this.duration}}" data-mentor_id = "\{{this.mentor_id}}" data-target="#cancelMeetingMentor">Cancel Meeting</a>
                                            \{{/ifCond}}    
                                        \{{/ifCond}}
                                    \{{/ifCond}}
                                            
                                        <!--<a href="#" class="buttons btn-blue">Reschedule Meeting</a>-->
                                    \{{#ifCond this.user_id '==' this.loggedinuser}}    
                                        <a href="" class="buttons btn-red sendMentorMsg" data-toggle="modal" data-mentor_id = "\{{this.requester_id}}" data-target="#sendMsgMentor">Send Message</a>
                                    \{{/ifCond}}
                                    \{{#ifCond this.requester_id '==' this.loggedinuser}}
                                            <a href="" class="buttons btn-red sendMentorMsg" data-toggle="modal" data-mentor_id = "\{{this.user_id}}" data-target="#sendMsgMentor">Send Message</a>
                                    \{{/ifCond}}  
                                    \{{#ifCond this.status '==' 'ACCEPTED'}}    
                                        <a class="buttons btn-red" href="{{frontConstant.ACCESSURL}}mentor/startMeeting/\{{meeting_url_key}}" target="_blank">Enter Meeting</a>
                                    \{{/ifCond}}
                                    </div>
                            
                                    \{{/ifCond}}                                    
                                    \{{#ifCond this.status '!=' 'ACCEPTED'}}
                                    <div class="mt20 mb20">                          
                                        \{{#ifCond this.status '==' 'COMPLETED'}}                                
                                            \{{#ifCond this.invitation_type '==' '1'}}                                                
                                               \{{#ifCond this.user_id '==' this.loggedinuser}}                                                    
                                                   \{{#ifCond this.reqRef '==' 'show'}}                                                       
                                                        \{{#ifCond this.aleardyRaised '==' null}}
                                                            <a href="" class="buttons btn-red refundRequestPopUp" data-toggle="modal" data-meeting_url_key="\{{this.meeting_url_key}}" data-duration="\{{this.duration}}" data-req_invitation_id="\{{this.invitation_id}}" data-invitation_id="\{{this.invitation_id}}" data-user_id="\{{this.user_id}}" data-mentor_id="\{{this.requester_id}}" data-meeting_id = "\{{this.meeting_id}}" data-target="#refundRequest">Request Refund</a>
                                                        \{{/ifCond}}
                                                        \{{#ifCond this.aleardyRaised '!=' null}}
                                                            <a href="javascript:void(0);" class="buttons btn-red refundRequestPopUp">Refund Requested</a>
                                                        \{{/ifCond}}        
                                                    \{{/ifCond}}                                                            
                                                \{{/ifCond}}
                                                
                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                                             \{{#ifCond this.user_id '==' this.loggedinuser}}
                                                \{{#ifCond this.review_id '==' null}}        
                                                    <a href="javascript:void(0);" class="buttons btn-blue feedbackbtn" data-meeting_id = "\{{this.meeting_id}}" data-mentor_id = "\{{this.mentor_id}}" data-rate_to="mentor"  id="giveReviewBtn" >Leave a Feedback</a>
                                                \{{/ifCond}}
                                             \{{/ifCond}}
                                                     
                                             \{{#ifCond this.requester_id '==' this.loggedinuser}}        
                                                \{{#ifCond this.review_id '==' null}}        
                                                    <a href="javascript:void(0);" class="buttons btn-blue feedbackbtn" data-meeting_id = "\{{this.meeting_id}}" data-mentor_id = "\{{this.mentor_id}}" data-rate_to="user" id="giveReviewBtn">Leave a Feedback</a>
                                                \{{/ifCond}}               
                                             \{{/ifCond}}           
                                                        
                                            \{{/ifCond}}
                                                
                                            \{{#ifCond this.invitation_type '==' '0'}}
                                                \{{#ifCond this.requester_id '==' this.loggedinuser}}
                                                    \{{#ifCond this.reqRef '==' 'show'}}
                                                        \{{#ifCond this.aleardyRaised '==' null}}
                                                            <a href="" class="buttons btn-red refundRequestPopUp" data-toggle="modal" data-meeting_url_key="\{{this.meeting_url_key}}" data-duration="\{{this.duration}}" data-req_invitation_id="\{{this.invitation_id}}" data-invitation_id="\{{this.invitation_id}}" data-user_id="\{{this.requester_id}}" data-mentor_id="\{{this.user_id}}" data-meeting_id = "\{{this.meeting_id}}" data-target="#refundRequest">Request Refund</a>
                                                        \{{/ifCond}} 
                                                        \{{#ifCond this.aleardyRaised '!=' null}}
                                                            <a href="javascript:void(0);" class="buttons btn-red refundRequestPopUp">Refund Requested</a>
                                                        \{{/ifCond}}        
                                                    \{{/ifCond}}
                                                \{{/ifCond}}
                                            \{{/ifCond}}            
                                                
                                          \{{#ifCond this.invitation_type '!=' '1'}}
                                          
                                              \{{#ifCond this.user_id '==' this.loggedinuser}}  
                                                \{{#ifCond this.review_id '==' null}}        
                                                    <a href="javascript:void(0);" class="buttons btn-blue feedbackbtn" data-meeting_id = "\{{this.meeting_id}}" data-mentor_id = "\{{this.mentor_id}}" data-rate_to="user" id="giveReviewBtn">Leave a Feedback</a>
                                                \{{/ifCond}}                                                    
                                               \{{/ifCond}} 
                                               
                                               \{{#ifCond this.requester_id '==' this.loggedinuser}}        
                                                \{{#ifCond this.review_id '==' null}}        
                                                    <a href="javascript:void(0);" class="buttons btn-blue feedbackbtn" data-meeting_id = "\{{this.meeting_id}}" data-mentor_id = "\{{this.mentor_id}}" data-rate_to="mentor"  id="giveReviewBtn" >Leave a Feedback</a>
                                                \{{/ifCond}}               
                                             \{{/ifCond}}           
                                                        
                                                       
                                                       
                                           \{{/ifCond}}                                                   
                                      \{{/ifCond}}
                                        
                                         \{{#ifCond this.invitation_type '==' '1'}}
                                            \{{#ifCond this.user_id '==' this.loggedinuser}}                                            
                                                <a href="{{frontConstant.ACCESSURL}}users/slot_booking/\{{this.slug}}" class="buttons btn-black" target="_blank">Book Another Call</a>
                                            \{{/ifCond}}                                         
                                         \{{/ifCond}}
                                         \{{#ifCond this.invitation_type '==' '0'}}                                        
                                            \{{#ifCond this.requester_id '==' this.loggedinuser}}
                                                <a href="{{frontConstant.ACCESSURL}}users/slot_booking/\{{this.slug}}" class="buttons btn-black" target="_blank">Book Another Call</a>
                                            \{{/ifCond}}         
                                        \{{/ifCond}}        
                                                 
                                                                                                                   
                                    </div>
                                    \{{/ifCond}}
                                </div> 
                                                        
                            </div>
                        </div>                        
                    </div>                
        \{{/each}}
 \{{/if}}  
</script>