<div class="fullscreen inner-banners">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>Meetings</h2>
                    <!--<ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Meetings</li>
                    </ol>-->
                </div>
            </div>
        </div>
    </div>
</div>  
<div class="wrapper">
    <div class="container page">
        <div class="row">

            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active"><a href="#tab_future" data-toggle="tab">Future</a></li>
                        <li><a href="#tab_completed" data-toggle="tab">Completed</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="well well-sm">
                            <div class="col-sm-6 form-inline">
                                <div class="form-group">
                                    <label>Filter by Mentor Name: </label>
                                    <select class="form-control select2" name="lstUserList" id="lstUserList">
                                        <option value=''>Select User</option>
                                    </select>
                                </div>
                            </div>                         
                            <div class="clearfix"></div>
                        </div> 


                        <div class="tab-pane active" id="tab_future">                            
                        </div>

                        <div class="tab-pane" id="tab_completed">                                                  
                        </div>

                        <div id="refundRequest" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header red">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Refund Request</h4>
                                    </div>
                                    <div class="modal-body formPopup clearfix">
                                        <div class="col-sm-12">
                                            <label>Please provide a reason why you want to request for refund.</label>
                                            <select class="form-control">
                                                <option>==Select Reason==</option>
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                                <option>Option 3</option>
                                            </select>
                                        </div>            
                                        <div class="col-sm-12">
                                            <label>Describe your reason.</label>              
                                            <textarea class="form-control" rows="6"></textarea>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <a href="#" class="btn black-bg btn-reg">Cancel</a>
                                        <a href="#" class="btn red-bg btn-reg">Submit Request</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="{{frontConstant.ACCESSURL}}css/select2.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<script src="{{frontConstant.ACCESSURL}}js/select2.full.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/users/bookingDetails.js?v={{frontConstant.VERSION}}"></script>