<div class="fullscreen inner-banners bookmarks">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>Bookmarks</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container page">
        {{> helper/ajaxnotification_helper}}

        {{> helper/mentors/mentor_listing_helper}}

        <div class="row">
            <div class="col-sm-12">
                <div class="search-results" id="searchResultDiv">

                </div>
            </div>
        </div>
    </div>
</div>


<div id="sendMsgMentor" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Send Message</h4>
            </div>
            <div class="modal-body" >
                <textarea name="msgbody" id="msgbody" class="form-control" rows="6"></textarea>
                <input type="hidden" name="mentorId" id="mentorId">
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="sendMentorMsgBtn" class="btn btn-red">Send</a>
            </div>
        </div>
    </div>
</div>

<div id="blockUserMsgFavMentor" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Block</h4>
            </div>
            <form method="POST" id="blockUserFrm">
                <div class="modal-body">                   
                    <div class="form-group blockdiv">
                        <label></label>
                    </div>
                </div>                
            </form>
        </div>
    </div>
</div>

{{> helper/mentors/loginpopup}}


<input type="hidden" name="hidPage" id="hidPage" value="0" />
<input type="hidden" name="hidFlagMoreData" id="hidFlagMoreData" value="Y" />
<input type="hidden" name="hidSortByPreference" id="hidSortByPreference" value="SORTBY_PHL" />
<input type="hidden" name="hidFlagRequesting" id="hidFlagRequesting" value="Y" />

<input type="hidden" name="hidPerPageCount" id="hidPerPageCount" value="{{frontConstant.LISTINGPERPAGE}}" />

<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/handlebars/handlebars.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/handlebars/handlebars_helper.js?v={{frontConstant.VERSION}}"></script>

<script src="{{frontConstant.ACCESSURL}}js/webjs/users/favMentor.js?v={{frontConstant.VERSION}}"></script>