<div class="fullscreen inner-banners meetings">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>Meetings</h2>
                </div>
            </div>
        </div>
    </div>
</div>  

<div class="wrapper">        
    <div class="container page">
        {{> helper/ajaxnotification_helper}}
        <div class="row">           
            <div class="col-md-6 col-md-offset-7 pull-right">                
                <select class="form-control pull-right" name="lstTimeZone" id="lstTimeZone" style="width: 60%;">
                    {{!-- {{#if timeZoneList}}
                    {{#each timeZoneList}}
                    <option value="{{this.zoneId}}" {{#ifCond this.zoneName '==' ../arrSessionData.timezone}} selected="selected" {{/ifCond}} >{{this.zoneName}} ({{this.disaplayName}})</option>
                    {{/each}}
                    {{/if}} --}}
                </select>
            </div>
            <div class="clearfix"></div>

            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active"><a href="#tab_future" data-toggle="tab">Future</a></li>
                        <li><a href="#tab_completed" data-toggle="tab">Completed</a></li>
                    </ul>           
                    <div class="tab-content"> <!-- Tab start -->

                        <div class="tab-pane active text-center" id="tab_future">
                            <div class="meetinglisting"></div>
                            {{#ifCond arrSessionData.userType '==' 'mentor'}}
                                <div class="mentor_section"></div>
                            {{/ifCond}}
                            {{#ifCond arrSessionData.userType '==' 'user'}}
                                <div class="user_section"></div>
                            {{/ifCond}}
                        </div>
                        <input type="hidden" name="hidePageFuture" id="hidePageFuture" value="0" />
                        <input type="hidden" name="hidefutureData" id="hidefutureData" value="Y" />

                        <div class="tab-pane" id="tab_completed">
                            <div class="meetinglisting"></div>
                            {{#ifCond arrSessionData.userType '==' 'mentor'}}
                                <div class="mentor_section"></div>
                            {{/ifCond}}
                            {{#ifCond arrSessionData.userType '==' 'user'}}
                                <div class="user_section"></div>
                            {{/ifCond}}
                        </div>
                        <input type="hidden" name="hidePageCompleted" id="hidePageCompleted" value="0" />
                        <input type="hidden" name="hidecompletedData" id="hidecompletedData" value="Y" />

                    </div> <!-- Tab end -->
                </div>
            </div>

            <div id="refundRequest" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header red">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Refund Request</h4>
                        </div>
                        <div class="modal-body formPopup clearfix">
                            <input type="hidden" name="refund_mentor_id" id="refund_mentor_id"/>
                            <input type="hidden" name="refund_mentor_id" id="refund_user_id"/>
                            <input type="hidden" name="refund_meeting_id" id="refund_meeting_id"/>
                            <input type="hidden" name="refund_invitation_id" id="refund_invitation_id" />
                            <input type="hidden" name="refund_duration" id="refund_duration" />
                            <input type="hidden" name="refund_meeting_url_key" id="refund_meeting_url_key" />
                            <div class="col-sm-12">
                                <label>Please provide a reason why you want to request for refund.</label>
                                <select class="form-control" name="refund_reason" id="refund_reason">
                                    <option value="" >Select Reason</option>
                                    <option value="No Show by mentor">No Show by mentor</option>
                                    <option value="Meeting Cancelled by mentor">Meeting Cancelled by mentor</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>            
                            <div class="col-sm-12">
                                <label>Describe your reason.</label>              
                                <textarea class="form-control" name="refund_desc" id="refund_desc" rows="6"></textarea>
                            </div>

                        </div>
                        <div class="modal-footer">                            
                            <a href="#" class="btn red-bg btn-reg" id="raiseRefundRequestbtn">Submit Request</a>
                            <a href="#" class="btn red-bg btn-reg" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Cost break up -->
            <!--<div id="costBreakUp" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header red">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title viewtitle"></h4>
                        </div>
                        <div class="modal-body formPopup clearfix">

                            <div id="condiv">
                                <div class="col-sm-4">
                                    <label id="condilabel"> </label>                                
                                </div>
                                <div class="col-sm-2">                                
                                    <span id="conditiondiv" class="pull-right"></span>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="clearfix"></div>

                            <div id="normalPay">
                                <div class="col-sm-4">
                                    <label>Mentor Charges </label>                                
                                </div>
                                <div class="col-sm-2">
                                    <span id="mentorRateSpan" class="pull-right"></span>
                                </div>
                                <div class="col-sm-6">&nbsp;</div>
                                <div class="clearfix"></div>
                                <div id="disdiv">
                                    <div class="col-sm-4">
                                        <label>Discount </label>                                
                                    </div>
                                    <div class="col-sm-2">                                
                                        <span id="discount" class="pull-right"></span>
                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>
                                <div class="clearfix"></div>                            
                                <div class="col-sm-4">
                                    <label>SourceAdvisor Charges </label>                                
                                </div>
                                <div class="col-sm-2">
                                    <span id="wissenxChargesSpan" class="pull-right"></span>
                                </div>
                                <div class="col-sm-6"></div>
                                <div class="clearfix"></div>
                                <div class="col-sm-4">
                                    <label>Taxes </label>                                
                                </div>
                                <div class="col-sm-2">                                
                                    <span id="taxes" class="pull-right"></span>
                                </div>
                                <div class="col-sm-6"></div>
                                <div class="clearfix"></div>
                                <div class="col-sm-4">
                                    <label id="finallabel"> </label>                                
                                </div>
                                <div class="col-sm-2" style="border-top: 1px solid">                                
                                    <span id="final" class="pull-right"></span>
                                </div>
                                <div class="col-sm-6">USD</div>
                            </div>
                        </div>   
                        <div class="modal-footer">
                            <a href="#" class="btn red-bg btn-reg" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- Cost break up -->


            <!-- Cost break up -->
            <div id="costBreakUp" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header red">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title viewtitle"></h4>
                        </div>
                        <div class="modal-body formPopup clearfix">                                                   
                            <div id="normalPay">                               
                            </div>
                        </div>   
                        <div class="modal-footer">
                            <a href="#" class="btn red-bg btn-reg" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Cost break up -->

            <!-- send msg -->
            <div id="sendMsgMentor" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header red">                
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Send Message</h4>
                        </div>
                        <div class="modal-body" >
                            <input type="hidden" name="mentor_id" id="mentor_id"/>
                            <input type="hidden" name="user_id" id="user_id" value="{{arrSessionData.userId}}"/>                            
                            <textarea name="msgbody" id="msgbody" class="form-control" rows="6"></textarea>
                        </div>
                        <div class="modal-footer">
                            <!--<a href="javascript:;" id="sendMentorMsgBtn" class="btn btn-red">Send</a>-->
                            <button type="button" id="sendMentorMsgBtn" class="btn btn-red" disabled="true">Send</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- send msg -->


            <!-- cancel meeting mentor -->
            <div id="cancelMeetingMentor" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header red">                
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Cancel Meeting</h4>
                        </div>
                        <div class="modal-body" >
                            <input type="hidden" name="mentor_mentor_id" id="mentor_mentor_id"/>
                            <input type="hidden" name="mentor_user_id" id="mentor_user_id"/>
                            <input type="hidden" name="mentor_capture_id" id="mentor_capture_id"/>
                            <input type="hidden" name="mentor_duration" id="mentor_duration"/>
                            <input type="hidden" name="invitationIdMentor" class="invitationIdMentor" />
                            <input type="hidden" name="user_id" id="user_id" value="{{arrSessionData.userId}}"/>                            
                            <div class="col-sm-12">
                                <label>Are you sure you want to cancel this meeting? You will be charged <span id="displayMentorCost"></span> USD as cancellation charges</label>
                            </div>
                            <div class="clearfix"></div>                            
                        </div>
                        <div class="modal-footer">
                            <a href="javascript:;" id="cancelMeetingMentorOkBtn" class="btn btn-red cancelmeetingmentorbtn">OK</a>
                            <button type="button" class="btn btn-red" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- cancel meeting mentor -->

            <!-- cancel meeting user -->             
            <div id="cancelMeetingUser" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header red">                
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Cancel Meeting</h4>
                        </div>
                        <div class="modal-body" >
                            <input type="hidden" name="user_mentor_id" id="user_mentor_id"/>
                            <input type="hidden" name="user_mentor_id" id="user_user_id"/>
                            <input type="hidden" name="user_duration" id="user_duration"/>
                            <input type="hidden" name="invitationIdUser" class="invitationIdUser" />
                            <input type="hidden" name="user_captureId" id="user_captureId" />
                            <input type="hidden" name="user_id" id="user_id" value="{{arrSessionData.userId}}"/>                            
                            <div class="col-sm-12">
                                <label>Are you sure you want to cancel this meeting? Due to mentor's <span id="displayPolicy"></span> policy you will be charged <span id="displayUserCost"></span> USD as cancellation charges</label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <a href="javascript:;" id="cancelMeetingUserOkBtn" class="btn btn-red cancelmeetinguserbtn">OK</a>
                            <button type="button" class="btn btn-red" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- cancel meeting user -->



            <div id="blockUserMsgDetailPage" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header red">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">Block</h4>
                        </div>
                        <form method="POST" id="blockUserFrm">
                            <div class="modal-body">                   
                                <div class="form-group blockdiv">
                                    <label></label>
                                </div>
                            </div>                
                        </form>
                    </div>
                </div>
            </div>

            <!-- cancel meeting user -->
            <div id="UserCancelModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header red">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">Cancel Meeting</h4>
                        </div>
                        <form method="POST" id="userReasonForm">
                            <div class="modal-body">                   
                                <div class="form-group">
                                    <label for="reason">Reason for cancelling this meeting</label><br>
                                    <input type="radio" name="user_reason" class="user_reason" id="userradiofirst" value="Unavoidable Calendar Conflict" checked> Unavoidable Calendar Conflict <br>
                                    <input type="radio" name="user_reason" class="user_reason" value="Found another more suitable mentor" > Found another more suitable advisor <br>
                                    <input type="radio" name="user_reason" class="user_reason" value="Requested a meeting with the wrong mentor" > Requested a meeting with the wrong mentor <br>
                                    <input type="radio" name="user_reason" class="user_reason" value="Requirement has changed">  Requirement has changed <br>
                                    <input type="radio" name="user_reason" value="user_other"> Other
                                    <textarea class="form-control user_reason" maxlength="100" rows="3" id="user_reasontxt" name="user_reasontxt" ></textarea>
                                    <span class="pull-right"><span id="user_chars">100</span> characters remaining</span>
                                    <span id="user_valid" style="color: red;display: none;">Please enter reason.</span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:;" id="user_reasonbtn" class="btn btn-red">OK</a>
                                <button type="button" class="btn btn-red" data-dismiss="modal">Cancel</button>                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- cancel meeting mentor -->
            <div id="mentorCancelModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header red">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">Cancel Meeting</h4>
                        </div>
                        <form method="POST" id="mentorReasonForm">
                            <div class="modal-body">                   
                                <div class="form-group">
                                    <label for="reason">Reason for cancelling this meeting</label><br>
                                    <input type="radio" name="mentor_reason" class="mentor_reason" id="mentorradiofirst" value="Unavoidable Calendar Conflict" checked> Unavoidable Calendar Conflict <br>
                                    <input type="radio" name="mentor_reason" class="mentor_reason" value="Force-Majeure" > Force-Majeure <br>
                                    <input type="radio" name="mentor_reason" class="mentor_reason" value="Realized after confirming that user may be a competitor" > Realized after confirming that user may be a competitor <br>
                                    <input type="radio" name="mentor_reason" class="mentor_reason" value="Subsequent interaction on messaging system not pleasant"> Subsequent interaction on messaging system not pleasant <br>
                                    <input type="radio" name="mentor_reason" class="mentor_reason" value="Post confirmation, realized user may be seeking interaction around grey areas"> Post confirmation, realized user may be seeking interaction around grey areas <br>
                                    <input type="radio" name="mentor_reason" class="mentor_reason" value="I’m not an expert in the requested subject matter">  I’m not an expert in the requested subject matter <br>
                                    <input type="radio" name="mentor_reason" class="mentor_reason" value="Temporarily stopped accepting any new requests and cancelling confirmed ones"> Temporarily stopped accepting any new requests and cancelling confirmed ones. <br>
                                    <input type="radio" name="mentor_reason" class="mentor_reason" value="Seemed like spam post confirming it">  Seemed like spam post confirming it. <br>
                                    <input type="radio" name="mentor_reason" value="mentor_other"> Other
                                    <textarea class="form-control mentor_reason" maxlength="100" rows="3" id="mentor_reasontxt" name="mentor_reasontxt" ></textarea>
                                    <span class="pull-right"><span id="mentor_chars">100</span> characters remaining</span>
                                    <span id="mentor_valid" style="color: red; display: none;">Please enter reason.</span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:;" id="mentor_reasonbtn" class="btn btn-red">OK</a>
                                <button type="button" class="btn btn-red" data-dismiss="modal">Cancel</button>                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!--Review popup after Meeting Ends-->
            <div id="giveReview" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header red">
                            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                            <h4 class="modal-title">Please submit your rating for your meeting experience.</h4>
                        </div>                                 
                        <input type='hidden' name='oppsiteUser' id='oppsiteUser' value='' />
                        <input type='hidden' name='meetingId' id='meetingId' value='' />


                        <input type='hidden' name='loggedInUser' id='loggedInUser' value='{{arrSessionData.userId}}' />
                        <div class="modal-body formPopup clearfix">
                            <div class="mt20 col-sm-12">

                                <!-- MENTOR TO USER -->
                                <div id="mentortouser" class="hidden">
                                    <div class="GiveFeedback">
                                        <div class="customTooltipLink">
                                            <label>Courteousness</label>
                                            <div class="customTooltip">
                                                <span>Was the user adequately courteous and exhibit mutual respect in communication?</span>
                                            </div>
                                        </div>
                                        <div id="stars_M_U_1" class="starrr mtu starRating" data-index="1"></div>
                                    </div>

                                    <div class="GiveFeedback">
                                        <div class="customTooltipLink">
                                            <label>Punctuality</label>
                                            <div class="customTooltip">
                                                <span> Was the user on time for the meeting ?</span>
                                            </div>
                                        </div>
                                        <div id="stars_M_U_2" class="starrr mtu starRating" data-index="2"></div>
                                    </div>

                                    <div class="GiveFeedback">
                                        <div class="customTooltipLink">
                                            <label>Compliance</label>
                                            <div class="customTooltip">
                                                <span>Did the user exhibit adequate restraint by not pushing you to answer questions bordering material non-public information or inside information?</span>
                                            </div>
                                        </div>
                                        <div id="stars_M_U_3" class="starrr mtu starRating" data-index="3"></div>
                                    </div>
                                </div>

                                <!-- USER TO MENTOR -->
                                <div id="usertomentor" class="hidden">
                                    <div class="GiveFeedback">
                                        <div class="customTooltipLink">
                                            <label>Domain Expertise</label>
                                            <div class="customTooltip">
                                                <span>How satisfied were you on mentor's domain expertise?</span>
                                            </div>
                                        </div>
                                        <div id="stars_U_M_1" class="starrr utm starRating" data-index="1"></div>
                                    </div>

                                    <div class="GiveFeedback">
                                        <div class="customTooltipLink">
                                            <label>Clarity</label>
                                            <div class="customTooltip">
                                                <span>How satisfied were you on mentor's clarity of communication and articulation?</span>
                                            </div>
                                        </div>
                                        <div id="stars_U_M_2" class="starrr utm starRating" data-index="2"></div>
                                    </div>

                                    <div class="GiveFeedback">
                                        <div class="customTooltipLink">
                                            <label>Pricing</label>
                                            <div class="customTooltip">
                                                <span>How would you rate value derived for the price paid for this meeting?</span>
                                            </div>
                                        </div>
                                        <div id="stars_U_M_3" class="starrr utm starRating" data-index="3"></div>
                                    </div>

                                    <div class="GiveFeedback">
                                        <div class="customTooltipLink">
                                            <label>Punctuality</label>
                                            <div class="customTooltip">
                                                <span>Was the mentor on time for the meeting ?</span>
                                            </div>
                                        </div>
                                        <div id="stars_U_M_4" class="starrr utm starRating" data-index="4"></div>
                                    </div>

                                    <div class="GiveFeedback">
                                        <div class="customTooltipLink">
                                            <label>Courteousness</label>
                                            <div class="customTooltip">
                                                <span>Was the mentor adequately courteous and exhibit mutual respect in communication?</span>
                                            </div>
                                        </div>
                                        <div id="stars_U_M_5" class="starrr utm starRating" data-index="5"></div>
                                    </div>
                                </div>
                                <!-- <input type="hidden" name="maillabel" id="maillabel" value="Pre Call Preparation"> -->          
                                <div class="GiveFeedback" id="noclick">
                                    <label>Overall</label>
                                    <div id="stars_overAll" class="starrr"></div>
                                </div>                   
                            </div>
                            <div class="mt10 col-sm-12">
                                <label>Detailed Feedback</label>
                                <textarea class="form-control sm" rows="5" id='feedback'></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn red-bg btn-reg" id='submitreview' disabled="disabled">Submit Feedback</button>
                            <button type="button" class="btn btn-red" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- more detail popup -->            
            <div id="moreDetailPopUp" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header red">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">More Details</h4>
                        </div>
                        <div class="modal-body formPopup clearfix">                            
                            <div class="">
                                <span id="moreDetailSpan"></span>
                            </div>                            
                            <div class="modal-footer">
                                <a href="#" class="btn red-bg btn-reg" data-dismiss="modal">Ok</a>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- more detail popup -->

            <!-- more purpose popup -->            
            <div id="morePurposePopUp" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header red">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Meeting Purpose</h4>
                        </div>
                        <div class="modal-body formPopup clearfix">                            
                            <div class="">
                                <span id="morePurposeSpan"></span>
                            </div>                            
                            <div class="modal-footer">
                                <a href="#" class="btn red-bg btn-reg" data-dismiss="modal">Ok</a>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- more detail popup -->

        </div>
    </div>
</div>

{{> helper/users/meeting_listing_helper}}

<script src="{{frontConstant.ACCESSURL}}js/jquery-ui.js?v={{frontConstant.VERSION}}"></script>
<link href="{{frontConstant.ACCESSURL}}css/select2.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<script src="{{frontConstant.ACCESSURL}}js/select2.full.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/masonry.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/starr_plugin.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/handlebars/handlebars.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/handlebars/handlebars_helper.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/users/user_meetings.js?v={{frontConstant.VERSION}}"></script>

<script>
        {{#if timeZoneList}}  
            var datax = [  
                {{#each timeZoneList}}                                                       
                    { id: '{{this.zoneName}}', text: '<div style="display: inline-block;width: 100%;"><span style="text-align:left;">{{this.zoneName}}</span><span style="text-align:left;float:right;">{{this.disaplayName}}</span></div>',cZone:'{{this.zoneName}}',selectedId:'{{../arrSessionData.timezone}}'},
                        {{/each}} 
                    ];                                            
        {{/if}}
        console.log(datax)
</script>