<input type="hidden" id="mentorTimezone" value="{{arrSessionData.timezone}}"/>
<div class="container page" style="padding-top: 70px;">
    <div class="row">

        <div class="col-md-5 col-md-offset-7 pull-right">            
            <select class="form-control pull-right" name="lstTimeZone" id="lstTimeZone" style="width: 50%;>
                    {{#if timeZoneList}}
                    {{#each timeZoneList}}
                    <option value="{{this.zoneId}}" {{#ifCond this.zoneName '==' ../arrSessionData.timezone}} selected="selected" {{/ifCond}} >{{this.zoneName}}</option>
                {{/each}}
                {{/if}}
            </select>
        </div>

        <div class="masonry">
            <div class="row masonry-container" id="userPendingInvitesListing"></div>
            <div id="noUserPendingInvitesListing" style="display: none;">
                <p>
                    You don't have any pending private invites at the moment. Come and check back later.
                </p>
            </div>
        </div>  

    </div>
</div>

<!--<h2 class="title-sm text-center">You have been invited by mentor to have a meet upon your request.</h2>-->                
<div class="col-sm-4" id="hiddenCardToClone" style="display: none;">
    <input type="hidden" class="mentorid">
    <input type="hidden" class="invoiceid">
    <input type="hidden" class="duration">
    <input type="hidden" class="mentorslug">
    
    <div class="card hovercard">
        <div class="cardheader">
        </div>
        <div class="avatar">
            <img alt="" src="">
        </div>
        <div class="info">
            <div class="title">
                <a target="_blank" href="#" class="mentSumName"></a>
            </div>
            <div class="desc"><span class="cdesc"></span> , <span class="pdesc"></span></div>
            <div class="desc"> Hourly Charge : <span class="charge"></span> <span class="currency"></span></div>
        </div>
        <div class="bottom inviteDetails">
            <div class="well">
                <p>One Time Conference call</p>
                <h3>Invited for TIme Slot</h3>
                <ul class="slot"></ul>
            </div>
            <a href="#" class="accept btn red-btn btn-social">Accept</a>
            <a href="#" class="decline btn btn-darkgray btn-social">Decline</a>
        </div>
    </div>            
</div>

<script src="{{frontConstant.ACCESSURL}}js/jquery-ui.js?v={{frontConstant.VERSION}}"></script>
<link href="{{frontConstant.ACCESSURL}}css/select2.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<script src="{{frontConstant.ACCESSURL}}js/select2.full.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/masonry.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/handlebars/handlebars.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/handlebars/handlebars_helper.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/users/private_invites.js?v={{frontConstant.VERSION}}"></script>