<!-- GOOGLE AUTHENTICATION -->
{{!--<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="1048137796558-fsm9avv3k9vur0aobe5c2inomoh44a81.apps.googleusercontent.com">--}}
<script src="https://apis.google.com/js/platform.js?v={{frontConstant.VERSION}}" async defer></script>

<!-- <script type="text/javascript" src="//platform.linkedin.com/in.js?v={{frontConstant.VERSION}}">
    api_key:   815s6ux0doajvw
    onLoad: onLinkedInLoad
    authorize: true
    scope: r_emailaddress r_basicprofile
</script> -->
<script type="text/javascript" src="//platform.linkedin.com/in.js?v={{frontConstant.VERSION}}">
    api_key:   81h87vn0e8nfxo
            authorize: false
    onLoad: onLinkedInLoad
            scope: r_emailaddress r_basicprofile
</script>



<link rel="stylesheet" href="{{frontConstant.ACCESSURL}}js/intcountrydd/css/intlTelInput.css?v={{frontConstant.VERSION}}">
<link rel="stylesheet" href="{{frontConstant.ACCESSURL}}css/cropper.css?v={{frontConstant.VERSION}}">
<div class="fullscreen profile-banner"></div>

<div class="wrapper">
    <div class="container page">
        <div class="row">
            <div class="wxProfilelineSection">
                <div class="wxProfilePic">
                    <div class="photoContainer mentor_dp">
                        <!-- <img src="{{frontConstant.ACCESSURL}}images/user-1.jpg" name="imgUserProfile" id="imgUserProfile"> -->
                        <img src="{{arrUserData.fullProfileImageURL}}" name="imgUserProfile" id="imgUserProfile">
                        <input type="hidden" name="hidProfileImageChange" id="hidProfileImageChange" value="N" />
                        <input type="hidden" name="hidOldProfilePic" id="hidOldProfilePic" value="{{arrUserData.fullProfileImageURL}}" />

                        <div class="dpAction">
                            <a href="javaScript:;" class="btn click hidden-sm hidden-md hidden-xs" id="btnCameraUpload">
                                <i class="fa fa-camera-retro"></i>
                                Take a Photo
                            </a>
                            <div class="fileUpload btn">
                                <i class="fa fa-picture-o"></i>
                                <span>Upload Photo</span>
                                <input type="file" class="upload" name="flUserProfileImage" id="flUserProfileImage">
                            </div>
                            <!-- <div class="fileUpload btn" id="divRemovePhoto" style="display: none;">
                                <i class="fa fa-times"></i>
                                <span id="flRemoveThisUploadedFile">Remove Photo</span>
                            </div> -->
                        </div>
                    </div>

                    <div class="actions">
                        {{#ifCond arrSessionData.userType '==' 'user'}}
                        <a href="{{frontConstant.ACCESSURL}}mentor/become_a_mentor" class="btn red-btn btn-social">
                            <i class="fa fa-user"></i>Become Mentor
                        </a>
                        {{/ifCond}}


                        <a id="view_wissenx_profile_btn" style="display: none;" target="_BLANK" href="{{frontConstant.ACCESSURL}}mentor/" class="btn green-btn btn-social">
                            <i class="fa fa-eye"></i>View nvestlink profile
                        </a>

                        <a id="compliance_test_btn" style="display: none;" href="{{frontConstant.ACCESSURL}}mentor/complianceTest" class="btn blue-btn btn-social">
                            <i class="fa fa-th-list"></i>Complete Compliance Test
                        </a>

                        <a href="{{frontConstant.ACCESSURL}}users/bookmarked_mentors" class="btn btn-darkgray btn-social">
                            <i class="fa fa-bookmark"></i>Bookmarked
                        </a>

                        <!-- <a href="#" class="btn btn-linkedin btn-social">
                            <i class="fa fa-linkedin-square"></i>
                            
                            {{#ifCond arrSocialLoginData.linkedInId '==' ''}}
                                Connect with LinkedIn
                            {{/ifCond}}

                            {{#ifCond arrSocialLoginData.linkedInId '!=' ''}}
                                Sync with LinkedIn
                            {{/ifCond}}
                            
                            <script type="in/Login"></script>
                        </a>

                        <a href="#" class="btn btn-google btn-social">
                            <i class="fa fa-google-plus-square"></i>
                            {{#ifCond arrSocialLoginData.googleId '==' ''}}
                                Connect with Google
                            {{/ifCond}}

                            {{#ifCond arrSocialLoginData.googleId '!=' ''}}
                                Sync with Google
                            {{/ifCond}}
                            <div class="g-signin2 btn-google" onClick="onSignIn" data-theme="dark"></div>
                        </a> -->

                    </div>
                </div>
            </div>
        </div>
        {{> helper/error_helper }}

        {{> helper/message_helper }}

        {{> helper/ajaxnotification_helper}}

        <div class="row">
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active"><a href="#BasicProfile" data-toggle="tab">Basic Profile</a></li>
                        {{#ifCond arrSessionData.userType '!=' 'user'}}
                        <li><a href="#WorkProfile" data-toggle="tab">Work Profile</a></li>
                        <li><a href="#Portfolio"  id="port" data-toggle="tab">Portfolio</a></li>
                        {{/ifCond}}
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="BasicProfile">
                            <form name="frmUserProfile" id="frmUserProfile" method="post" action="{{frontConstant.ACCESSURL}}users/profileupdate">
                                <div class="well clearfix">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-sm-3 form-group">
                                                <label>First Name</label>
                                                <input name="txtFirstName" id="txtFirstName" type="text" class="form-control" value="{{arrUserData.firstName}}">
                                            </div>
                                            <div class="col-sm-3 form-group">
                                                <label>Last Name</label>
                                                <input name="txtLastName" id="txtLastName" type="text" class="form-control" value="{{arrUserData.lastName}}">
                                            </div>
                                            <div class="col-sm-3 form-group">
                                                <label>E-mail Address</label>
                                                <input name="txtEmail" id="txtEmail" type="text" class="form-control" value="{{arrUserData.userEmail}}">
                                                <input name="txtEmailOld" id="txtEmailOld" type="hidden" class="form-control" value="{{arrUserData.userEmail}}">
                                                <input name="hidEmailAvailable" id="hidEmailAvailable" type="hidden" class="form-control" value="Y">
                                            </div>
                                            <div class="col-sm-3 form-group">
                                                <label>Mobile Number</label>
                                                <input name="txtMobileNumber" id="txtMobileNumber" type="text" class="form-control" value="{{arrUserData.phoneNumber}}">
                                                <input type="hidden" name="txtMobileNumberExt" id="txtMobileNumberExt" value="{{arrUserData.phoneCountry}}" />
                                                <input type="hidden" name="hidPhoneCounterIso2" id="hidPhoneCounterIso2" value="{{arrUserData.phoneCountryISO }}" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-sm-4 form-group">
                                                <label>Date of Birth</label>
                                                <input name="txtDateOfBirth" id="txtDateOfBirth" class="form-control" type="text" value="{{arrUserData.DOB}}">
                                            </div>
                                            <div class="col-sm-4 form-group">
                                                <label>Address 1</label>
                                                <input name="txtAddress" id="txtAddress" type="text" class="form-control" value="{{arrUserData.address1}}">
                                            </div>

                                            <div class="col-sm-4 form-group">
                                                <label>Address 2</label>
                                                <input name="txtAddress2" id="txtAddress2" type="text" class="form-control" value="{{arrUserData.address2}}">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="col-sm-4 form-group">
                                                <label>Country</label>
                                                <select class="form-control" name="lstCountry" id="lstCountry">
                                                    <option data-country-code="" value="">-- Select Country --</option>
                                                    {{#if countryList}}
                                                    {{#each countryList}}
                                                    <option data-country-code="{{this.countryCode}}" value="{{this.countryId}}" 
                                                            {{#ifCond this.countryId '==' ../arrUserData.countryId}}
                                                            selected="selected"
                                                            {{/ifCond}}
                                                            >{{this.countryName}}
                                                </option>
                                                {{/each}}
                                                {{/if}}
                                            </select>
                                        </div>


                                        <div class="col-sm-4 form-group">
                                            <label>City</label>
                                            <input name="txtCityName" id="txtCityName" class="form-control" type="text" value="{{arrUserData.cityLabel}}">
                                            <input type="hidden" name="hidCityId" id="hidCityId" value="{{arrUserData.city}}" />
                                        </div>


                                        <div class="col-sm-4 form-group">
                                            <label>Timezone</label>
                                            <select class="form-control" name="lstTimeZone" id="lstTimeZone">
                                                {{#if timeZoneList}}
                                                {{#each timeZoneList}}
                                                <option value="{{this.zoneId}}" 
                                                        {{#ifCond this.zoneId '==' ../arrUserData.timeZoneId}}
                                                        selected="selected"
                                                        {{/ifCond}}
                                                        >{{this.zoneName}}</option>
                                                {{/each}}
                                                {{/if}}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-sm-12 form-group">
                                            <label>About</label>
                                            <textarea name="taBreif" id="taBreif" class="form-control" rows="6" placeholder="Tell us something about yourself">{{arrUserData.userBreif}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <a href="javascript:;" class="btn btn-lg pull-right red-bg" id="btnUpdateUserProfile">Save Profile Details</a>
                            </div>
                        </form>
                    </div>

                    {{#ifCond arrSessionData.userType '!=' 'user'}}
                    <div class="tab-pane" id="WorkProfile">
                        <div class="well steps">
                            <h3 class="title-sm">Step 1 : Set your Commercial Policies</h3>
                            <form id="step1_submit_frm" class="step1_submit_frm" method="post" action="{{frontConstant.ACCESSURL}}mentor/step1_update" >
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label>Set your hourly rate</label>
                                    </div>
                                    <div class="col-sm-5">
                                        <input id="hourly_rate" name="hourly_rate" maxlength="5" type="text" class="form-control hourly_rate">
                                    </div>
                                    <div class="col-sm-1">
                                        <p class="mid-form">USD</p>
                                        <input type="hidden" id="rate_currency" name="currency" value="USD" />
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="mid-form">Net payout<label class="redAstrisk">*</label>&nbsp;&nbsp;to you: <span id="hourly_rate_text">0</span> <span id="rate_currency_text">USD</span> / Hour</p>
                                    </div>
                                </div>
                                <p><label class="redAstrisk">*&nbsp;</label>Please note this is an approximation of the net payout, actual payout would depend on nvestlink fees charged to mentor, promos offered by you, or taxes applicable if any.</p>
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label class="mr20">Cancellation Policy Type:</label>
                                        <div class="radio-inline customTooltipLink">
                                            <label>
                                                <input type="radio" name="cancellation_policy_type" value="easy" />
                                                Easy
                                                <div class="customTooltip">
                                                    <span>Zero charges for even last moment cancellation</span>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="radio-inline customTooltipLink">
                                            <label>
                                                <input type="radio" name="cancellation_policy_type" value="moderate" />
                                                Moderate
                                                <div class="customTooltip">
                                                    <span>cancel within 3 days to meeting : 15% charge</span>
                                                </div>
                                            </label>
                                        </div>                
                                        <div class="radio-inline customTooltipLink">
                                            <label>
                                                <input type="radio" name="cancellation_policy_type" value="strict" />
                                                Strict
                                                <div class="customTooltip">
                                                    <span>Cancel within 5 days of meeting 25% cancellation charge</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label>nvestlink Profile Link</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="input-group" style="width: 100%;">
                                            <span class="input-group-addon">{{frontConstant.ACCESSURL}}mentorprofile/</span>
                                            <input id="slug" name="slug" type="text" class="form-control">
                                        </div>
                                    </div>

                                </div>
                                <div class="text-center">
                                    <button class="ajaxsubmit_commercialdetail btn red-bg btn-reg">Save Commercial Details</button>
                                    <!--<a href="step2" class="btn red-bg btn-reg">Next</a>-->
                                </div>
                            </form>
                        </div>

                        <div class="well steps">
                            <form id="step2_submit_frm" class="step2_submit_frm" method="post" action="{{frontConstant.ACCESSURL}}mentor/step2_update" >
                                <input type="hidden" name="check_emp_his" id="check_emp_his" value=""/>
                                <input type="hidden" name="check_expertise" id="check_expertise" value=""/>
                                <input type="hidden" name="check_expertise_ids" id="check_expertise_ids" value=""/>

                                <h3 class="title-sm">
                                    Step 2 : Build your professional profile
                                    <!--<a href="#" class="btn btn-linkedin btn-social pull-right"><i class="fa fa-linkedin-square"></i>Connect LinkedIn</a>
                                    <button class="btn btn-linkedin btn-social pull-right sanchit">Connect LinkedIn</button>
                                    <script type="in/Login"></script>-->
                                </h3>
                                {{> helper/error_helper }}

                                {{> helper/ajaxnotification_helper }}

                                {{> helper/message_helper }}
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label>Profession</label>
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="text" name="profession" id="profession" class="form-control" placeholder="Designation….eg: Managing Director, CEO, CFO…">
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" name="job_description" id="job_description" class="form-control" placeholder="Functional Title/Domain…..eg: Head of Asia, Finance,  Head of Operations">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label>Company Details</label>
                                    </div>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="employment_type" id="employment_type">
                                            <option value="">--Select Company Type--</option>
                                            <option value="work_for_an_organization">Work for an Organization</option>
                                            <option value="self_employed">Self Employed</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" name="company_name" id="company_name" class="form-control" placeholder="Company Name">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label>Punchline</label>
                                    </div>
                                    <div class="col-sm-12">
                                        <input type="text" name="punchline" id="punchline" class="form-control" placeholder="Write a Headline which describes your expertise briefly">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label>Overview</label>
                                    </div>
                                    <div class="col-sm-12">
                                        <textarea id="overview" name="overview" class="ckeditor"></textarea> 
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-12 mb10">
                                        <label>Keynote Video</label>
                                        <a class="btn red-bg btn-reg pull-right" href="https://wissenx.uservoice.com/knowledgebase/articles/1114570-how-to-upload-videos-on-youtube-and-share-them-on" target="_blank">How to upload videos on YouTube</a>
                                    </div>


                                    <!--<div class="keynote_option recorded col-sm-4">
                                        <a href="#" class="videoUpload recorded_video">
                                            <i class="fa fa-video-camera"></i>Record Video
                                        </a>
                                    </div>-->


                                    <div class="keynote_option youtube col-sm-6">
                                        <a href="#" class="videoUpload youtube_video">
                                            <i class="fa fa-youtube"></i>Youtube Link
                                        </a>
                                    </div>


                                    <div class="keynote_option uploaded col-sm-6">
                                        <a href="#" class="videoUpload uploaded_video">
                                            <i class="fa fa-cloud-upload"></i>Upload Video
                                        </a> 
                                    </div>

                                    <div style="display: none" class="keynote_option_final video_container col-sm-4"></div>
                                    <div style="display: none" class="keynote_option_final col-sm-8">
                                        <a href="#" class="remove_keynote"><i class="fa fa-times"></i>Remove</a>
                                    </div>
                                </div>

                                <!-- <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label>Location Information</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <select name="location_country" id="location_country" class="form-control">
                                            <option value="">--Select Country--</option>
                                            <option>India</option>
                                            <option>USA</option>
                                            <option>UK</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" name="location_city" id="location_city" class="form-control" placeholder="Location City">
                                        <select name="location_city" id="location_city" class="form-control">
                                            <option value="">--Select City--</option>
                                            <option>Ahmedabad</option>
                                            <option>Mumbai</option>
                                            <option>Delhi</option>
                                        </select>
                                    </div>
                                </div>-->

                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label class="check_expertise">Expertise</label>
                                        <div class="table-responsive employment_expertise">
                                            <table class="table expertise_table" border="1">
                                                <thead>
                                                    <tr>
                                                        <th>Industry</th>
                                                        <th>Sub-Industry</th>
                                                        <th>Domain</th>
                                                        <th>Region</th>
                                                        <th>Sub-Region</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                            <button type="button" class="btn black-bg btn-reg" data-toggle="modal" data-target="#addExpertise">Add Expertise</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label>Add organizations you expertise on (Maximum 10)</label>
                                        <input type="hidden" name="expertise_organization" value="" />
                                        <div id="maxNumTags"></div>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label class="check_emp_his">Employment History</label>
                                        <div class="table-responsive employment_history">
                                            <table class="table employmenthistory_table" border="1">
                                                <thead>
                                                    <tr>
                                                        <th>Role/Designation</th>
                                                        <th>Job Function</th>
                                                        <th>Employment Status</th>
                                                        <th>Company Name</th>
                                                        <th>Duration</th>
                                                        <th>Job Description</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                            <button type="button" class="btn black-bg btn-reg" data-toggle="modal" data-target="#addEmployment">Add Employment History</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button class="ajaxsubmit_professionaldetail btn red-bg btn-reg">Save Professional Profile Details</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="tab-pane" id="Portfolio">
                        <div class="well steps">
                            <form id="step3_submit_frm" class="step3_submit_frm" method="post" action="{{frontConstant.ACCESSURL}}mentor/step3_update" >
                                <h3 class="title-sm">
                                    Step 3 : Showcase your workfolio to the potentials customers
                                    <select class="form-control pull-right" id="filterByIndustry" style="width: 20%;margin-top: -20px;margin-left: 10px;">
                                        <option value="">--Filter by Industry--</option>
                                    </select>
                                    <button type="button" class="btn black-bg btn-reg btn-social pull-right" data-toggle="modal" data-target="#addMentorWorkfolio">Add Workfolio</button>
                                </h3>

                                <div class="expertise_div"></div>
                            </form>
                        </div>

                        <div class="row form-group workfolioClone" style="display: none;">
                            <div class="col-sm-12">
                                <label class="red-title-md" id="expertiseTitle"></label>
                                <input type="hidden" id="industry_id" name="industry_id" />
                            </div>
                            <div class="col-sm-12">
                                <div class="addedList project_link" data-industry-id=""></div>
                            </div>
                        </div>
                    </div>
                    {{/ifCond}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{{#ifCond arrSessionData.userType '!=' 'user'}}

<div id="addExpertise" class="modal fade" role="dialog" data-backdrop='static'>
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addExpertise_form" name="addExpertise_form"  action="{{frontConstant.ACCESSURL}}mentor/save_mentor_expertise" method="POST">
                <input type="hidden" id="expertise_id" name="expertise_id" value="0" />
                <div class="modal-header red">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="expertiseModalTitle">Add an</span> Expertise</h4>
                </div>
                <div class="modal-body formPopup clearfix">
                    <div class="col-sm-6">
                        <label>Select Industry</label>
                        <select name="expertise_industry" id="expertise_industry" class="form-control">
                            <option value="">--Select Industry--</option>
                            {{#each masterData.industriesList}}
                            <option value="{{this.industry_id}}">{{this.industry_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>Select Sub-Industry</label>
                        <select name="expertise_sub_industry" id="expertise_sub_industry" class="form-control">
                            <option value="">--Select Sub-Industry--</option>
                            {{#each masterData.subIndustriesList}}
                            <option style="display: none;" data-industry-id="{{this.industry_id}}" value="{{this.subindustry_id}}">{{this.subindustry_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>Domain</label>
                        <select name="expertise_domain" id="expertise_domain" class="form-control">
                            <option value="">--Select Domain--</option>
                            {{#each masterData.domainList}}
                            <option value="{{this.master_domain_id}}">{{this.domain_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>Select Region</label>
                        <select name="expertise_region" id="expertise_region" class="form-control">
                            <option value="">--Select Region--</option>
                            {{#each masterData.regionList}}
                            <option value="{{this.region_id}}">{{this.region_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>Select Sub-Region</label>
                        <select name="expertise_sub_region" id="expertise_sub_region" class="form-control">
                            <option value="">--Select Sub-Region--</option>
                            {{#each masterData.countriesList}}
                            <option style="display: none;" data-region-id="{{this.regionId}}" value="{{this.countryId}}">{{this.countryName}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="save btn black-bg btn-reg">Save</button>
                    <button type="submit" class="savemore btn red-bg btn-reg">Save & add more</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="addEmployment" class="modal fade" role="dialog" data-backdrop='static'>
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="add_emp_his_form" name="add_emp_his_form" action="{{frontConstant.ACCESSURL}}mentor/save_employment_history" method="POST">
                <input type="hidden" id="employment_id" name="employment_id" value="0" />
                <div class="modal-header red">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="employmentModalTitle">Add</span> Employment History</h4>
                </div>
                <div class="modal-body formPopup clearfix">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Role / Designation</label>
                            <input id="emp_his_role" name="emp_his_role" type="text" class="form-control" placeholder="Designation….eg: Managing Director, CEO, CFO…">
                        </div>
                        <div class="col-sm-6">
                            <label>Job Function</label>
                            <input id="emp_his_job_func" name="emp_his_job_func" type="text" class="form-control" placeholder="Functional Title/Domain…..eg: Head of Asia, Finance,  Head of Operations">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label>Employment Status</label>
                            <select id="emp_his_self_emp" name="emp_his_self_emp" class="form-control">
                                <option value="">--Select Employment Status--</option>
                                <option value="work_for_an_organization">Work for an Organization</option>
                                <option value="self_employed">Self Employed</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label>Company Name</label>
                            <input id="emp_his_comp_name" name="emp_his_comp_name" type="text" class="form-control" placeholder="Company Name">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label>Duration From</label>
                            <input id="emp_his_dur_from" name="emp_his_dur_from" type="text" class="form-control" placeholder="MM/YYYY">
                        </div>
                        <div class="col-sm-6">
                            <label>Duration To</label>
                            <input id="emp_his_dur_to" name="emp_his_dur_to" type="text" class="form-control" placeholder="MM/YYYY">

                            <input id="emp_his_dur_present" name="emp_his_dur_present" type="checkbox" class="" value="1">
                            <label for="emp_his_dur_present">I currently work here</label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label>Job Description</label>
                        <textarea class="ckeditor" name="emp_his_job_desc" id="emp_his_job_desc"></textarea> 
                    </div>            
                </div>
                <div class="modal-footer">
                    <button type="submit" class="save btn black-bg btn-reg">Save</button>
                    <button type="submit" class="savemore btn red-bg btn-reg">Save & add more</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Embed Youtube Video-->
<div id="addYoutubeVideo" class="modal fade" role="dialog" data-backdrop='static'>
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="add_keynote_youtube" name="add_keynote_youtube" action="{{frontConstant.ACCESSURL}}mentor/addKeynoteVideo" method="POST">
                <input type="hidden" name="keynote_type" value="youtube" />
                <div class="modal-header red">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Embed Youtube URL</h4>
                </div>
                <div class="modal-body formPopup clearfix">
                    <div class="col-sm-12">
                        <label>Title</label>		
                        <input id="keynote_title" name="keynote_title" type="text" class="form-control">		
                    </div>
                    <div class="col-sm-12">
                        <label>Youtube Embed URL</label>
                        <input id="youtube_embed" name="youtube_embed" type="text" class="form-control">
                        <label class="lblHint">(Please enter youtube Embed URL)</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="save btn black-bg btn-reg">Save</button>
                    <button type="button" class="btn red-bg btn-reg" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Record Keynote Video-->
<div id="addRecordedVideo" class="modal fade" role="dialog" data-backdrop='static'>
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="add_keynote_record" name="add_keynote_record" action="{{frontConstant.ACCESSURL}}mentor/add_keynote_record" method="POST">
                <input type="hidden" name="keynote_type" value="record" />
                <div class="modal-header red">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Record Keynote Video</h4>
                </div>
                <div class="modal-body formPopup clearfix">
                    <div class="col-sm-12">
                        <p>Not working yet. Will be done once SSL Certificates are installed.</p>
                        <!--<input style="display: none;" id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>-->
                        <!--<video id="myVideo" class="video-js vjs-default-skin"></video>-->
                        <!--<div class="progress">
                            <div class="progress-bar" role="progressbar"></div>
                        </div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="save btn black-bg btn-reg">Save</button>
                    <button type="button" class="btn red-bg btn-reg" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Upload Keynote Video-->
<div id="addUploadVideo" class="modal fade" role="dialog" data-backdrop='static'>
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="add_keynote_upload"  enctype="multipart/form-data" name="add_keynote_upload" action="" method="POST">
                <input type="hidden" name="keynote_type" value="upload" />
                <div class="modal-header red">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Upload Keynote Video</h4>
                </div>
                <div class="modal-body formPopup clearfix">
                    <div class="col-sm-12">		
                        <label>Title</label>		
                        <input id="keynote_title" name="keynote_title" type="text" class="form-control">		
                    </div>
                    <div class="col-sm-12">
                        <label>Upload Video</label>
                        <input type="file" id="upload_video" name="upload_video"  class="form-control" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="save btn black-bg btn-reg">Save</button>
                    <button type="button" class="btn red-bg btn-reg" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add Mentor Workfolio-->
<div id="addMentorWorkfolio" class="modal fade" role="dialog" data-backdrop='static'>
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addWorkfolioForm">
                <div class="modal-header red">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title pull-left">Add Workfolio</h4>
                    <a style="position: absolute;right: 40px;top: 8px;" class="btn black-bg btn-reg pull-right" href="https://wissenx.uservoice.com/knowledgebase/articles/1114570-how-to-upload-videos-on-youtube-and-share-them-on" target="_blank">How to upload videos on YouTube</a>
                </div>
                <div class="modal-body formPopup clearfix">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Select Industry</label>
                            <select name="industry" id="industry" class="form-control">
                                <option value="">--Select Industry--</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb10">
                        <div class="col-sm-12">
                            <label>Select Workfolio Type</label><br/>
                            <label class="radio-inline" for="project_form"><input class="radio-inline" type="radio" name="workfolio_type" id="project_form" value="project"/>Project Link</label>
                            <label class="radio-inline" for="media_form"><input class="radio-inline" type="radio" name="workfolio_type" id="media_form" value="media"/>Embed Video</label>
                            <label class="radio-inline" for="upload_form"><input class="radio-inline" type="radio" name="workfolio_type" id="upload_form" value="upload"/>Upload Media</label>
                        </div>
                    </div>



                    <div class="row hidden_div project_div">
                        <div class="col-sm-12">
                            <label>Enter Project Title</label>
                            <input type="text" id="project_link_title" name="project_link_title" class="form-control" placeholder="Enter Project Title">
                        </div>
                        <div class="col-sm-12">
                            <label class="mt10">Enter Project Link</label>
                            <div class="input-group" style="width: 100%;">
                                <span class="input-group-addon">http(s)://</span>
                                <input type="text" id="project_link" name="project_link" class="form-control" placeholder="Enter Project Link">
                            </div>
                        </div>
                    </div>



                    <div class="row hidden_div media_div">
                        <div class="col-sm-12">
                            <label>Enter Embed Media Title</label>
                            <input type="text" id="media_link_title" name="media_link_title" class="form-control" placeholder="Enter Embed Media Title">
                        </div>
                        <div class="col-sm-12">
                            <label class="mt10">Enter Embed Media Link</label>
                            <input type="text" id="media_link" name="media_link" class="form-control" placeholder="Enter Embed Media Link">
                        </div>
                    </div>




                    <div class="row hidden_div upload_div">
                        <div class="col-sm-12">
                            <label>Enter Upload Media Title</label>
                            <input type="text" id="upload_media_title" name="upload_media_title" class="form-control" placeholder="Enter Upload Media Title">
                        </div>
                        <div class="col-sm-12">
                            <label class="mt10">Select Upload Media</label>
                            <input type="file" id="upload_video" name="upload_video" class="form-control">
                            <input style="display: none;" type="file" name="uploadMedia" multiple="multiple" />
                            <!--<a href="#" class="uploadMedia"><i class="fa fa-cloud-upload"></i>Upload Media</a>-->
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                        </div>
                    </div>

                    <div class="row description_div mt10">
                        <div class="col-sm-12">
                            <label>Enter Workfolio Description</label>
                            <textarea id="media_desc" name="media_desc" class="form-control" placeholder="Enter Workfolio Description" maxlength="150"></textarea>
                            <span class="pull-right"><span id="chars">150</span> characters remaining</span>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="save btn black-bg btn-reg">Save</button>
                    <button type="button" class="btn red-bg btn-reg" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{/ifCond}}

<input type="hidden" name="txtProfileImageData" id="txtProfileImageData" value="" />
<input type="hidden" name="hidUploadImageType" id="hidUploadImageType" value="NUL" />

{{> helper/profile_image_upload_helper}}

<input type="hidden" name="userIPAdd" id="userIPAdd" value="{{userIp}}" />

<script src="{{frontConstant.ACCESSURL}}js/autocomplete/jquery.autocomplete.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/select2.full.js?v={{frontConstant.VERSION}}"></script>
<link href="{{frontConstant.ACCESSURL}}css/select2.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<script src="{{frontConstant.ACCESSURL}}js/bootstrap-datepicker.js?v={{frontConstant.VERSION}}"></script>
<link href="{{frontConstant.ACCESSURL}}css/bootstrap-datepicker3.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<script src="{{frontConstant.ACCESSURL}}js/intcountrydd/js/intlTelInput.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/cropper.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webcam.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/jquery.form.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/users/userprofile.js?v={{frontConstant.VERSION}}"></script>

{{#ifCond arrSessionData.userType '!=' 'user'}}

<link href="{{frontConstant.ACCESSURL}}js/videojs-record/css/video-js.css?v={{frontConstant.VERSION}}" rel="stylesheet">
<link href="{{frontConstant.ACCESSURL}}css/bootstrap-tags.css?v={{frontConstant.VERSION}}" rel="stylesheet">
<script src="{{frontConstant.ACCESSURL}}js/bootstrap-tags.js?v={{frontConstant.VERSION}}"></script>

<link href="{{frontConstant.ACCESSURL}}css/jquery.dataTables.min.css?v={{frontConstant.VERSION}}" rel="stylesheet">
<script src="{{frontConstant.ACCESSURL}}js/jquery.dataTables.min.js?v={{frontConstant.VERSION}}"></script>

<link href="{{frontConstant.ACCESSURL}}css/audioplayer.css?v={{frontConstant.VERSION}}" rel="stylesheet">
<script src="{{frontConstant.ACCESSURL}}js/audiojs/audioplayer.js?v={{frontConstant.VERSION}}"></script>

<script src="{{frontConstant.ACCESSURL}}js/ckeditor/ckeditor.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/jquery.numeric.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/videojs-record/js/video.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/mentors/become_mentor_1.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/mentors/become_mentor_2.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/mentors/become_mentor_3.js?v={{frontConstant.VERSION}}"></script>
{{/ifCond}}