<div class="fullscreen inner-banners settings">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>Settings</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="container page">

        {{> helper/ajaxnotification_helper}}

        <div class="row steps">

            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="title-sm">Receive Notifications Via</h3>
                        {{!--{{#if arrUserSettingData.settings}}
                        {{#each arrUserSettingData.settings}}
                        {{#ifCond this.settingType '==' 'checkbox'}}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="chk{{this.settingName}}" id="chk{{this.settingName}}_{{this.settingId}}" data-settingId="{{this.settingId}}" value="1" class="js-SettingCheckBox" 
                                       {{#if this.userSettingId}}
                                       checked="checked"
                                       {{/if}}
                                       >{{this.settingName}}
                            </label>
                        </div>        
                        {{/ifCond}}
                        {{/each}}
                        {{/if}}--}}
                        <a href="javascript:;" class="add-btn pl0" id="changePwd"><i class="fa fa-pencil-square-o"></i>Change Password</a>
                        <a href="javascript:;" class="add-btn pl0" id="changeSlug" ><i class="fa fa-pencil-square-o"></i>nvestlink Profile Link</a><br>
                        {{#ifCond arrSessionData.userType '==' 'mentor'}}
                            <a href="javascript:;" class="add-btn pl0" id="stopBeingMentor"><i class="fa fa-pencil-square-o"></i>Account Settings</a><br>
                        {{/ifCond}}
                        <a href="#" class="add-btn pl0" data-toggle="modal" data-target="#askPasswordToDeleteAccount"><i class="fa fa-trash-o"></i>Delete Account</a>
                    </div>




                    <!-- form Mentor Profile settings -->
                    <form class="settingsFrom" name="frmMentorProfileSettings" id="frmMentorProfileSettings" action="" method="post" style="display: none;">
                        <div class="col-sm-8">
                            <h3 class="title-sm">Account Settings</h3>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="accountSettingChkbox" name="stop_mentorship" id="stop_mentorship" value="1">Stop Being a advisor
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="accountSettingChkbox" name="hide_profile_search" id="hide_profile_search" value="1"
                                        {{#ifCond arrUserSettingData.accountSettings.hideFromSearch '==' '1'}}
                                            checked="checked"
                                        {{/ifCond}}
                                        >Hide Profile from Search Listing
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="accountSettingChkbox" name="hide_profile_calendar" id="hide_profile_calendar" value="1"
                                        {{#ifCond arrUserSettingData.accountSettings.hideFromCalendar '==' '1'}}
                                            checked="checked"
                                        {{/ifCond}}
                                        >Hide Calendar from Users
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-lg red-bg">Save</button>
                        </div>
                    </form>

                    <!-- form change password -->
                    <form class="settingsFrom" name="frmChangePassword" id="frmChangePassword" action="" method="post">
                        <div class="col-sm-8">
                            <h3 class="title-sm">Change Password</h3>
                            <div class="form-group">
                                <label>Old Password</label>
                                <input type="password" name="txtOldPassword" id="txtOldPassword" value="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" name="txtNewPassword" id="txtNewPassword" value="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Confirm New Password</label>
                                <input type="password" name="txtNewConfPassword" id="txtNewConfPassword" value="" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-lg red-bg">Save</button>
                        </div>
                    </form>

                    <!-- change slug form -->
                    <form class="settingsFrom" name="frmChangeSlug" id="frmChangeSlug" action="" method="post" style="display: none;">
                        <div class="col-sm-8">
                            <h3 class="title-sm">Update nvestlink Profile Link</h3>
                            <div class="form-group">
                                <label>Slug</label>
                                <input type="text" name="slug" id="slug" value="{{arrUserData.slug}}" class="form-control">
                            </div>                            
                            <button type="submit" class="btn btn-lg red-bg">Save</button>
                        </div>
                    </form>


                </div>
            </div>

            <div class="col-sm-4">
                <!--<h3 class="title-sm">nvestlink Updates</h3>
                <article class="news well">
                    <label>14th August 2016</label>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>              
                </article>
                <article class="news well">
                    <label>14th August 2016</label>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>              
                </article>-->
            </div>

        </div>
    </div>
</div>

<!-- Ask password to delete account -->
<div id="askPasswordToDeleteAccount" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">We will miss You !!</h4>
            </div>
            <form name="frmaskPasswordToDeleteAccount" id="frmaskPasswordToDeleteAccount" action="" method="post">
                <div class="modal-body">
                    <p>Deleting your account means your content and profile will be permanently removed from public view on nvestlink. Once you confirm, your account will be deactivated immediately.</p>

                    <div class="alert alert-danger" role="alert" id="divAskPasswordAccountDelete" style="display: none;">
                        <p class="bg-danger" id="askPasswordAccountDelete"></p>    
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="txtAskDeletePassword" id="txtAskDeletePassword" value="" class="form-control">
                    </div>
                </div>

                <!-- <div class="clearfix"></div> -->
                <div class="modal-footer">
                    <button class="btn red-bg">Proceed</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete account popup -->
<div id="deleteAccount" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">We will miss You !!</h4>
            </div>
            <form name="frmDeleteAccount" id="frmDeleteAccount" action="{{frontConstant.ACCESSURL}}users/deleteUserAccount" method="post">
                <div class="modal-body">
                    <p>Please provide a reason why you want to move away from nvestlink so maybe we can try harder and bring you back!!</p>
                    <div>
                        <label>Select a reason</label>
                        <select class="form-control" name="lstReason" id="lstReason">
                            {{#if arrUserSettingData.accountDeleteReason}}
                            {{#each arrUserSettingData.accountDeleteReason}}
                            <option value="{{this.accountDeleteReasonId}}">{{this.reason}}</option>    
                            {{/each}}
                            {{/if}}
                        </select>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="chkDisclaimer" id="chkDisclaimer" value="Y"> I realise all my account information will be lost and agree to Terms.
                        </label>
                    </div>
                </div>

                <!-- <div class="clearfix"></div> -->
                <div class="modal-footer">
                    <button type="submit" class="btn red-bg">Confirm Account Deletion</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/users/usersettings.js?v={{frontConstant.VERSION}}"></script>