<!-- Preloader with Bootstrap Progress Bar -->
<div class="loader hide">
    <h4 style="color: white;">This May take a few seconds,please do not refresh page.....</h4>
    <div class='progress progress-striped active'>
        <div class='progress-bar progress-bar-color' id='bar' role='progressbar' style='width: 0%;'></div>
    </div>
</div>
<div class="fullscreen inner-banners payment">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>Payment</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container page">
    <div class="row">

        <form name="frmCreditCardPayment" id="frmCreditCardPayment" method="post" >

            {{> helper/ajaxnotification_helper }}

            <div class="col-sm-8">
                <div class="panel panel-default credit-card-box">
                    <div class="panel-heading display-table">
                        <div class="row display-tr">
                            <h3 class="panel-title display-td">Payment Details</h3>
                            <div class="display-td">
                                <!-- <img class="img-responsive pull-right" src="{{frontConstant.ACCESSURL}}images/creditcardimage.jpg"> -->
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <input type="hidden" name="cardType" id="cardType" />
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber" class="asterisk">CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="cardNumber" id="cardNumber" placeholder="Card Number" autocomplete="cc-number" data-stripe="number"/>
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group mm-yy">
                                    <label for="cardExpiry" class="asterisk">
                                        <span class="hidden-xs">EXPIRATION</span>
                                        <span class="visible-xs-inline">EXP</span> DATE
                                    </label>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!--<input type="text" class="form-control" name="cardExpiryMM" id="cardExpiryMM" placeholder="MM" autocomplete="cc-exp" />-->
                                            <select class="form-control" name="cardExpiryMM" id="cardExpiryMM">
                                                <option value="" selected="selected">Month</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="cardExpiryYY" id="cardExpiryYY" placeholder="YYYY" autocomplete="cc-exp" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cardCVC" class="asterisk">CV CODE</label>
                                    <input type="text" class="form-control" name="cardCVC" id="cardCVC" placeholder="CVC" autocomplete="cc-csc" data-stripe="cvc">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="well white">                    
                    <div class="row">                        
                        <div class="col-sm-10">
                            <label>Have a Promo code?</label>
                            <input type="text" class="form-control sm" name="promocode" id="promocode">
                            <span id='validation' style="color: red; display: none;">Promo code can't be empty.</span>
                        </div>
                        <div class="col-sm-2">
                            <a href="javaScript:;" class="btn black-bg mt10 applyPromoCodeBtn" id="applyPromoCodeBtnid" >Apply</a>
                            <a href="javaScript:;" class="btn black-bg mt10 applyPromoCodeBtn" id="removePromoCodeBtn" style="display:none">Remove</a>
                        </div>                                                                     
                    </div>
                </div>
            </div>



            <div class="col-sm-4">
                <h3 class="title-underline">Amount to be Paid</h3>
                <div class="table-responsive">
                    <table class="payableTable table table-noborder">
                        <tr>
                            <td>Mentor Rate</td>
                            <td>
                                <input type="hidden" name="mentor_id" id="mentor_id" value="{{mentorData.userId}}"/>
                                <input type="hidden" name="hdn_mentor_rate_real" id="hdn_mentor_rate_real" value="{{mentorData.hourlyRate}}"/>
                                <input type="hidden" name="hdn_mentor_rate" id="hdn_mentor_rate" value="{{mentorData.hourlyRate}}"/>
                                <input type="hidden" name="hdn_meeting_duration" id="hdn_meeting_duration" value="{{arrMeetingInvitationData.duration}}"/>
                                <input type="hidden" name="hidInvoiceId" id="hidInvoiceId" value="{{invoiceId}}"/>
                                <input type="hidden" name="hidMentorSlug" id="hidMentorSlug" value="{{mentorSlug}}"/>
                                <input type="hidden" name="promocode_id" id="promocode_id" value="0"/>
                                <input type="hidden" name="promocode_discount" id="promocode_discount" value="0"/>
                                <input type="hidden" name="hdn_mentor_payable_charge" id="hdn_mentor_payable_charge" value="0"/>

                                <span id="mentor_rate"></span> USD
                            </td>
                        </tr>
                        <tr id="discount_row" style="display: none;">
                            <td>Discount</td>
                            <td>
                                <input type="hidden" name="hdn_discount" id="hdn_discount"/>
                                <span id="discount"></span> USD
                            </td>
                        </tr>
                        <tr>
                            <td>SourceAdvisor charges</td>
                            <td>
                                <input type="hidden" name="hdn_wissenx_charge" id="hdn_wissenx_charge"/>
                                <span id="wissenx_charge"></span> USD
                            </td>
                        </tr>
                        <tr>
                            <td>Taxes</td>
                            <td>
                                <input type="hidden" name="hdn_taxes" id="hdn_taxes"/>
                                <span id="taxes"></span> USD
                            </td>
                        </tr>
                        <tr class="subtotal">
                            <td>Total Payable</td>
                            <td>
                                <input type="hidden" name="hdn_totalpayable" id="hdn_totalpayable"/>
                                <span id="totalpayable"></span> USD
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <!-- PayPal Logo -->
                    <table border="0" cellpadding="10" cellspacing="0" align="center">
                        <tr>
                            <td align="center"></td>
                        </tr>
                        <tr>
                            <td align="center">
                                <a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup', 'WIPaypal', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
                                    <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark">
                                </a>
                            </td>
                        </tr>
                    </table>
                    <!-- PayPal Logo -->
                    <p style="font-size: 10px;">You are now in payment environment secured by Paypal in the background. This payment page is only providing an interface with PayPal and  SourceAdvisor does not save any of your credit card and/or  payment information. All transaction data is encrypted between SourceAdvisor and PayPal.</p>
                </div>
            </div>

            <div class="clearfix"></div>            

            <div class="col-sm-2 col-md-offset-5">                
                <a href="#" class="btn red-bg btn-reg" data-toggle="modal" id="successfulMeetingModalId" data-target="#successfulMeetingModal">Make Payment</a>
            </div>
        </form>

    </div>
</div>

<div id="successfulMeetingModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Successful Meeting</h4>
            </div>            

            <div class="modal-body formPopup clearfix">
                To conduct this meeting successfully , your desktop or laptop needs to have a web cam and a microphone. A microphone is the minimum requirement.
            </div>

            <div class="modal-footer">                
                <button class="btn red-bg btn-reg" id="makePayment">Ok</button>
                <button type="button" class="btn red-bg btn-reg" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

<input type="hidden" name="objSlotParams" id="objSlotParams" value="{{objSlotParams}}" />
<input type="hidden" name="privateInvite" id="privateInvite" value="{{privateInvite}}" />
<input type="hidden" name="invitation_slot_id" id="invitation_slot_id" value="{{invitation_slot_id}}" />
<input type="hidden" name="invitation_id" id="invitation_id" value="{{invitation_id}}" />



<input type="hidden" name="wissenxChargesMentorPercentage" id="wissenxChargesMentorPercentage" value="{{meetingCostData.wissenxChargesMentorPercentage}}" />
<input type="hidden" name="wissenxChargesUserPercentage" id="wissenxChargesUserPercentage" value="{{meetingCostData.wissenxChargesUserPercentage}}" />

<input type="hidden" name="encId" id="encId" value="{{encId}}" />
<input type="hidden" name="encKey" id="encKey" value="{{encKey}}" />


{{#if systemVariableInfo}}
{{#each systemVariableInfo}}
<input type="hidden" name="{{systemVariableCode}}" id="{{systemVariableCode}}" value="{{settingValue}}" />
{{/each}}
{{/if}}

<link href="{{frontConstant.ACCESSURL}}css/bootstrap-datepicker3.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/bootstrap-datepicker.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/jquery.creditCardValidator.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}crypto/crypto-js.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/users/slot_booking_payment.js?v={{frontConstant.VERSION}}"></script>