<div class="fullscreen inner-banners bookings">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>Bookings</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container page">
    {{> helper/ajaxnotification_helper}}
    <div class="row">
        <form method="POST" id="bookSlotForm" enctype="multipart/form-data">
            <input type="hidden" name="zone" id="zone" value="{{arrSessionData.timezone}}" />
            <input type="hidden" name="sesuserId" id="sesuserId" value="{{arrSessionData.userId}}" />
            <input type="hidden" name="mentorId" id="mentorId" value="{{mentorData.userId}}" />
            <input type="hidden" name="fileids" id="fileids" value="" />
            <input type="hidden" name="mentorSlug" id="mentorSlug" value="{{mentorSlug}}" />

            <div class="col-sm-5">
                <h3 class="title-underline">Schedule Meeting</h3>

                <div class="well white">
                    <div class="mentorSummary">
                        <img src="{{arrMentorData.fullProfileImageURL}}">
                        <h2 class="mentSumName"><a href="{{frontConstant.ACCESSURL}}mentorprofile/{{arrMentorData.slug}}"> {{mentorData.firstName}} {{mentorData.lastName}}</a></h2>
                    </div>
                </div>

                <div class="col-sm-12 mb10">
                    <label>Duration</label>
                    <select class="form-control" name="call_duration" id="call_duration">
                        <option value="30" selected>30 Minutes</option>
                        <option value="45">45 Minutes</option>
                        <option value="60">60 Minutes</option>                    
                        <option value="90">90 Minutes</option>
                        <option value="120">120 Minutes</option>                    
                    </select>
                </div>

                <div class="col-sm-12 mb10">
                    <label>Timezone</label>
                    <select class="form-control" name="timezone" id="timezone">
                        {{!-- <option>Select Timezone</option>                     --}}
                    </select>
                </div>

                <div class="col-sm-12 slot">              
                    <label class="block asterisk">Slot 1</label>                    
                    <input name="slot1_date" id="slot1_date" class="form-control datepicker date sm" type="text" placeholder="Slot 1" readonly>
                    <select class="form-control slottimepicker" name="slot1_time" id="slot1_time">
                        <option value="">Select Slot</option>                    
                    </select>
                    <!--<input id="slot1_time" name="slot1_time" class="form-control time sm" type="text" readonly/>-->
                </div>

                <div class="col-sm-12 slot mt10">              
                    <!--<label class="block asterisk">Slot 2</label>-->
                    <label class="block ">Slot 2</label>
                    <input name="slot2_date" id="slot2_date" class="form-control datepicker date sm" type="text" placeholder="Slot 2" readonly>
                    <select class="form-control slottimepicker" name="slot2_time" id="slot2_time">
                        <option value="">Select Slot</option>                    
                    </select>
                    <!--<input id="slot2_time" name="slot2_time" class="form-control time sm" type="text" readonly/>-->
                </div>

                <div class="col-sm-12 slot mt10">              
                    <!--<label class="block asterisk">Slot 3</label>-->
                    <label class="block ">Slot 3</label>
                    <input name="slot3_date" id="slot3_date" class="form-control datepicker date sm" type="text" placeholder="Slot 3" readonly>
                    <select class="form-control  slottimepicker" name="slot3_time" id="slot3_time">
                        <option value="">Select Slot</option>                 
                    </select>
                    <!--<input id="slot3_time" name="slot3_time" class="form-control time sm" type="text" readonly/>-->
                </div>

                <div class="col-sm-12 slot mt10">
                    <a href="#" class="btn red-bg btn-reg" data-toggle="modal" data-target="#askTimeSlot">Can't find a suitable time slot ?</a>
                </div>

            </div>

            <div class="col-sm-7">
                <h3 class="title-underline">Meeting Details</h3>
                <div class="col-sm-12 col-minpad"> 
                    <!--<div class="col-sm-12 mb10">
                        <label class="block">Type</label>
                        <label class="radio-inline">
                            <input type="radio" id="type_virtual" name="type" value="virtual" checked> Virtual
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="type_inperson" name="type" value="in-person"> In-Person
                        </label>
                    </div>-->
                    <div>
                        <label class="asterisk">Meet Purpose</label>
                        <input type="text" class="form-control sm" name="meet_purpose">
                    </div>
                    <div>
                        <label class="mt10">More details</label>

                        <textarea class="form-control sm" id="ck" rows="5"  name="more_details"></textarea>
                    </div>


                    <div class="customFileUpload">
                        <div class="col-md-6">
                            <label>Upload Document</label>
                            <br>
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Select files...</span>
                                <!-- The file input field used as target for the file upload widget -->
                                <input id="fileupload" type="file" name="files[]" multiple>
                            </span>
                        </div>
                        <div class="col-md-6 divMakePayment">

                            <div class="customTooltipLink">
                                <label>Cancellation Policy: {{mentorData.policyLabel}}</label>
                                <div class="customTooltip slotBooking">
                                    <a href="{{mentorData.cancellation_policy_link}}" target="_BLANK">
                                        <span>{{mentorData.policyDescription}}</span>
                                    </a>
                                </div>
                            </div>

                            <button class="btn btn-lg btnMakePayement btnMakePayement" id="makePayment" disabled="disabled">Proceed to Pay</button>

                        </div>

                        <div class="col-md-12 fileuploadprogressbar">
                            <!-- The global progress bar -->
                            <div id="progress" class="progress">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>
                        </div>

                        <!-- The container for the uploaded files -->
                        <div id="files" class="files"></div>
                        <!--<input type="file" name="meeting_doc" id="meeting_doc" class="form-control" />-->
                        <!--<div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="filename">
                                <span class="fileupload-preview"></span>
                                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                            </div>
                            <span class="btn btn-secondary btn-file"><span class="fileupload-new">Upload</span>
                                <span class="fileupload-exists">Change</span>
                                <input type="file" name="meeting_doc" id="meeting_doc" />
                            </span>                  
                        </div>-->
                    </div>                                                                                                 
                </div>

            </div>


            <!-- <div class="col-sm-4">
                <h3 class="title-underline">Amount to be Paid</h3> 
                <div class="table-responsive">
                    <table class="payableTable table table-noborder">
                        <tr>
                            <td>Mentor Rate</td>
                            <td>
                                <input type="hidden" name="hdn_mentor_rate_real" id="hdn_mentor_rate_real" value="{{mentorData.hourlyRate}}"/>
                                <input type="hidden" name="hdn_mentor_rate" id="hdn_mentor_rate" value="{{mentorData.hourlyRate}}"/>
                                <span id="mentor_rate"></span> USD
                            </td>
                        </tr>
                        <tr>
                            <td>SourceAdvisor charges</td>
                            <td>
                                <input type="hidden" name="hdn_wissenx_charge" id="hdn_wissenx_charge"/>
                                <span id="wissenx_charge"></span> USD
                            </td>
                        </tr>
                        <tr>
                            <td>Taxes</td>
                            <td>
                                <input type="hidden" name="hdn_taxes" id="hdn_taxes"/>
                                <span id="taxes"></span> USD
                            </td>
                        </tr>
                        <tr id="discount_row" style="display: none;">
                            <td>Discount</td>
                            <td>
                                <input type="hidden" name="hdn_discount" id="hdn_discount"/>
                                <span id="discount"></span> USD
                            </td>
                        </tr>
                        <tr class="subtotal">
                            <td>Total Payable</td>
                            <td>
                                <input type="hidden" name="hdn_totalpayable" id="hdn_totalpayable"/>
                                <span id="totalpayable"></span> USD
                            </td>
                        </tr>
                    </table>
                    <div class="well white">
                        <label>Have a Promo code?</label>
                        <input type="text" class="form-control sm">
                        <a href="#" id="apply_discount_btn" class="btn black-bg mt10">Apply</a>
                    </div> 
                </div>
                <button class="btn btn-lg red-bg" id="makePayment" disabled="disabled">Make Payment</button>
            </div>-->
        </form>
    </div>
</div>

<div id="askTimeSlot" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" id="sendMessage">
                <div class="modal-header red">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Send a message</h4>
                </div>
                <div class="modal-body formPopup clearfix">
                    <div class="col-sm-12">
                        <input type="hidden" value="{{mentorData.userId}}" name="mentor_id" id="mentor_id" />
                        <label>Send a message to arrange another time slot</label>
                        <textarea class="form-control" rows="6" name='mentormsg'></textarea>
                    </div>                           
                </div>
                <div class="modal-footer">
                    <button class="btn red-bg btn-reg">Send</button>                
                </div>
            </form>
        </div>
    </div>
</div>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{frontConstant.ACCESSURL}}jquery-file-upload/js/vendor/jquery.ui.widget.js?v={{frontConstant.VERSION}}"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{frontConstant.ACCESSURL}}jquery-file-upload/js/jquery.iframe-transport.js?v={{frontConstant.VERSION}}"></script>
<!-- The basic File Upload plugin -->
<script src="{{frontConstant.ACCESSURL}}jquery-file-upload/js/jquery.fileupload.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}jquery-file-upload/js/jquery.fileupload-process.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}jquery-file-upload/js/jquery.fileupload-validate.js?v={{frontConstant.VERSION}}"></script>
<link href="{{frontConstant.ACCESSURL}}css/select2.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<link href="{{frontConstant.ACCESSURL}}css/fullcalender/timepicker.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<link href="{{frontConstant.ACCESSURL}}css/fullcalender/datetimepicker.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<link href="{{frontConstant.ACCESSURL}}css/bootstrap-datepicker3.css?v={{frontConstant.VERSION}}" rel="stylesheet" type="text/css" />
<script src="{{frontConstant.ACCESSURL}}js/jquery.form.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/fullcalender/bootstrap-timepicker.js?v={{frontConstant.VERSION}}"></script>
<!--<script src="{{frontConstant.ACCESSURL}}js/ckeditor/ckeditor.js?v={{frontConstant.VERSION}}"></script>-->

<script src="{{frontConstant.ACCESSURL}}js/fullcalender/datetimepicker.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/bootstrap-datepicker.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/select2.full.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/users/slot_booking.js?v={{frontConstant.VERSION}}"></script>

<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{{frontConstant.ACCESSURL}}jquery-file-upload/css/jquery.fileupload.css?v={{frontConstant.VERSION}}">