<div class="container page">

    <div class="row">        
        <div class="col-sm-4">
            <div class="card-stack blue">
                <i class="fa fa-calendar-o"></i>
                <h3>$ 694</h3>
                <h2>Spent This Year</h2>
            </div>  
        </div>
        <div class="col-sm-4">
            <div class="card-stack green">
                <i class="fa fa-calendar"></i>
                <h3>$ 102</h3>
                <h2>Spent This Month</h2>
            </div>  
        </div>
        <div class="col-sm-4">
            <div class="card-stack">
                <i class="fa fa-money"></i>
                <h3>$ 874</h3>
                <h2>Total Spent</h2>
            </div>  
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="search-filters mt10">
                <div class="left-list-category">
                    <h4 class="rs title-nav">Transaction Type</h4>
                    <ul class="rs nav-category">
                        <li><label><input type="checkbox">All<span class="count-val">(12)</span></label></li>
                        <li><label><input type="checkbox">Debit<span class="count-val">(12)</span></label></li>
                        <li><label><input type="checkbox">Credit<span class="count-val">(2)</span></label></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <h3 class="title-underline">Recent Transactions</h3>
            <div class="TableDash table-responsive">
                <table id="datatable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Details</th>
                            <th>Type</th>
                            <th>Date-Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span>$ 20000</span></td>
                            <td>Spent on meeting with Elon Must</td>
                            <td>Debit</td>
                            <td>2 Days Ago</td>
                        </tr>
                        <tr>
                            <td><span>$ 100</span></td>
                            <td>Spent on meeting with Elon Must</td>
                            <td>Debit</td>
                            <td>2 Days Ago</td>
                        </tr>
                        <tr>
                            <td><span>$ 1500</span></td>
                            <td>Spent on meeting with Elon Must</td>
                            <td>Debit</td>
                            <td>2 Days Ago</td>
                        </tr>
                        <tr>
                            <td><span>$ 970000</span></td>
                            <td>Spent on meeting with Elon Must</td>
                            <td>Debit</td>
                            <td>2 Days Ago</td>
                        </tr>
                        <tr>
                            <td><span>$ 6300</span></td>
                            <td>Spent on meeting with Elon Must</td>
                            <td>Debit</td>
                            <td>2 Days Ago</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>