<div class="fullscreen inner-banners"></div>
<div class="container page">
    <div class="row">
        <div class="col-sm-3">
            <div class="pro-img">
                <img src="{{arrUserProfileData.fullProfileImageURL}}" />
            </div>
        </div>
        <div class="col-sm-9 pro-detail">
            <div class="row">
                <div class="col-sm-4">
                    <span><strong>First Name :</strong></span>
                    <span>{{arrUserProfileData.firstName}}</span>
                </div>
                <div class="col-sm-4">
                    <span><strong>Last Name :</strong></span>
                    <span>{{arrUserProfileData.lastName}}</span>
                </div>
                <div class="col-sm-4">
                    <span><strong>Email Address :</strong></span>
                    <span>{{arrUserProfileData.userEmail}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <span><strong>Mobile Number :</strong></span>
                    <span>{{arrUserProfileData.phoneCountry}} {{arrUserProfileData.phoneNumber}}</span>
                </div>
                <div class="col-sm-4">
                    <span><strong>Date of Birth :</strong></span>
                    <span>{{arrUserProfileData.DOB}}</span>
                </div>
                <div class="col-sm-4">
                    <span><strong>Address 1 :</strong></span>
                    <span>{{arrUserProfileData.address1}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <span><strong>Address 2 :</strong></span>
                    <span>{{arrUserProfileData.address2}}</span>
                </div>
                <div class="col-sm-4">
                    <span><strong>Country :</strong></span>
                    <span>{{arrUserProfileData.address2}}</span>
                </div>
                <div class="col-sm-4">
                    <span><strong>City :</strong></span>
                    <span>{{arrUserProfileData.cityLabel}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <span><strong>Time Zone :</strong></span>
                    <span>{{arrUserProfileData.zoneName}}</span>
                </div>
                <div class="col-sm-4">
                    <span><strong>LinkedIn Public URL :</strong></span>
                    <span><a href="{{arrUserProfileData.linkedInLink}}">{{arrUserProfileData.linkedInLink}}</a></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <span><strong>About :</strong></span>
                    <span>{{arrUserProfileData.cityLabel}}</span>
                </div>
            </div>
        </div>
    </div>
</div>