<div class="fullscreen inner-banners mentordetails">
    <div class="searchSection">
        <div class="container">
            <div class="row">
                <div class="inner_top_section">
                    <h2>User Profile</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container page">
        {{> helper/ajaxnotification_helper}}
        <div class="row">
            <div class="author-details">
                <div class="col-md-3">
                    <div class="thumb onpiclinks location-1" style="text-align: center;">
                        <img src="{{arrUserProfileData.fullProfileImageURL}}" alt="">                                            
                        <div class="location" style="">
                            <i class="fa fa-map-marker"></i>
                            <!-- <a href="javaScript:;" class="js-tagCitySearchDirect" data-id="{{arrUserProfileData.cityLabel}}" data-faceValue="{{arrUserProfileData.cityLabel}}" data-typeX="MENTORPROFILECITY">{{arrUserProfileData.cityLabel}}</a> -->
                            {{arrUserProfileData.city_name}},{{arrUserProfileData.country_name}}
                        </div>
                    </div>                    
                    <div class="heading-inner">
                        <h2>{{arrUserProfileData.firstName}} {{arrUserProfileData.lastName}}</h2>                       
                        <div>{{arrUserProfileData.linkedInLink}}                      
                            {{#if arrUserProfileData.linkedInLink}}
                            <div class="fa-linkedin-highprofile-mentor" style="position :inherit !important;">
                                <a href="{{arrUserProfileData.linkedInLink}}" title="Linked Link" target="_blank">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </div>
                            {{/if}}                            
                        </div>
                    </div>
                </div>
                <div class="col-md-9">                                         
                    <div class="clearfix"></div>
                    <div class="col-sm-12">
                        <div id="overviewdiv">{{arrUserProfileData.userBreif}}</div>                            
                    </div>                    
                    <div class="clearfix"></div>                        
                </div>
            </div>
        </div>
    </div>
</div>