<div class="fullscreen profile-banner"></div>  
<div class="container page MentProfile">
    <div class="mentor_dp">
        <img src="{{frontConstant.ACCESSURL}}images/professional/professional-4.jpg">
        <div class="dpAction">
            <a href="#" class="btn click">
                <i class="fa fa-camera-retro"></i>
                Take a Photo
            </a>
            <div class="fileUpload btn">
                <i class="fa fa-picture-o"></i>
                <span>Upload Photo</span>
                <input type="file" class="upload" />
            </div>
        </div>
    </div>
    <div class="mentor_dsc">
        <h2 class="name">{{userData.name}}</h2>
        <p class="email"><i class="fa fa-envelope"></i>{{userData.email}}</p>
        <p class="phone"><i class="fa fa-phone-square"></i>{{userData.phoneCountry}}-{{userData.phoneNumber}}</p>
    </div>
    
    <div class="well steps">
        <div id='external-events' class="col-sm-3">
            <h6 class="mt0">Drag slot to the calendar at your desired times.</h6>
            <div class="col-sm-4 slotBtn">
                <div class='fc-event'>Slot 1</div>
            </div>
            <div class="col-sm-4 slotBtn">
                <div class='fc-event'>Slot 2</div>
            </div>
            <div class="col-sm-4 slotBtn">
                <div class='fc-event'>Slot 3</div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class='col-sm-4'>
                <label>Timezone:</label>
                <select id='timezone-selector' class="form-control">
                    <option value='' selected>none</option>
                    <option value='local'>local</option>
                    <option value='UTC'>UTC</option>       
                </select>
            </div>            
            <div class='col-sm-4'>
                <label>Duration</label>
                <select id="slottime" class="form-control">
                    <option>Select Slot Time</option>
                    <option value="00:30:00">Half Hour</option>
                    <option value="01:00:00">One Hour</option>
                </select>
            </div>
            <div class='col-sm-4'>
                <button id="reset" name="reset" class='btn btn-block red-bg' value="reset">Reset</button>
            </div>
        </div>
        <div class='clearfix'></div>
        <div id='calendar'></div>
        <div class='text-center'>
            <!--<a href="#" class="btn red-bg btn-reg" data-toggle="modal" data-target="#askTimeSlot">Can't find a suitable time slot ?</a>-->
            <a href="#" class="btn red-bg btn-reg" data-toggle="modal" data-target="#askTimeSlot">Can't find a suitable time slot ?</a>
        </div>
        {{> helper/ajaxnotification_helper}}
    </div>    
</div>

<div id="askTimeSlot" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" id="sendMessage">
                <div class="modal-header red">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Send a message</h4>
                </div>
                <div class="modal-body formPopup clearfix">
                    <div class="col-sm-12">
                        <label>Send a message to arrange another time slot</label>
                        <textarea class="form-control" rows="6" name='mentormsg'></textarea>
                    </div>                           
                </div>
                <div class="modal-footer">
                    <button class="btn red-bg btn-reg">Send</button>                
                </div>
            </form>
        </div>
    </div>
</div>


<link rel="stylesheet" href="{{frontConstant.ACCESSURL}}css/fullcalender/fullcalendar.css?v={{frontConstant.VERSION}}">
<link href="{{frontConstant.ACCESSURL}}css/fullcalender/fullcalendar.print.css?v={{frontConstant.VERSION}}" rel='stylesheet' media='print'>
<script src="{{frontConstant.ACCESSURL}}js/fullcalender/moment.min.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/fullcalender/jquery-ui.custom.min.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/blockUI.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/fullcalender/fullcalendar.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webjs/usercalendar.js?v={{frontConstant.VERSION}}"></script>