<!DOCTYPE html>
<html lang="en" class="no-scroll">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <title>SourceAdvisor - Admin Panel</title>

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{{frontConstant.ACCESSURL_ADMIN}}img/favicon.png">
        <!--<link href="{{frontConstant.ACCESSURL_ADMIN}}css/bootstrap.min.css?v={{frontConstant.VERSION}}" rel="stylesheet">-->
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/bootstrap.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <link href="{{frontConstant.ACCESSURL_ADMIN}}font-awesome/css/font-awesome.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <!-- Toastr style -->
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/toastr/toastr.min.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <!-- Plugins -->
        <link href="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/gritter/jquery.gritter.css?v={{frontConstant.VERSION}}" rel="stylesheet">

        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/blueimp/css/blueimp-gallery.min.css?v={{frontConstant.VERSION}}" rel="stylesheet">
            
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/dropzone/dropzone.css?v={{frontConstant.VERSION}}" rel="stylesheet">
            
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/iCheck/custom.css?v={{frontConstant.VERSION}}" rel="stylesheet">
    
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/chosen/chosen.css?v={{frontConstant.VERSION}}" rel="stylesheet">
    
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/colorpicker/bootstrap-colorpicker.min.css?v={{frontConstant.VERSION}}" rel="stylesheet">
            
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/switchery/switchery.css?v={{frontConstant.VERSION}}" rel="stylesheet">
    
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/cropper/cropper.min.css?v={{frontConstant.VERSION}}" rel="stylesheet">
    
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/switchery/switchery.css?v={{frontConstant.VERSION}}" rel="stylesheet">
    
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/jasny/jasny-bootstrap.min.css?v={{frontConstant.VERSION}}" rel="stylesheet">
    
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/nouslider/jquery.nouislider.css?v={{frontConstant.VERSION}}" rel="stylesheet">
    
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/ionRangeSlider/ion.rangeSlider.css?v={{frontConstant.VERSION}}" rel="stylesheet">
            
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css?v={{frontConstant.VERSION}}" rel="stylesheet">
            
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/dataTables/datatables.min.css?v={{frontConstant.VERSION}}" rel="stylesheet">
    
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/daterangepicker/daterangepicker-bs3.css?v={{frontConstant.VERSION}}" rel="stylesheet">
    
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/select2/select2.min.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/summernote/summernote.css?v={{frontConstant.VERSION}}" rel="stylesheet">
            
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/summernote/summernote-bs3.css?v={{frontConstant.VERSION}}" rel="stylesheet">
    
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/touchspin/jquery.bootstrap-touchspin.min.css?v={{frontConstant.VERSION}}" rel="stylesheet">
            
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css?v={{frontConstant.VERSION}}" rel="stylesheet">
            
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/datapicker/datepicker3.css?v={{frontConstant.VERSION}}" rel="stylesheet">
            
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/clockpicker/clockpicker.css?v={{frontConstant.VERSION}}" rel="stylesheet">
            
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/datetimepicker/bootstrap-datetimepicker.css?v={{frontConstant.VERSION}}" rel="stylesheet">
            
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/plugins/c3/c3.min.css?v={{frontConstant.VERSION}}" rel="stylesheet">
            
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/bootstrap-tagsinput.css?v={{frontConstant.VERSION}}" rel="stylesheet">
    
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/animate.css?v={{frontConstant.VERSION}}" rel="stylesheet">
            
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/style.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        
        <!--<link href="{{frontConstant.ACCESSURL_ADMIN}}css/inspinia.css?v={{frontConstant.VERSION}}" rel="stylesheet">-->
            
        <link href="{{frontConstant.ACCESSURL}}css/styles.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <link href="{{frontConstant.ACCESSURL}}css/responsive.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <link href="{{frontConstant.ACCESSURL_ADMIN}}css/custom.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        


        <script src="{{frontConstant.ACCESSURL_ADMIN}}js/jquery-2.1.1.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL_ADMIN}}js/jquery-ui-1.10.4.min.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL}}js/jquery.cookie.min.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL_ADMIN}}js/bootstrap.min.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/metisMenu/jquery.metisMenu.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL_ADMIN}}js/plugins/slimscroll/jquery.slimscroll.min.js?v={{frontConstant.VERSION}}"></script>
        <script src="{{frontConstant.ACCESSURL}}js/commonwebjs.js?v={{frontConstant.VERSION}}"></script>
    </head>
    
    {{#if greyBG }}
        <body class="gray-bg adminpanel">
    {{else}}
        <body class="adminpanel">
    {{/if}}

    <input type="hidden" name="absPath" id="absPath" value="{{frontConstant.ACCESSURL}}" />
    <input type="hidden" name="hidFrontURL" id="hidFrontURL" value="{{frontConstant.ACCESSURL}}" />
    <input type="hidden" name="hidAdminURL" id="hidAdminURL" value="{{frontConstant.ACCESSURL_ADMIN}}" />

    <script type="text/javaScript">
        var frontUrl = $('#hidFrontURL').val();
        var adminUrl = $('#hidAdminURL').val();
    </script>



    {{{body}}}

    {{> footer/admin/footer}}