<div class="alert alert-success" role="alert" id="divAjaxNotificationPopUp" style="display: none;">
	<!-- <a href="#" class="alert-link">...</a> -->
	<span id="spnAjaxNotificationPopUp"></span>
</div>