<form name="frmGlobalPageSearch" id="frmGlobalPageSearch" action="{{frontConstant.ACCESSURL}}mentor/listing" method="get">
	<div class="search-bar login-page">
	    <a href="javaScript:;" id="btnHomePageSearch"><i class="fa fa-search"></i></a>
		<div class="row">
			<div class="col-sm-5">
				<input type="text" placeholder="Search Experts by Region…" class="search-field form-control country" name="txtLocation" id="txtLocation" value="" >
				<img src="{{frontConstant.ACCESSURL}}images/loading.gif" id="imgLocationLoader" title="loader" class="hidden"/>
			</div>
			<div class="col-sm-7">
				<input type="text" placeholder="" class="search-field form-control" name="txtQueryString" id="txtQueryString" value="" >
				<img src="{{frontConstant.ACCESSURL}}images/loading.gif" id="imgKeywordLoader" title="loader" class="hidden"/>
			</div>
		</div>
	</div>
	<input type="hidden" name="hidLocationType" id="hidLocationType" class="js-searchValidation"value="" />
	<input type="hidden" name="hidLocationId" id="hidLocationId" value="" />
	<input type="hidden" name="hidLocationSelected" id="hidLocationSelected" value="N" />
</form>