<div id="modalSiteLock" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form method="POST" id="frmSourceAdvisorMailPopUP" name="frmSourceAdvisorMailPopUP">
                <div class="modal-header red">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">SourceAdvisor User</h4>
                </div>

                <div class="modal-body formPopup clearfix">

                    {{> helper/ajaxnotification_helper}}

                    <div class="modal-body formPopup clearfix">
                        <div class="col-sm-12">
                            <label>User Name</label>
                            <input name="txtSourceAdvisorUserName" id="txtSourceAdvisorUserName" class="form-control" type="text" placeholder="User Name">
                        </div>
                        <div class="col-sm-12">
                            <label>Password</label>
                            <input name="txtSourceAdvisorPassword" id="txtSourceAdvisorPassword" class="form-control" type="password" placeholder="Password">
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn red-bg btn-reg" id="btnCheckSourceAdvisorUserCredentials">Continue</button>
                </div>
            </form>
        </div>
    </div>
</div>