<input type="hidden" name="txtProfileImageData" id="txtProfileImageData" value="" />
<input type="hidden" name="hidUploadImageType" id="hidUploadImageType" value="NUL" />


<div id="captureImageModal" class="modal fade videoCaptureModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Camera Upload</h4>
            </div>            
            
            <div class="modal-body formPopup clearfix">
                <div class="col-sm-12 webCamFound">
                    <div id="cameraPreview"></div>
                    <div id="cameraResult"></div>
                    <div class="col-sm-12 mt20">                    
                        <input type="button" value="Take Snapshot" class="btn red-bg btn-reg" onClick="take_snapshot()">
                    </div>               
                </div>                
                <div class="col-sm-12 webCamNotFound" style="display:none;">
                <div>Seems like you don't have a camera connected to your device. Please try uploading image instead.</div>
            </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-12 webCamFound">
                <button class="btn red-bg btn-reg" id="saveImageFromCamera">Save Image</button>
                <button class="btn red-bg btn-reg" data-dismiss="modal" id="cancelImageFromCamera">Cancel</button>
                </div>
                <div class="col-sm-12 webCamNotFound" style="display: none;">                
                <button class="btn red-bg btn-reg" data-dismiss="modal" id="cancelImageFromCamera">Cancel</button>
                </div>                
            </div>
        </div>
    </div>
</div>



<div id="imgCropperModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Image Cropper</h4>
            </div>

            <div class="modal-body formPopup clearfix">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="col-sm-12 imageCropperDiv text-center">
                        <img src="" name="mainCropperImage" id="mainCropperImage" style="max-width: 80%;"/>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn red-bg btn-reg" id="btnCropAndSave">Crop and save</button>
                <button class="btn red-bg btn-reg" data-dismiss="modal" id="btnCancelCroper">Cancel</button>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="{{frontConstant.ACCESSURL}}css/cropper.css?v={{frontConstant.VERSION}}">
<script src="{{frontConstant.ACCESSURL}}js/cropper.js?v={{frontConstant.VERSION}}"></script>
<script src="{{frontConstant.ACCESSURL}}js/webcam.js?v={{frontConstant.VERSION}}"></script>