<html>
    <body>
        <!--<script src="./node_modules/jsonwebtoken/index.js?v={{frontConstant.VERSION}}" > </script>-->


        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/aes.js?v={{frontConstant.VERSION}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/mode-cfb.min.js?v={{frontConstant.VERSION}}"></script>

        <script>
            var passPhrase = "Secret Phassphrase";

            var encrypted = CryptoJS.AES.encrypt("Message", passPhrase, {mode: CryptoJS.mode.CFB});
            var decrypted = CryptoJS.AES.decrypt(encrypted, passPhrase, {mode: CryptoJS.mode.CFB});

            console.log('encrypted', encrypted);
            console.log('decrypted', decrypted.toString(CryptoJS.enc.Utf8));
        </script>
    </body>
</html>
