<html>
    <body>
        {{!--<script src="/nm/node-cryptojs-aes/lib/core.js?v={{frontConstant.VERSION}}"></script>--}}
        <script src="./bc/crypto-js/crypto-js.js?v={{frontConstant.VERSION}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js?v={{frontConstant.VERSION}}"></script>


        {{!--<script type="text/javascript">
            var nodeCrypto = {{{node_cryptojs}}};
        </script>
        {{r_pass_base64}}<br />
        {{{node_cryptojs.CryptoJS}}}
--}}

        {{r_pass}}

        <input type="text" value="{{r_pass}}" name="pass" id="pass" />
    </body>
</html>