<style>
    .pac-container:after {
        /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

        background-image: none !important;
        height: 0px;
    }
</style>
<table>
    <tr>
        <td>Enter Location</td>
        <td class="loc"><input type="text" class="form-control" id="geocomplete" placeholder="Search Location..." style="width:500px;"></td>
    </tr>
    <tr>
        <td>City</td>
        <td class="loc"><input type="text" data-geo="locality"></td>
    </tr>
    <tr>
        <td>State</td>
        <td class="loc"><input type="text" data-geo="administrative_area_level_1"></td>
    </tr>
    <tr>
        <td>Country</td>
        <td class="loc"><input type="text" data-geo="country"></td>
    </tr>
</table>

<script src="https://code.jquery.com/jquery-3.2.1.min.js?v={{frontConstant.VERSION}}"crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places&key=AIzaSyBJ-u9nVcC_VNYmHkR0dcqbgkEzws7GTLo"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.7.0/jquery.geocomplete.min.js?v={{frontConstant.VERSION}}"></script>

<script>
    $("#geocomplete").geocomplete({
        types: ['(cities)'],
        details: ".loc",
        detailsAttribute: "data-geo"
    });
//    $("#geocomplete").geocomplete()
//            .bind("geocode:result", function (event, result) {
//                console.log(result);
//            });

</script>