<html>
    <head>
        <script src="{{frontConstant.ACCESSURL}}/js/jquery.min.js?v={{frontConstant.VERSION}}"></script>

        <!-- JS file -->
        <script src="{{frontConstant.ACCESSURL}}js/easyautocomplete/jquery.easy-autocomplete.min.js?v={{frontConstant.VERSION}}"></script> 

        <!-- CSS file -->
        <link rel="stylesheet" href="{{frontConstant.ACCESSURL}}js/easyautocomplete/easy-autocomplete.min.css?v={{frontConstant.VERSION}}"> 
    </head>
    <body>
        <input type="text" name="txtSearch" id="txtSearch" value="" />
        <input type="text" name="txtExpert" id="txtExpert" value="" />

        <script type="text/javaScript">
            var autoCompleteLocationOptions = {
                url: function(phrase) {
                    return "{{frontConstant.ACCESSURL}}miscRoutes/getDataForSearchLocation?term=" + phrase;
                },
                ajaxSettings: {
                    dataType: "json",
                    method: "GET",
                    data: {
                        dataType: "json"
                    }
                },
                getValue: function(element) {
                    return element.value
                },
                list: {
                    onClickEvent: function(element){
                        var objClickedEventData = $("#txtSearch").getSelectedItemData();

                    },
                    showAnimation: {
                        type: "slide", //normal|slide|fade
                        time: 400,
                        callback: function() {

                        }
                    },
                    hideAnimation: {
                        type: "slide", //normal|slide|fade
                        time: 400,
                        callback: function() {

                        }
                    },
                    match: {
                        enabled: true
                    },
                    maxNumberOfElements: 10,
                },
                requestDelay: 500,
                placeholder: "Set up placeholder value"
            };
            $("#txtSearch").easyAutocomplete(autoCompleteLocationOptions);






            var autoCompleteExpertOptions = {
                url: function(phrase) {
                    return "{{frontConstant.ACCESSURL}}miscRoutes/getSearchQueryStringData?term=" + phrase;
                },
                ajaxSettings: {
                    dataType: "json",
                    method: "GET",
                    data: {
                        dataType: "json"
                    }
                },
                getValue: function(element) {
                    return element.value;
                },
                template: {
                    type: "description",
                    fields: {
                        description: "tokenTypeLabel"
                    }
                },
                list: {
                    onClickEvent: function(element){
                        var objClickedEventData = $("#txtExpert").getSelectedItemData();
                        
                        var id = objClickedEventData.id;
                        var tokenTypeLabel = objClickedEventData.tokenTypeLabel;
                        var tokenTypeX = objClickedEventData.tokenTypeX;
                        var value = objClickedEventData.value;

                        var objDataToSend = {};

                        switch (tokenTypeX) {
                            case "I":
                                objDataToSend.industry = {};
                                objDataToSend.industry.industryId = id;
                                break;

                            case "SI":
                                objDataToSend.industry = {};
                                objDataToSend.industry.arrSubIndustries = [id];
                                break;

                            case "D":
                                objDataToSend.domain = [id];
                                break;

                            case "FN":
                                objDataToSend.mentoryProfile = {};
                                objDataToSend.mentoryProfile.mentorFirstName = id;
                                break;

                            case "LN":
                                objDataToSend.mentoryProfile = {};
                                objDataToSend.mentoryProfile.mentorLastName = id;
                                break;

                            case "ME":
                                objDataToSend.mentoryProfile = {};
                                objDataToSend.mentoryProfile.mentorExpertise = id;
                                break;
                        }

console.log("objDataToSend :: ", objDataToSend);
                        /*var locationTypeX = $('#hidLocationType').val();
                        var hidLocationId = $('#hidLocationId').val();

                        if (!isNaN(hidLocationId) && hidLocationId > 0) {
                            objDataToSend.location = {};
                            objDataToSend.location.locationType = locationTypeX;
                            objDataToSend.location.locationId = hidLocationId;
                            redirectToListingPage(objDataToSend);
                        }

                        redirectToListingPage(objDataToSend);*/

                    },
                    showAnimation: {
                        type: "slide", //normal|slide|fade
                        time: 400,
                        callback: function() {

                        }
                    },
                    hideAnimation: {
                        type: "slide", //normal|slide|fade
                        time: 400,
                        callback: function() {

                        }
                    },
                    match: {
                        enabled: true
                    },
                    maxNumberOfElements: 10,
                },
                requestDelay: 500,
                placeholder: "Set up placeholder value"
            };
            $("#txtExpert").easyAutocomplete(autoCompleteExpertOptions);
        </script>

    </body>
</html>