<html>
    <head>
        <script src="{{frontConstant.ACCESSURL}}/js/jquery.min.js?v={{frontConstant.VERSION}}"></script>
        <link href="{{frontConstant.ACCESSURL}}css/bootstrap-tags.css?v={{frontConstant.VERSION}}" rel="stylesheet">
        <script src="{{frontConstant.ACCESSURL}}js/bootstrap-tags.js?v={{frontConstant.VERSION}}"></script>
        <link href="{{frontConstant.ACCESSURL}}css/font-awesome.css?v={{frontConstant.VERSION}}" rel="stylesheet">

    </head>
    <body>
        <div id="maxNumTags"></div>

        <script type="text/javascript">
            var mentor_tags = ["asdf", "1", "2"];
            $(document).ready(function(){
                tags = $("#maxNumTags").tags({
                    maxNumTags: 10,
                    tagData: mentor_tags,
                    afterAddingTag: function (tag) {
                        alert(tag);
                    },
                    beforeDeletingTag: function (tag) {
                        if (!confirm('Are you sure you want to delete tag: ' + tag)) {
                            return false;
                        }
                    },
                    afterDeletingTag: function (tag) {
                        alert(tag);
                    }
                });
            });
        </script>
    </body>
</html>